/*.container{
	overflow: hidden;
}*/
.err-left{
	float: left;
	width: 40%;
}
.err-left img{
	width: 100%;
}
.err-right{
	float: right;
	margin:100px 100px;
}
.err-right h2{
	font-size: 30px;
	/*font-weight: bold;*/
}
.err-right p{
	margin: 20px 0px;
}
.err-right p em{
	color: #999;
}
.err-right p span{
	color:blue;
}
.err-right a{
	font-weight: bold;
	margin-left: 10px;
	color: red;
}