body {
  background-color: green;
}

.top-container {
  padding: 0.5em;
  margin: 200px;
  background-color: blue;
}

.mid-container {
  width: 200px;
  height: 200px;
  background-color: pink;
}

.bottom-container {
  width: 200px;
  height: 200px;
  background-color: yellow;
}
