.link-box {
}

.link-box > .btn {
  background: blue;
  display: inline-block;
  color: white;
  border-radius: 10px;
  height: 40px;
  line-height: 40px;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.link-box > .btn {
  margin: 15px 20px 0 0;
}

.link-box > .btn:hover {
  background: skyblue;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
