.product-best-seller{
    border-bottom: 1px solid #e5e5e5;
}
.pagination-number{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-number-list{
    list-style: none;
    padding: 0;
    margin: 70px 0 30px 0;
}
.pagination-number-list-item{
    display: inline-block;
    text-align: center;
    margin: 0 5px;
}
.pagination-number-list-item .pagination-number-list-item-link,
.pagination-number-list-item span{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    line-height: 44px;
    display: block;
    height: 42px;
    width: 42px;
    border: 1px solid #ededed;
}
.pagination-number-list-item.active{
    background-color: #000;
}
.pagination-number-list-item.active span{
    color: white;
}
.pagination-number-list-item-link:hover{
    background-color: #000;
    color: white;
    cursor: pointer;
}

/*PAGE 2*/
.product-best-seller-page-2{
    border-bottom: 1px solid #e5e5e5;
}