:root {
  background-image: url("../images/BlogBG.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body {
  background-color: transparent !important;
}
.center-text {
  font-size: 25px;
  font-family: "Lobster", cursive;
  margin-top: 160px;
  text-align: center;
}
.logo {
  height: 40px;
  width: 40px;
  margin: 5px;
  margin-left: 10px;
}
.navbar-brand {
  padding: 0px !important;
}
.items {
  margin: 10px;
  font-family: cursive;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
.items:hover {
  color: black;
  text-decoration: underline solid #d00b11;
  text-underline-position: under;
}
footer h2 {
  margin-right: 200px;
  margin-top: 220px;
  font-size: 30px;
  padding-top: 25px;
  color: #002202;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}
