.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-1 {
  background: lightgrey;
  /* border-top: 5px solid black; */
  /* align-self: flex-start; */
}

.box-2 {
  background: lightblue;
  /* border-right: 5px solid black; */
  /* align-self: flex-end; */
}
.box-3 {
  background: lightpink;
  /* border-bottom: 5px solid black; */
  /* align-self: flex-start; */
}
.box-4 {
  background: lightgreen;
  /* border-left: 5px solid black; */
  /* align-self: flex-end; */
}
.box-5 {
  background: lightyellow;
  /* border: 5px solid black; */
  /* align-self: flex-start; */
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5 {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  text-align: center;
  /* border-radius: 50%; */
}
