/* CSS Variables */

:root {
}

/* General Card Styles */
.card {
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: var(--radius-1);
  background-color: var(--placeholder);
}

/* 
Card Image -- To Avoid Images behaving weirdly, 
we will wrap them in a div and use object-fit on the img themselves
 */
.card__image-wrapper {
  width: 100%;
  border-radius: var(--radius-1);
}

.card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px 8px 0 0;
}

/* 
To control more effectively the styles of the cards' content, 
we will wrap everything in a card__body container.
*/
.card__body {
  padding: var(--default-drag-n-drop-gutter);
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.card__title {
}

.card__body {
}

.card__text {
}

/* 
This is a preliminary list of variant, Edu didn't decide on design
*/

/* 5 different colors */

.card[data-variant="ligth"] {
}

.card[data-variant="primary"] {
}

.card[data-variant="secondary"] {
}

.card[data-variant="outline"] {
}

.card[data-variant="dark"] {
}

/* 3 different sizes */

:is([class="card"][data-size="small"]) {
}

:is([class="card"][data-size="medium"]) {
}

:is([class="card"][data-size="large"]) {
}
