#carousel img {
  width: inherit !important;
  max-height: inherit !important;
  margin: inherit !important;
}

#carousel {
  padding: 0;
  overflow: hidden;
  min-height: 300px;
}

#carousel .carousel-inner {
  max-height: 300px;
  vertical-align: center;
  min-width: 100%;
}
