body {
  line-height: 1.5;

  /* background-color: red; */
  background: #d8f5ce;
  color: rgb(88, 2, 2);
  opacity: 1;
}

h2 {
  color: #f24333;
}

p {
  color: rgba(0, 0, 0, 0.9); /* last one is transparency */
}

div:hover {
  opacity: 1;
}

div:not(:hover) {
  opacity: 0.05;
}

div:active {
  color: red;
}
