/* Color */
/* Font */
@import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css");
.tiny12-18 {
  font: 400 12px/18px "Spoqa Han Sans Neo";
}

.message14-20 {
  font: 400 14px/20px "Spoqa Han Sans Neo";
}

.body16-24 {
  font: 400 16px/24px "Spoqa Han Sans Neo";
}

.subtitle20-24 {
  font: 400 20px/24px "Spoqa Han Sans Neo";
}

.title32-40 {
  font: 400 32px/40px "Spoqa Han Sans Neo";
}

.bold-tiny12-18 {
  font: 700 12px/18px "Spoqa Han Sans Neo";
}

.bold-message14-20 {
  font: 700 14px/20px "Spoqa Han Sans Neo";
}

.bold-body16-24 {
  font: 700 16px/24px "Spoqa Han Sans Neo";
}

.bold-subtitle20-24 {
  font: 700 20px/24px "Spoqa Han Sans Neo";
}

.bold-title32-40 {
  font: 700 32px/40px "Spoqa Han Sans Neo";
}

.divider-1 {
  width: 100%;
  height: 1px;
  margin: 16px 0;
  background-color: #eeeeee;
}

.divider-4 {
  width: 100%;
  height: 4px;
  margin: 16px 0;
  background-color: #eeeeee;
}

.divider-8 {
  width: 100%;
  height: 8x;
  margin: 16px 0;
  background-color: #eeeeee;
}

.divider-16 {
  width: 100%;
  height: 16px;
  margin: 16px 0;
  background-color: #eeeeee;
}

/* Button */
.btn-large {
  height: 48px;
  padding: 0 24px;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  color: #ffffff;
  background-color: #b88b55;
  border: 1px solid #b88b55;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  font: 700 16px/24px "Spoqa Han Sans Neo";
}

.btn-medium {
  height: 40px;
  padding: 0 16px;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  color: #ffffff;
  background-color: #b88b55;
  border: 1px solid #b88b55;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  font: 700 14px/20px "Spoqa Han Sans Neo";
}

.btn-small {
  height: 32px;
  padding: 0 12px;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  color: #ffffff;
  background-color: #b88b55;
  border: 1px solid #b88b55;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  font: 700 12px/18px "Spoqa Han Sans Neo";
}

.btn-large-warning {
  height: 48px;
  padding: 0 24px;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  color: #ffffff;
  background-color: #b88b55;
  border: 1px solid #b88b55;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  font: 700 16px/24px "Spoqa Han Sans Neo";
  color: #ffffff;
  background-color: #d1504b;
  border: 1px solid #d1504b;
}

.btn-medium-process {
  height: 40px;
  padding: 0 16px;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  color: #ffffff;
  background-color: #b88b55;
  border: 1px solid #b88b55;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  font: 700 14px/20px "Spoqa Han Sans Neo";
  color: #ffffff;
  background-color: #4ba1d1;
  border: 1px solid #4ba1d1;
}

.btn-small-black {
  height: 32px;
  padding: 0 12px;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  color: #ffffff;
  background-color: #b88b55;
  border: 1px solid #b88b55;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  font: 700 12px/18px "Spoqa Han Sans Neo";
  color: #ffffff;
  background-color: #303030;
  border: 1px solid #303030;
}

.btn-large-ghost {
  height: 48px;
  padding: 0 24px;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  color: #ffffff;
  background-color: #b88b55;
  border: 1px solid #b88b55;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  font: 700 16px/24px "Spoqa Han Sans Neo";
  color: #b88b55;
  background-color: #ffffff;
}

.btn-medium-ghost {
  height: 40px;
  padding: 0 16px;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  color: #ffffff;
  background-color: #b88b55;
  border: 1px solid #b88b55;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  font: 700 14px/20px "Spoqa Han Sans Neo";
  color: #b88b55;
  background-color: #ffffff;
}

.btn-small-ghost {
  height: 32px;
  padding: 0 12px;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  color: #ffffff;
  background-color: #b88b55;
  border: 1px solid #b88b55;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  font: 700 12px/18px "Spoqa Han Sans Neo";
  color: #b88b55;
  background-color: #ffffff;
}

.btn-large-ghost-gnb {
  height: 48px;
  padding: 0 24px;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  color: #ffffff;
  background-color: #b88b55;
  border: 1px solid #b88b55;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  font: 700 16px/24px "Spoqa Han Sans Neo";
  color: #b88b55;
  background-color: #424242;
}

.btn-medium-ghost-gnb {
  height: 40px;
  padding: 0 16px;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  color: #ffffff;
  background-color: #b88b55;
  border: 1px solid #b88b55;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  font: 700 14px/20px "Spoqa Han Sans Neo";
  color: #b88b55;
  background-color: #424242;
}

.btn-small-ghost-gnb {
  height: 32px;
  padding: 0 12px;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  color: #ffffff;
  background-color: #b88b55;
  border: 1px solid #b88b55;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  font: 700 12px/18px "Spoqa Han Sans Neo";
  color: #b88b55;
  background-color: #424242;
}

.btn-large-ghost-warning {
  height: 48px;
  padding: 0 24px;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  color: #ffffff;
  background-color: #b88b55;
  border: 1px solid #b88b55;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  font: 700 16px/24px "Spoqa Han Sans Neo";
  color: #d1504b;
  background-color: #ffffff;
  border: 1px solid #d1504b;
}

.btn-medium-ghost-process {
  height: 40px;
  padding: 0 16px;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  color: #ffffff;
  background-color: #b88b55;
  border: 1px solid #b88b55;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  font: 700 14px/20px "Spoqa Han Sans Neo";
  color: #4ba1d1;
  background-color: #ffffff;
  border: 1px solid #4ba1d1;
}

.btn-small-ghost-black {
  height: 32px;
  padding: 0 12px;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  color: #ffffff;
  background-color: #b88b55;
  border: 1px solid #b88b55;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  font: 700 12px/18px "Spoqa Han Sans Neo";
  color: #303030;
  background-color: #ffffff;
  border: 1px solid #303030;
}

.btn-564 {
  height: 48px;
  padding: 0 24px;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  color: #ffffff;
  background-color: #b88b55;
  border: 1px solid #b88b55;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  font: 700 16px/24px "Spoqa Han Sans Neo";
  width: 564px;
}

.btn-320 {
  height: 48px;
  padding: 0 24px;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  color: #ffffff;
  background-color: #b88b55;
  border: 1px solid #b88b55;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  font: 700 16px/24px "Spoqa Han Sans Neo";
  width: 320px;
}

.btn-212 {
  height: 48px;
  padding: 0 24px;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  color: #ffffff;
  background-color: #b88b55;
  border: 1px solid #b88b55;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  font: 700 16px/24px "Spoqa Han Sans Neo";
  width: 212px;
}

/* Icon */
.icon-large {
  width: 32px;
  height: 32px;
  margin: 0 8px;
  display: -ms-grid;
  display: grid;
}

.icon-medium {
  width: 24px;
  height: 24px;
  margin: 0 4px;
  display: -ms-grid;
  display: grid;
}

.icon-small {
  width: 16px;
  height: 16px;
  margin: 0 4px;
  display: -ms-grid;
  display: grid;
}

input.login-input {
  background: #eeeeee;
  color: #a6a6a6;
  width: 320px;
  height: 40px;
  padding: 10px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 24.5px;
  border: none;
}

input.my-input {
  background: #eeeeee;
  color: #a6a6a6;
  width: 485px;
  height: 40px;
  padding: 10px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 24.5px;
  border: none;
}

input.pick-input {
  background: #eeeeee;
  color: #a6a6a6;
  width: 474px;
  height: 40px;
  padding: 10px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 24.5px;
  border: none;
}

input.reply-input {
  background: #eeeeee;
  color: #a6a6a6;
  width: 444px;
  height: 40px;
  padding: 10px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 24.5px;
  border: none;
}

input.login-input-mobile {
  background: #eeeeee;
  color: #a6a6a6;
  width: 320px;
  height: 40px;
  padding: 10px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 24.5px;
  border: none;
}

input.my-input-mobile {
  background: #eeeeee;
  color: #a6a6a6;
  width: 485px;
  height: 40px;
  padding: 10px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 24.5px;
  border: none;
}

input.pick-input-mobile {
  background: #eeeeee;
  color: #a6a6a6;
  width: 474px;
  height: 40px;
  padding: 10px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 24.5px;
  border: none;
}

input.reply-input-mobile {
  background: #eeeeee;
  color: #a6a6a6;
  width: 444px;
  height: 40px;
  padding: 10px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 24.5px;
  border: none;
}

.list {
  background: #b88b55;
}
/*# sourceMappingURL=common.css.map */