* {
  font-family: "Jost", sans-serif;
}

.first-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.first-section-text {
  position: absolute;
  top: 50%;
  background-color: rgb(75 74 103 / 0.5);
}

.first-section-h2,
.first-section-p,
.second-section-h {
  font-weight: bold;
  background-color: transparent;
  color: #cecdd2;
  bottom: 25%;
  padding: 15px;
}

.first-section-h2,
.second-section-h {
  font-size: 46px;
}

.first-section-p {
  font-size: 26px;
}

.second-section {
  background-color: white;
  height: 80vh;

  position: relative;
  top: -50px;
}
.second-section-h {
  color: #4b4a67;
  text-align: center;
}

.contact-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

input {
  justify-content: space-between;
}
