span {
  color: rgb(0, 175, 131);
}
.messages {
  border: 3px solid rgb(0, 175, 131);
  color: rgb(0, 175, 131);
  padding: 2em;
  margin-bottom: 2em;
  margin-top: 0.5em;
  list-style-type: square;
}
div h2 {
  margin-left: 2em;
  padding-top: 0.5em;
}
.info {
  margin-left: 5em;
}
form div {
  padding-top: 1em;
}
form {
  text-align: top;
}
