.centerContent {
  width: 100%;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
}

.centerContent .innerContact {
  width: 100%;
}

input {
  padding: 10px;
  margin: 5px;
  outline: none;
  border-radius: 8px;
  border: 1px #ccc solid;

  width: clamp(180px, 300px, 280px);
}

textarea {
  padding: 10px;
  margin: 5px;
  outline: none;
  border-radius: 8px;
  border: 1px #ccc solid;
  resize: vertical;

  width: clamp(200px, 300px, 300px);
}
