.header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header .header__coloumn {
  display: inline-block;
  display: flex;
  align-items: center;
}
.header .logo {
  background-color: #c0c0c0;
  width: 240px;
  height: 80px;
  margin-right: 20px;
}
.header a {
  font-size: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: inherit;
}

/* cover-first */
.content-left {
  width: 430px;
  height: 500px;
  position: relative;
  top: 200px;
  left: 50px;

  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.content-text {
  width: 80%;
  font-size: 36px;
}
.start {
  background-color: tomato;
  width: 70%;
  height: 30px;
  margin-top: 50px;
  padding: 10px;
}
