:root {
  --blue: #0971f1;
  --green: #5bc266;
  --indigo: #535bcf;
  --orange: #f69935;
  --purple: #bf5af2;
  --pink: #eb455a;
  --red: #e1270e;
  --teal: #6cc7f6;
  --yellow: #fbcc43;

  --dark-1: #040404;
  --dar-2: #151515;
  --dark-3: #242424;
  --dark-4: #343434;

  --gray-1: #757575;
  --gray-2: #999999;
  --gray-3: #e5e5e5;

  --white: #ffffff;

  --zindex-dropdown: 10;
  --zindex-sticky: 20;
  --zindex-fixed: 30;
  --zindex-modal: 40;
  --zindex-popover: 50;
  --zindex-tooltip: 60;

  --layout-01: 0.25rem;
  --layout-02: 0.5rem;
  --layout-03: 0.75rem;
  --layout-04: 1rem;
  --layout-05: 1.5rem;
  --layout-06: 2rem;
  --layout-07: 2.5rem;
  --layout-08: 3rem;
  --layout-09: 4rem;
  --layout-10: 6rem;

  --level-1: var(--dark-1);
  --level-2: var(--dark-2);
  --level-3: var(--dark-3);
}
