:root {
  /* colors*/
  /* https://www.canva.com/colors/color-wheel/print/d557cf+931fe0+c89ed9/ */
  /*
60% of #D557CF - Dominant
30% of #931FE0 - Secondary
10% of #C89ED9 - Accent
*/

  --dominantColor: #d557cf; /* var(--dominantColor) !important; */
  --secondaryColor: #931fe0; /* var(--secondaryColor) !important; */
  --accentColor: #c89ed9; /* var(--accentColor) !important; */

  /*box shadow*/
  /*cssmatic*/
  /*https://shadows.brumm.af/*/
  /*vertical, horizontal. blur, spread, color+opacity*/
  --boxShadow: 0 0 20px rgba(0, 0, 0, 0.35); /*var(--boxShadow) !important; */
}
