/* section background
/* -------------------------------------------------- */

#subheader {
  background: url(../images/background/bg-subheader.jpg) top left fixed;
  background-size: cover;
}

#fun-facts {
  background: url(../images/background/bg-1.jpg) top left fixed;
  background-size: cover;
}

#section-contact {
  background: url(../images/background/bg-3.jpg) top left fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#section-skill-bar {
  background: url(../images/background/bg-8.jpg) top left fixed;
  background-size: cover;
}

#info-address {
  background: url(../images/background/bg-3.jpg) top fixed;
}
#logo-full {
  background: #000;
  padding: 60px 0 60px 0;
}
#view-all-projects {
  background: #f06807;
  padding: 60px 0 60px 0;
}
#section-about-us-2 {
  background: #f8f8f8;
  height: 100%;
}
#section-about-us-2 .image-container {
  background: url(../images/background/bg_side-1.jpg);
  background-position: 50%;
}

.dark #section-about-us-2 {
  background: #222;
  height: 100%;
}
#section-welcome {
  background: url(../images/katalog/tlo2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
#section-welcome-2 {
  background: url(../images/background/bg-6.jpg);
}
#section-welcome-3 {
  background: url(../images/background/bg-7.jpg) top left;
}
.dark #section-portfolio {
  background: #222;
}

#section-testimonial {
  background: url(../images/background/bg-2.jpg) top fixed;
}
