* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: Khmer OS Battambang;
}
.bg-lightdark {
  background-color: #2a2a2a !important;
}
.header nav .nav-link {
  font-size: 14px;
}
.header .menu ul li {
  display: inline;
  padding: 0;
}
.header .menu ul li a {
  text-decoration: none;
  color: white;
}
.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  transition: all 0.5s;
}
.trending-content .trending-top {
  overflow: hidden;
  position: relative;
}
.trending-content .trending-top .trend-img {
  transition: all 0.5s;
}
.trending-content .trending-top .trend-img img {
  width: 100%;
  border-radius: none;
}
.trending-content .trending-top .date {
  font-size: 12px;
}
.trending-content .trending-top .trend-img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(2, 26, 71, 0) 0%,
    rgba(2, 26, 71, 0.6) 100%
  );
  border-radius: none;
}
.trending-content .trending-top .trend-text {
  position: absolute;
  bottom: 0px;
  left: 31px;
  margin-bottom: 15px;
}
.trending-content .trending-top .trend-text h2 {
  font-size: 18px;
  font-weight: 900;
  line-height: 30px;
}

.trending-content .trending-top .cut-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* after 3 line show ... */
  -webkit-box-orient: vertical;
}

.trending-right .trending-top .trend-text h2 {
  font-size: 13px;
  line-height: 25px;
}

.block-title h4 span {
  font-size: 15px;
  padding: 0 5px;
}

.block-title h1,
.block-title h2,
.block-title h3,
.block-title h4,
.block-title h5,
.block-title h6 {
  border-bottom: 2px solid #dee2e6;
}
.cut-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-section-left .heading-title:hover {
  color: #dc3545 !important;
}

main.content .content-section-right .content-section-right-heading p {
  font-size: 0.875rem;
}
main.content .content-section-right .content-section-right-image-wrapper {
  background-color: #f8f9fa;
  overflow: hidden;
  width: 100%;
  position: relative;
  background: linear-gradient(
    to left,
    #f8f9fa 0%,
    #ced4da 15%,
    #f8f9fa 40%,
    #f8f9fa 100%
  );
  background-size: 400% 700% !important;
  background-position: center center !important;
  -webkit-animation: AnimationSea 1.5s infinite linear forwards;
  animation: AnimationSea 1.5s infinite linear forwards;
}

.border-bottom {
  border-color: rgba(255, 255, 255, 0.12) !important;
}

footer.footer-area .footer-area-popular-posts p:hover {
  color: #dc3545 !important;
}
