:root {
  /* colors */
  /* https://www.canva.com/colors/color-wheel/print/eeb3e6+eeb3c9+d8b3ee/ */
  /*
60% of #EEB3E6 - Dominant
30% of #EEB3C9 - Secondary
10% of #D8B3EE - Accent
*/

  --dominantColor: #eeb3e6; /* var(--dominantColor) !important; */
  --dominantColor: #eeb3c9; /* var(--dominantColor) !important; */
  --secondaryColor: #eeb3c9; /* var(--secondaryColor) !important; */
  --secondaryColor: #eeb3c9; /* var(--secondaryColor) !important; */
  --accentColor: #d8b3ee; /* var(--accentColor) !important; */
  --accentColor: #eeb3c9; /* var(--accentColor) !important; */

  /*box shadow*/
  /*cssmatic*/
  /*https://shadows.brumm.af/*/
  /* vertical, horizontal, blur, spread, color+opacity */
  --boxShadow: 0 0 20px rgba(0, 0, 0, 0.35); /* var(--boxShadow) !important; */
}
