@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");

/* yello:https://images.unsplash.com/flagged/photo-1593005510329-8a4035a7238f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNvbGlkJTIwYmFja2dyb3VuZHxlbnwwfDB8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=70 */

/* pink: https://images.unsplash.com/photo-1557682224-5b8590cd9ec5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTR8fHNvbGlkJTIwYmFja2dyb3VuZHxlbnwwfDB8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60 */

body {
  font-weight: 800;
  user-select: none;
  text-align: center;
  font-family: "Raleway", sans-serif;
  background: url(https://images.unsplash.com/photo-1557682224-5b8590cd9ec5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTR8fHNvbGlkJTIwYmFja2dyb3VuZHxlbnwwfDB8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
