.drop {
    position: absolute;
    right: 3%;
    top: 2.5%;
}
.drop:hover {
    cursor: pointer;
}
#drop_out {
    animation: drops 2s forwards;
}
@keyframes drops {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
