body {
  margin: 10px;
  background-image: url("../img/background-pic.jpg");
}
.container {
  width: 800px;
  margin: 0 auto;
}
.barra {
  background-color: black;
  color: aliceblue;
  font-size: 20 px;
  height: 20 px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
#botones {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton {
  color: red;
  font-size: 1em;
}
