body {
  background-color: lightgrey;
}

.marcadores {
  border-radius: 25px;
  border: 2px solid #73ad21;
  padding: 20px;
  width: 200px;
  height: 150px;
  font-size: x-large;
}

.blanco {
  background-image: url("../img/madera_blanca.png");
  width: 80px;
  height: 80px;
}

.negro {
  background-image: url("../img/madera_negra.png");
  width: 80px;
  height: 80px;
}
#c00,
#c01,
#c02,
#c03,
#c04,
#c05,
#c06,
#c07 {
  margin-top: 20px;
}
