* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 45px;
  padding-top: 5rem;
  text-align: center;
}
h1 span {
  color: rgb(0, 175, 131);
}
h2 {
  text-align: center;
  font-size: 25px;
  padding: 0.5rem;
  padding-top: 5rem;
  cursor: pointer;
}

a {
  color: rgb(0, 175, 131);
  text-decoration: none;
}
a:focus,
a:hover {
  color: rgb(99, 99, 99);
}
div {
  display: none;
}
div.open {
  display: block;
}
#ul {
  text-align: center;
}
#ul li {
  text-align: center;
}
p {
  text-align: center;
  padding-top: 1rem;
}
div {
  background-color: rgb(0, 175, 131);
  border-style: groove;
}
