.features-tab__content {
	display: none;
	height: fit-content;
	overflow: visible;
}

.js-tab-content-active {
	display: flex;
}

.feature-tab__opener {
	color: var(--neutral);
}

.js-tab-opener-active {
	color: var(--dark);
}

.feature-tab__card {
	width: 100%;
}

.feature-tab__col {
	height: auto;
	width: 50%;
}

.feature-tab__col[data-transform='up'] {
	transform: translateY(-5%);
}

#feature1 {
	background-image: url('../assets/Colors.jpg');
}

#feature2 {
	background-image: url('../assets/Lake.jpg');
}

#feature3 {
	background-image: url('../assets/Mountain.jpg');
}

#feature4 {
	background-image: url('../assets/Cool.jpg');
}
