#filmografia {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#filmografia .card {
  flex: 1 0 50%;
  margin: 5px;
  min-height: 250px;
}

#filmografia .card img {
  padding: 10px;
  max-width: 189px;
}
