/* Add a black background color to the top navigation */
footer {
    background-color: #d3d871;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Style the links inside the navigation bar */
  footer a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 6px 7px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  footer a:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
  }

  .footerLogo {
    float:left;
    position: left;
    width: 70px;
    margin-top: 5px;
  }

  footer a email:hover {
    background-image: "images/footer/email2.png";
  }  