/* 푸터 영역 */

footer {
  background-color: #424242;
}

.footer {
  height: 202px;
  padding: 32px;
}

.footer .inner-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 896px;
  margin: 0 auto;
  box-sizing: border-box;
}

.footer .inner-footer img {
  width: 92px;
  height: 24px;
  margin-bottom: 16px;
}

.footer .tiny12-18 {
  color: #a6a6a6;
}

/* 푸터 영역 */
