footer {
	background: var(--bg-secondary-tint-0);
	width: 100vw;
}

footer[data-background='dark'] {
	background: var(--dark);
}

footer[data-background='dark'] form .button-small {
	background: var(--primary-accent);
	color: var(--white);
}

footer[data-background='dark'] .link,
footer[data-background='dark'] .footer-links__heading,
footer[data-background='dark'] .paragraph-tiny {
	color: var(--white) !important;
}

footer[data-background='dark'] .app-stores svg .outer {
	stroke: var(--white);
}

footer[data-background='dark'] .app-stores svg .inner {
	fill: var(--white);
}

footer[data-background='dark'] .social-icon svg circle {
	fill: var(--white);
}

footer[data-background='dark'] .social-icon svg path {
	fill: var(--dark);
}

.footer__row[data-footer-row='top'] {
	margin-bottom: 6.25rem;
}

.footer__column {
	gap: 1rem;
}

.footer__column form {
	gap: 1rem;
}

.divider {
	height: 1px;
	background-color: var(--dark);
	opacity: 0.1;
	min-width: 100%;
	margin: 50px 0;
}
