label {
  display: block;
  font-size: 2rem;
}
input[type="text"],
input[type="email"] {
  border: 1px solid var(--color-border);
  border-radius: 7px;
  outline: 0;
  padding: 1rem 1.5rem;
  transition: box-shadow 0.2s, border-color 0.2s;
}
input[type="text"]:focus,
input[type="email"]:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 4px rgba(24, 117, 255, 0.25);
}

.form_group {
  margin-bottom: 1.6rem;
}
