/*colors*/
/* 60% of #8782B0 - Dominant */
/* 30% of #69639C - Secondary */
/* 10% of #f8f9fa - Accent */

:root {
  --dominantColor: #8782b0; /* var(--dominantColor) !important; */
  --secondaryColor: #69639c; /* var(--secondaryColor) !important; */
  --accentColor: #f8f9fa; /* var(--accentColor) !important; */

  /*box shadow*/
  /*cssmatic*/
  /*shadows.brumm.of*/
  /* vertical, horizontal, blur, spread, color+opacity */
  --boxShadow: 0 0 20px 0 rgba(0, 0, 0, 0.35); /* var(--boxShadow) !important; */
}
