/* Global */

* {
  margin: 0;
  padding: 0;
}

.nav-links ul li a {
  color: #a5a5a5;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-links ul li a:hover {
  color: #ca2121;
  transition: 5ms;
}
