/*colors*/
/* 60% of #94E4DC- Dominant */
/* 30% of #6CD9CE- Secondary */
/* 10% of #f8f9fa- Accent */

:root {
  --dominantColor: #94e4dc; /*var(--dominantColor) !important; */
  --secondaryColor: #6cd9ce; /*var(--secondaryColor) !important; */
  --accentColor: #e689d1; /*var(--accentColor) !important; */

  /*box shadow*/
  /*cssmatic*/
  /*shadows.brumm.af*/
  /* vertical, horizontal, blur, spread, color+opacity */
  --boxShadow: 0 0 20px 0 rgba(0, 0, 0, 0.35); /*var(--boxShadow) !important; */
}
