body{
    width:100%;
}
@media screen and (min-width: 900px)
nav{
    text-align:inherit;
}
nav{
    background-color: pink;
    padding: 20px 0px;
    display: block;
}
nav a{
    color: #FBFAF7;
    font-family: "Noto Sans", Arial, sans-serif;
    font-weight: 700;
    margin: -15px 10px;
    text-decoration: none;
    transition: 0.5s ease;
}
@media screen and (min-width: 768px)
.container {
    padding: 0 130px;
}
.container {
    display: block;
    margin: 0 auto;
    padding: 0 30px;
}
@media screen and (min-width: 900px)
nav{
    text-align:inherit;
}
div{
    display: block;
}
.row:after, .row-sm:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (min-width: 1000px)
.logo {
    float: left;
}
.logo {
    display: block;
    float: none;
    margin: 0 auto;
    height:120px;
    width: 120px;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
@media screen and (min-width: 900px)
nav, .hero, .story, .pricing, .ebook, .newsletter, footer {
    text-align: inherit;
}
nav{
    text-align: center;
}
nav a {
    color: #FBFAF7;
    font-family: "Noto Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: -15px 10px;
    text-decoration: none;
    transition: 0.5s ease;
}
a {
    color: #db6f6f;
    transition: 0.5s ease;
}
nav a:hover {
    color: #eae5d5;
}
a:hover {
    color: #f3bdbd;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
nav .links {
    display: none;
    text-align: right;
}
.text-link {
    text-decoration: none;
    position: relative;
}
.text-link:before {
    background-color: #FBC8B8;
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
    transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}
.btn-primary{
    background-color:rgb(250, 140, 158);
}
.btn-primary:before {
    background-color: #ec7a89;
}
.btn:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(236, 67, 95);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}
.btn-primary:after {
    background-color: #f59999;
}
.btn:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -2;
}
.btn:hover{
    color: white;
}
.btn{
    border-radius: 10rem;
    color: #FBFAF7;
    display: inline-block;
    font-family: "Noto Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 29px;
    padding: 15px 25px;
    text-decoration: none;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
nav .links {
    display: none;
    text-align: right;
}
.btn:hover:before {
    width: 100%;
}
nav a{    
        color: #FBFAF7;
        font-family: "Noto Sans", Arial, sans-serif;
        font-weight: 700;
        margin: -15px 10px;
        text-decoration: none;
        transition: 0.5s ease;
    }
    .row:after, .row-sm:after {
        content: "";
        display: table;
        clear: both;
    }
    nav .mobile-links {
        display: block;
        padding: 20px 0;
        text-align: center;
    }
    @media screen and (min-width: 1000px)
    .hero{
          padding:120px 0 40px;
        }
    .hero{
        overflow: hidden;
        background-color: pink;
    } 
    section{
        display: block;
    }
    @media screen and (min-width: 768px)
    .container{
          padding:0 130px;
        }
    .container{
        display:block;
        margin: 0 auto;
    }
    .row:after{
        content: "";
        display: table;
        clear: both;
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        float: left;
    }
    
@media screen and (min-width: 900px)
.col-5 {
    width: calc(5/12 * 100%);
}    

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    width: calc(12/12 * 100%);
}
@media screen and (min-width: 1000px)
.hero-text {
    margin: auto;
    max-width: none;
    padding: 0 40px 0 0;
    text-align: left;
    display: block;
}
.hero h1{
    color:#FBFAF7;
}
@media screen and (min-width: 1250px)
h1 {
    font-size: 54px;
}
h1{
    line-height: 1.125;
    font-family: "Recoleta-SemiBold", Georgia, serif;
    margin-block-start:0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.hero p{
    color: #FBFAF7;
}
@media screen and (min-width: 1250px)
p {
    font-size: 18px;
}
p {
    color:pink;
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end:0px;
}
@media screen and (min-width: 1000px)
.hero-text {
    margin: auto;
    max-width: none;
    padding: 0 40px 0 0;
    text-align: left;
}
.hero-text{
    display: block;
    font-size:40px;
}
@media screen and (min-width: 900px)
.col-6 {
    width: calc(6/12 * 100%);
}
@media screen and (min-width: 1250px)
.hero-img {
    margin: -120px 0 -80px;
}
@media screen and (min-width: 1000px)
.hero-img {
    margin: -60px 0 -65px;
    width: 125%;
}
@media screen and (min-width: 768px)
.hero-img {
    width: 140%;
}
.hero-img {
    margin: 0 0 -40px;
    width: 100%;
}
.story{
    text-align: center;
    padding: 60px 0;
}
@media screen and (min-width: 768px)
.story {
    padding:120px 0;
}
@media screen and (min-width: 768px)
.container {
    padding:0 130px;
}
.container{
    display: block;
    margin:0 auto;
}
@media screen and (min-width: 900px)
.story{
   text-align:inherit;
}
@media screen and (min-width: 768px)
.va-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-5{
    float: left;
}
@media screen and (min-width: 768px)
.center-img {
    display: block;
    margin: auto;
    padding:inherit;
}
.responsive{
    width:100%;
    height: auto;
}
@media screen and (min-width: 900px)
.offset-1 {
   margin-left:calc(1/12 * 100%);
}
.offset{
    margin-left:0;
}
.offset-1{
    margin-left: 0;
}
.col-4{
    float: left;
}
@media screen and (min-width: 900px)
.col-4 {
   width: calc(4/12 * 100%);
}
@media screen and (min-width: 1000px)
h2 {
   font-size:48px;
}
h2{
    line-height:1.125;
    margin:0 0 20px;
    color:black;
    font-family:"Recoleta-SemiBold", Georgia, serif;
    display: block;
    font-size: 48px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
@media screen and (min-width: 1250px)
p{
   font-size: 18px;
}
p{
    color: rgb(247, 99, 123);
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
@media screen and (min-width: 768px)
.juggling {
    display: block;
}
@media screen and (min-width: 768px)
.hr-summary {
    padding:120px 0;
}
.hr-summary{
    background-color: #F9DCC4;
}
.col-12 {
    width: calc(12/12 * 100%);
 }
 @media screen and (min-width:900)
 .col-3 {
    width: calc(3/12 * 100%);
 }
 @media screen and (min-width:768)
 .hr-icon{
    padding:45px 0 20px;
 }
 .col-3{
     float: left;
 }
 .service-icon{
     height: 75px;
     margin:0 0 20px;
 }
 h3{
    line-height: 1.125;
    margin: 0 0 20px;
    color: #000000;
    font-family: "Recoleta-SemiBold", Georgia, serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
 }
 ul{
    padding: 0 0 0 25px;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
 }
 ul li{
    color: #121312;    
    font-family: "Noto Sans", Arial, sans-serif;
    margin: 0 0 15px;
 }
 li{
    display: list-item;
    text-align: -webkit-match-parent;
 }
 ul{
     list-style-type: disc;
 }
 ::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
}
@media screen and (min-width: 900px)
.col-8 {
    width: calc(8/12 * 100%);
}
.cta {
    overflow: hidden;
    position: relative;    
}
.btn-secondary:before {
    background-color: #fab5a0;
}
.btn-secondary:after {
    background-color: #FBC8B8;
}
form{
    display:block;
    margin-top: 0em;
}
.inline-input input {
    border: 1px solid #F2EFE6;
    border-radius: 255px;
    color: #163A24;
    display: inline;
    font-size: 16px;
    font-family: "Noto Sans", Arial, sans-serif;
    height: 50px;
    left: 0;
    padding: 1px 0 1px 20px;
    position: absolute;
    width: 90%;
}
.inline-input .btn {
    display: inline;
    top: 0;
    right: 0;
    position: absolute;
    margin: 0;}
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;    
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;    
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
   
}
.inline-input .btn {
    display: inline;
    top: 0;
    right: 0;
    position: absolute;
    margin: 0;
}
.btn {
    border-radius: 10rem;
    color:#FBFAF7;      
    font-family: "Noto Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 15px 25px;
    text-decoration: none;
    transition: all .3s;    
    overflow: hidden;
    z-index: 1;
}
button{
    border:none;
    float:right;
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;    
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;  
    font: 400 13.3333px Arial;
   }
.small{
    font-size: 14px;
}
footer{
    color:pink;
    background-color:#FCD5CE;
}
.footer__top {
    padding: 20px 0;
}
div{
    display: 20px 0;
}
.footer__tag {
    font-family: "Recoleta-SemiBold", Georgia, serif;
    font-size: 24px;
}
.footer__social a {
    padding: 0 0 0 10px;
}
.footer__bottom {
    border-top: 1px solid #F2EFE6;
    padding: 10px 0;
}
.footer-link {
    color: #198C36;
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 14px;
    margin: 200px 0 0 10px;    
    transition: 0.5s ease;
}
.card{
    background: #FBFAF7;
    border-radius: 15px;
    box-shadow: 5px 5px 20px -5px #e9e4d5;
    padding: 50px 40px;
    display:block;
}
.pricing{
    
}
.newsletter{
background-color:#FCD5CE;
}