/*********************************************************************
***
*Original Author: Michelle Petit                                  *
*Date Created:    August 26, 2020                                 *
*Version: 1                                                       *
*Date Last Modified: September 2, 2020                            *
*Modified by:  Michelle Petit                                     *
*Modification log: added page styles                              *
*Modification log: added flowerbox                                *
***                  
******************************************************************** */

body {
  background-color: #fafaea;
  background-image: url(images/background2.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
#container1 {
  background-color: lightgreen;
  text-align: center;
  margin-bottom: 0;
}
#slideshow {
  max-width: 100%;
}
button {
  background-color: blue;
  color: white;
  border: 0.25rem solid darkblue;
  border-radius: 1.25rem;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
#logo {
  float: left;
  width: 1.75rem;
  height: 1.75rem;
  margin: 0;
}
#business_name {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}
#business_name a {
  text-decoration: none;
  color: green;
}
#business_name a:hover {
  color: blue;
}
#rainforest {
  width: 7rem;
  height: 7rem;
  border-radius: 25rem;
  float: left;
  margin: 0 1rem 1rem 1rem;
}
#container4 {
  margin-top: 1rem;
}
#promise {
  margin-right: 2rem;
  font-size: 1.5rem;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #rainforest {
    margin: 4.5rem 1rem 2.5rem 1rem;
  }
}
