/* CSS variables */

:root {
  --gap: 2.127659574%;
  --gutter-0: 0.5rem;
  --gutter-1: 1rem;
  --gutter-2: 1.25rem;
  --gutter-3: 1.5rem;
  --gutter-4: 2rem;
  --default-drag-n-drop-gutter: 1.875rem;
  --section-horizontal-padding: 2rem;
  --section-vertical-padding: 6.25rem;
}

/* Section Container */

.section-container {
  width: calc(100vw - var(--default-drag-n-drop-gutter) * 2);
  max-width: 1110px;
  padding-top: var(--section-vertical-padding);
  padding-bottom: var(--section-vertical-padding);
  gap: var(--default-drag-n-drop-gutter);
  display: flex;
  flex-direction: column;
}

.never-wrap {
  flex-wrap: nowrap !important;
}

/* The default behavior of rows is nowrap, add the below wrap class to force the wrap behavior */

/* Mobile layout == 2 Columns Grid*/

.row-fluid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: var(--default-drag-n-drop-gutter);
}

.gap-xs {
  gap: var(--size-2);
}

.gap-s {
  gap: var(--gutter-3);
}
.gap-sm {
  gap: var(--gutter-5);
}
.gap-m {
  gap: var(--gutter-7);
}
.gap-lg {
  gap: var(--gutter-9);
}
.gap-xl {
  gap: var(--gutter-11);
}

.gap-xxl {
}

.row-fluid [class*="span"] {
  min-height: 1px;
  width: 100%;
}

.row-fluid [class*="mobile-span1"] {
  width: calc(50% - var(--default-drag-n-drop-gutter) / 2);
}

.flow-s > * + * {
  margin-top: var(--gutter-0);
}

.flow-sm > * + * {
  margin-top: var(--gutter-1);
}

.flow-m > * + * {
  margin-top: var(--gutter-2);
}

.flow-lg > * + * {
  margin-top: var(--gutter-3);
}

.flow-xl > * + * {
  margin-top: var(--gutter-4);
}

/* Tablet layout == 8 Columns Grid */

@media (min-width: 560px) {
  :root {
    --default-drag-n-drop-gutter: clamp(
      1rem,
      calc(1rem + ((1vw - 0.35rem) * 2.0833)),
      1.875rem
    );
  }
  .row-fluid {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--default-drag-n-drop-gutter);
  }

  .row-fluid [class*="tablet-span1"] {
    width: calc(12.5% - var(--default-drag-n-drop-gutter));
  }

  .row-fluid [class*="tablet-span2"] {
    width: calc(25% - var(--default-drag-n-drop-gutter));
  }

  .row-fluid [class*="tablet-span3"] {
    width: calc(37.5% - var(--default-drag-n-drop-gutter));
  }

  .row-fluid [class*="tablet-span4"] {
    width: calc(50% - var(--default-drag-n-drop-gutter) / 2);
  }

  .row-fluid [class*="tablet-span5"] {
    width: calc(62.5% - var(--default-drag-n-drop-gutter));
  }

  .row-fluid [class*="tablet-span6"] {
    width: calc(75% - var(--default-drag-n-drop-gutter));
  }

  .row-fluid [class*="tablet-span7"] {
    width: calc(87.5% - var(--default-drag-n-drop-gutter));
  }

  .row-fluid [class*="tablet-span8"] {
    width: 100%;
  }
}

/* Desktop layout == 12 Columns Grid */

@media (min-width: 992px) {
  .row-fluid {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .row-fluid [class*="tablet-span"] {
    width: unset;
  }

  .row-fluid .span11 {
    width: 91.66%;
  }

  .row-fluid .span10 {
    width: 83.33%;
  }

  .row-fluid .span9 {
    width: 75%;
  }

  .row-fluid .span8 {
    width: 66.66%;
  }

  .row-fluid .span7 {
    width: 58.33%;
  }

  .row-fluid .span6 {
    width: 50%;
  }

  .row-fluid .span5 {
    width: 41.66%;
  }

  .row-fluid .span4 {
    width: 33.33%;
  }

  .row-fluid .span3 {
    width: 25%;
  }

  .row-fluid .span2 {
    width: 16.66%;
  }

  .row-fluid .span1 {
    width: 8.33%;
  }
}

/* CSS GRID LAYOUT */

.grid {
  display: grid;
}

.grid-autofill {
  width: calc(100% - var(--section-horizontal-padding) * 2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: row dense;
}

.grid-centered {
  justify-content: center;
  align-content: center;
  align-items: center;
}
