h1 {
  color: blue;
}

.size200 {
  width: 200;
  height: 200;
}

.background-color {
  background-color: aqua;
}

.background-image {
  background-image: url(*/recources/firefox.jpg*);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}
.border {
  border: 5px solid red;
}