.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  font-size: 28px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

body {
  /* background-image: url(https://media.istockphoto.com/photos/files-and-folders-network-picture-id1287393401?b=1&k=20&m=1287393401&s=170667a&w=0&h=OP6OJLj34uy1YG2AKLEhl1wNo2CnTrzFOEUdNWkM2PM=);
  width: auto;
  height: auto;
  background-repeat: no-repeat; */
  font-family: "Roboto", sans-serif;
}

#contact {
  background-color: #111;
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 145px;
  text-align: center;
}

#contactInfo {
  background-color: #111;
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 145px;
}

#home {
  margin-top: 20px;
}

#snapchat {
  width: 80px;
}

#email {
  width: 40px;
}

#graduation {
  width: 60px;
}

* {
  margin: 0;
  padding: 0;
}

.horizontal_slider {
  display: block;
  width: 100%;
  overflow-x: scroll;
  padding: 20px;
  box-sizing: border-box;
}

.horizontal_slider {
  -ms-overflow-style: none;
}

.slider_container {
  display: block;
  white-space: nowrap;
  margin-right: 100px;
}
.item {
  display: inline-block;
  margin-right: 10px;
}

.item img {
  width: 300px;
  height: 225px;
}
