h1 {
  color: blue;
}

.background-color {
  background-color: aqua;
  height: 200px;
  width: 200px;
}

.background-image {
  background-image: url(*/recources/firefox.jpg*);
  background-position: center;
  height: 200px;
  width: 200px;
}