@import url(
	http://fonts.googleapis.com/css?family=Open + Sans:400,
	700,
	300,
	600
);

body {
	font-family: "Open Sans", sans-serif !important;
}

.my-nav {
	padding: 20px 0;
	background-color: rgb(54, 63, 72);
}

.cover {
	background-image: url("/Picture/room.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 80vh;
}
.my-form {
	background: white;
	padding: 50px 50px 50px;
	width: 400px;
}
.my-form h2 {
	text-align: center;
	margin-bottom: 30px;
	color: rgb(128, 128, 128);
	font-weight: bold;
}
.cover .container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	/* justify-content: center; */
}
.cover .my-form .btn {
	width: 100%;
}

.benefit {
	padding: 50px 0;
}
.flex {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.flex-item {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.flex-item img {
	margin-bottom: 10px;
}
.T1 {
	font-size: 24px;
	color: rgb(128, 128, 128);
	font-weight: bold;
}
.T2 {
	text-align: center;
}

.header img {
	width: 60px;
	margin: 0 auto 15px;
	display: block;
}
.title {
	font-size: 32px;
	font-weight: bold;
	color: rgb(128, 128, 128);
	text-align: center;
}
.T3 {
	font-size: 20px;
	color: rgb(169, 169, 169);
	text-align: center;
}

.blog {
	background-color: rgb(247, 247, 247);
	padding: 50px 0 0;
}
.list-container {
	list-style: none;
	padding: 20px 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.list-container .list-item {
	flex: 0 30%;
	text-align: center;
	margin-bottom: 20px;
}
.thumb img {
	width: 100%;
}
.head_color {
	font-size: 24px;
	color: rgb(89, 163, 252);
	margin-bottom: 0px;
	padding: 15px 0px;
}

.colored_button_div {
	padding: 15px 0;
	width: 100%;
	border-radius: 30px;
	border: 1px solid rgb(89, 163, 252);
	color: rgb(89, 163, 252);
}

.colored_button_div:hover {
	background-color: rgb(89, 163, 252);
	cursor: pointer;
}
.colored_button_div:hover a {
	color: white;
	text-decoration: none;
}

.company {
	padding: 40px 0 0;
}
.flex-3 {
	flex: 3;
}
.flex-2 {
	flex: 2;
}
.flex-2 img {
	width: 100%;
}

.points_div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.single_point_div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 30px;
}
.single_point_div .point_circle {
	margin-right: 20px;
}
.single_point_text {
	line-height: 2;
}
