body {
  background-color: gray;
  background-image: url("/files/bg.jpg");
  background-image: url("../files/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  height: 100%;
}

#top {
  background-color: cornflowerblue;
}
#footer {
  background-color: whitesmoke;
}

#upload {
  height: 100%;
}

.bg-w {
  background-color: whitesmoke;
}
