html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

h1,
h2 {
  color: var(--secondaryColor) !important;
}

.top-logo {
  height: auto;
  font-weight: bolder;
  color: var(--dominantColor) !important;
  font-size: 55px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
  font-family: "Kalam", cursive;
}

.material-symbols-outlined,
.material-symbols-outlined a {
  font-size: 60px;
  color: var(--dominantColor) !important;
  position: relative;
  top: 0px;
  text-decoration: none;
}

.navbar {
  background-color: var(--accentColor) !important;
}

.nav-link {
  font-size: 20px !important;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.footer-row {
  background-color: var(--dominantColor);
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-row a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.fa-social-media,
.fa-social-media:hover {
  font-size: 25px !important;
  padding-left: 12px;
  padding-right: 12px;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  margin: 0.25em 0px;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: var(--accentColor) !important;
}

blockquote::before {
  display: block;
  padding-left: 10px;
  content: "\201c";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: var(--accentColor) !important;
}

blockquote cite {
  color: var(--accentColor) !important;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite::before {
  content: "\2014 \2009";
}
