html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

h1,
h2 {
  color: #d8b3ee;
}

.top-logo {
  height: auto;
  font-weight: bold;
  color: var(--secondaryColor) !important;
  font-size: 55px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Rowdies", cursive;
  background-color: #ffffff;
}

.material-symbols-outlined {
  font-size: 60px;
  color: var(--secondaryColor) !important;
  position: relative;
  top: 0px;
}

.sidebar-icon,
.sidebar-icon a {
  color: var(--secondaryColor) !important;
  text-decoration: none;
}

.navbar {
  background-color: var(--dominantColor) !important;
}

.nav-link {
  font-weight: bold;
  color: #ffffff !important;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.btn-search {
  background-color: var(--secondaryColor) !important;
  border-color: #ffffff !important;
  color: #ffffff !important;
}

.btn-search:hover {
  color: #ffffff;
  background-color: #d8b3ee !important;
}

.footer-row {
  background-color: var(--dominantColor);
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-row a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.fa-social-media,
.fa-social-media:hover {
  font-size: 25px !important;
  padding-left: 12px;
  padding-right: 12px;
}

/*
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
*/

/* ADD THE CLASS .custom-toggler TO THE HAMBURGUER MENU*/
/*under main.css added*/

/* Set the border color */
.custom-toggler.navbar-toggler {
  border-color: #ffffff;
}

/*remove outline when hamburguer menu icon is clicked*/
.custom-toggler:focus,
.custom-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

/* Setting the stroke to green using rgb values (0, 128, 0) */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* ADD THE CLASS .custom-toggler TO THE HAMBURGUER MENU*/

.spokesperson {
  background-color: var(--secondaryColor) !important;
  padding-top: 15px;
  padding-bottom: 15px;
}

.spokesperson img {
  border: 4px solid #ffffff !important;
  border-radius: 50%;
}

.cropped-offcanvas {
  width: 200px;
  height: 200px;
  clip-path: circle(50% at 50% 50%);
}

.btn-offcanvas-left {
  background-color: var(--dominantColor) !important;
  border: 0 !important;
  padding: 8px;
  margin-top: 10px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-offcanvas-left:hover {
  background-color: #d8b3ee;
  color: #ffffff;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  margin: 0.25em 0px;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: #d8b3ee;
}

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201c";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #d8b3ee;
}

blockquote cite {
  color: #d8b3ee;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}
