#animate {
    animation: any 2s forwards;
    height: 400px;
    top: 0%;
    border-radius: 15px;
}

@keyframes any {
    0% {
        background-color:  rgb(230, 230, 230);
        position: absolute;
        width: 0%;
    }
    50% {
        background-color: #ff1493;
    }
    100% {
        background-color: #ffffff;
        position: absolute;
        width: 100%;
    }
}

#animatetwo {
    animation: any 2s forwards;
    height: 400px;
    top: 0%;
    right: 0%;
    border-radius: 15px;
}

@keyframes any {
    0% {
        background-color:  rgb(230, 230, 230);
        position: absolute;
        width: 0%;
    }
    50% {
        background-color: #ff1493;
    }
    100% {
        background-color: #ffffff;
        position: absolute;
        width: 100%;
    }
}
