body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  background-color: var(--nav-bg);

  position: sticky;
  top: 0;
  z-index: 9999;
}

.brand-title {
  margin: 0.5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
  transition: background-color 190ms ease-out;
  height: 100%;

  box-shadow: 0 0 5px 5px var(--nav-bg) inset;
  border-radius: 15px;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;

  font-size: 1.2em;
}

.navbar-links li:hover {
  background-color: var(--nav-hbg);
}

.toggle-button {
  position: absolute;
  top: 1.7rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.brand-title .logo {
  height: 60px;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
