#nav {
    background-color: #f5be01;
    height: 4em;
    border-bottom-left-radius: 20px 21px;
    border-bottom-right-radius: 20px 21px;
    box-shadow: 0 0 1.5em 0.5em #0006; 
}
.nav_bar {
    position: relative;
    left: 5%;
    text-decoration: none;
    font-size: large;
    margin: 7.23%;
    color: black;
    position: relative;
    top: 12%;
    margin: 0%;
    border-right: 2px solid white;
    padding-right: 5%;
    padding-left: 5%;
}
#ds {
    border-right: none;
}
.logo {
    position: relative;
    top: 12.5%;
    left: -0.4%;
}