h1
{
 color: #5F021F;
 font-family: 'Pacifico', cursive;
 margin: 30px;
}

.image-cadre img
{
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: .5rem;
}

body
{
    font-family: 'Neucha', cursive;
}

#number
{
    color: #A47;
}

img
{
    display: block;
    margin: auto;
}

.elem
{
    margin: 10px;
    border: 1px solid #5F021F;
    padding: 10px;
    border-radius: .25rem;
    background-color: #F1EFE9;
}

.btn-buy
{
    background-color: #5F021F;
    color: #FFFFFF;
}

.btn-buy:hover:enabled
{
    background-color: #A12;
    cursor: pointer;
}

.clicky
{
    transition-duration: 0.2s;
    cursor: pointer;
    opacity: 0.9;
}

.clicky:active
{
    transform: translateY(10px);
    opacity: 1;
}

.clicky:hover
{
    opacity: 1;
}