#nosotrxs .perfil {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#nosotrxs .perfil:first-of-type {
  justify-content: flex-end;
}

#nosotrxs .perfil:last-of-type {
  justify-content: flex-start;
}

#nosotrxs .card {
  flex: 0 0 100%;
  padding: 20px;
}
