body {
  /* overflow: hidden; */
  /* overflow: visible; */
  /* overflow: scroll; */
}

.box-2 {
}

table {
  border: 1px solid black;
  white-space: nowrap;
  width: 200px;
  height: 200px;
  color: 
}
