body {
  background-color: #21123a !important;
}
input {
  font: normal normal normal 18px/16px Rajdhani;
  font-weight: 600;
  color: white;
}
.bg-violet {
  background-color: #251942;
  z-index: 1;
}
.basic {
  padding: 20px;
  text-decoration: none;
}
.basic:hover {
  color: white;
  text-decoration: underline solid #ba32ff;
  text-underline-position: under;
  text-decoration-thickness: 4px;
}
.esports {
  text-align: left;
  font: normal normal normal 18px/16px Rajdhani;
  letter-spacing: 0.63px;
  color: #ffffff;
  text-transform: uppercase;
}
.new-age {
  color: var(--unnamed-color-ba32ff);
  text-align: left;
  font: normal normal 600 14px/16px Rajdhani;
  letter-spacing: 0.49px;
  color: #ba32ff;
  text-transform: uppercase;
}
.create,
.sub-share,
.basic {
  text-align: left;
  font: normal normal normal 18px/16px Rajdhani;
  font-weight: 600;
  letter-spacing: 0.63px;
  margin-bottom: 10px;
  color: #ffffff;
  text-transform: uppercase;
}
.share {
  margin-top: 50px;
  height: 50vh;
}
.create-items {
  font: normal normal medium 14px/20px Rajdhani;
  letter-spacing: 0.49px;
  color: #5b5271;
  text-decoration: none;
}
.create-items:hover {
  color: white;
}
.help {
  text-decoration: none;
  color: #ba32ff;
  font: normal normal normal 18px/16px Rajdhani;
  font-weight: 600;
  padding: 25px;
}
.team-badge {
  width: 78px;
  height: 78px;
}
.box {
  background-color: #251942;
  margin: 10px 0 0 0;
  width: 300px;
  padding: 5px;
}
.box2 {
  padding: 30px;
  width: 300px;
  margin: 10px 0 0 0;
  background-color: #251942;
}
.box4 {
  padding: 20px;
  margin: 10px;
  background-color: #251942;
}
.box5 {
  padding: 20px;
  margin: 10px;
}
.input2 {
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  width: 450px;
  margin-left: 10px;
  border: 1px solid #5637a2;
  background-color: #251942;
}
.team-bg {
  background-image: url("../assets/TeamBadge_Sample.png");
  background-repeat: no-repeat;
  background-position: 415px;
}

.score-bg {
  background-image: url("../assets/TeamBadge_Sample.png");
  background-repeat: no-repeat;
  background-position: 415px;
}
.pin-bg {
  background-image: url("");
  background-repeat: no-repeat;
  background-position: 415px;
}

.purple-btn {
  background-color: #ba32ff !important;
  width: 128px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 12px;
}
.purple-btn-back {
  position: absolute;
  background-color: #ba32ff !important;
  width: 128px;
  height: 50px;
  margin-left: 12px;
  border-radius: 5px;
}
.purple-btn-a {
  font: normal normal normal 18px/16px Rajdhani !important;
  font-weight: 600 !important;
  color: white !important;
  text-decoration: none !important;
}
