.wrap {
  position: relative;
  /* top: 100px; */
  /* left: 100px; */

  height: 500px;
}

.box {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0px; */
  background: lightgreen;
  width: 100px;
  height: 100px;
}

.box2 {
  /* position: absolute; */
  /* top: 0; */
  /* left: 100px; */
  background: lightcoral;
  width: 100px;
  height: 100px;
}

.box3 {
  /* position: absolute; */
  /* top: 0; */
  /* right: 0px; */
  background: lightgray;
  width: 100px;
  height: 100px;
}
.box4 {
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 100px; */
  background: lightsalmon;
  width: 100px;
  height: 100px;
}

.second-wrap {
  height: 200px;
  position: relative;
}

.transformBox {
  position: absolute;
  top: 0;
  background: lightseagreen;
  height: 100px;
  width: 100px;
  font-weight: 600;
}
