.main-content nav {
  position: sticky;
  top: 0;
}

/* HERO IMAGE */
p {
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}

.project-page-content {
  width: 100%;
  box-sizing: border-box;
}

.hero-image {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0px;
}

.project-info {
  box-sizing: border-box;
  width: 49.998%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-left: calc(8.333% + 32px);
}

.project-info h1 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.project-info h2 {
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
  color: #71798f;
  margin-bottom: 8px;
}

.details {
  width: 100%;
}
.details ul {
  margin: 40px 0px 0px 0px;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-column-gap: 16px;
  align-items: baseline;
}

.details li {
  line-height: 1.5em;
  font-size: 14px;
}

.details-label {
  font-family: poppins;
  font-weight: 600;
  color: #71798f;
}

.details-info {
  font-family: roboto;
  font-weight: 400;
}

.details-info a {
  color: black;
}

/* SUMMARY */
.summary {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 80px 8.333%;
  display: flex;
  flex-direction: column;
}

#impressions-summary {
  background-color: rgba(234, 219, 241, 0.5);
}

#fca-summary {
  background-color: rgba(185, 222, 177, 0.5);
}

#thirdspace-summary {
  background-color: rgba(201, 215, 248, 0.5);
}

#edge-summary {
  background-color: rgba(227, 244, 252, 0.7);
}

#bridge-summary {
  background-color: rgba(166, 216, 212, 0.4);
}

#spoint-summary {
  background-color: rgba(148, 148, 148, 0.4);
}

.context {
  width: 50%;
  padding: 0px 0px 50px 32px;
}

#spoint-disclaimer {
  font-style: italic;
  padding-bottom: 0px;
}

.problem-solution {
  display: flex;
  justify-content: space-between;
  padding: 0px 32px;
}

.summary h2 {
  font-family: roboto;
  color: #71798f;
  font-size: 16px;
  font-weight: 400;
  padding-right: 16px;
  line-height: 27px;
}

.summary h1 {
  font-family: poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: 8px;
}

.problem,
.solution {
  display: flex;
  width: calc(50% - calc(calc(4vw + 32px) / 2));
}

/* PLUGIN FEATURES */
.plugin-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 16.666%;
  width: 100%;
  box-sizing: border-box;
}

.plugin-features h1 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 40px;
  text-align: center;
}

.feature-info-left,
.feature-info-right {
  width: 100%;
  display: flex;
  align-items: center;
}

.feature-image {
  width: 43.75%;
  height: 250px;
  background-color: rgba(234, 219, 241, 0.5);
}

.feature-text {
  width: 37.5%;
}

.feature-text-left {
  margin: 0px 12.5% 0px 6.25%;
}

.feature-text-right {
  margin: 0px 6.25% 0px 12.5%;
}

.feature-text h2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  color: rgb(180, 127, 205);
  margin-bottom: 8px;
}

.divider-photo {
  width: 100%;
  height: 600px;
  display: flex;
}

/* DIVIDER PHOTO */
.divider-photo img {
  width: 100%;
  height: 100%;
  background-color: rgba(234, 219, 241, 0.5);
}

/* PROCESS SECTIONS */
.process-section {
  display: flex;
  flex-direction: column;
  padding: 80px 8.333%;
}

.center-section {
  align-items: center;
}

.grey-background {
  background-color: rgba(113, 121, 143, 0.05);
}

.process-section h1 {
  width: 60%;
  box-sizing: border-box;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  padding: 0px 0px 8px 32px;
}

.process-section p {
  width: 60%;
  box-sizing: border-box;
  padding: 0px 0px 8px 32px;
}

.center-section h1 {
  width: 60%;
  padding: 0px 0px 8px 0px;
}

.center-section p {
  width: 60%;
  padding: 0px;
}

.double-process-image {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 40px 32px 0px 32px;
  justify-content: space-between;
}

.image-1,
.image-2 {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: auto;
}

.double-process-image img {
  width: 100%;
  height: 300px;
  background-color: rgba(234, 219, 241, 0.5);
}

.single-process-image {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.single-process-image img {
  width: 100%;
  height: 450px;
  background-color: rgba(234, 219, 241, 0.5);
}

.caption {
  font-family: roboto;
  font-size: 15px;
  color: #71798f;
  line-height: 1.5em;
  margin-top: 8px;
}

.insight {
  margin-top: 45px;
  display: flex;
  width: 100%;
}

.insight-label {
  width: 20%;
  box-sizing: border-box;
  padding: 0px 16px 0px 32px;
  border-right: 3px solid #eadbf1;
  font-family: roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5em;
}

.insight-text {
  width: 40%;
  box-sizing: border-box;
  padding-left: 16px;
  font-family: roboto;
  font-size: 16px;
  line-height: 1.5em;
}

.objective {
  margin-top: 45px;
  display: flex;
  width: 100%;
  align-items: baseline;
}

.objective-label {
  box-sizing: border-box;
  width: 20%;
  padding: 0px 16px 0px 32px;
  font-family: roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5em;
}

.objective-text {
  display: flex;
  width: 60%;
}

.objective-1,
.objective-2,
.objective-3 {
  width: 33.333%;
  box-sizing: border-box;
  padding-right: 16px;
  display: flex;
  align-items: baseline;
}

.objective-text h1 {
  font-family: Poppins;
  font-size: 22px;
  color: #eadbf1;
  width: auto;
  margin: 0;
  padding: 0px 8px 0px 16px;
}

.objective-text {
  font-family: roboto;
  font-size: 16px;
  line-height: 1.5em;
}

.wireframes {
  margin: 40px 32px 0px 32px;
  display: grid;
  grid-gap: 16px;
}

#impressions-wireframes {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
}

.wireframes img {
  width: 100%;
  height: 400px;
  background-color: rgba(234, 219, 241, 0.5);
}

.impressions-logos {
  display: flex;
  flex-direction: column;
}

.impressions-logos img {
  width: 100%;
  height: 50px;
  background-color: rgba(234, 219, 241, 0.5);
  margin-bottom: 8px;
}

/* REFLECTION */
.reflection-container {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 80px 8.333%;
  display: flex;
  justify-content: center;
}

#impressions-reflection {
  background-color: rgba(234, 219, 241, 0.5);
}

.reflection {
  width: 80%;
  display: flex;
}

.reflection-text {
  width: 75%;
  padding-right: 12.5%;
}

.reflection h2 {
  font-family: roboto;
  color: #71798f;
  font-size: 16px;
  font-weight: 400;
  padding-right: 16px;
  line-height: 27px;
}

.reflection h1 {
  font-family: poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: 8px;
}

.reflection p:nth-of-type(2) {
  margin-top: 16px;
}
