
/* 特大デバイス（ワイド・デスクトップ, 1200px 以上）
==============================================*/
@media screen and (min-width: 1200px) {
    
#footer #footer-contents > div{
    border-left: 1px solid #774831;
    border-right: 1px solid #774831;
    border-collaps: collapse;
}
#footer #footer-contents > div:last-child{
    border-right: 1px solid #774831;
}
#footer img {
width: 100%;
}  
	
} /* END */

/* 大デバイス（デスクトップ, 1200px 未満）
==============================================*/
@media screen and (max-width:1199.98px) {

/* トップページ：各セクション */
    
#sec2 .row {
    background-size: auto 550px;
}

} /* END */


/* 中デバイス（タブレット, 992px 未満）
==============================================*/
@media screen and (max-width:991.98px) {
#footer #footer-contents > div{
    border-bottom: 1px solid #774831;
    border-left: none;
    border-right: none;
    padding-bottom: 1rem;
}
#footer img {
    width: 100%;
    max-width: 748px;
    margin: 0 auto;
}

/* トップページ：各セクション */    
#sec2 img {
    width: 100%;
    height: 100%;
}    
    
} /* END */

/* 小デバイス（横向きモバイル, 768px 未満）
==============================================*/
@media screen and (max-width:767.98px) {
h1{
    font-size: 2rem;
}    
main .btn{
    font-size: 0.95rem;
}
    #footer #footer-contents > div:first-child {
    border-right: none !important;
}
#footer .container{
    padding-top: 0px;
}
#footer .container .row{
    margin-bottom: 0;
}

#footer #copyright{
    font-size: 0.8rem;
}
#footer h2{
    margin: 2rem 0;
}

/* トップページ：各セクション */
    
#page-top h1 + small {
    font-size: 1.5rem;
}
#page-top .jumbotron-fluid{
    height: 320px;
}
#page-top section{
    padding-top: 50px;
}
#page-top section .container > h2{
    margin-bottom: 20px;
    font-size: 1.5rem;
}
#page-top section .container > h2 + p{
    margin-bottom: 40px;
}
#page-top section .container h3{
    font-size: 1.2rem;
}
#sec2 .row {
    background-size: auto 400px;
}
#sec4 .card-body .card-subtitle{
    font-size: 0.75rem;
}

/* 下層ページ */
    
#page section {
    padding: 3rem 0 0;
}
  
} /* END */


/* 極小デバイス（縦向きモバイル, 576px 未満）
==============================================*/
@media screen and (max-width:575.98px) {
.navbar-collapse .btn {
    margin: 10px auto;
}
    
/* トップページ：各セクション */
    
#sec2 .row {
    background-size: auto 300px;
}

/* 下層ページ */

#page section {
    padding: 2rem 0 0;
}    
    
} /* END */