@import url(
  http://fonts.googleapis.com/css?family=Raleway:300,
  500,
  600,
  700,
  900,
  400
);

html {
  overflow-x: hidden;
  padding: 0 !important;
  background: #fff;
  margin: 0px !important;
}

.fullwidthbanner-container {
  width: 100% !important;
  position: fixed;
  padding: 0;
  overflow: hidden;
  color: #fff;
  z-index: -1px;
}

#revolution-slider {
  font-family: "Raleway";
}

.tp-caption {
  font-size: 14px;
  font-weight: 300;
}

.tp-caption.teaser {
  letter-spacing: 5px;
}

.tp-caption br {
  margin-bottom: 5px;
}

.tparrows {
  top: 50% !important;
}

.med {
  font-size: 24px;
  letter-spacing: -0.5px;
}

.med-white {
  color: #fff;
  font-size: 24px;
  letter-spacing: -0.5px;
}
.med-green {
  color: #1a8b49;
  font-size: 24px;
  letter-spacing: -0.5px;
}
.small-white {
  color: #fff;
  line-height: 1.7em;
}

.big-black {
  font-size: 52px;
  letter-spacing: -3px;
  color: #222;
}

.big-white {
  font-size: 16px;
  color: #fff;
  line-height: normal;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.ultra-big-white {
  font-size: 60px;
  font-weight: 200;
  color: #fff;
  margin: 0;
  line-height: 72px;
  padding: 30px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.ultra-big-black {
  font-size: 96px;
  font-weight: 200;
  color: #222;
  margin: 0;
  line-height: 72px;
  letter-spacing: 10px;
}

a.btn-slider {
  font-size: 14px;
  color: #fff;
  letter-spacing: 1px;
  line-height: normal;
  font-weight: bold;
  text-transform: uppercase;
  border: solid 1px #fff;
  padding: 15px 30px 15px 30px;
}
a.btn-slider:after {
  font-family: FontAwesome;
  content: "\f054";
  margin-left: 20px;
}
a.btn-slider:hover {
  color: #222;
  background: #fff;
  border-color: #000;
  border: solid 1px #fff;
}
a.btn-slider:hover:after {
  color: #222;
}

.fullwidthbanner-container a.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff !important;
  font-weight: 700;
  padding: 10px 20px 10px 20px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

@media only screen and (max-width: 992px) {
  .fullwidthbanner-container {
    position: absolute;
  }
}
