:root {
  --first-color: red;
  --margin-30: 30px;
  --black-color: black;
  --white-color: white;
}

html {
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  margin: var(--margin-30);
}

header {
  text-align: center;
}

h1 {
  color: #be0202;
}

h2 {
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}

.bg-red-color {
  background-color: var(--first-color);
}

.copyright {
  text-align: justify;
  font-size: 10px;
}
.text-red {
  color: var(--first-color);
}

.text-white {
  color: var(--white-color);
}

.text-black {
  color: var(--black-color);
}

.text-center {
  text-align: center;
}

.sanborns-logo img {
  max-width: 100%;
  height: auto;
}

.water-img {
  max-width: 160px;
  height: auto;
}
