html{
    position: relative;
}

body{
    margin-bottom: 100px;
    margin-top: 30px;
}

.jumbotron img{
    width: 200px;
    height: 255px;
    border: 1px solid grey;
    border-radius: 50%;
}

 hr{
    width: 250px;
    border-top: 2px solid grey;
}

section{
    min-height: 600px;
}

.contact{
    min-height: 800px;
}

footer{
    position: absolute;
    background-color: rgb(153, 153, 153);
    bottom: 0;
    width: 100%;
    height: 100px;
    padding-top: 30px;
}
footer p{
    color: white;
    font-size: small;
}