@import url("https://fonts.googleapis.com/css2?family=Changa&display=swap");
* {
  font-family: "Changa", sans-serif;
}
.navbar {
  background: white;
}
header {
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.main-head {
  padding: 0px 20px 0px 20px;
  border-right: 5px solid #fc0;
  border-left: 5px solid #fc0;
}

.main-section {
  margin: 0px 100px 0px 100px;
}

@media screen and (max-width: 578px) {
  .main-section {
    margin: 0px;
  }
}

.highlight {
  background-color: yellow;
}

.all_question {
  background-color: whitesmoke;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer_para {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px 10px 10px 10px;
}

.question {
  padding: 5px 0px 20px 0px;
}

.easy_heading,
.hard_heading {
  padding: 20px 0px 20px 0px;
}

.level_heading {
  font-size: 20px;
  color: royalblue;
  font-weight: bold;
  margin-right: 20px;
}

.web_link {
  color: white;
}
