* {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
}

h1 {
  font-size: 3.5em;
  padding: 0.8em;
}

h2 {
  color: green;
  background-color: #00ff00;
  font-size: 2.5em;
  margin: 0.5em;
}

#cimsor4 {
  background-color: hsl(143, 94%, 72%);
  border: 5px outset red;
  /*
  Keret stílusa:
  solid; double; dotted; dashed; none;
  hidden; groove; ridge; inset; outset
  */
}

.barnaBetu {
  color: chocolate;
}

.dolt {
  font-style: italic;
}

[type="text"] {
  background-color: aquamarine;
}

a:visited {
  color: blue;
}

div {
  font-size: 2rem;
}

#sargaHatter {
  background-color: yellow;
  font-size: 2.5rem;
}

.felkover {
  font-weight: bold;
}

.alahuzott {
  text-decoration: underline;
}

.dolt {
  font-style: italic;
}

.betukoz {
  font-stretch: extra-expanded;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /*font-variant: small-caps;*/
  /*text-transform: uppercase;*/
  text-shadow: -5px -5px 5px blue;
  <!-- megjegyzés -->
}
.igazitas {
  text-align: justify;
  /*text-align: center;
  /*text-align: right;
  text-align: left;*/
}

body{
  background-color: aliceblue;
  background-image: URL("../Kepek/smiley.png");
  background-repeat: no-repeat;
  /*background-repeat: repeat-y;
  /*background-repeat: repeat-x; */
  background-position: right top; 
  /*
  Vízszintesen:
  left; center; right
  
  Függőlegesen:
  top; center; bottom
  */

  background-attachment: fixed;
}