body {
	background-color: #c6ffdd;
}
h1 {
	color: green;
	text-align: center;
	background-color: lightgreen;
}
h2 {
	color: darkslateblue;
	text-align: center;
	background-color: #6dd5fa;
}
.background-color {
	background-color: burlywood;
	width: 200px;
	height: 150px;
}
.background-image {
	background-image: url("Picture/Data analytics for Business.jpg");
	background-position: center;
	width: 100px;
	height: 200px;
}
