/*font-family: 'Oleo Script', cursive;
font-family: 'Palanquin', sans-serif;*/
h1,
h2,
h3,
h4 {
  font-family: "Oleo Script", cursive;
}

h2 {
  font-size: 40px;
  margin-top: 10px;
  line-height: 40px;
}

h3,
h4 {
  margin-bottom: -10px;
}

p,
li {
  font-family: "Palanquin", sans-serif;
}

.hero {
  display: flex;
  align-items: center;
  background-image: url(https://media.gettyimages.com/photos/cheeses-selection-picture-id530418574?s=612x612); /*this is a placeholder image*/
  background-position: center center;
  background-size: cover;
  flex-direction: column;
  color: white;
  height: 500px;
  font-size: 50px;
  justify-content: center;
  text-align: center;
}

.nav {
  display: flex;
  background-color: #ffcb00;
  text-decoration: none;
  font-weight: bold;
}

.nav ul li {
  display: inline;
  padding: 0 15px;
}

.intro {
  line-height: 25px;
  margin: 25px 40px;
}

.featured-cheeses {
  margin: auto 60px;
}

.cheese-info {
  align-items: top;
  display: flex;
  border-bottom: 2px solid gray;
  margin-top: 20px;
  padding-bottom: 20px;
}

.cheese-image img {
  height: 320px;
  width: 600px;
  object-fit: cover;
}

.cheese-overview {
  line-height: 20px;
  margin: -15px 20px auto 30px;
}

.button {
  background-color: #ffcb00;
  border: none;
  color: white;
  font-weight: bold;
  height: 40px;
  width: 150px;
  text-align: center;
}

.cheese-popup-info {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.popup-content {
  background-color: white;
  border: 2px solid gray;
  height: 350px;
  width: 600px;
  margin: 15% auto;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 20px;
}

/*left: 50%;
margin-left: -300px;
top: 50%;
margin-top: -172px;
line-height: 20px;
padding-left: 30px;
padding-right: 30px;*/

.popup-open {
  transform: translateX(0%);
  opacity: 1;
}

.cheeseboard {
  display: flex;
  justify-content: top;
  margin: 40px 60px;
}

.cheeseboard-image img {
  height: 500px;
  width: 400px;
  object-fit: cover;
}

.cheeseboard-info {
  line-height: 20px;
  margin-left: 30px;
  margin-right: 20px;
  margin-top: -15px;
}

.footer {
  background-color: gray;
  padding: 1px 20px;
}
