body {
	background-color: #c6ffdd;
}
h1 {
	color: green;
	text-align: center;
	background-color: lightgreen;
}
h2 {
	color: darkslateblue;
	text-align: center;
	background-color: #6dd5fa;
}
