body {
  background-color: #21123a !important;
}
input {
  font: normal normal normal 18px/16px Rajdhani;
  font-weight: 600;
  color: white;
}
.bg-violet {
  padding: 10px;
  background-color: #251942;
}
.box {
  background-color: #251942;
  margin: 10px 0 0 0;
  width: 300px;
  padding: 5px;
}
.box2 {
  padding: 30px;
  width: 300px;
  margin: 10px 0 0 0;
  background-color: #251942;
}
.box3 {
  padding: 30px;
  width: 300px;
  background-color: #251942;
  height: 50vh;
}
.box4 {
  padding: 20px;
  margin: 10px;
  background-color: #251942;
}
.basic {
  padding: 20px;
  text-decoration: none;
}
.basic:hover {
  color: white;
  text-decoration: underline solid #ba32ff;
  text-underline-position: under;
  text-decoration-thickness: 4px;
}
.esports {
  text-align: left;
  font: normal normal normal 18px/16px Rajdhani;
  letter-spacing: 0.63px;
  color: #ffffff;
  text-transform: uppercase;
}
.new-age {
  color: var(--unnamed-color-ba32ff);
  text-align: left;
  font: normal normal 600 14px/16px Rajdhani;
  letter-spacing: 0.49px;
  color: #ba32ff;
  text-transform: uppercase;
}
.share {
  margin-top: 50px;
  height: 50vh;
}
.create,
.sub-share,
.basic {
  text-align: left;
  font: normal normal normal 18px/16px Rajdhani;
  font-weight: 600;
  letter-spacing: 0.63px;
  margin-bottom: 10px;
  color: #ffffff;
  text-transform: uppercase;
}
.create-items {
  font: normal normal medium 14px/20px Rajdhani;
  letter-spacing: 0.49px;
  color: #5b5271;
  text-decoration: none;
}
.create-items:hover {
  color: white;
}
.help {
  text-decoration: none;
  color: #ba32ff;
  font: normal normal normal 18px/16px Rajdhani;
  font-weight: 600;
  padding: 25px;
}
.tournament {
  padding-top: 20px;
  padding-left: 10px;
  text-transform: uppercase;
  font: normal normal normal 18px/16px Rajdhani;
  font-weight: 600;
  color: #5637a2;
}
.sel-tournament {
  padding-left: 10px;
  text-transform: uppercase;
  font: normal normal normal 25px Rajdhani;
  font-weight: 600;
  color: white;
}
.input1,
.input2 {
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  width: 450px;
  margin-left: 10px;
  border: 1px solid #5637a2;
  background-color: #251942;
}
.input3 {
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  width: 450px;
  margin-left: 25px;
  border: 1px solid #5637a2;
  background-color: #251942;
}
.input1-bg {
  background-image: url("../assets/Calendar.svg");
  background-repeat: no-repeat;
  background-position: 420px;
}
.input1-bg::placeholder {
  font: normal normal normal 18px/16px Rajdhani;
  color: white;
}
.input2::placeholder {
  font: normal normal normal 18px/16px Rajdhani;
  font-weight: 600;
  color: #5637a2;
}
.community-pred {
  padding-top: 20px;
}
.input3::placeholder {
  color: white;
  font: normal normal 600 18px/52px Rajdhani;
}
.input4::placeholder {
  font: normal normal normal 18px/16px Rajdhani;
  font-weight: 600;
  color: white;
  position: absolute;
  top: 15px;
  left: 50px;
}
/* .input4-bg {
  background-image: url("assets/TeamBadge_Sample.png");
  background-repeat: no-repeat;
  background-position: 10px;
  position: relative;
} */
.label1 {
  font: normal normal normal 18px/16px Rajdhani;
  font-weight: 600;
  color: #ba32ff;
  margin-top: 35px;
  margin-left: -100px;
}
.purple-btn {
  background-color: #ba32ff !important;
  width: 128px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 12px;
}
.purple-btn-a {
  font: normal normal normal 18px/16px Rajdhani !important;
  font-weight: 600 !important;
  color: white !important;
  text-decoration: none !important;
}
