#bobs {
  border-color: #9c2005;
  width: 800px;
}
#fries {
  border-color: #9c2005;
  width: 800px;
}
a:visted {
  color: #9c2005;
}
h1 {
  font-family: Arial black;
}

#human-burger {
  border-color: #9c2005;
  width: 300px;
}
#chive-burger {
  border-color: #9c2005;
  width: 300px;
}
#brie {
  border-color: #9c2005;
  width: 300px;
}
#gold {
  border-color: #9c2005;
  width: 300px;
}
#shakes {
  border-color: #9c2005;
  width: 400px;
}
