@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=EB+Garamond:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=EB+Garamond:wght@800&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: sans-serif;
  font-size: 1.125rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}
.main-container {
  width: 98%%;
  margin: 0 auto;
  position: relative;
}

/******Header and Nav-bar*************************************************/
header {
  height: 100px;
  width: 100%;
}

.secondary-header {
  background-color: #34130e;
  height: 25%;
  width: 100%;
}

.hide-desktop {
  display: none;
}
.primary-header {
  height: 75%;
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 10%;
  display: flex;
  align-items: center;
}
.logo-img {
  width: 50px;
}

nav .nav-items {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
nav a {
  color: #3e2723;
}

.primary-header .cta {
width: 15%;
}

/****** End Header and Nav-bar***********************************************/
