* {
	box-sizing: border-box;
}
ul {
	width: 100%;
	padding: 300px auto;
}
li {
	display: inline-block;
	padding: 20px;
	border: 2px solid black;
	width: 100px;
	height: 100px;
}
.white {
	background-color: #f6f6f6;
}
.green {
	background-color: #71b637;
}
.othergreen {
	background-color: #96c94a;
	width: 40px;
	position: relative;
}
.offwhite {
	background-color: #d2c29d;
}
.red {
	background-color: #ff0000;
}
