@import "global.css";
@import "main.css";

.fa-row {
  background-color: var(--dominantColor) !important;
  padding: 20px;
}

.fa-row-icon {
  font-size: 80px;
  color: #ffffff;
  margin-bottom: 5px;
  margin-top: 10px;
}

.fa-row-icon:hover {
  transform: scale(1.1);
}

.fa-row a {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.first-paragraph-div {
  /*box-shadow: var(--boxShadow) !important; */
  position: relative;
  background-color: #fffffd;
  color: var(--accentColor) !important;
  font-family: "Kalam", cursive;
  font-size: 24px;
  padding: 20px;
  height: auto;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.first-paragraph-img {
  position: relative;
  float: left;
  padding-right: 18px;
}

@media (max-width: 900px) {
  .first-paragraph-img {
    width: 100%;
    float: none;
    padding-right: 0px;
  }
}

.cropped {
  width: 200px;
  height: 200px;
  margin-top: 15px;
  border: 10px solid var(--accentColor) !important;
  clip-path: circle(50% at 50% 50%);
  border-radius: 50%;
  margin: auto;
}

.card {
  margin: 15px;
}

.btn-isotope,
.btn-isotope:hover {
  color: #ffffff;
  border-radius: 0px;
}

.second-paragraph-div {
  /*box-shadow: var(--boxShadow) !important; */
  position: relative;
  background-color: #fffffd;
  color: var(--accentColor) !important;
  font-family: "Kalam", cursive;
  font-size: 24px;
  padding: 20px;
  height: auto;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.second-paragraph-img {
  position: relative;
  float: right;
  padding-left: 18px;
}

@media (max-width: 900px) {
  .second-paragraph-img {
    width: 100%;
    float: none;
    padding-left: 0px;
  }
}

/*slick slider http://kenwheeler.github.io/slick/ */
.slider-container {
  background: var(--dominantColor) !important;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.main-slider {
  width: 95%;
  display: block;
  margin: 0 auto;
}

.cuadro {
  margin: 10px;
}
