.block1 {
  background-image: url("../images/background.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.block1-content {
  padding: 100px 0;
  font-family: "Palette Mosaic", cursive;
  text-align: center;
  color: white;
}
.title {
  font-size: 96px;
  text-shadow: 7px 7px rgb(0, 0, 0);
}
.why-sub-block {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  font-family: cursive;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.2);
  padding: 30px;
  margin: auto;
  text-align: center;
  width: 50%;
}
.logo {
  height: 40px;
  width: 40px;
  margin: 5px;
  margin-left: 10px;
}
.navbar-brand {
  padding: 0px !important;
}
.why-content {
  font-size: 20px;
  font-family: "Lobster", cursive;
}
.header {
  background-color: transparent;
}
.items {
  margin: 10px;
  font-family: cursive;
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.items:hover {
  color: white;
  text-decoration: underline solid #d00b11;
  text-underline-position: under;
}
.block2 {
  margin-top: 10px;
  background-image: url("../images/block2-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.block2-content {
  padding: 30px;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.block2-content h4 {
  font-size: 20px;
}
.block3-content {
  margin-top: 150px;
  padding: 30px;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.block3-content h4 {
  font-size: 20px;
}
.flex-item {
  width: 350px;
  height: 380px;
}
.flex-item6 {
  width: 350px;
  height: 500px;
}
.box {
  margin-top: 150px !important;
  font-size: 20px;
  background-color: white;
  margin: auto;
  text-align: center;
  width: 80%;
}
.bg {
  background-image: url("../images/block3-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.pic1 {
  margin: 10px;
  background-image: url("../images/1st.jpeg");
  background-size: cover;
}
.pic2 {
  margin: 10px;
  background-image: url("../images/2nd.jpeg");
  background-size: cover;
}
.pic3 {
  margin: 10px;
  background-image: url("../images/3rd.jpeg");
  background-size: cover;
}
.pic4 {
  margin: 10px;
  background-image: url("../images/4th.jpeg");
  background-size: cover;
}
.pic5 {
  margin: 10px;
  background-image: url("../images/5th.jpg");
  background-size: cover;
}
.pic6 {
  margin: 10px;
  background-image: url("../images/6th.jpg");
  background-size: cover;
}
.pic7 {
  margin: 10px;
  background-image: url("../images/7th.jpg");
  background-size: cover;
}
.block4 {
  margin-top: 30px;
}
.second {
  padding-left: 80px;
  padding-right: 80px;
}
.block4-title {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #6696bf;
  text-underline-offset: 0.2em;
}
.block5 {
  text-align: center;
  padding: 80px;
}
.block6 {
  background-image: url("../images/5thBlockBG.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box6 {
  padding: 15px;
  margin: auto;
  margin-top: 20px;
  background: rgb(255, 255, 255); /* Fallback color */
  background: rgba(255, 255, 255, 0.5);
}
.box6 h1 {
  font-size: 80px;
  color: #d00b11;
}
.box6 p {
  font-weight: 500;
}
.quote {
  font-size: 35px;
  font-family: "Lobster", cursive;
}
footer {
  text-align: center;
  height: 100px;
  background-color: #151515;
}
footer h3 {
  font-size: 20px;
  padding-top: 25px;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
footer a {
  color: white;
}
footer a:hover {
  color: white;
}
@media only screen and (max-width: 1000px) {
  .items {
    font-size: 10px;
  }
  .title {
    font-size: 43px;
    text-shadow: 7px 7px rgb(0, 0, 0);
  }
  .why-content {
    font-size: 10px;
    font-family: "Lobster", cursive;
  }
  .why-content-1 {
    font-size: 10px;
  }
  .block3 {
    height: 457px !important;
  }
  .block2-content h4 {
    font-size: 10px;
  }
  .block3-content h4,
  h2 {
    font-size: 10px;
  }
  .box6 h1 {
    font-size: 30px;
  }
  .box6 h2 {
    font-size: 10px;
  }
  .box6 p {
    font-size: 8px;
  }
  .flex-item {
    width: 150px;
    height: 180px;
  }
  .flex-item6 {
    width: 150px;
    height: 300px;
  }
  .quote {
    font-size: 15px;
    font-family: "Lobster", cursive;
  }
  .box {
    margin-top: 50px !important;
    font-size: 10px;
    background-color: white;
    margin: auto;
    text-align: center;
    width: 80%;
  }
  .bg {
    width: 218px !important;
    height: 350px;
  }
}
@media only screen and (max-width: 600px) {
  .box {
    font-size: 5px;
  }
  .box6 h1 {
    font-size: 20px;
  }
  .box6 h2 {
    font-size: 5px;
  }
  .box6 p {
    font-size: 5px;
  }
  .flex-item6 {
    width: 100px;
    height: 170px;
  }
  .bg {
    width: 200px !important;
    height: 250px;
  }
}
