body {
  margin: 0;
  text-align: center;
  font-family: "Gentium Book Basic", serif;
  color: #40514e;
}
h1 {
  margin: 2.6rem auto 0;
  font-size: 6.25rem; /* 1em=100%  16 px    ....  (100px),  rem is used so that font size isnot affected by changes in the parent */
  font-family: "Trattatell", cursive;
  color: #000000;
}
h2 {
  font-family: "Lora", serif;
  font-size: 2.5rem;
  color: #000000;
  font-weight: normal;
  padding-bottom: 0.625rem;
}
h3 {
  font-family: "Lora", serif;
  color: #000000;
  font-size: 2rem;
}
h4 {
  margin: 2.6rem auto 0;
  font-size: 2.5rem; /* 1em=100%  16 px    ....  (100px),  rem is used so that font size isnot affected by changes in the parent */
  font-family: "Trattatell", cursive;
  color: #000000;
}
h5 {
  font-family: "Lora", serif;
  font-size: 2.5rem;
  color: #000000;
  font-weight: normal;
  padding-bottom: 0.625rem;
}
p {
  line-height: 2;
  font-size: 1.5rem;
}
hr {
  border: dotted #000000 0.375rem;
  border-bottom: none;
  width: 2.5%;
  margin: 6.25rem auto;
}
a {
  color: #004445;
  font-family: "Sacramento", cursive;
  margin: 0.625rem 1.25rem; /*10px 20px */
  text-decoration: none; /*removes undeline */
  font-size: 2rem;
}
a:hover {
  color: #eaf6f6;
}
.top-container {
  background-color: #55ae95
  position: absolute;
  background-color: #b2e8e9;
  padding: 0.25rem
}
.middle-container {
  margin: 0rem 0;
  background-color: #e9bab2;
}
.bottom-container {
  background-color: #6fb98f;
  padding: 3.125rem 0 1.25rem;
}
.name {
  margin: 100px;

}
.Profile{
  width: 170px
  margin: 6.25rem auto 6.25rem auto;
  text-align: center;
}
.First-Skill {
  width: 50%;
  margin: 6.25rem auto 6.25rem auto; /*100px centre 100px centr*/
  text-align: left;
}
.Second-Skill {
  width: 50%;
  margin: 6.25rem auto 6.25rem auto;
  text-align: right;
}
.education-1 {
  width: 50%;
  margin: 6.25rem auto 6.25rem auto;
  text-align: left;
}
.educations {
  width: 50%;
  margin: 6.25rem auto 6.25rem auto;
  text-align: right;
}
.intro {
  width: 40%;
  margin: auto;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.8rem;
  margin: 1.25rem 0;
}

@media screen and (max-width: 820px) {
  /*tablet view*/
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4{
    font-size: 1.5rem;
  }
  h5{
    font-size:1.3rem;
  }
  p {
    line-height: 1.5;
    font-size: 1.1rem;
  }
  .intro {
    width: 80%;
  }
  .square-img{
    position: absolute;
    width: relative;
    height: auto;
    right: 12rem;  /* right to left */
    top: 2.5rem;  /*top to bottom*/
  }
  hr {
    border: dotted #55ae95 0.35rem;
    border-bottom: none;
    width: 10%;
    margin: 3.5rem auto;
  }
  .education-1 {
    width: 80%;
    margin: 3.5rem auto 3.5rem auto;
    text-align: left;
  }
  .educations {
    width: 80%;
    margin: 3.5rem auto 3.5rem auto;
    text-align: right;
  }
  .First-Skill {
    margin: 3.5rem auto 3.5rem auto;
  }
  .Second-Skill {
    margin: 3.5rem auto 3.5rem auto;
  }
  .bottom-container {
    padding: 2rem 0 1.25rem;
  }
  }
