.linha_header {
  position: relative;
  width: 152px;
  height: 0px;
  left: 1100px;
  top: 0px;
  border: 1px solid #ffffff;
  transform: rotate(90deg);
}
#header {
  border: none;
  position: relative;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ff9900;
  overflow-x: hidden;
  overflow-y: hidden;
}
#texto_header1 {
  position: relative;
  width: 601px;
  height: 63px;
  left: 320px;
  top: 7px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 63px;
  color: #ffffff;
}
#CSC {
  position: absolute;
  width: 202px;
  height: 66px;
  left: 1200px;
  top: 0px;
  font-family: "Inter";
  font-style: bold;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #ffffff;
}
#titulo {
  font-family: "Verdana";
  font-style: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  padding: 15px;
  text-align: left;
}
tr:hover {
  background-color: #6e62626c;
}
th {
  background-color: #ff9900;
  color: white;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
td {
  height: 50px;
  vertical-align: bottom;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
a {
  display: block;
  width: 120px;
  height: 30px;
  line-height: 40px;
  padding: 6px 3px;
  margin: 10px;
  background-color: #ff9900;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-family: Arial;
}
