/* RESET STYLES */
[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

label {
  cursor: pointer;
}

button,
input {
  border: none;
}

body {
  font: 16px/1.5 "Lato", sans-serif;
}

/* DARK MODE STYLES */

body {
  background: #000;
  color: #fff;
}

/* LIGHT MODE STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.light-mode body {
  background: #fff;
  color: #000;
}
