* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {
  --accent-color: #5d71dd;
  --dark-color: #2f2222;
  --grid-gap: 40px;
}

body {
  overflow-anchor: none;
  margin: 0;
  font-family: 'Futura', sans-serif;
  font-weight: 400;
  background-color: #f9f9f9;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPTBook.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPTMedium.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPTHeavy.woff2') format('woff2');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*header*/

.header {
  padding-top: 6px;
  padding-bottom: 4px;
  background-color: #fff;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  transform: translateY(5px);
}

.header__nav {
  margin-right: var(--grid-gap);
}

.header__right {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: var(--grid-gap);
}

.nav__link {
  position: relative;
  font-size: 18px;
  color: var(--dark-color);
}

.nav__link--current {
  color: var(--accent-color);
}

.nav__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
}

.phone {
  font-weight: 500;
  font-size: 18px;
  color: var(--accent-color);
  background-image: url('../img/phone.svg');
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 24px;
}

/* banner */

.banner {
  height: 300px;
  background-image: url('../img/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* content */

.content {
  padding-top: var(--grid-gap);
}

.content__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--grid-gap);
}

.posts {
  grid-column: 3 span;
}

.blog-post {
  position: relative;
  padding: var(--grid-gap);
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
}

.blog-post__category {
  position: relative;
  z-index: 5;
  margin-bottom: 30px;
  display: inline-block;
  padding: 8px 17px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 21px;
  color: var(--accent-color);
  background: #f7f8fd;
}

.blog-post__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: var(--dark-color);
}

.blog-post__link::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.blog-post__descr {
  margin: 0;
  padding-right: var(--grid-gap);
  font-size: 18px;
  line-height: 23px;
  color: rgba(47, 34, 34, 0.4);
}

.blog-post__date {
  position: absolute;
  right: var(--grid-gap);
  top: var(--grid-gap);
  font-size: 16px;
  line-height: 21px;
  color: rgba(47, 34, 34, 0.4);
}

.blog-post--main {
  height: 280px;
  margin-bottom: var(--grid-gap);
}

/* grid */

.post-grid {
  margin-bottom: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 180px);
  gap: var(--grid-gap);
}

.post-grid__item:nth-child(5n + 1) {
  grid-column: 2 span;
  grid-row: 2 span;
}

.post-grid__item:nth-child(5n + 2) {
  grid-row: 2 span;
}

.post-grid__item:nth-child(5n + 3) {
  grid-row: 2 span;
}

.post-grid__item:nth-child(5n + 4) {
  grid-column: 2 span;
}

.post-grid__item:nth-child(5n + 5) {
  grid-column: 2 span;
}

.post-grid__item:nth-child(5n + 2) .blog-post {
  background-color: var(--accent-color);
  padding-left: 30px;
  padding-right: 30px;
}

.post-grid__item:nth-child(5n + 2) .blog-post__category {
  background: #7d8de4;
  color: #fff;
}

.post-grid__item:nth-child(5n + 2) .blog-post__descr {
  display: none;
}

.post-grid__item:nth-child(5n + 2) .blog-post__title {
  color: #fff;
}

.post-grid__item:nth-child(5n + 2) .blog-post__date {
  top: auto;
  right: auto;
  bottom: var(--grid-gap);
  left: 30px;
  color: #fff;
}

.post-grid__item:nth-child(5n + 3) .blog-post {
  background-color: var(--accent-color);
  padding-left: 30px;
  padding-right: 30px;
}

.post-grid__item:nth-child(5n + 3) .blog-post__category {
  background: #7d8de4;
  color: #fff;
}

.post-grid__item:nth-child(5n + 3) .blog-post__descr {
  display: none;
}

.post-grid__item:nth-child(5n + 3) .blog-post__title {
  color: #fff;
}

.post-grid__item:nth-child(5n + 3) .blog-post__date {
  top: auto;
  right: auto;
  bottom: var(--grid-gap);
  left: 30px;
  color: #fff;
}

.post-grid__item:nth-child(5n + 4) .blog-post {
  padding-top: 30px;
  padding-bottom: 30px;
}

.post-grid__item:nth-child(5n + 4) .blog-post__date {
  top: 30px;
}

.post-grid__item:nth-child(5n + 4) .blog-post__category {
  margin-bottom: 20px;
}

.post-grid__item:nth-child(5n + 4) .blog-post__descr {
  display: none;
}

.post-grid__item:nth-child(5n + 5) .blog-post {
  padding-top: 30px;
  padding-bottom: 30px;
}

.post-grid__item:nth-child(5n + 5) .blog-post__date {
  top: 30px;
}

.post-grid__item:nth-child(5n + 5) .blog-post__category {
  margin-bottom: 20px;
}

.post-grid__item:nth-child(5n + 5) .blog-post__descr {
  display: none;
}

/* pagination */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__item:not(:last-child) {
  margin-right: 20px;
}

.pagination__link {
  font-size: 18px;
  line-height: 23px;
  color: #000;
}
