@charset "utf-8";

.f30 {
  font-size: 3rem;
}
.f30.tit {
  margin: 10rem 0 1rem;
}
.f36 {
  font-size: 3.6rem;
  letter-spacing: -0.02em;
}
.f40 {
  font-size: 4rem;
}
.f45 {
  font-size: 4.5rem;
  letter-spacing: -0.02em;
}
.f28 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.4;
}
.f22 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

h4.tit {
  margin: 0 0 1rem;
  font-size: 3rem;
}
h5.tit {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1.5rem;
  position: relative;
  padding-left: 1.5rem;
  margin-top: 4rem;
}
h5.tit:nth-of-type(1) {
  margin-top: 0;
}
h5.tit:before {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  content: "";
  left: 0;
  top: 1.2rem;
  background: #ffb614;
}

h6.tit {
  font-size: 1.7rem;
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #222;
}
h6.tit:before {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 0;
  content: "";
  left: 0;
  top: 1rem;
  border: 1px solid #222;
}

.mt50 {
  margin-top: 5rem;
}

/******************************1400******************************/
@media all and (max-width: 1400px) {
  .f30 {
    font-size: 2.5rem;
  }
  .f30.tit {
    margin: 1.5rem 0;
  }
  .f36 {
    font-size: 3rem;
  }
  .f40 {
    font-size: 3.5rem;
  }
  .f45 {
    font-size: 4rem;
  }
  .f28 {
    font-size: 2.5rem;
  }
  .f22 {
    font-size: 2rem;
  }

  h4.tit {
    font-size: 2.5rem;
  }
  h5.tit {
    font-size: 1.9rem;
  }
  h6.tit {
    font-size: 1.6rem;
  }
  h5.tit:before {
    top: 0.9rem;
  }
  h6.tit:before {
    top: 0.8rem;
  }

  .mt50 {
    margin-top: 4rem;
  }
}
/******************************1200******************************/
@media all and (max-width: 1200px) {
  .f30 {
    font-size: 2.2rem;
  }
  .f36 {
    font-size: 2.8rem;
  }
  .f40 {
    font-size: 3rem;
  }
  .f45 {
    font-size: 3.5rem;
  }
  .f28 {
    font-size: 2rem;
  }
  .f22 {
    font-size: 1.9rem;
  }

  .mt50 {
    margin-top: 3rem;
  }
}
/******************************1023******************************/
@media all and (max-width: 1023px) {
  .f30 {
    font-size: 2.1rem;
  }
  .f36 {
    font-size: 2.5rem;
  }
  .f40 {
    font-size: 2.5rem;
  }
  .f45 {
    font-size: 3rem;
  }
  .f28 {
    font-size: 1.8rem;
  }
  .f22 {
    font-size: 1.7rem;
  }

  h4.tit {
    font-size: 2.2rem;
  }
  h5.tit {
    font-size: 1.8rem;
  }
  h6.tit {
    font-size: 1.5rem;
  }
}
/******************************768******************************/
@media all and (max-width: 768px) {
  .f30 {
    font-size: 1.9rem;
  }
  .f36 {
    font-size: 2.1rem;
  }
  .f40 {
    font-size: 2.1rem;
  }
  .f45 {
    font-size: 2.1rem;
  }
  .f28 {
    font-size: 1.8rem;
  }
  .f22 {
    font-size: 1.6rem;
  }

  h4.tit {
    font-size: 2rem;
  }
  h5.tit {
    font-size: 1.6rem;
  }

  .mt50 {
    margin-top: 2rem;
  }
}
/******************** content_location ********************/
.location_area ul li {
  font-size: 1.5rem;
  color: #666;
  display: inline-block;
}
.location_area ul li:before {
  position: relative;
  content: ">";
  padding: 0 0.5rem;
  color: #bfbfbf;
}
.location_area ul li:first-child:before {
  display: none;
}
.location_area ul li:last-child {
  color: #222;
  font-weight: 500;
}

/******************** sub_visual ********************/
#sub_visual {
  position: relative;
  font-size: 0;
  height: 48rem;
  padding: 8.5rem 8.5rem 0 8.5rem;
}
#sub_visual:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 32rem;
  height: 100%;
  content: "";
  background: url(../image/common/bg_visual.png) repeat-x 0 -180px;
}
#sub_visual .bg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 12rem 0 0 0;
  z-index: 2;
}
#sub_visual .bg .inner {
  width: 100%;
  height: 100%;
  max-width: 140rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#sub_visual .bg.bg1 {
  background-image: url(../image/common/bg_svisual1.png);
}
#sub_visual .bg.bg2 {
  background-image: url(../image/common/bg_svisual2.png);
}
#sub_visual .bg.bg3 {
  background-image: url(../image/common/bg_svisual3.png);
}
#sub_visual .bg.bg4 {
  background-image: url(../image/common/bg_svisual4.png);
}

#sub_visual .bg:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: url(../image/common/bg_svisual1.png) no-repeat center center;
  background-size: cover !important;
}
#sub_visual .bg.bg1:after {
  background: url(../image/common/bg_svisual1.png) no-repeat center center;
}
#sub_visual .bg.bg2:after {
  background: url(../image/common/bg_svisual2.png) no-repeat center center;
}
#sub_visual .bg.bg3:after {
  background: url(../image/common/bg_svisual3.png) no-repeat center center;
}
#sub_visual .bg.bg4:after {
  background: url(../image/common/bg_svisual4.png) no-repeat center center;
}
#sub_visual h2 {
  font-size: 6rem;
  color: #fff;
  font-weight: 600;
  line-height: 1;
}

#location {
  margin-bottom: 3rem;
}
#location > ul {
  display: flex;
}
#location > ul > li {
  position: relative;
  padding: 0 2rem;
  margin-left: 1.5rem;
}
#location > ul > li:before {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 1rem;
  top: 0.7rem;
  left: 0;
  background: rgba(255, 255, 255, 0.4);
  content: "";
}
#location > ul > li a.ico_home {
  font-size: 0;
  background: url(../image/common/icon_home.png) no-repeat 50% 50%;
  width: 1.8rem;
  height: 1.8rem;
  display: inline-block;
  vertical-align: middle;
}
#location > ul > li:first-child:before {
  display: none;
}
#location > ul > li:after {
  position: absolute;
  top: 2px;
  right: 0;
  content: "\e942";
  font-family: xeicon !important;
  font-style: normal;
  font-size: 1.5rem;
  color: #fff;
}
#location > ul > li:first-child {
  padding: 0;
  margin-left: 0;
}
#location > ul > li:first-child:after {
  display: none;
}
#location > ul > li > a {
  font-size: 1.6rem;
  color: #fff;
  letter-spacing: -0.05em;
  font-weight: 400;
}
.loc_layer {
  position: absolute;
  width: 100%;
  padding-top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.loc_layer ul {
  background: #fff;
  padding: 2rem 1.5rem;
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.4);
}
.loc_layer ul li {
  position: relative;
}
.loc_layer ul li a {
  display: inline-block;
  font-size: 1.4rem;
  color: #4a4a4a;
  padding: 0.5rem 0;
  font-weight: 500;
}
.loc_layer ul li:hover a {
  color: var(--main-color1);
  font-weight: 700;
}

@-webkit-keyframes ani {
  0% {
    top: 0%;
    transform: scale(1.1) rotate(0.001deg);
    -webkit-transform: scale(1.1) rotate(0.001deg);
    -moz-transform: scale(1.1) rotate(0.001deg);
    -ms-transform: scale(1.1) rotate(0.001deg);
    -ms-transform: scale(1.1) rotate(0.001deg);
    background-size: cover;
  }
  100% {
    top: 0%;
  }
}

@media screen and (min-width: 768px) {
  #sub_visual .bg:after {
    animation-name: ani;
    animation-duration: 2.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: ani;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
  }
}

/* 텍스트 효과 */
#sub_visual h2 p {
  overflow: hidden;
  line-height: 1.1;
  display: inline-block;
}
#sub_visual h2 span {
  display: inline-block;
  position: relative;
  visibility: hidden;
  margin-right: 2px;
  animation: visualtxt 1.2s forwards ease;
}
@keyframes visualtxt {
  0% {
    opacity: 0;
    transform: translateY(40px);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
#sub_visual h2 span:nth-of-type(1) {
  animation-delay: 1s;
}
#sub_visual h2 span:nth-of-type(2) {
  animation-delay: 1.1s;
}
#sub_visual h2 span:nth-of-type(3) {
  animation-delay: 1.2s;
}
#sub_visual h2 span:nth-of-type(4) {
  animation-delay: 1.3s;
}
#sub_visual h2 span:nth-of-type(5) {
  animation-delay: 1.4s;
}
#sub_visual h2 span:nth-of-type(6) {
  animation-delay: 1.5s;
}
#sub_visual h2 span:nth-of-type(7) {
  animation-delay: 1.6s;
}
#sub_visual h2 span:nth-of-type(8) {
  animation-delay: 1.7s;
}

/******************************1750******************************/
@media all and (max-width: 1750px) {
  #sub_visual .bg .inner {
    padding: 0 5%;
  }
  #sub_visual h2 {
    font-size: 5.2rem;
  }

  #location {
    margin-bottom: 2rem;
  }
}
/******************************1400******************************/
@media all and (max-width: 1400px) {
  #sub_visual {
    height: 42rem;
    padding: 7rem 0 0 6rem;
  }
  #sub_visual:before {
    width: 26%;
    min-width: 25rem;
  }
  #sub_visual h2 {
    font-size: 4.5rem;
  }
}
/******************************1023******************************/
@media all and (max-width: 1023px) {
  #sub_visual {
    height: 35rem;
    padding: 6rem 0 0 5rem;
  }
  #sub_visual:before {
    width: 26%;
    min-width: 18rem;
    max-width: 20rem;
  }

  #location > ul > li > a {
    font-size: 1.5rem;
  }
}
/******************************767******************************/
@media all and (max-width: 767px) {
  #sub_visual {
    height: 22rem;
    padding: 6rem 0 0 0rem;
  }
  #sub_visual:before {
    display: none;
  }
  #sub_visual .bg {
    border-radius: 0;
  }
  #sub_visual h2 {
    font-size: 2.5rem;
  }

  #location {
    display: none;
  }
}

/******************** 탭 ********************/
.tab_wrap {
  width: 100%;
}
.tab_wrap ul {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
  margin-top: 0;
}
.tab_wrap ul li {
  width: 50%;
  text-align: center;
}
.tab_wrap ul li a {
  display: block;
  font-size: 1.8rem;
  color: #90918e;
  padding: 1.5rem 0;
  border: 1px solid #ddd;
}
.tab_wrap ul li.active a {
  position: relative;
  border: 1px solid #222;
  border-bottom: 0;
  color: var(--main-color2);
  font-weight: 700;
}

/******************** layout ********************/
#contents {
  padding: 10rem 0;
  min-height: 60rem;
}
#layout {
  display: flex;
  justify-content: space-between;
}
#layout #lnb {
  width: 25rem;
  flex-shrink: 0;
  margin-right: 5rem;
}
#layout #cont_area {
  width: calc(100% - 30rem);
  font-size: 1.6rem;
  line-height: 1.6;
}
#layout #cont_area.w100 {
  width: 100%;
}
#layout #cont_area iframe {
  width: 100% !important;
}
#layout #cont_area iframe > * {
  width: 100% !important;
}
#layout #cont_area .para_li > li {
  margin-top: 6rem;
  padding-bottom: 6rem;
  border-bottom: 1px dashed #aaa;
}
#layout #cont_area .para_li > li:first-child {
  margin-top: 0;
}
#layout #cont_area .para_li > li > ul > li {
  margin-top: 5rem;
}
#layout #cont_area .para_li > li > ul > li:first-child {
  margin-top: 0;
}
#layout #cont_area .para_li > li > ul > li > ul > li {
  margin-top: 4rem;
}
#layout #cont_area .para_li > li > ul > li > ul > li:first-child {
  margin-top: 0;
}

.con_head {
  max-width: 140rem;
  margin: 0 auto 4rem auto;
}
.con_head h3 {
  text-align: center;
}
.con_head h3 span {
  color: var(--main-color1);
}

/******************** left_menu ********************/

#lnb {
  max-width: 25rem;
}
#lnb .tit {
  height: 12rem;
  background: #d70c19;
  color: #fff;
  border-radius: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
}
#lnb .mtit {
  display: none;
}
#lnb .tit h3 {
  font-weight: 400;
  color: #fff;
}
#lnb .sidemenu > li {
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  margin-top: 5px;
  overflow: hidden;
}
#lnb .sidemenu > li:hover {
  background: #fff5f5;
}
#lnb .sidemenu > li > a {
  display: block;
  padding: 1.6rem 2.2rem;
  font-size: 1.6rem;
  letter-spacing: -0.025em;
  font-weight: 400;
  color: #222;
  background: url(../image/common/bg_lnb.png) no-repeat 90% 50%;
}
#lnb .sidemenu > li.active > a {
  color: #fff;
  background: #4a4a4a url(../image/common/bg_lnb_on.png) no-repeat 90% 50%;
}
#lnb .sidemenu > li div {
  background: #fff; /*visibility:hidden; max-height:0;*/
  display: none;
}
#lnb .sidemenu > li div ul {
  padding: 2rem 2.6rem;
}
#lnb .sidemenu > li div ul li {
  position: relative;
}
#lnb .sidemenu > li div ul li:hover:before,
#lnb .sidemenu > li div ul li:before {
  position: absolute;
  top: 1.3rem;
  width: 4px;
  height: 4px;
  background: #949494;
  border-radius: 4px;
  content: "";
}
#lnb .sidemenu > li div ul li a {
  font-size: 1.5rem;
  display: block;
  padding: 0.5rem 0 0.5rem 1.3rem;
  color: #444;
  word-break: keep-all;
}
#lnb .sidemenu > li div ul li.active a,
#lnb .sidemenu > li div ul li:hover a {
  color: var(--main-color1);
  font-weight: 600;
}
/*#lnb .sidemenu > li.active div {visibility:visible; max-height:100%;}*/
#lnb .sidemenu > li.active div ul li.active {
  color: #d70c19;
}
#lnb .sidemenu > li.active div ul li.active:before {
  background: #d70c19;
}

/******************************1400******************************/
@media all and (max-width: 1400px) {
  #contents {
    padding: 8rem 5%;
  }
  #layout #lnb {
    width: 25%;
    margin-right: 4%;
  }
  #layout #cont_area {
    width: calc(100% - 29%);
    font-size: 1.5rem;
  }
  #layout #cont_area iframe {
    width: 100% !important;
  }
  #layout #cont_area .line {
    margin: 3rem 0 !important;
  }
  .con_head {
    max-width: 100%;
    margin: 0 auto 2rem auto;
  }

  /******************** left_menu ********************/
  #lnb {
    max-width: 100%;
  }
  #lnb .tit {
    height: 10rem;
    font-size: 2.2rem;
  }
  #lnb .sidemenu > li {
    margin-top: -1px;
    border-radius: 0;
  }
  #lnb .sidemenu > li > a {
    padding: 1.4rem 2rem;
    font-size: 1.5rem;
  }
  #lnb .sidemenu > li div ul {
    padding: 2rem 2rem;
  }
  #lnb .sidemenu > li div ul li a {
    font-size: 1.4rem;
  }
}
/******************************1200******************************/
@media all and (max-width: 1200px) {
}
/******************************1023******************************/
@media all and (max-width: 1023px) {
  .location_area {
    display: none;
  }

  #contents {
    padding: 6rem 5%;
  }
  #layout {
    flex-direction: column;
  }
  #layout #lnb {
    width: 100%;
    margin-right: 0;
  }
  #layout #cont_area {
    width: 100%;
    font-size: 1.4rem;
  }

  #lnb {
    position: relative;
    margin-bottom: 2rem;
  }
  #lnb .tit {
    display: none;
  }
  #lnb .mtit {
    display: block;
    padding: 1.5rem 2rem;
    background: var(--main-color1) url(../image/common/bg_lnb_on.png) no-repeat
      95% 50%;
    color: var(--sub-color1);
  }
  #lnb .sidemenu {
    position: absolute;
    top: 4.8rem;
    display: none;
    background: #fff;
    width: 100%;
    max-height: 32.5rem;
    overflow-y: scroll;
    border-bottom: 1px solid #000;
    z-index: 2;
  }
  #lnb .sidemenu > li {
    border-color: #d5d5d5;
  }
  #lnb .sidemenu > li > a {
    padding: 1rem 2rem;
  }
  #lnb .sidemenu > li > a,
  #lnb .sidemenu > li.active > a {
    font-size: 1.4rem;
    background-position: 95% 50%;
  }
  #lnb .sidemenu > li div ul {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    background-color: #fff;
  }
  #lnb .sidemenu > li div ul li {
    width: 50%;
    padding: 0 1rem;
    word-break: keep-all;
  }
  #lnb .sidemenu > li div ul li a {
    padding: 0.5rem 0;
    font-size: 1.3rem;
  }

  #lnb .sidemenu > li div ul li:hover:before,
  #lnb .sidemenu > li div ul li:before {
    display: none;
  }
}
/******************************767******************************/
@media all and (max-width: 767px) {
  #contents {
    padding: 4rem 5%;
    min-height: auto;
  }

  #lnb .sidemenu > li div ul {
    padding: 1rem;
  }
}

/******************** button ********************/
.btn_wp {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
.con_btn {
  display: inline-block;
  width: 20rem;
  height: 6rem;
  margin: 0 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 1.8rem;
  font-weight: 500;
}
.con_btn.confirm {
  background: var(--main-color3);
  color: var(--sub-color1);
  border: 0;
}
.con_btn.confirm:hover {
  background: #ff1f1f;
}
.con_btn.cancel {
  background: #fff;
  border: 1px solid var(--main-color3);
  color: var(--main-color3);
}

/******************** button2 - arrow ********************/
.con_btn2 {
  position: relative;
  display: inline-block;
  width: 30rem;
  height: 6rem;
  margin: 0 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 1.8rem;
  font-weight: 500;
}
.con_btn2:after {
  content: "\e907";
  font-family: xeicon !important;
  font-size: 1.3rem;
  margin-left: 0.8rem;
}
.con_btn2.confirm {
  background: var(--main-color3);
  color: var(--sub-color1);
  border: 0;
  transition: all 0.3s;
}
.con_btn2.confirm:hover {
  background: #ff1f1f;
}
.con_btn2.cancel {
  background: #fff;
  border: 1px solid var(--main-color3);
  color: var(--main-color3);
}
.con_btn2.back {
  background: #ededed;
  color: #464646;
}
.con_btn2.back:before {
  content: "\e906";
  font-family: xeicon !important;
  font-size: 1.3rem;
  margin-right: 0.8rem;
}
.con_btn2.back:after {
  display: none;
}

.scon_btn {
  padding: 1rem 2rem;
  background: #ddd;
  display: inline-block;
  margin-top: 2rem;
  border-radius: 0.4rem;
}
.scon_btn.down {
  background: #fff;
  color: #222;
  font-size: 1.5rem;
  padding: 1rem 2rem 1rem 2rem;
  border: 1px solid #e6e6ea;
  font-weight: 400;
  box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
}
.scon_btn.down:hover {
  border-color: #ef4444;
  color: #ef4444;
}
.scon_btn.down i {
  font-size: 2rem;
  vertical-align: middle;
  margin-right: 1rem;
  color: #ef4444;
}

/******************************1400******************************/
@media all and (max-width: 1400px) {
  .btn_wp {
    margin-top: 3rem;
  }
  .con_btn,
  .con_btn2 {
    height: 5rem;
    font-size: 1.6rem;
  }

  .scon_btn.down {
    font-size: 1.4rem;
  }
}
/******************************767******************************/
@media all and (max-width: 767px) {
  .btn_wp {
    margin-top: 2rem;
  }
  .con_btn,
  .con_btn2 {
    width: 50%;
    height: 4.5rem;
    font-size: 1.4rem;
  }

  .scon_btn.down {
    font-size: 1.3rem;
    padding: 0.7rem 1rem 0.7rem 1rem;
  }
}

/***** Table *****/
.table1 {
  width: 100%;
  border-top: 2px solid #111;
  border-collapse: collapse;
  table-layout: fixed;
}
.table1 caption {
  font-size: 0;
  text-indent: -99999px;
}
.table1 thead tr th {
  padding: 2rem 0;
  font-weight: 600;
  color: #111;
  border-bottom: 1px solid #111;
  background: #fbf7f0;
}
.table1 tbody tr td {
  padding: 1.8rem 0;
  text-align: center;
  border-bottom: 1px solid #e7e7e7;
  font-weight: 400;
  font-size: 1.6rem;
}
.table1 tbody tr td.tdBg {
  background: #f1f8fc;
  color: #116cb5;
  font-weight: 500;
}
.table1 tbody tr td.bold {
  color: #111;
  font-weight: 500;
}
.table1 tbody tr td a {
  font-weight: 400;
  color: #111;
  display: inline-block;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

/******************************1400******************************/
@media all and (max-width: 1400px) {
  .table1 thead tr th {
    padding: 1.8rem 0;
  }
  .table1 tbody tr td {
    padding: 1.6rem 0;
  }
}
/******************************1023******************************/
@media all and (max-width: 1023px) {
  .table1 thead tr th {
    padding: 1.7rem 0;
  }
  .table1 tbody tr td {
    padding: 1.5rem 0;
    font-size: 1.5rem;
  }
}
/******************************768******************************/
@media all and (max-width: 768px) {
  .table1 thead tr th {
    padding: 1.5rem 0;
  }
  .table1 tbody tr td {
    padding: 1.2rem 0;
    font-size: 1.4rem;
  }
}
