@import "main.css";
@import "custom.css";

.wrapper-body {
  background-image: url("/images/general/table.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.wrapper-main {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  background-color: #ffffff !important;
  padding: 25px;
  margin-bottom: 0;
}

.wrapper-content {
  margin: auto;
  width: 100%;
  max-width: 1000px;
}

.content-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.content-table thead tr {
  background-color: var(--dominantColor) !important;
  color: #ffffff;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 3px solid var(--dominantColor) !important;
}
