/* Import the Google Fonts we need */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lexend:wght@700&display=swap");

/* 
Set the font family and weight for each type of text
*/

h1,
h2,
h3 {
  font-family: var(--display-font);
  font-weight: var(--font-weight-3);
  color: var(--dark);
  margin: 0;
}

h4,
h5,
h6,
p,
a,
li,
span,
input,
button {
  font-family: var(--text-font);
  margin: 0;
}

a,
button {
  cursor: pointer;
}

/* Display */

.display-h1 {
  font-size: var(--font-size-6);
  line-height: var(--font-lineheight-0);
  letter-spacing: var(--font-letterspacing-4);
}

.display-h2 {
  font-size: var(--font-size-5);
  line-height: var(--font-lineheight-2);
  letter-spacing: var(--font-letterspacing-4);
}

.display-h3 {
  font-size: var(--font-size-4);
  line-height: var(--font-lineheight-2);
  letter-spacing: var(--font-letterspacing-1);
}

/* Labels */

.label-h4 {
  font-size: var(--font-size-3);
  line-height: var(--font-lineheight-2);
  letter-spacing: var(--font-letterspacing-1);
  font-weight: var(--font-weight-2);
}

.label-h5 {
  font-size: var(--font-size-0);
  line-height: var(--font-lineheight-5);
  letter-spacing: var(--font-letterspacing-5);
  font-weight: var(--font-weight-2);
}

/* Paragraphs */
.paragraph-large {
  font-size: var(--font-size-2);
  line-height: var(--font-lineheight-9);
  letter-spacing: var(--font-letterspacing-8);
  font-weight: var(--font-weight-0);
}

.paragraph-medium {
  font-size: var(--font-size-1);
  line-height: var(--font-lineheight-9);
  letter-spacing: var(--font-letterspacing-7);
  font-weight: var(--font-weight-0);
}

.paragraph-small {
  font-size: var(--font-size-0);
  line-height: var(--font-lineheight-10);
  letter-spacing: var(--font-letterspacing-6);
  font-weight: var(--font-weight-0);
}

.paragraph-tiny {
  font-size: var(--font-size-00);
  line-height: var(--font-lineheight-9);
  letter-spacing: var(--font-letterspacing-6);
  font-weight: var(--font-weight-0);
}

/* Links */

.link {
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: var(--primary-accent);
}

.link[data-variant="footer-nav"] {
  font-size: var(--font-size-00);
  line-height: var(--font-lineheight-9);
  letter-spacing: var(--font-letterspacing-6);
  text-decoration: none;
  color: inherit;
}

.link[data-variant="header-nav"] {
  font-size: var(--font-size-0);
  line-height: var(--font-lineheight-10);
  letter-spacing: var(--font-letterspacing-6);
  text-decoration: none;
  color: inherit;
}

/* 
Buttons -- These styles are only for the typography inside buttons, 
the remaining styles for button elements can be found in /css/buttons.css
*/

.button-large {
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-2);
  line-height: var(--font-lineheight-8);
  letter-spacing: var(--font-letterspacing-0);
}

.button-medium {
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-1);
  line-height: var(--font-lineheight-9);
  letter-spacing: var(--font-letterspacing-2);
}

.button-small {
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-0);
  line-height: var(--font-lineheight-10);
  letter-spacing: var(--font-letterspacing-5);
}

/* 
The above styles were controlling the standard state of the elements.
The below will control the automatic resizing happening when the browser shrinks.
*/

.h1-fluid {
  font-size: var(--font-size-fluid-5);
}

.h2-fluid {
  font-size: var(--font-size-fluid-4);
}

.h3-fluid {
  font-size: var(--font-size-fluid-3);
}

.paragraph-large-fluid {
  font-size: var(--font-size-fluid-2);
}

.paragraph-medium-fluid {
  font-size: var(--font-size-fluid-1);
}
