/* Here will be all the utility classes to avoid repeating css properties */

.flex-col-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-col-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.no-wrap {
  flex-wrap: nowrap;
}

/* Margins */

.m-top-xs {
  margin-top: 0.5rem;
}
.m-top-s {
  margin-top: 1rem;
}
.m-top-m {
  margin-top: 1.5rem;
}
.m-top-l {
  margin-top: 2rem;
}
.m-top-xl {
  margin-top: 2.5rem;
}

.m-bottom-xs {
}
.m-bottom-s {
}
.m-bottom-m {
}
.m-bottom-l {
}
.m-bottom-xl {
}

.m-right-xs {
}
.m-right-s {
}
.m-right-m {
}
.m-right-l {
}
.m-right-xl {
}

.m-left-xs {
}
.m-left-s {
}
.m-left-m {
}
.m-left-l {
}
.m-left-xl {
}

/* Paddings */

.p-top-xs {
}
.p-top-s {
}
.p-top-m {
}
.p-top-l {
}
.p-top-xl {
}

.p-bottom-xs {
}
.p-bottom-s {
}
.p-bottom-m {
}
.p-bottom-l {
}
.p-bottom-xl {
}

.p-right-xs {
}
.p-right-s {
}
.p-right-m {
}
.p-right-l {
}
.p-right-xl {
}

.p-left-xs {
}
.p-left-s {
}
.p-left-m {
}
.p-left-l {
}
.p-left-xl {
}
