:root {
	/* TYPOGRAPHY */

	--display-font: 'Lexend', sans-serif;
	--text-font: 'Inter', sans-serif;

	--font-weight-0: 400;
	--font-weight-1: 500;
	--font-weight-2: 600;
	--font-weight-3: 700;

	--font-lineheight-00: 0.95;
	--font-lineheight-0: 1.1;
	--font-lineheight-1: 1.17;
	--font-lineheight-2: 1.18;
	--font-lineheight-3: 1.2;
	--font-lineheight-4: 1.22;
	--font-lineheight-5: 1.25;
	--font-lineheight-6: 1.33;
	--font-lineheight-7: 1.38;
	--font-lineheight-8: 1.4;
	--font-lineheight-9: 1.44;
	--font-lineheight-10: 1.5;

	/* CTA Large*/
	/* --font-letterspacing-0: -0.02em; */
	/* Label h4 */
	/* --font-letterspacing-1: -0.0181em; */
	/* CTA Medium */
	/* --font-letterspacing-2: -0.0166em; */
	/* Display h3 */
	/* --font-letterspacing-3: -0.0138em; */
	/* Display h1 */
	/* --font-letterspacing-4: -0.0129em; */
	/* Display h2 / Label h5 / CTA Small*/
	/* --font-letterspacing-5: -0.0125em; */
	/* Small Paragraph */
	/* --font-letterspacing-6: -0.00625em; */
	/* Medium Paragraph */
	/* --font-letterspacing-7: -0.0055em; */
	/* Large Paragraph */
	/* --font-letterspacing-8: -0.005em; */

	--font-letterspacing-0: -0.1px;
	--font-letterspacing-1: -0.2px;
	--font-letterspacing-3: -0.3px;
	--font-letterspacing-4: -0.4px;
	--font-letterspacing-5: -0.5px;
	--font-letterspacing-6: -0.6px;
	--font-letterspacing-7: -0.7px;
	--font-letterspacing-8: -0.8px;

	/* 12px */
	--font-size-000: 0.75rem;
	/* 14px */
	--font-size-00: 0.875rem;
	/* 16px */
	--font-size-0: 1rem;
	/* 18px */
	--font-size-1: 1.125rem;
	/* 20px */
	--font-size-2: 1.25rem;
	/* 22px */
	--font-size-3: 1.375rem;
	/* 28px */
	--font-size-4: 28px;
	/* 32px */
	--font-size-5: 32px;
	/* 42px */
	--font-size-6: 42px;
	/* 48px */
	--font-size-7: 48px;
	/* 52px */
	--font-size-8: 52px;

	/* To be set with testing */
	--font-size-fluid-0: clamp(0.75rem, 2vw, 1rem);
	--font-size-fluid-1: clamp(1rem, 3vw, 1.125rem);
	--font-size-fluid-2: clamp(1.125rem, 4vw, 1.25rem);
	--font-size-fluid-3: clamp(1.75rem, 4vw, 2.25rem);
	--font-size-fluid-4: clamp(2.5rem, 6vw, 3rem);
	--font-size-fluid-5: clamp(42px, calc(2.625rem + ((1vw - 3.2px) * 1.0417)), 52px);

	/* COLORS */

	--primary-accent: #ff7900;
	--secondary-accent: #573ddc;
	--dark: #2c3b4e;
	--neutral: #f2ebe6;
	--placeholder: #f9f7f5;
	--white: #ffffff;

	--error: #cb2e0b;

	--dark-opacity-06: rgba(44, 59, 78, 0.6);

	--bg-primary-tint-3: #ff7900;
	--bg-primary-tint-2: #ffc28b;
	--bg-primary-tint-1: #ffe7d1;
	--bg-primary-tint-0: #fff5ed;

	--bg-secondary-tint-3: #573ddc;
	--bg-secondary-tint-2: #b3a7ef;
	--bg-secondary-tint-1: #e0dcf9;
	--bg-secondary-tint-0: #f3f1fd;

	--bg-yellow-tint-3: #ffb70d;
	--bg-yellow-tint-2: #ffde91;
	--bg-yellow-tint-1: #fff2d3;
	--bg-yellow-tint-0: #fffaed;

	--bg-green-tint-3: #45deae;
	--bg-green-tint-2: #aaf0d6;
	--bg-green-tint-1: #ddf9ee;
	--bg-green-tint-0: #f1fdf8;

	--bg-pink-tint-3: #f23d9e;
	--bg-pink-tint-2: #f9a7d3;
	--bg-pink-tint-1: #fddced;
	--bg-pink-tint-0: #fef1f8;

	--bg-grey-tint-3: #d8d2cd;
	--bg-grey-tint-2: #f0e9e4;
	--bg-grey-tint-1: #f6f2ef;
	--bg-grey-tint-0: #faf9f7;

	/* SIZES */

	--grid-gutter: 1.875rem;

	/* --size-000: -0.5rem;
  --size-00: -0.25rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;
  --size-6: 1.75rem;
  --size-7: 2rem;
  --size-8: 3rem;
  --size-9: 4rem;
  --size-10: 5rem;
  --size-11: 6.25rem;
  --size-12: 10rem;
  --size-13: 15rem;
  --size-14: 20rem;
  --size-15: 30rem; */

	--size-00: 0.625rem;
	--size-0: 0.938rem;
	--size-1: 1.25rem;
	--size-2: 1.875rem;
	--size-3: 2.5rem;
	--size-4: 3.125rem;
	--size-5: 3.75rem;
	--size-6: 4.063rem;
	--size-7: 6.25rem;

	--size-fluid-1: clamp(0.5rem, 1vw, 1rem);
	--size-fluid-2: clamp(1rem, 2vw, 1.5rem);
	--size-fluid-3: clamp(1.5rem, 3vw, 2rem);
	--size-fluid-4: clamp(2rem, 4vw, 3rem);
	--size-fluid-5: clamp(4rem, 5vw, 5rem);
	--size-fluid-6: clamp(5rem, 7vw, 7.5rem);
	--size-fluid-7: clamp(7.5rem, 10vw, 10rem);
	--size-fluid-8: clamp(10rem, 20vw, 15rem);
	--size-fluid-9: clamp(15rem, 30vw, 20rem);
	--size-fluid-10: clamp(20rem, 40vw, 30rem);

	--size-content-1: 20ch;
	--size-content-2: 45ch;
	--size-content-3: 60ch;

	/* BORDER RADIUS */
	--radius-00: 4px;
	--radius-0: 6px;
	--radius-1: 8px;
	--radius-2: 10px;
	--radius-pill: 15%/70%;
	--radius-capsule: 30%/50%;
	--radius-circle: 100%;

	/* ASPECT RATIOS */

	--ratio-square: 1;
	--ratio-landscape: 4/3;
	--ratio-portrait: 3/4;
	--ratio-story: 9/16;
	--ratio-widescreen: 16/9;
	--ratio-ultrawide: 18/5;
	--ratio-golden: 1.618/1;

	/* ANIMATIONS */

	--ease-1: cubic-bezier(0.25, 0, 0.5, 1);
	--ease-2: cubic-bezier(0.25, 0, 0.4, 1);
	--ease-3: cubic-bezier(0.25, 0, 0.3, 1);
	--ease-4: cubic-bezier(0.25, 0, 0.2, 1);
	--ease-5: cubic-bezier(0.25, 0, 0.1, 1);
	--ease-in-1: cubic-bezier(0.25, 0, 1, 1);
	--ease-in-2: cubic-bezier(0.5, 0, 1, 1);
	--ease-in-3: cubic-bezier(0.7, 0, 1, 1);
	--ease-in-4: cubic-bezier(0.9, 0, 1, 1);
	--ease-in-5: cubic-bezier(1, 0, 1, 1);
	--ease-out-1: cubic-bezier(0, 0, 0.75, 1);
	--ease-out-2: cubic-bezier(0, 0, 0.5, 1);
	--ease-out-3: cubic-bezier(0, 0, 0.3, 1);
	--ease-out-4: cubic-bezier(0, 0, 0.1, 1);
	--ease-out-5: cubic-bezier(0, 0, 0, 1);
	--ease-in-out-1: cubic-bezier(0.1, 0, 0.9, 1);
	--ease-in-out-2: cubic-bezier(0.3, 0, 0.7, 1);
	--ease-in-out-3: cubic-bezier(0.5, 0, 0.5, 1);
	--ease-in-out-4: cubic-bezier(0.7, 0, 0.3, 1);
	--ease-in-out-5: cubic-bezier(0.9, 0, 0.1, 1);
	--ease-elastic-1: cubic-bezier(0.5, 0.75, 0.75, 1.25);
	--ease-elastic-2: cubic-bezier(0.5, 1, 0.75, 1.25);
	--ease-elastic-3: cubic-bezier(0.5, 1.25, 0.75, 1.25);
	--ease-elastic-4: cubic-bezier(0.5, 1.5, 0.75, 1.25);
	--ease-elastic-5: cubic-bezier(0.5, 1.75, 0.75, 1.25);
	--ease-squish-1: cubic-bezier(0.5, -0.1, 0.1, 1.5);
	--ease-squish-2: cubic-bezier(0.5, -0.3, 0.1, 1.5);
	--ease-squish-3: cubic-bezier(0.5, -0.5, 0.1, 1.5);
	--ease-squish-4: cubic-bezier(0.5, -0.7, 0.1, 1.5);
	--ease-squish-5: cubic-bezier(0.5, -0.9, 0.1, 1.5);

	--animation-fade-in: fade-in 0.3s var(--ease-3);
	--animation-fade-in-bloom: fade-in-bloom 2s var(--ease-3);
	--animation-fade-out: fade-out 0.3s var(--ease-3);
	--animation-fade-out-bloom: fade-out-bloom 2s var(--ease-3);
	--animation-scale-up: scale-up 0.5s var(--ease-3);
	--animation-scale-down: scale-down 0.5s var(--ease-3);
	--animation-slide-out-up: slide-out-up 0.3s var(--ease-3);
	--animation-slide-out-down: slide-out-down 0.5s var(--ease-3);
	--animation-slide-out-right: slide-out-right 0.5s var(--ease-3);
	--animation-slide-out-left: slide-out-left 0.5s var(--ease-3);
	--animation-slide-in-up: slide-in-up 0.5s var(--ease-3);
	--animation-slide-in-down: slide-in-down 0.3s var(--ease-3);
	--animation-slide-in-right: slide-in-right 0.5s var(--ease-3);
	--animation-slide-in-left: slide-in-left 0.5s var(--ease-3);
	--animation-shake-x: shake-x 0.75s var(--ease-out-5);
	--animation-shake-y: shake-y 0.75s var(--ease-out-5);
	--animation-spin: spin 2s linear infinite;
	--animation-ping: ping 5s var(--ease-out-3) infinite;
	--animation-blink: blink 1s var(--ease-out-3) infinite;
	--animation-float: float 3s var(--ease-in-out-3) infinite;
	--animation-bounce: bounce 2s var(--ease-squish-2) infinite;
	--animation-pulse: pulse 2s var(--ease-out-3) infinite;

	@keyframes fade-in {
		to {
			opacity: 1;
		}
	}
	@keyframes fade-in-bloom {
		0% {
			filter: brightness(1) blur(20px);
			opacity: 0;
		}
		10% {
			filter: brightness(2) blur(10px);
			filter: brightness(0.5) blur(10px);
			opacity: 1;
		}
		to {
			filter: brightness(1) blur(0);
			opacity: 1;
		}
	}
	@keyframes fade-out {
		to {
			opacity: 0;
		}
	}
	@keyframes fade-out-bloom {
		to {
			filter: brightness(1) blur(20px);
			opacity: 0;
		}
		10% {
			filter: brightness(2) blur(10px);
			filter: brightness(0.5) blur(10px);
			opacity: 1;
		}
		0% {
			filter: brightness(1) blur(0);
			opacity: 1;
		}
	}
	@keyframes scale-up {
		to {
			transform: scale(1.25);
		}
	}
	@keyframes scale-down {
		to {
			transform: scale(0.75);
		}
	}
	@keyframes slide-out-up {
		to {
			transform: translateY(-100%);
		}
	}
	@keyframes slide-out-down {
		to {
			transform: translateY(100%);
		}
	}
	@keyframes slide-out-right {
		to {
			transform: translateX(100%);
		}
	}
	@keyframes slide-out-left {
		to {
			transform: translateX(-100%);
		}
	}
	@keyframes slide-in-up {
		0% {
			transform: translateY(100%);
		}
	}
	@keyframes slide-in-down {
		0% {
			transform: translateY(-100%);
		}
	}
	@keyframes slide-in-right {
		0% {
			transform: translateX(-100%);
		}
	}
	@keyframes slide-in-left {
		0% {
			transform: translateX(100%);
		}
	}
	@keyframes shake-x {
		0%,
		to {
			transform: translateX(0);
		}
		20% {
			transform: translateX(-5%);
		}
		40% {
			transform: translateX(5%);
		}
		60% {
			transform: translateX(-5%);
		}
		80% {
			transform: translateX(5%);
		}
	}
	@keyframes shake-y {
		0%,
		to {
			transform: translateY(0);
		}
		20% {
			transform: translateY(-5%);
		}
		40% {
			transform: translateY(5%);
		}
		60% {
			transform: translateY(-5%);
		}
		80% {
			transform: translateY(5%);
		}
	}
	@keyframes spin {
		to {
			transform: rotate(1turn);
		}
	}
	@keyframes ping {
		90%,
		to {
			opacity: 0;
			transform: scale(2);
		}
	}
	@keyframes blink {
		0%,
		to {
			opacity: 1;
		}
		50% {
			opacity: 0.5;
		}
	}
	@keyframes float {
		50% {
			transform: translateY(-25%);
		}
	}
	@keyframes bounce {
		25% {
			transform: translateY(-20%);
		}
		40% {
			transform: translateY(-3%);
		}
		0%,
		60%,
		to {
			transform: translateY(0);
		}
	}
	@keyframes pulse {
		50% {
			transform: scale(0.9);
		}
	}
}
