@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* pretendard */
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: block;
  src: local("Pretendard Black"),
    url("font/Pretendard-Black.subset.woff2") format("woff2"),
    url("font/Pretendard-Black.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: block;
  src: local("Pretendard ExtraBold"),
    url("font/Pretendard-ExtraBold.subset.woff2") format("woff2"),
    url("font/Pretendard-ExtraBold.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: block;
  src: local("Pretendard Bold"),
    url("font/Pretendard-Bold.subset.woff2") format("woff2"),
    url("font/Pretendard-Bold.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: block;
  src: local("Pretendard SemiBold"),
    url("font/Pretendard-SemiBold.subset.woff2") format("woff2"),
    url("font/Pretendard-SemiBold.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: block;
  src: local("Pretendard Medium"),
    url("font/Pretendard-Medium.subset.woff2") format("woff2"),
    url("font/Pretendard-Medium.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: block;
  src: local("Pretendard Regular"),
    url("font/Pretendard-Regular.subset.woff2") format("woff2"),
    url("font/Pretendard-Regular.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: block;
  src: local("Pretendard Light"),
    url("font/Pretendard-Light.subset.woff2") format("woff2"),
    url("font/Pretendard-Light.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: block;
  src: local("Pretendard ExtraLight"),
    url("font/Pretendard-ExtraLight.subset.woff2") format("woff2"),
    url("font/Pretendard-ExtraLight.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: block;
  src: local("Pretendard Thin"),
    url("font/Pretendard-Thin.subset.woff2") format("woff2"),
    url("font/Pretendard-Thin.subset.woff") format("woff");
}

/* noto-sans-kr-regular - korean */
@font-face {
  font-family: "NotoKR";
  font-style: normal;
  font-weight: 100;
  src: url("font/NotoSans-Thin.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("font/NotoSans-Thin.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("font/NotoSans-Thin.woff2") format("woff2"),
    /* Super Modern Browsers */ url("font/NotoSans-Thin.woff") format("woff"),
    /* Modern Browsers */ url("font/NotoSans-Thin.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("font/NotoSans-Thin.svg#NotoSansKR")
      format("svg"); /* Legacy iOS */
}

/* noto-sans-kr-regular - korean */
@font-face {
  font-family: "NotoKR";
  font-style: normal;
  font-weight: 200;
  src: url("font/NotoSans-Light.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("font/NotoSans-Light.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("font/NotoSans-Light.woff2") format("woff2"),
    /* Super Modern Browsers */ url("font/NotoSans-Light.woff") format("woff"),
    /* Modern Browsers */ url("font/NotoSans-Light.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("font/NotoSans-Light.svg#NotoSansKR")
      format("svg"); /* Legacy iOS */
}

/* noto-sans-kr-regular - korean */
@font-face {
  font-family: "NotoKR";
  font-style: normal;
  font-weight: 300;
  src: url("font/NotoSans-DemiLight.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("font/NotoSans-DemiLight.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("font/NotoSans-DemiLight.woff2") format("woff2"),
    /* Super Modern Browsers */ url("font/NotoSans-DemiLight.woff")
      format("woff"),
    /* Modern Browsers */ url("font/NotoSans-DemiLight.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("font/NotoSans-DemiLight.svg#NotoSansKR")
      format("svg"); /* Legacy iOS */
}

/* noto-sans-kr-regular - korean */
@font-face {
  font-family: "NotoKR";
  font-style: normal;
  font-weight: 400;
  src: url("font/NotoSans-Regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("font/NotoSans-Regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("font/NotoSans-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("font/NotoSans-Regular.woff") format("woff"),
    /* Modern Browsers */ url("font/NotoSans-Regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("font/NotoSans-Regular.svg#NotoSansKR")
      format("svg"); /* Legacy iOS */
}

/* noto-sans-kr-regular - korean */
@font-face {
  font-family: "NotoKR";
  font-style: normal;
  font-weight: 500;
  src: url("font/NotoSans-Medium.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("font/NotoSans-Medium.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("font/NotoSans-Medium.woff2") format("woff2"),
    /* Super Modern Browsers */ url("font/NotoSans-Medium.woff") format("woff"),
    /* Modern Browsers */ url("font/NotoSans-Medium.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("font/NotoSans-Medium.svg#NotoSansKR")
      format("svg"); /* Legacy iOS */
}

/* noto-sans-kr-500 - korean */
@font-face {
  font-family: "NotoKR";
  font-style: normal;
  font-weight: 600;
  src: url("font/NotoSans-Bold.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("font/NotoSans-Bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("font/NotoSans-Bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("font/NotoSans-Bold.woff") format("woff"),
    /* Modern Browsers */ url("font/NotoSans-Bold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("font/NotoSans-Bold.svg#NotoSansKR")
      format("svg"); /* Legacy iOS */
}
/* noto-sans-kr-700 - korean */
@font-face {
  font-family: "NotoKR";
  font-style: normal;
  font-weight: 700;
  src: url("font/NotoSans-Black.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("font/NotoSans-Black.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("font/NotoSans-Black.woff2") format("woff2"),
    /* Super Modern Browsers */ url("font/NotoSans-Black.woff") format("woff"),
    /* Modern Browsers */ url("font/NotoSans-Black.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("font/NotoSans-Black.svg#NotoSansKR")
      format("svg"); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("font/roboto-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("font/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("font/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("font/roboto-v20-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("font/roboto-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("font/roboto-v20-latin-regular.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("font/roboto-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("font/roboto-v20-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("font/roboto-v20-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("font/roboto-v20-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("font/roboto-v20-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("font/roboto-v20-latin-500.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("font/roboto-v20-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("font/roboto-v20-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("font/roboto-v20-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("font/roboto-v20-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("font/roboto-v20-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("font/roboto-v20-latin-700.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

/* poppins-300 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("font/poppins-v15-latin-300.eot"); /* IE9 Compat Modes */
  src: local("Poppins Light"), local("Poppins-Light"),
    url("font/poppins-v15-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("font/poppins-v15-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("font/poppins-v15-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("font/poppins-v15-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("font/poppins-v15-latin-300.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("font/poppins-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("font/poppins-v15-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("font/poppins-v15-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("font/poppins-v15-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("font/poppins-v15-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("font/poppins-v15-latin-regular.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("font/poppins-v15-latin-500.eot"); /* IE9 Compat Modes */
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url("font/poppins-v15-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("font/poppins-v15-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("font/poppins-v15-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("font/poppins-v15-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("font/poppins-v15-latin-500.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("font/poppins-v15-latin-600.eot"); /* IE9 Compat Modes */
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url("font/poppins-v15-latin-600.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("font/poppins-v15-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("font/poppins-v15-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("font/poppins-v15-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("font/poppins-v15-latin-600.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("font/poppins-v15-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("font/poppins-v15-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("font/poppins-v15-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("font/poppins-v15-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("font/poppins-v15-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("font/poppins-v15-latin-700.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
/* poppins-900 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("font/poppins-v15-latin-900.eot"); /* IE9 Compat Modes */
  src: local("Poppins Black"), local("Poppins-Black"),
    url("font/poppins-v15-latin-900.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("font/poppins-v15-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("font/poppins-v15-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("font/poppins-v15-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("font/poppins-v15-latin-900.svg#Poppins")
      format("svg"); /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("font/montserrat-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("font/montserrat-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("font/montserrat-v15-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("font/montserrat-v15-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("font/montserrat-v15-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("font/montserrat-v15-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("font/montserrat-v15-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("font/montserrat-v15-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("font/montserrat-v15-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("font/montserrat-v15-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("font/montserrat-v15-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("font/montserrat-v15-latin-500.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("font/montserrat-v15-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("font/montserrat-v15-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("font/montserrat-v15-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("font/montserrat-v15-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("font/montserrat-v15-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("font/montserrat-v15-latin-700.svg#Montserrat") format("svg"); /* Legacy iOS */
}
