/*--------------------------------------------------------------
# Pricing Section
--------------------------------------------------------------*/
.pricing {
  margin-top: 80px;

  .pricing-item {
    //border-bottom: 1px dashed lighten($secondary, 20);
    width: 100%;
    height: 100%;
    padding: 0 0 15px 0;

    h3 {
      margin: 0;
      font-size: 18px;
      font-weight: 500;
      color: rgba(#fff, .6);
    }

    h4 {
      margin: 0;
      font-size: 16px;
    }
  }

}
