h1 {
  font-size: 35px;
  font-family: cursive;
  border-color: sienna;
  border-radius: 20px;
  border-style: solid;
  border-width: 10px;
}

h3 {
  font-size: 22px;
  font-family: cursive;
  border-width: 10px;
  border-color: sienna;
  border-radius: 20px;
  border-style: solid;
  margin-right: 515px;
}

p {
  font-size: 20px;
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  background-color: yellowgreen;
  font-family: sans-serif;
}

ol {
  font-size: 20px;
  background-color: yellowgreen;
  font-family: sans-serif;
}

a {
  margin: 25px;
}

.float {
  float: right;
  width: 475px;
  border-width: 15px;
  border-style: solid;
  border-color: darkolivegreen;
  border-radius: 20px;
}

.nofloat {
  border-width: 15px;
  border-style: solid;
  border-color: darkolivegreen;
  border-radius: 20px;
  width: 600px;
  margin-left: 350px;
}
