* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* general features */
body {
  background-color: black;
}

header,
footer {
  background-color: rgb(42, 122, 171);
}

.central-layout {
  margin: 0 auto;
  width: 800px;
}

/* header */
header,
footer {
  text-align: left;
  height: 100px;
  color: aliceblue;
  padding: 30px 20px;
}

header div {
  display: inline-block;
}

.header-title {
  font-size: 28px;
}

.header-option {
  padding: 0 20px;
}

.about-us {
  color: aliceblue;
}

a:hover {
  color: black;

}

/* white part */
main {
  height: 360px;
  background-color: white;
}

.content {
  padding: 30px 0;
  margin: 0 30px;
}

h1,
.main-50 {
  color: rgb(42, 122, 171);
}

p {
  padding: 10px 0;
  font-size: 20px;
}

.orange-button-section {
  padding: 5px 5px;
}
.membership-button,
button {
  border-radius: 10px;
  padding: 10px 20px;
}

.membership-button {
  border: 3px solid orange;
  color: orange;
  background-color: white;
  margin-bottom: 20px;
}

.buttons-section {
  margin: 10px 0;
}

button {
  border: 2px solid rgba(8, 119, 216, 0.256);
  color: aliceblue;
  box-shadow: 3px 3px 8px #888888;
  width: 150px;
  height: 50px;
  font-size: 20px;
}

.purple-button {
  background-color: rgb(104, 64, 197);
}

.blue-button {
  background-color: rgb(43, 108, 188);
}

.red-button {
  background-color: red;
}

/* testimonial */
.testimonial {
  height: 400px;
  background-color: rgb(163, 198, 230);  
}

.testimonial-photo {
  width: 300px;
  margin-top: 50px;
  border-radius: 50%;
}

.container {
  display: flex;
}

.testimonial-text {
  margin: 50px 50px;
  padding-top: 50px;
  width: 300px;
}


/* footer */

footer {
  height: 250px;
}

ul {
  padding: 0 30px;
  list-style-type: none;
}
