
*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: rgb(0, 0, 0);
    background-image: url("https://gdurl.com/fIn2");
}

h1{
    font-family: "Noto Sans", sans-serif;
    font-size: 40px;
    /* opacity: 0.5; */
    color: azure;
    background-color: rgb(3, 0, 0, 0.5);


    
}

h2{
    font-family: "Noto Sans", sans-serif;
    font-size: 25px;
    margin: 25px;
    color: azure;

    
}


h3{
    font-family: "Noto Sans", sans-serif;
    font-size: 25px;
    padding: 10px;    
}


h4{
    display: block;
    font-family: "Noto Sans", sans-serif;
    font-size: 25px;
    padding: 10px;  
    text-align: left;
}

h5{
    display: block;
    color: antiquewhite;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    padding: 10px;
    text-align: left;
}

ul a{
    font-family: "Noto Sans", sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255); 
}

.header{
    display: block;
    width: 100%;
    background-image: url("https://gdurl.com/QM4L");
    image-rendering: optimizeQuality;
    text-align-last: center;
    padding: 40px;
    background-size: cover;
}

.content{
    display: block;
    color: azure;
    background-color: rgb(7, 7, 7, 0.5);
    width: 50%;
    text-align: center;
    padding: 10px;
    margin-left: 25%;

}

.content2{
    display: block;
    color: azure;
    background-color: rgb(7, 7, 7, 0.5);
    width: 100%;
    text-align: left;


}



/* Flexbox Stuff */

/* * {box-sizing: border-box;} */

/* .box {
    color: white;
    font-size: 100px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    padding:15px;
    width: 33.333%;
    /* min-height: 100vh; 
} */

/* 
Colours for each box
.box1 { background:#eccc68;}
.box2 { background:#ff6348;}
.box3 { background:#ff7f50;}
.box4 { background:#ff4757;}
.box5 { background:#f1c40f;}
.box6 { background:#e67e22;}
.box7 { background:#2ed573;}
.box8 { background:#1e90ff;}
.box9 { background:#c56cf0;}
.box10 { background:#18dcff;}
 */


/* .container{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    border: 10px;
    align-content: stretch;
} */


    /* flex-direction: column; */
    /* min-height: 100vh;
    min-width: 100vh;
    align-items: stretch; */
    /* justify-content: space-around; */
    /* flex-wrap: wrap-reverse; */
