* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 80%;
  margin: auto;
}

ul {
  padding-left: 20px;
}

ol {
  padding-left: 20px;
}

li {
  margin-bottom: 20px;
}

h1 {
  font-family: "Amiri", serif;
  margin-top: 20px;
}

p {
}

strong {
  padding-right: 20px;
  margin-bottom: 10px;
}

.header-p {
  margin-bottom: 30px;
}
