body {
  background-color: snow;
}
.main-heading {
  color: indigo;
}
.main-subtitle {
  color: gray;
}
.team-member {
  width: 256px;
}
p {
  opacity: 0.8;
}
#annakendrick {
  background-color: darkcyan;
  color: beige;
}
#harryfawn {
  background-color: cornsilk;
  color: gray;
}
#SofiaSultan {
  background-color: dodgerblue;
  color: lightcyan;
}
