.jumbotron {
  height: 168px;
}
.display-4 {
  font-size: 3.4rem;
  position: relative;
  font-weight: bold;
}

.lead {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 321px;
  height: 40px;
  text-align: center;
  animation: mymove 7s;
  animation-delay: 5s;
  animation-fill-mode: backwards;
}
@keyframes mymove {
  from {
    top: 0px;
    background-color: rgb(206, 206, 206);
  }
  to {
    top: 123px;
  }
}
.col-sm-6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
}
.col-sm-16 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}
footer {
  position: fixed;
  width: 100%;
  background-color: #343a40;
  color: white;
  height: 45px;
  padding-top: 8px;
  float: bottom;
}
td {
  font-size: 1.1rem;
}
tr {
  text-align: left;
}
.progress-bar-vertical {
  width: 67px;
  min-height: 210px;
  margin-right: 18px;
  margin-left: 27px;
  float: right;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: flex-end;
  -webkit-align-items: flex-end; /* Safari 7.0+ */
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 86px;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}
