* {
  margin: 0;
  font-family: Montserrat;
}
body {
  text-align: center;
}
img {
  width: 80%;
  border: 5px solid black;
  border-radius: 7px;
  margin-bottom: 5px;
  margin-top: 15px;
}
a {
  width: 80px;
  padding: 5px 10px;
  background: #1e5974;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}
