* {
  margin: 0;
  font-family: Montserrat;
}
body {
  text-align: center;
}
img {
  padding: 45px 0 35px 0;
  width: 75%;
  height: auto;
}
h1 {
  color: #1a3365;
  font-weight: bold;
  margin-bottom: 25px;
}
p {
  margin: auto;
  width: 80%;
  margin-bottom: 45px;
}
a {
  width: 80px;
  padding: 5px 10px;
  background: red;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}
@media (min-width: 500px) and (max-width: 2000px) {
  img {
    width: 35%;
    height: auto;
  }
}
