* {
  margin: 0;
  font-family: Montserrat;
}
body {
  background: #1a3365;
  align-content: center;
  text-align: center;
}
.title {
  width: 100%;
  z-index: 3;
  background: white;
  color: #1a3365;
  margin-bottom: 5px;
  position: absolute;
}
h1 {
  text-align: left;
  font-size: 25px;
  padding: 15px 0 15px 15px;
  margin-top: 15px;
  box-shadow: -2px 5px 15px 5px #000000;
}
.container {
  z-index: 1;
  width: 90%;
  margin: auto;
  background: #ffffff;
  padding: 165px 5px 80px 5px;
  border-radius: 0px 0px 12px 12px;
}
.container h3 {
  font-size: 18px;
  color: #071634;
  margin-bottom: 15px;
}
.container p {
  margin: auto;
  width: 80%;
}
.container .so {
  margin: auto;
  border: 5px #071634 solid;
  background: #cecece;
  width: 95%;
  padding-bottom: 25px;
  margin-top: 25px;
  border-radius: 8px;
}
.so h4 {
  margin-top: 5px;
  font-size: 25px;
}
.so img {
  width: 75%;
  height: auto;
}
.so p {
  margin: auto;
  width: 85%;
}
.pregunta {
  margin-top: 25px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 55px;
}

a {
  width: 80px;
  padding: 5px 10px;
  background: white;
  color: #071634;
  text-decoration: none;
  border-radius: 6px;
}
.botonera {
  padding-bottom: 55px;
}

@media (min-width: 500px) and (max-width: 2000px) {
  h1 {
    text-align: left;
    font-size: 35px;
    padding: 25px 0 25px 85px;
    margin-top: 15px;
    box-shadow: -2px 5px 15px 5px #000000;
  }
  .container {
    z-index: 1;
    width: 90%;
    margin: auto;
    background: #ffffff;
    padding: 165px 5px 80px 5px;
    border-radius: 0px 0px 12px 12px;
  }
  .container h3 {
    font-size: 18px;
    color: #071634;
    margin-bottom: 15px;
  }
  .container p {
    margin: auto;
    width: 60%;
  }
  .container .so {
    margin: auto;
    border: 5px #071634 solid;
    background: #cecece;
    width: 90%;
    padding-bottom: 25px;
    margin-top: 25px;
    border-radius: 8px;
  }
  .so h4 {
    margin-top: 5px;
    font-size: 25px;
  }
  .so img {
    width: 25%;
    height: auto;
  }
  .so p {
    margin: auto;
    width: 85%;
  }
  .pregunta {
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 55px;
  }

  a {
    width: 80px;
    padding: 5px 10px;
    background: white;
    color: #071634;
    text-decoration: none;
    border-radius: 6px;
  }
  .botonera {
    padding-bottom: 55px;
  }
}
