* {
  margin: 0;
  font-family: Montserrat;
}
body {
  background: red;
  align-items: center;
  text-align: center;
}
.title {
  background: white;
  z-index: 20;
}
.title h1 {
  font-size: 35px;
  text-align: left;
  color: rgb(162, 0, 0);
  background: white;
  font-weight: bold;
  padding: 10px 0 15px 20px;
  box-shadow: 0 0 35px 5px #000000;
  margin-top: 15px;
}
.content {
  z-index: 10;
  margin: auto;
  width: 90%;
  background: white;
  margin-top: 35px;
}
.content .pa {
  margin: auto;
  background: #4a4a4a;
  color: white;
  padding: 30px;
  font-weight: bold;
}
.os {
  margin: auto;
  width: 90%;
  border: 5px solid rgb(162, 0, 0);
  margin-top: 25px;
  border-radius: 18px;
  padding-top: 15px;
}
img {
  margin: auto;
  width: 100%;
}
#st {
  padding: 35px 0;
}
a {
  width: 80px;
  padding: 5px 10px;
  background: rgb(162, 0, 0);
  color: white;
  text-decoration: none;
  border-radius: 6px;
}
.botonera {
  margin-top: 35px;
  padding-bottom: 55px;
}
@media (min-width: 500px) and (max-width: 2000px) {
  img {
    width: 35%;
  }
}
