* {
    margin: 0;
    font-family: Montserrat;
}
body {
    text-align: center;
}
.h1 {
    background: #1E5974;
    color: white;
    padding-top: 20px;
    padding-bottom: 8px;
    margin-bottom: 35px;
    font-size: 5px;
}
img {
    width: 80%;
    border: 5px solid black;
    border-radius: 7px;
    margin-bottom: 35px;
}
a {
    width: 80px;
    padding: 5px 10px;
    background: #1E5974;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}
