@media (max-width: 1200px) {
  .main-img {
    width: 100%;
  }

  .logo-content {
    display: none;
  }

  .main-content {
    width: 100%;
    top: 100px;
    margin-top: 100px;
  }

  .main__img {
    width: 100%;
  }

  .main-div1 {
    width: 100%;
    padding: 50px 0 0 0;
  }

  .row {
    width: 90%;
    display: flex;
  }

  .column-p1 {
    margin-right: 40px;
    flex: 25%;
    width: 50%;
  }

  .column-p2 {
    margin-right: 20px;
    flex: 25%;
    width: 50%;
  }

  .main-p {
    font-size: 20px;
    height: 60px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    color: #333333;
  }

  .main-div2 {
    padding: 50px 0 0 0;
    width: 100%;
    margin-top: 50px;
  }

  h2 {
    width: 95%;
    font-family: "Montserrat";
    margin-right: 50px;
    color: #52503b;
    font-size: 85px;
  }

  .foto2 {
    width: 93%;
  }

  .main-div3 {
    width: 100%;
    padding: 50px 0 0 0;
  }

  .components {
    width: 90%;
  }

  h4 {
    width: 100%;
  }

  .text-component {
    width: 97%;
  }
}

@media (max-width: 780px) {
}

@media (max-width: 460px) {
}
