body {
  background-color: lightgray;
}
.topo {
  background-color: #cf2b2b;
  padding: 15px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #bbbbbb;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
  font-size: 18px;
}
.produto {
  background: white;
  color: black;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px 0 #bbbbbb;
  cursor: pointer;
  border: 5px solid white;
}
h3 {
  font-size: 30px;
  margin-bottom: 5px;
}
h4 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}
img {
  width: 130px;
  border-radius: 5px;
  float: right;
}
.botao {
  color: white;
  background-color: green;
  width: 50%;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}
.pedido {
  padding: 7px;
}
