/* CSS BASE */

/* General body */
body {
  font-family: Helvetica, Alegreya Sans, sans-serif;
  font-size: 100%;
  text-align: left;
  margin: 0em;
  margin-top: 60px;
  background: rgb(235, 227, 211);
  background-image: url("fondo1.gif");
  background-repeat: no-repeat;
  background-position: Bottom Right;
  background-attachment: scroll;
  background-size: 20ex 5.2cm;
}

/* General h1, h2 */
h1,
h2 {
  font-family: Verdana, Holtwood One SC, Alfa Slab One, sans-serif;
  text-align: left;
  margin: 0.1em;
}

/* General h1 */
h1 {
  width: 15em;
  font-size: 220%;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  padding: 0.1em;
  margin-top: 1.5em;
  background-image: linear-gradient(red, yellow, green);
  color: rgb(5, 30, 66);
  margin-left: 1px;
}

/* General h2 */
h2 {
  font-size: 150%;
  font-style: italic;
  text-shadow: 4px 4px 2px rgb(150, 146, 146);
  margin-top: 10px;
  padding: 0.2em;
  background: rgb(128, 125, 125);
}

h2.aboutus {
  margin-top: 2em;
}

/* General h3 */
h3 {
  margin-top: 5px;
  background: rgb(173, 171, 171);
}

/* General Párrafos */
 {
  letter-spacing: 0.02em;
  line-height: 1em;
  margin-top: 10px;
  margin-bottom: 20px;
  margin: 0.5em;
  color: rgb(0, 27, 63);
}

/* Estilos Links */
a {
  color: dodgerblue;
  text-decoration: none;
  font-weight: bold;
}

a:link {
  color: dodgerblue;
}

a:visited {
  color: rgb(0, 80, 200);
}

a:hover {
  color: rgb(255, 72, 0);
}

/* General Imágenes */
img {
  margin-bottom: 5px;
  margin-top: 10px;
}

/* General Tablas */
table,
th,
td {
  border-radius: 1px;
  border-collapse: collapse;
  border: 1px solid black;
}

th,
td {
  text-align: center;
  padding: 8px;
}

table {
  margin-top: 13px;
  width: 100%;
  empty-cells: hide;
}

th {
  background-color: rgb(170, 170, 170);
}

tr {
  margin-top: 13px;
}

td {
  margin-top: 13px;
}

/* Estilo de la leyenda */
caption {
  margin-bottom: 5px;
  caption-side: top;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 14px;
}

iframe {
  margin-bottom: 5px;
  margin-top: 10px;
  width: 420px;
  height: 315px;
}

mark {
  color: red;
}

div.carrusel {
  width: 75%;
}

iframe.carrusel {
  width: 100%;
  height: 28em;
}
