* {
  padding: 0;
  margin: 0;
}

.moneyHolder {
  margin-bottom: 20px;
}
.money {
  display: inline-block;
  border: 3px solid green;
  padding: 10px;
  height: auto;
}
.holder {
  display: inline-block;
}
.number {
  width: 100%;
  margin: 10px 0px;
  border: 1px solid green;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 20px;
}

.calculate {
  padding: 5px 10px;
  background-color: white;
  color: green;
  font-size: 17px;
  font-weight: 600;
  border: 2px solid green;
  border-radius: 5px;
}

.calculate:hover {
  padding: 5px 10px;
  background-color: green;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border: 2px solid green;
  border-radius: 5px;
  transition: 0.5s;
}

.budget {
  display: inline-block;
  width: 30%;
  text-align: center;
}

.budget2 {
  display: inline-block;
  width: 30%;
}

.expenses {
  display: inline-block;
  width: 30%;
  text-align: center;
}

.expenses2 {
  display: inline-block;
  width: 30%;
  text-align: center;
}

.balance {
  display: inline-block;
  width: 30%;
  text-align: center;
}

.balance2 {
  display: inline-block;
  width: 30%;
  text-align: center;
}

.expenseHolder {
  border: 2px solid red;
  padding: 10px;
  height: auto;
  margin-top: 100px;
}

.amount {
  width: 100%;
  margin: 10px 0px;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 20px;
}

.addExpense {
  padding: 5px 10px;
  background-color: white;
  color: red;
  font-size: 17px;
  font-weight: 600;
  border: 2px solid red;
  border-radius: 5px;
}

.addExpense:hover {
  padding: 5px 10px;
  background-color: red;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border: 2px solid red;
  border-radius: 5px;
  transition: 0.5s;
}

/* .expenseDetail{
} */

.to {
  display: inline;
}

.num {
  font-size: 20px;
  color: brown;
  font-weight: 700;
}

li {
  list-style: none;
}
