* {
  margin: 0;
  padding: 0;
}
.p-chalenge {
  margin-top: 75px;
}
.p-chalenge-box1 {
  width: 80%;
  margin: auto;
  justify-content: space-between;
  display: flex;
}
@media only screen and (max-width: 600px) {
  .p-chalenge-box1 {
    width: 90%;
    margin: auto;
    justify-content: space-around;
    flex-direction: column;
  }
}
.p-chalenge-box1-child {
  width: 45%;
}
@media only screen and (max-width: 600px) {
  .p-chalenge-box1-child {
    width: 100%;
  }
}
.p-chalenge-box1-child img {
  width: 100%;
}
.p-chalenge-box1-child h3 {
  padding: 15px 15px;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
}
.p-chalenge-box1-child p {
  color: #3e403e;
  padding: 15px 15px 0px 15px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
.p-chalenge-box1-child .html {
  color: #f5364f;
  font-size: 30px;
}
.p-chalenge-box1-child .css {
  color: #8e25f7;
  font-size: 30px;
}
.p-chalenge-box1-child .js {
  font-size: 30px;
  color: #05ede2;
}
.p-chalenge-brief {
  width: 50%;
  margin: auto;
  padding: 100px 0px;
}
@media only screen and (max-width: 600px) {
  .p-chalenge-brief {
    width: 80%;
    margin: auto;
  }
}
.p-chalenge-brief h1 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  margin: 25px 0 25px 0;
}
.p-chalenge-brief p,
li {
  color: #3e403e;
  padding-top: 15px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
