* {
  padding: 0%;
  margin: 0%;
}
body {
  background: burlywood;
}
.deotros-1 {
  display: flex;
  flex-direction: row;
}

.izqier .deotros {
  display: flex;
  justify-content: flex-end;
  flex-flow: column wrap;
}

.contenedor {
  width: 100%;
  border: 2px solid black;
  /* display: inline-block; */
  /* flex-direction: row; */
}
div {
  /* display: inline-block; */
  color: black;
  font-size: 1.5rem;
  border: 2px solid black;
}

.encabezado {
  width: 100%;
  background-color: maroon;
}

.redondo {
  padding-top: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 0.25em;
  margin-block: 0.25em;
}
.izquierda {
  width: 30%;
  background-color: gainsboro;
}

.centro {
  width: 60%;
  background-color: gainsboro;
}
.izquierda2 {
  width: 60%;
  background-color: gainsboro;
}

.derecha {
  width: 30%;
  background-color: gainsboro;
}

.derecha2 {
  width: 30%;
  background-color: gainsboro;
}

.altur {
  height: 900px;
}
.altura {
  height: 100px;
}

.altura1 {
  height: 300px;
}
