/** CSS CLASES **/

/* Iconos */
.icon1 {
  font-size: 1.5em;
  padding-left: 0.5em;
  color: dodgerblue;
}

.icon2 {
  font-size: 1.3em;
  padding-left: 0.5em;
  color: dodgerblue;
}

.icon3 {
  font-size: 1.4em;
  padding-left: 0.5em;
  color: dodgerblue;
}

/* Ajustes tamaño mapa */
.mapa {
  width: 35em;
  height: 25em;
  border: 0em;
}

/* Indexación */
.indentation {
  text-indent: 2em;
}

/* Texto negrita */
.bold {
  font-weight: bold;
}

/* Sombra texto */
.sombra {
  box-shadow: 5px 5px 10px rgb(49, 117, 185);
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

/* Clase Tachada */
p.tachado {
  text-decoration: line-through;
}

/* Clase Overline */
p.overline {
  text-decoration: overline;
}

/* Colores de la tabla */
#horario tr:nth-child(2) {
  background-color: deepskyblue;
}

#horario tr:nth-child(3) {
  background-color: cornflowerBlue;
}

#horario tr:hover {
  background-color: lightblue;
}

input {
  margin-bottom: 1em;
}
