body {
  background-color: black;
  color: white;
}

header {
  font-size: 1.5em;
  text-align: center;
}

header a {
  color: white;
}

#cookieimage {
  margin: auto;
  display: block;
  max-height: 100%;
  max-width: 100%;
}

#shop {
  border: solid;
  padding: 2%;
  height: 75vh;
  width: 47vh;
  overflow: auto;
  float: right;
}

#cookieframe {
  height: 75vh;
  width: 75vh;
  float: left;
  text-align: center;
  font-size: large;
}

#js-cookietype {
  font-size: large;
  text-align: right;
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  text-shadow: 3px 3px #fe019a;
}
