.color1 {
  color: #c3170c;
  font-weight: bolder;
  text-decoration: solid;
}
.color2 {
  color: #1e4b9b;
  font-weight: bolder;
  text-decoration: solid;
}
.color3 {
  color: #006766;
  font-weight: bolder;
  text-decoration: solid;
}
.color4 {
  color: #07aa47;
  font-weight: bolder;
  text-decoration: solid;
}
.color5 {
  color: #e3662b;
  font-weight: bolder;
  text-decoration: solid;
}
.color6 {
  color: #fb0735;
  font-weight: bolder;
  text-decoration: solid;
}
.color7 {
  color: #ff75bb;
  font-weight: bolder;
  text-decoration: solid;
}
.color8 {
  color: #ec7d00;
  font-weight: bolder;
  text-decoration: solid;
}
.color9 {
  color: #323333;
  font-weight: bolder;
  text-decoration: solid;
}
.color10 {
  color: #a81d83;
  font-weight: bolder;
  text-decoration: solid;
}
