* h1 {
  position: absolute;
  width: 526px;
  height: 40px;
  left: 440px;
  top: 143px;
  align-content: left;
  /* Header 1 */

  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  color: #262626;
}

.intro {
  position: absolute;
  width: 557px;
  height: 402px;
  left: 440px;
  top: 223px;

  /* Body Text */

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #262626;
}

.company {
  position: absolute;
  width: 393px;
  height: 20px;
  left: 129px;
  top: 150px;
  /* light header3 */
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #262626;
}

.category {
  position: absolute;
  width: 393px;
  height: 19px;
  left: 128px;
  top: 215px;

  /* light header3 */

  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;

  color: #262626;
}

.updated {
  position: absolute;
  width: 393px;
  height: 18px;
  left: 128px;
  top: 279px;

  /* light header3 */

  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;

  color: #262626;
}

.share {
  position: absolute;
  width: 393px;
  height: 18px;
  left: 130px;
  top: 381px;

  /* light header3 */

  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;

  color: #262626;
}

h2 {
}

h3 {
}
