* {
  background-color: black;
  color: green;
  display: inline-block;
  text-align: center;
}

.parent-wrapper {
  background-color: black;
  border-color: turquoise;
  border-left: 30px solid green;
  border-right: 30px solid green;
  border-bottom: 30px solid green;
}
