.content {
	background: url(../img/background_content.jpg) repeat;
	border: solid 1px black;
}
.clearfix::after {
	content: "";
	clear: both;
	display: block;
}


h2, h4 {
	text-align: center;
	padding-bottom: 15px;
	text-transform: uppercase;
}

.weather {
	position: relative;
	left: 50%;
	margin-left: -100px;
	margin-bottom: 50px;
}
.box-advices {
	line-height: 20px;
	max-width: 250px;
	color: rgb(232, 207, 207);
	background-color: rgba(132, 98, 138, 0.91);
	padding: 20px;
	font-size: 13px;
	margin: 0 8% 4% 8%;
	display: inline-block;
	border: solid 1px black;
}
.service-right {
	float: right;	
}
