
.contact-description{
  font-size: 18px;
  margin: 10px;
  padding: 5px;
  }
  .form{
   margin-top: 80px;
    border-radius: 15px;
    width:40%;
    margin: 49px;
    background-color: #ddd;
  }
.footer{
  background-color: #ddd;
}
  