.fakeimg {
  height: 200px;
  background: none;
}

/* Button 1 CSS */

.myButtonn1 {
	background-color:#FFD700;
	border-radius:15px;
	border:5px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Times New Roman;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
    text-align:center;
	padding:20px 25px;
    text-decoration: none;
}
.myButtonn1:link {
color: #000000
}
.myButtonn1:visited {
color: #000000;
}
.myButtonn1:hover {
	background-color:#000000;
    color: #FFFFFF;
}
.myButtonn1:active {
	position:relative;
	top:1px;
}

	.myButtonn2 {
	background-color:#006400;
	border-radius:15px;
	border:5px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#FFFFFF;
	font-family:Times New Roman;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
    text-align:center;
	padding:20px 25px;
    text-decoration: none;
}
.myButtonn2:link {
color: #FFFFFF
}
.myButtonn2:visited {
color: #FFFFFF;
}
.myButtonn2:hover {
	background-color:#000000;
    color: #FFFFFF;
}
.myButtonn2:active {
	position:relative;
	top:1px;
}

.myButtonn3 {
	background-color:#008000;
	border-radius:15px;
	border:4px solid #00FF00;
	display:inline-block;
	cursor:pointer;
	color:#FFFFFF;
	font-family:Times New Roman;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
    text-align:center;
	padding:20px 25px;
    text-decoration: none;
}
.myButtonn3:link {
color: #FFFFFF
}
.myButtonn3:visited {
color: #FFFFFF;
}
.myButtonn3:hover {
	background-color:#FF0000;
    color: #FFFFFF;
}
.myButtonn3:active {
	position:relative;
	top:1px;
}

.button4 {
    display: inline-block;
    text-align: right;justify;
    vertical-align: center;
    padding: 0px 25px;
    border: 5px solid #8b0000;
    border-radius: 10px;
    background: #FFFFFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
    background: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
    -webkit-box-shadow: #FFFFFF 0px 0px 40px 0px;
    -moz-box-shadow: #FFFFFF 0px 0px 40px 0px;
    font: normal bold 20px times new roman;
    color: #8b0000;
    text-decoration: none;
}
.button4:link {
color: #8b0000;
}
.button4:visited {
color: #8b0000;
}
.button4:hover,
.button4:focus {
    background: #FFFFFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
    background: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
    color: #8B0000;
    text-decoration: none;
}
.button4:active {
    background: #FFFFFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
    background: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
}
.button4:before{
    content:  "\0000a0";
    display: flex;
    height: 60px;
    width: 70px;
    line-height: 10px;
    margin: 0 15px -55px -55px;
    position: relative;
    top:-4px;
    left: 40px;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/SARS-CoV-2_without_background.png/1200px-SARS-CoV-2_without_background.png")no-repeat left center transparent;
    background-size: 80% 80%;
}
@keyframes glowing {
      0% { background-color: #FF6347; box-shadow: 0 0 5px #FF6347; }
      50% { background-color: #ff0000; box-shadow: 0 0 20px #ff0000; }
      100% { background-color: #FF6347; box-shadow: 0 0 5px #FF6347; }
      }
      .button4 {
      animation: glowing 1300ms infinite;
      }

.htsc {
    display: inline-block;
    text-align: right;justify;
    vertical-align: center;
    padding: 0px 25px;
    border: 5px solid #808080;
    border-radius: 10px;
    background: #FFFFFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
    background: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
    -webkit-box-shadow: #FFFFFF 0px 0px 40px 0px;
    -moz-box-shadow: #FFFFFF 0px 0px 40px 0px;
    font: normal bold 20px times new roman;
    color: #808080;
    text-decoration: none;
}
.htsc:link {
color: #808080;
}
.htsc:visited {
color: #808080;
}
.htsc:hover,
.htsc:focus {
    background: #FFFFFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
    background: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
    color: #808080;
    text-decoration: none;
}
.htsc:active {
    background: #FFFFFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
    background: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
}
.htsc:before{
    content:  "\0000a0";
    display: flex;
    height: 60px;
    width: 70px;
    line-height: 10px;
    margin: 0 15px -55px -55px;
    position: relative;
    top:-4px;
    left: 40px;
    background: url("https://pngimg.com/uploads/hurricane/hurricane_PNG34.png")no-repeat left center transparent;
    background-size: 80% 80%;
}
@keyframes glowing1 {
      0% { background-color: #00BFFF; box-shadow: 0 0 5px #00BFFF; }
      50% { background-color: #00BFFF; box-shadow: 0 0 20px #00BFFF; }
      100% { background-color: #00BFFF; box-shadow: 0 0 5px #00BFFF; }
      }
      .htsc {
      animation: glowing1 1300ms infinite;
      }

.button2 {
    display: inline-block;
    text-align: right;justify;
    vertical-align: center;
    padding: 0px 25px;
    border: 5px solid #FFD700;
    border-radius: 10px;
    background: #FFD700;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
    background: -moz-linear-gradient(top, #000000, #000000);
    background: linear-gradient(to bottom, #000000, #000000);
    -webkit-box-shadow: #ff5959 0px 0px 40px 0px;
    -moz-box-shadow: #ff5959 0px 0px 40px 0px;
    box-shadow: #000000 0px 0px 40px 0px;
    text-shadow: #591717 1px 1px 1px;
    font: normal bold 20px times new roman;
    color: #FFD700;
    text-decoration: none;
}
.button2:link {
color: gold;
}
.button2:visited {
color:gold;
}
.button2:hover,
.button2:focus {
    background: #FFD700;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFD700), to(#FFD700));
    background: -moz-linear-gradient(top, #FFD700, #FFD700);
    background: linear-gradient(to bottom, #FFD700, #FFD700);
    color: #000000;
    text-decoration: none;
}
.button2:active {
    background: #982727;
    background: -webkit-gradient(linear, left top, left bottom, from(#982727), to(#982727));
    background: -moz-linear-gradient(top, #982727, #982727);
    background: linear-gradient(to bottom, #982727, #982727);
}
.button2:before{
    content:  "\0000a0";
    display: flex;
    height: 60px;
    width: 70px;
    line-height: 10px;
    margin: 0 10px -50px -55px;
    position: relative;
    top: -2px;
    left: 40px;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Emblem_of_the_United_States_Department_of_the_Army.svg/1200px-Emblem_of_the_United_States_Department_of_the_Army.svg.png")no-repeat left center transparent;
    background-size: 80% 80%;
}

.jumbotron{
  background-image: url("https://www.gamecarlife.com/main/photos/earth_640.jpg");
  color: #FFFD82;
}

body {
background-color: #D9D7DD;
}

img {
  height: 200px;
}
a {
text-align: center;
}