.box {
  background-color: aqua;
}

.box .gambar {
  width: 70%;
}
nav {
  color: black;
  display: flex;
  justify-content: space-around;
  font-size: 5vw;
}

h1 {
  color: red;
  text-align: center;
  font-size: 5vw;
}

form label input {
  width: 50%;
}

@media screen and (max-width: 500px) {
  .box {
    background-color: orangered;
  }

  .box .gambar {
    width: 100%;
  }

  .box nav {
    color: black;
  }

  .box h1 {
    color: red;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 5vw;
  }

  form label input {
    width: 50%;
  }
}

@media screen and (max-width: 320px) {
  .box {
    background-color: brown;
  }
  .box nav {
    color: black;
  }
  .box h1 {
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 5vw;
  }
  .box .gambar {
    width: 100%;
  }

  form label input {
    width: 50%;
  }
}
