
.design-heading{
  font-size: 38px;
  font-weight: bold;
  padding: 20px;
  margin: 0px;
  color: #ddd;
  

}
.design-title{
  font-size: 28px;
  font-weight: bold;
  margin: 0px
}
.design-card{
  padding: 50px;
  /* width: 30%; */
  display: flex;
justify-content: space-evenly;
  

}
div img{
border-radius: 10px;

}
.course-heading{
font-size: 18px;
margin: 0px;
font-weight: bolder;
}

.footer{
background-color: #ddd;
}


