/*********************************************************************
***
*Original Author:                                   *
*Date Created:                                       *
*Version:                                                *
*Date Last Modified:                              *8/25/2020
*Modified by:                                          *Joshua Milbourne
*Modification log:                                  *loaded into codesandbox
***
******************************************************************** */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0 auto;
  width: 670px;
  border: 3px solid blue;
  padding: 0 2em 1em;
}
h1 {
  color: blue;
  margin-bottom: 0.5em;
}
label {
  float: left;
  width: 11em;
  text-align: right;
}
input {
  margin-left: 1em;
  margin-bottom: 0.5em;
}
span {
  color: red;
}
