h1 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 64px;
}

h3{
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
}

h1, h2, h3, body, p{
  margin: 0;
}

h1 span {
  font-weight: bold;
}

p {
  font-family: "Open Sans", sans-serif;
}

.profissao{
  font-size: 24px;
}

.t60{
  color: rgba(0, 0, 0, 0.6);
}

body{
  background-color: #E6E6E6;
}

header{
  background-color: white;
  padding: 32px 64px;
}

.dados{
  display: inline-block;
  margin-bottom: 16px;
}

.foto{
border: 4px solid #FFC700;
border-radius: 50%;
margin-bottom: -120px;
margin-right: 24px;
}

main{
  padding: 40px 70px;
}

.coluna-menor{
  margin-top: 48px;
}

.linha{
  width: 80px;
  border-top: 2px solid;
  margin-top: 8px;
}

.experiencias .linha{
  border-color: #4200ff;
}

.formacao .linha{
  border-color: #FFC700;
}

.coluna-menor img{
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 8px;
}

.coluna-menor li{
  margin-top: 32px;
}

.conteudo{
  display: inline-block;
}

ul, ol{
  list-style-type: none;
  padding: 0;
}

.formacao{
  margin-top: 32px;
}
