body {
  background-color: lightblue;
}

.encabezado {
  width: 100%;
  background-color: red;
}

.izq {
  width: 60%;
  background-color: violet;
}

.der {
  width: 30%;
  background-color: yellowgreen;
  position: absolute;
  left: 400px;
}

.pie {
  width: 100%;
  height: 20px;
  background-color: blue;
}

.altura {
  height: 100px;
}

.altura2 {
  height: 300px;
}

div {
  color: white;
  font-size: 3em;
}

body {
  margin: 0px;
}
