body {
  background: beige;
}
form {
  background: rgb(192, 173, 173);
  width: 90%;
  height: 200%;
  border: solid 2px black;
  border-radius: 3%;
}
.disp {
  display: block;
  position: absolute;
}
.barra {
  background: rgb(70, 61, 61);
  width: 100%;
  height: 10%;
  border-bottom: solid 2px white;

  border-radius: 3%;
}

.input-moderno {
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  background-color: rgb(166, 171, 247);
  text-align: center;
}

.posicion_tit {
  left: 15%;
  top: 2%;
}

.user {
  top: 23%;
  left: 35%;
}
.pass {
  top: 43%;
  left: 35%;
}

.mail {
  top: 63%;
  left: 35%;
}
.seleccion {
  top: 115%;
  left: 35%;
}

.vertical_in1 {
  position: absolute;
  top: 35%;
  left: 25%;
}
.vertical_in2 {
  position: absolute;
  top: 55%;
  left: 25%;
}

.vertical_in3 {
  position: absolute;
  top: 75%;
  left: 25%;
}

.inline-element {
  display: inline-block;
  position: absolute;
  top: 85%;
}

.radio {
  display: inline-block;
  position: absolute;
  top: 140%;
  left: 25%;
}
.fecha {
  position: absolute;
  top: 280px;
  left: 150px;
}
.date {
  position: absolute;
  top: 350px;
  left: 130px;
}
.platos {
  position: absolute;
  top: 560px;
  left: 160px;
}

.boton {
  position: absolute;
  top: 730px;
  left: 200px;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
}
