.faixa-preta {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

body {
  background-color: #cccccc;
}

div {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

img {
  text-align: center;
}

.foto1 {
  width: 480px;
  margin-left: 265px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 100px;
  height: 100px;
}
