.encabezado {
  background-color: gray;
  border-radius: 5px;
  border: 2px solid black;
}
.linea1_logo {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.menu1 {
  background-color: green;
  width: 150px;
  padding: 5px 0px 5px 15px;
  border-radius: 5px;
  border: 2px solid black;
}
.linea2_logo {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.menu2 {
  background-color: maroon;
  width: 250px;
  padding: 5px 0px 5px 15px;
  border-radius: 5px;
  border: 2px solid black;
}
.logo {
  background-color: blue;
  width: 150px;
  padding: 5px 0px 5px 15px;
  border-radius: 5px;
  border: 2px solid black;
}
