/* * {
  border: 2px solid blue;
} selecionar todo o conteudo */

h1 {
  font-family: "Noto Sans HK", sans-serif;
  font-weight: normal;
  font-size: 64px;
}

h1 span {
  font-weight: bold;
}

h1,
h3,
h2,
body,
p {
  margin: 0;
}

h3 {
  font-family: "Noto Sans HK", sans-serif;
  font-weight: normal;
  font-size: 20px;
}
.conteudo p {
  font-size: 23px;
}

.subtit {
  color: rgba(0, 0, 0, 0.6);
}

p {
  font-family: "Redressed", cursive;
}

body {
  background-color: #e5e5e5;
}
header {
  background-color: white;
  padding: 32px 64px;
}
.dados {
  display: inline-block;
  padding-bottom: 15px;
}

.foto {
  border: 4px solid #ffc700;
  border-radius: 50%;
  margin-bottom: -130px;
  margin-right: 22px;
}

main {
  padding: 40px 70px;
}

.coluna-menor {
  margin-top: 48px;
  width: 288px;
}

.linha {
  width: 80px;
  border-top: 2px solid;
  margin-top: 8px;
}

.experiencias .linha {
  border-color: #4200ff;
}

.formacao .linha {
  border-color: #ffc700;
}

.coluna-menor img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-right: 8px;
}

.conteudo {
  display: inline-block;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

.profissao {
  font-size: 30px;
}
.coluna-menor li {
  margin-top: 32px;
}

.formacao {
  margin-top: 64px;
}

.coluna-menor h2 {
  font-size: 30px;
}
