.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.flexuno {
  flex: 1;
}

.justifyc {
  justify-content: center;
}

.alignc {
  align-items: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.flex_end {
  justify-content: flex-end;
}

.align_end {
  align-items: flex-end;
}
