@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    font-family: 'DM Sans', sans-serif;
    color: #2B292D;
    text-decoration: none;
}

.fw-regular {
    font-weight: 500;
}

.fw-bold {
    font-weight: 700;
}

.text-ct {
    text-align: center;
}

.text-lt {
    text-align: left;
}

/* landing */

.landing h1 {
    font-size: 40px;
    line-height: 1em;
    letter-spacing: -0.05em;
}

.landing p {
    font-size: 16px;
    line-height: 1.375em;
    letter-spacing: -0.01em;
}

.landing-button {
    font-size: 15px;
    line-height: 1.6em;
    letter-spacing: -0.05em;
}

.landing-button a:nth-child(1){
    color: #ffffff;
}

.landing-button a:nth-child(2){
    color: #3040C4;
}


/* service */
.article h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.363636364em;
    letter-spacing: -0.04em;
}

.article p {
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: -0.01em;
}

/* program */

.program h1 {
    font-size: 56px;
    line-height: 1em;
    letter-spacing: -0.03em;
}

.program p {
    font-size: 22px;
    line-height: 1.454545455em;
    letter-spacing: -0.01em;
}

.program dt {
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: -0.02em;
}

.program dt:nth-child(2) {
    color: #ffffff;
}

.program-category {
    font-size: 22px;
    line-height: 1.090909091em;
    letter-spacing: -0.01em;
    color: #009B4D;
}

/* curriculum */
.curriculum-content h1 {
    font-size: 56px;
    line-height: 1em;
    letter-spacing: -0.03em;
}

.curriculum-content p {
    font-size: 22px;
    line-height: 1.3636em;
    letter-spacing: -0.01em;
}

.curriculum-content a {
    font-size: 18px;
    line-height: 1.555555556em;
    letter-spacing: -0.05em;
}

.curriculum-category {
    font-size: 22px;
    line-height: 1.090909091em;
    letter-spacing: -0.01em;
    color: #0189D1;
}

.curriculum-details p{
    font-size: 18px;
    line-height: 1.444444444em;
    letter-spacing: -0.01em;
}

/* banner */
.banner h1 {
    font-size: 40px;
    line-height: 1em;
    letter-spacing: -0.05em;
}

.banner p {
    font-size: 22px;
    line-height: 1.454545455em;
    letter-spacing: -0.01em;
}

.banner-form::placeholder {
    font-size: 18px;
    line-height: 1.333333333em;
    letter-spacing: -0.01em;
    color: #7B7B7E;
} 

.banner-form button {
    font-size: 18px;
    line-height: 1.333333333em;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.banner-form span {
    font-size: 14px;
    line-height: 1.714285714em;
}

.banner-form a {
    /* 기본 값으로 */
}

/* footer */
.footer-link a {
    font-size: 14px;
    line-height: 1.714285714em;
    letter-spacing: -0.01em;
    color: #807F81;
}