div.footer {
  background-color: #020d29;
  color: #cecdd2;
  display: flex;
  justify-content: space-around;
  align-items: space-between;
}

.div > h4 {
  font-size: 24px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.div > li {
  letter-spacing: 0.5px;
}
