/* CSS FORMULARIO */

* {
  box-sizing: border-box;
}

/* Estilo Menú desplegable */
select {
  width: 80%;
  padding: 5%;
  border: none;
  border-radius: 4px;
  background-color: rgb(230, 230, 230);
}

/* Estilo responsive */
textarea {
  height: 150px;
  background-color: rgb(248, 248, 248);
  resize: none;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="text"],
select,
textarea {
  width: 90%;
  padding: 12px 20px;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 4px;
  resize: vertical;
  margin-right: 10%;
}

input [type="text"] {
  width: 50%;
  padding: 5px 5px;
  margin: 4px 0;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-right: 10%;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute; /* <--- Position Tooltip */
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

input.nombre {
  border-color: #28a745;
  padding: 10px 0;
  border: 3px solid green;
  background-image: url("https://cdn-icons.flaticon.com/png/512/5616/premium/5616887.png?token=exp=1637053507~hmac=c165eaff235a8a2ca96b3efe3c705d32");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right center;
}

input.telefono {
  border-color: green;
  padding: 10px;
  padding-right: 2%;
  border: 3px solid green;
  background-image: url("https://furtaev.ru/preview/handset_2.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right center;
}

input.email {
  border-color: green;
  padding: 10px;
  padding-right: 2%;
  border: 3px solid green;
  background-image: url("https://furtaev.ru/preview/mail_2.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right center;
}

input.apellidos {
  border-color: green;
  padding: 10px 0;
  border: 3px solid green;
  background-image: url("https://cdn-icons.flaticon.com/png/512/4992/premium/4992540.png?token=exp=1637053507~hmac=8708bb2f9b37d8a670d019bbaa6bd5a0");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right center;
}
