body {
  height: 100vh;
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header {
  height: 5%;
}
.hint {
  height: 15%;
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-weight: bold;
}
#hint-word {
  height: 10%;
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: navy;
  font-weight: bold;
}
.space-for-name {
  height: 25%;
  width: 60%;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  margin-left: 25%;
  margin-top: 10px;
}
.keyboard {
  margin-top: 3%;
  height: 50%;
  display: flex;
  justify-content: center;
}
#word-container {
  display: flex;
  /* border-bottom: 2px solid black; */
  justify-content: center;
  min-width: 60%;
}
#word-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid black;
  min-width: 20%;
  margin: 5px;
  font-size: 20px;
}
#keyword {
  display: flex;
  flex-direction: column;
}

.alpha {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 35px;
  border: 3px solid goldenrod;
  background-color: black;
  color: white;
  margin: 7px;
  cursor: pointer;
  font-weight: bolder;
  transition: transform 0.2s;
}
.alpha:hover {
  transform: scale(1.1);
  background-color: coral;
  color: black;
  border: 3px solid black;
  font-weight: bolder;
  font-size: 20px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 7px;
}

#win {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: darkred;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.chances {
  margin-top: 4%;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
}
.chances > div {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
}
.worde {
  margin-top: 0%;
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: white;
}
