#bear {
  position: absolute;
  left: 100px;
  /*top: 240px;*/
  width: 100px;
  height: 160px;
}

#board {
  position: absolute;
  height: 600px;
  width: 1200px;
  background-color: rgb(143, 190, 124);
  align-content: center;
  align-self: center;
}

#title {
  background-color: rgb(203, 206, 166);
  align-content: center;
  align-self: center;
}

#scores {
  background-color: rgb(247, 134, 241);
  align-content: center;
  align-self: center;
}

.location {
  color: green;
}

#hits {
  color: red;
}

#duration {
  color: blue;
}
