.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.item {
  background-color: #ec3436;
}

.green {
  background-color: #6cbe4f;
  grid-column: 1;
  grid-row: 1 / 4;
}

.red {
  background-color: #ec3436;
  grid-column: 2 / 4;
  grid-row: 1;
}

.verde {
  background-color: #6cbe4f;
  grid-column: 4 / 5;
  grid-row: 2 / 4;
}

.colorYellow {
  background-color: #fbb22e;
}
