.drag-handle {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1rem;
  cursor: -webkit-grabbing;
}

.drag-handle:hover {
  background-color: #f26;
}

.drag-handle.top {
  top: 0;
}

.drag-handle.bottom {
  bottom: 0;
}

.drag-handle {
  transition: background-color 0.3s linear;
}
