body {
  background-image: url("images/background.svg");
  background-color: black;
}
.container {
  font-family: "Roboto";
  color: #ffffff;
  text-align: center;
  background-image: url(img/background.svg);
  background-repeat: no-repeat;
  background-size: 100px;
  background-size: 100%;
  padding: 0px;
}
.header {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  font-style: normal;
  position: initial;
  margin-right: 25px;
}
i {
  margin-right: 25px;
}
.fa-solid {
  width: 10px;
  font-size: 20px;
}
#menuBars,
#search {
  text-align: left;
}
#in,
#sign {
  text-align: right;
  font-size: 20px;
}
.gray {
  color: rgb(203, 203, 203);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
  padding: 0px 50px;
}
#text1,
#text2 {
  margin: 20px 0px 30px;
  font-size: 18px;
}
#login {
  width: 400px;
  height: 28px;
  background-color: #7f7f7f;
  filter: opacity(80%);
  border-radius: 15px;
  margin-top: 10px;
  font-size: 20px;
  color: white;
  text-decoration: solid;
  text-align: center;
}
#enter {
  margin-top: 120px;
  margin-right: 25px;
  font-size: 23px;
}
#loginTitle {
  font-size: 20px;
  margin-right: 245px;
}
#entrar,
#provedor {
  font-size: 18px;
  height: 30px;
  border: 0px;
  border-radius: 15px;
  background: linear-gradient(to right, #a991d3, #efbbe7);
  color: black;
}
#entrar {
  width: 100px;
  margin: 5px;
}
#provedor {
  width: 200px;
}
