@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

li .nav_links,
a,
button,
ul {
  font-weight: 500;
  font-size: 16px;
  color: #cecdd2;
  text-decoration: none;
  list-style: none;
}

button.request-appointment {
  background-color: #020d29;
  padding: 9px 25px;
  border-color: #396e8d;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
  background-color: #020d29;

  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 2;
}

.logo {
  cursor: pointer;
  height: 100px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.4s ease 0;
}

.nav_links li a:hover {
  color: #396e8d;
  font-weight: bold;
}

button a {
  font-weight: bold;
  border-color: #396e8d;
}
