/* * {
  margin: auto;
  padding: 0;
} */

body {
  background: url("back2.avif");
}

#home.css h1 {
  color: black;
  padding: 1%;
  margin: 1%;
  font-style: italic;
  font-size: 4px;
  display: flex;
}
.lambocontainer {
  margin-left: 2rem;
}
.lambo {
  height: 209px;
  margin-top: -13px;
  margin-left: 22px;
  display: flex;
}
.lambo img {
  height: 210px;
  width: 339.483px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.bugacontainer {
  margin-left: 36rem;
  margin-top: -274px;
}
.bugat img {
  height: 210px;
  width: 339.483px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.bugat {
  height: 180px;
  margin-top: -13px;
  margin-left: 22px;
  display: flex;
}
.mustacontainer {
  margin-left: 69rem;
  margin-top: -245px;
}
.musta img {
  height: 210px;
  width: 339.483px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.musta {
  height: 212px;
  margin-top: -13px;
  margin-left: 22px;
  display: flex;
}
.mclarecontainer {
  margin-left: 2rem;
}
.mclare img {
  height: 210px;
  width: 339.483px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-left: 22px;
}
ul {
  font-size: 24px;
  margin-top: 25px;
}
h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
}
