body {
  background-image: url("./img/background home.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

* {
  margin: 0;
  padding: 0;
}

p,
h1 {
  color: black;
}

.container {
  background-color: #26c552;
  height: 75px;
  max-height: 320px;
  display: flex;
  justify-content: space-between;
}

a {
  color: white;
  text-decoration: none;
}

#logo {
  width: 56px;
}

header {
  display: flex;
  align-items: center;
  margin-left: 150px;
}

header button {
  margin: 0 15px;
}

header button a {
  font-size: 20px;
  font-weight: 500;
}

header button {
  background: transparent;
  color: white;
  border: none;
}

#logcad {
  display: flex;
  align-items: center;
}

#logcad button {
  background: transparent;
  color: white;
  border: none;
  margin: 0 15px;
}

#logcad button a {
  border: 1px solid white;
  padding: 5px 15px;
  border-radius: 15px;
}

#cadiadinho {
  width: 8px;
}
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: white;

  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}

#textprincipal {
  color: white;
  font-size: 40px;
  margin-top: 100px;
  font-weight: 900px;
}
#subtext {
  color: white;
  font-size: 30px;
}

.city-infos {
  display: flex;
  justify-content: space-between;
}

.city-infos .content-citys {
  text-align: center;
}

.city-infos .content-citys p {
  text-align: center;
  right: 100px;
}

#city-text {
  margin: 0 !important;
  padding: 0 !important;
}
.city {
  margin-top: 150px;
}

.container2 {
  text-align: center;
}

.container2 p {
  font-size: 80px;
  color: white;
}

#conatiner2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 707px) {
  #mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 706px) {
  header,
  #logcad {
    display: none;
  }
}
