h1 {
  color: rgb(0, 99, 0);
  text-align: center;
  width: 100%;
  border: 5px solid red;
  padding: 0px;
  margin: 0px;
}
body {
  box-sizing: border-box;
}
img {
  float: right;
  width: 30%;
  padding: 1px;
  margin: 1px;
}
