/*esto es para que los bordes sean mas redondos*/
img {
  border-radius: 10%;
}

body {
  /*esto es para el fondo con una imagen de la story 1*/
  background-color: lightsalmon;
  background-image: url("https://c0.wallpaperflare.com/preview/592/237/178/malaga-calle-marques-de-larios-spain-paisaje-urbano.jpg");
  background-position: center center;
  background-size: cover;
}

/*esto es para que los h1 tengan una letra determinada*/
h1 {
  font-family: "Latin Modern Roman";
  font-style: italic;
}
