* {
  margin: 0;
  font-family: Montserrat;
}
body {
  text-align: center;
  background: #1e5974;
}

h2 {
  font-family: Chewy;
  font-size: 75px;
  font-weight: bold;
  color: white;
  margin-top: 55px;
}
.p {
  margin: auto;
  width: 80vw;
  margin-top: 35px;
  margin-bottom: 85px;
  color: white;
}
a {
  padding: 5px 10px;
  background: white;
  color: #1e5974;
  text-decoration: none;
  border-radius: 6px;
}
