html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, auto);
  place-items: center;
  background: lightblue;
  grid-gap: 2em;
}

.card {
  background: white;
}
span {
  height: 100px;
  display: block;
  width: 100%;
  background: #71A6B8;
}

p.date {
  text-align: center;
  font-size: .7em;
  text-transform: uppercase;
}
h3 {
  margin: 0;
}
p.desc {
  font-size: .9em;
}

/* 
 Use the following properties
 to fix the alignment and white
 space issues on the rulesets
 below this comment.
 
 margin, padding, text-align
 
*/

body {
  padding: 2em;

}
.content {
  padding: 1em;
}

p.date {
  text-align: left;
  margin: 0;

}

h3 {

}

p.desc {
  margin-bottom: 0;

}