* {
  margin: 0;
  padding: 0;
}
.casting a {
  text-decoration: none !important;
  border-radius: none !important;
  padding: 0 !important;
  margin-top: none !important;
  color: #fff !important;
  background: transparent !important;
  margin-right: none !important;
}
.logo {
  font-size: 30px;
  color: azure;
  font-family: "Roboto", sans-serif;
  height: 150px;
  margin-top: 18px;
  margin-left: 40px;
}
.header {
  height: 10%;
}
.headerbutton {
  text-decoration: none !important;
  float: right;
  border-radius: 30px;
  padding: 7px 20px;
  margin-top: 15px;
  color: #fff !important;
  background: #107afd;
  font-weight: 600;
  margin-right: 40px;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(conjuring.jpg);
  background-position: center;
  background-size: cover;
}
.moviedetails {
  margin: 3% 0;
}
.left-box {
  color: #fff;
  margin: 15px 0;
  padding: 20px;
}
.casting img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.left-box a {
  text-decoration: none !important;

  border-radius: 30px;
  padding: 7px 10px;
  margin-top: 35px;
  color: #fff !important;
  background: #2e73db;
  display: inline-block;
  font-weight: 600;
  margin-right: 10px;
}

.button {
  background: transparent !important;
  border: 1px solid #fff !important;
}
.series h3 {
  color: #fff;
}
.fa {
  margin: 0 5px;
}
.movie-img {
  height: 350px;
  box-shadow: -4px 4px 5px 0 #000;
}
.series img {
  width: 100%;
  margin-top: 15px;
  box-shadow: -4px 4px 5px 0 #000;
  cursor: pointer;
  transition: 1s;
}
.series img:hover {
  transform: translateY(-10px);
}
