@keyframes color{
  0%{
    width: 0%;
  }
  100%{
    width: 54%;
  }
}
@keyframes top_move{
  0%{
    left: 5%;
  }
  100%{
    left: 12%;
  }
}
@keyframes press_move{
  0%{
    left: 8%;
  }
  100%{
    left: 15%;
  }
}