body {
  background-color: rgb(158, 158, 158);
}
#game {
  border: 50px solid black;
  border-radius: 50px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#all {
  background-color: rgb(168, 168, 168);
  float: center;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  align-items: center;
}
