/* Selector :kata kunci untuk memilih elemen */
/* Jenis Selector :
1 Selector Tags
2 Selector Class elemen
3 Selector ID elemen
4 Universal Selector
5 Selector Atribute */

h1 {
  background-color: red;
}

p {
  background-color: chartreuse;
}

.Container {
  padding: 0;
  margin: 0;
  background-color: purple;
}

#header {
  padding: 2%;
  margin: 0;
  background-color: tomato;
}

input[type="text"] {
  background-color: springgreen;
  font-size: 3vh;
}

input[type="submit"] {
  background-color: darkblue;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

button[type="submit"] {
  background-color: white;
}

* {
  border: 1px solid grey;
}
