.search {
  background: white;
  margin: 0 auto;
  height: 50px;
  width: 500px;
  border-radius: 30px;
}

.container {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 50%;
  margin-top: -100px;
}

.image {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/500/442/354/outrun-vaporwave-hd-wallpaper-preview.jpg");
  background-size: cover;
}
