* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
}

.title {
  text-align: center;
}

.white {
  border: 2px solid;
  color: white;
}

ul {
  list-style-type: none;
  /* Horizontal orientieren */
}

nav {
  display: flex;
  justify-content: space-around;
}
