h3 {
  color: blue;
}

/* css selector :
1. Elemen selector
2. ID selector
3. Class selector
4. Universal selector
5. Grouping selector */

/* 1. Eleemen Selector :
   salah satu jenis selector yang digunakan untuk memelilih
   elemen html berdasarkan nama tag atau nama element */
/* 
   2. Class Selector
   dgunakan untuk memilih element berdasarkan nama class */
.pertama {
  background-color: midnightblue;
  font-size: 120%;
}
.kedua {
  background-color: mediumvioletred;
  font-size: 120%;
}
/*  
  3. ID Selector
    digunakan untuk memilih element berdasarkan nama id */
#judul {
  color: blue;
}

/* 4. Universal Selector
  digunakan utnuk memelilih semua element */
* {
  margin: 0;
  padding: 0;
}

/* 5 Group Selector
  dugunakan untuk memilih beberapa selector sekaligus dan ingin
  memberikan style yang sama */

.container1 {
  background-color: violet;
}

.container2 {
  background-color: tan;
}
.container1 .hedaer p {
  text-align: left;
  color: blue;
}

.content p {
  text-align: right;
  color: red;
}

.container2 .footer p {
  text-align: center;
  color: yellow;
}

.container1 .footer p {
  text-align: center;
  color: springgreen;
}

.container1 input[type="text"] {
  background-color: rebeccapurple;
}

.container2 input[type="text"] {
  background-color: red;
}
/* 
h3{
  color :burlywood;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font: size 12;
  font-style:
  text-align
  text-transform
  text-decoration
  text-shadow
  line-height
  letter-height
  letter-spacing
  wood-spacing
} */
/* 
CSS typography
1. color
2. font-family
3. font-size
4. font-style
5. text-align
6. text-transform
7. text-decoration
8. text-shadow
9. line-height
10. letter-height
11. letter-spacing
12. wood-spacing */


color digunakan untuk mengatur warna text atau font
nilai warna 3 macam :
1. Nama Warna :"merah" cth : color:red;
2. nilai HEXA :"#ff0000"
3. Nilai RG: "rgb(255,0,0)"

satun nilai :
px,em,rem, %, vh, vw

h1{
  color:red;
  font-family:Calibri;
  font-size:
}
h2{
  color: #ff0000;
}
h3{
  color: rgb(255,0,0);
}

.container3 h1 p{
 font-size: 8vw;
 text-decoration: underline;
 letter-spacing: 20px;
}

