@media screen and (max-width: 400px) {
  .menu_desktop {
    display: none;
  }

  .burger {
    visibility: visible;
    margin-top: 0px;
  }

  #hamburguesa:checked ~ .enlaces {
    right: -10vw;
  }

  #hamburguesa:checked ~ label .cross #bar1 {
    transform: rotate(45deg) translateY(10px);
  }

  #hamburguesa:checked ~ label .cross #bar2 {
    transform: translateX(-15px);
    opacity: 0;
  }

  #hamburguesa:checked ~ label .cross #bar3 {
    transform: rotate(-45deg) translateY(-9px);
  }

  .title {
    margin-left: 6%;
    padding-right: 5%;
  }

  h2 {
    font-size: 48px;
  }

  .subtitle {
    margin-top: 5%;
  }

  .button {
    margin-top: 10%;
    width: 90%;
    font-size: 15px;
    margin-left: 5%;
  }

  .fondogradiente {
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    margin-top: 10%;
  }

  .podcasts-container {
    padding-top: 4%;
    padding: 7% 0 55% 0;
  }

  iframe {
    width: 350px;
    height: 160px;
  }

  .tituloepisodios {
    font-size: 32px;
    margin-top: 20%;
  }

  .aboutusdiv {
    flex-direction: column;
    align-items: center;
  }

  .phone {
    margin-top: -30%;
    margin-left: 0%;
    justify-content: center;
  }

  .phoneimg {
    width: 90%;
  }

  .aboutus-container {
    justify-content: center;
    margin-top: 115%;
  }

  .aboutus {
    width: 75%;
    margin-left: 15%;
    margin-top: 5%;
    letter-spacing: 2px;
  }

  .aboutus-container {
    justify-content: center;
  }

  .aboutustitle {
    font-size: 24px;
  }

  .aboutusparr {
    font-size: 14px;
  }

  .seccion_entrevistas {
    margin-top: 25px;
  }

  .photogallerytitle {
    font-size: 36px;
    margin-left: 5%;
    margin-bottom: 10px;
    margin-top: 10%;
  }

  .fotos {
    width: 100%;
  }

  .topicstitle {
    font-size: 38px;
    margin: 30px 0px 10px 7%;
  }

  .icon-container {
    margin-bottom: 15px;
  }

  .topicsicons {
    flex-direction: column;
    padding: 0 150px;
  }

  .fondogradiente2 {
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
    height: 350px;
  }

  .button2 {
    width: 90%;
    font-size: 15px;
  }

  h3 {
    font-size: 22px;
  }

  .footertitle {
    font-size: 38px;
    text-align: center;
    margin-top: 0px;
  }

  .footer {
    flex-direction: column;
  }

  .footer_text {
    margin-top: 2%;
    margin-left: 0%;
  }

  .iconos {
    margin-right: 0%;
    height: 30px;
    width: 50%;
  }
}

@media screen and (max-width: 900px) and (min-width: 401px) {
  .menu_desktop {
    right: 22%;
  }

  .button {
    margin-top: 5%;
    width: 35%;
  }

  .fondogradiente {
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    margin-top: 7%;
  }

  .tituloepisodios {
    margin-top: 5%;
  }

  iframe {
    width: 400px;
    height: 300px;
  }

  .fondogradiente {
    height: 850px;
  }

  .podcasts-container {
    padding: 3% 0 90% 0;
  }

  .phone {
    margin-top: -15%;
    margin-left: 10%;
  }

  .phoneimg {
    width: 60%;
  }

  .seccion_entrevistas {
    margin-top: 120px;
  }

  .photogallerytitle {
    margin-left: 5%;
  }

  .aboutus-container {
    justify-content: flex-end;
    padding-left: 15%;
  }

  .aboutus {
    margin-left: 0%;
    margin-right: 15%;
  }

  .topicsicons {
    padding: 0 70px;
  }

  .fondogradiente2 {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    height: 350px;
    margin-top: 2%;
  }

  .footertitle {
    margin-top: 15px;
  }

  .button2 {
    width: 35%;
    font-size: 15px;
  }

  .iconos {
    width: 20%;
  }
}
