.menu {
  list-style: none;
  background: #aaf949;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: flex-end;
  font-family: monospace;
}

.menu > a {
  padding: 1em;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  display: block;
}
.menu > a:hover {
  background: #fd433a;
}

@media all and (max-width: 600px) {
  .menu {
    flex-direction: column;
    -webkit-flex-direction: column;
    padding: 0;
  }
  .menu > a {
    text-align: center;
    padding: 0.5em;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
  }
}
