@import url("https://fonts.googleapis.com/css?family=Bangers&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0px;
  background-image: radial-gradient(
    circle farthest-corner at 5.6% 54.5%,
    rgba(47, 71, 79, 1) 0%,
    rgba(159, 188, 198, 1) 83.6%
  );
  background-attachment: fixed;
}
header {
  font-size: 7em;
  padding: 3% 0% 0% 0%;
  margin: 0% 0% 2% 0%;
  letter-spacing: 15px;
  font-family: "Bangers", cursive;
  height: 30%;
  display: flex;
  justify-content: center;
  color: rgb(228, 228, 228);
  transform: rotate(-0deg);
  text-shadow: 1px 1px hsl(50, 50%, 45%), 2px 2px hsl(50, 50%, 40%),
    3px 3px hsl(50, 50%, 35%), 4px 4px hsl(50, 50%, 34%),
    5px 5px hsl(50, 50%, 33%), 6px 6px hsl(50, 50%, 32%),
    7px 7px hsl(50, 50%, 31%), 8px 8px hsl(50, 50%, 30%),
    9px 9px hsl(50, 50%, 29%), 10px 10px hsl(50, 50%, 28%),
    10px 10px 30px rgba(0, 0, 0, 0.7);
}

section {
  width: 85%;
  margin: 0% 8% 8% 8%;
  padding: 3% 8% 3% 8%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  min-height: 200px;
  background-color: white;
  border-radius: 15px 100px;
}

section > ol[type] > li {
  margin: 2% 0% 8% 0%;
}

section > ol[type] {
  font-weight: bold;
}

.question-container > ol[type] {
  padding: 0% 10% 0% 0%;
  margin: 2% 0% 2% 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}

.question-container > ol[type] > li {
  width: 40%;
  padding: 2% 2% 2% 2%;
  margin: 2% 1% 2% 1%;
  background-color: rgb(255, 123, 0);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  color: white;
  border-radius: 15px 50px;
  text-align: center;
  cursor: pointer;
}

.question-container > ol[type] > li:hover {
  background-color: rgb(255, 0, 0);
}

.question-container > ol[type] > li:lang(correct):hover {
  background-color: green;
}

.bottom-transition {
  position: relative;
  animation: bottom 1.3s;
  animation-fill-mode: forwards;
}

@media (max-width: 360px) {
  header {
    font-size: 2.9em;
    height: 20%;
  }

  .question-container > ol[type] > li {
    width: 80%;
  }
  iframe {
    width: 100%;
  }
  img {
    width: 100%;
  }
  audio {
    width: 100%;
  }
}

@media (min-width: 361px) and (max-width: 414px) {
  header {
    font-size: 3.7em;
    height: 20%;
  }

  .question-container > ol[type] > li {
    width: 80%;
  }
  iframe {
    width: 100%;
  }
  img {
    width: 100%;
  }
  audio {
    width: 100%;
  }
}

@media (min-width: 415px) and (max-width: 600px) {
  header {
    font-size: 4em;
    height: 20%;
  }

  .question-container > ol[type] > li {
    width: 80%;
  }
  iframe {
    width: 100%;
  }
  img {
    width: 100%;
  }
  audio {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    height: 20%;
  }
}

@media (max-width: 912px) and (orientation: landscape) {
  header {
    height: 40%;
  }
}
