
p {
  font-family: "Latin Modern Roman";
  font-family: "arial", "serif";
  font-style: oblique;
  font-display: fallback;
  font-size: 10pt
}

.barpaco1 {
  height: auto;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.imgs img {
  margin: auto;
  width: 60%;
  border-radius: 5px;
}
/*Esto es de la story 1*/
h1 {/*aqui le ponemos un color a los h1*/
  color: brown;
  <span style="text-decoration:line-through;">
    /*Este texto aparecerá tachado*/
   font-size: 12pt 
   font-family: "Roboto Condensed", "serif";
  font-style: italic;
  font-display: fallback;
</span>+
}
h2 {/*aqui le añadimos un color a los h2*/
  color: brown;
  font-family: "Latin Modern Roman", "serif";
  font-style: italic;
}
body {/*con esto le ponemos color al fondo*/
  background-color: lightsalmon;
   font-display: fallback;
   letter-spacing: normalS
}
.grad1 {/*esto es para poner un fondo gradiante*/
  background-image: linear-gradient(#9b4822, #b86a04);
  padding: 5%;
}
.incorrecto {
  text-decoration:line-through;
  color: black;
}
.linea{
  height: 5px;
  background-color: black;
}
.sombra{
  text-shadow: 1px 1px white, 1px 1px #333
}
.Mayusculas{
text-transform: uppercase;
}
.Espaciado{
  line-height : 25px;
}
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }
         