/* card-info */
.card-info {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 1px;
  gap: 1px;

  position: relative;
  width: 200px;
  height: 176px;
  left: 269px;
  top: calc(50% - 176px / 2 - 146px);

  background: #dfe3e7;
}
/* business-text */
.business-text {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2px;
  gap: 1px;

  width: 106px;
  height: 176px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
/* business-category */
.business-category {
  width: 95px;
  height: 56px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* category-image-holder */
.category-image-holder {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;

  position: absolute;
  width: 72px;
  height: 41px;
  left: 12px;
  top: 1px;
}
/* category-image */
.category-image {
  width: 72px;
  height: 41px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* example-image */
.example-image {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: url(example-image.png);
}
/* category-type */
.category-type {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px;
  gap: 10px;

  position: absolute;
  width: 47px;
  height: 11px;
  left: 2px;
  top: 42px;

  background: #b9ae54;
}
/* type-text */
.type-text {
  width: 43px;
  height: 7px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 6px;
  line-height: 7px;
  display: flex;
  align-items: center;

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* business-description */
.business-description {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 7px 0px 0px 2px;
  gap: 1px;

  width: 95px;
  height: 115px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
/* business-name */
.business-name {
  width: 70px;
  height: 17px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #b9ae54;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* business-description-text */
.business-description-text {
  width: 94px;
  height: 60px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #b9ae54;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
/* business-hashtag */
.business-hashtag {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 1px;

  width: 100px;
  height: 21px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}
/* Frame1 */
.Frame1 {
  width: 75px;
  height: 10px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* #handcraft */
.#handcraft {
  position: absolute;
  width: 32px;
  height: 7px;
  left: 0px;
  top: 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 6px;
  line-height: 7px;

  color: rgba(185, 174, 84, 0.63);
}
/* #lantern */
.#lantern {
  position: absolute;
  width: 24px;
  height: 7px;
  left: 43px;
  top: 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 6px;
  line-height: 7px;

  color: rgba(185, 174, 84, 0.63);
}
/* Frame2 */
.Frame2 {
  width: 100px;
  height: 10px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
/* #bark.canvas */
.#bark.canvas {
  position: absolute;
  width: 38px;
  height: 7px;
  left: 0px;
  top: 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 6px;
  line-height: 7px;

  color: rgba(185, 174, 84, 0.63);
}
/* #natural.dye */
.#natural.dye {
  position: absolute;
  width: 36px;
  height: 7px;
  left: 52px;
  top: 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 6px;
  line-height: 7px;

  color: rgba(185, 174, 84, 0.63);
}
/* business-picture */
.business-picture {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 0px;
  gap: 10px;

  width: 86px;
  height: 176px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
/* business-image-holder */
.business-image-holder {
  width: 86px;
  height: 158px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* business-image */
.business-image {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: url(business-image.png);
}
