.g1 {
  color: #c3170c;
}
.oglobo {
  color: #1e4b9b;
}
.valor {
  color: #006766;
}
.ge {
  color: #07aa47;
}
.cartola {
  color: #e3662b;
}
.globoplay {
  color: #fb0735;
}
.dropz {
  color: #ff75bb;
}
.gshow {
  color: #ec7d00;
}
.quem {
  color: #323333;
}
.receitas {
  color: #a81d83;
}
