 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(0, 0, 0);
}

.logo {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 10000;
  top: 50px;
  left: 850px;
}
.pozadi {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  z-index: 10000;
}
ul {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 20px;
}
ul a:hover,
ul a.on {
  background: rgb(110, 1, 1);
}

ul a {
  text-decoration: none;
  padding: 6px 15px;
  color: rgb(255, 255, 255);
  background: #ae0c00;
  border-radius: 10px;
  list-style: none;
  margin-left: 10px;
  margin-top: -2100px;
  z-index: 9999999;
}
.onas {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  bottom: 460px;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  z-index: 99999999;
}
