/*body {
  b

.class1 {
  color: orange;
}

#id1 {
  font-style: italic;
  margin: 10px 20px 30px 40px;
  border: 4px solid purple;
  border-radius: 30px;
  padding: 10px;
  text-align: center;
}

.class1#id1 {
  font-size: 40px;
}*/

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa !important;
}

.nav-link {
  color: #fa7e00;
}
.nav-link:hover {
  color: #a15100;
}
h1 {
  text-align: center !important;
  color: #133cbf;
  font-weight: bold;
  /*font-style: italic;*/
}
.active {
  background-color: #133cbf !important;
}
#menu-nav {
  border-right: gray solid 2px;
}

/*.video {
  margin: 0 auto;
  border: solid 2px darkgray;
  border-radius: 20px;
  padding: 20px !important;
  box-shadow: gray 5px 5px 5px;
}*/

.site-description {
  margin-top: 0 !important;
}

iframe {
  max-width: 95%;
  max-height: 95%;
  margin: 0 10px 0 10px;
  border: solid 2px darkgray !important;
  border-radius: 20px;
}

.search-bar {
  width: 80% !important;
  white-space: pre-line !important;
  margin-bottom: 10px !important;
}

.search-bar::before,
.custom-button::before {
  display: block;
  white-space: pre;
}
.force-line-break {
  width: 100%;
  margin-top: 20px;
}

.custom-button {
  margin-top: 10px;
  background-color: #fa7e00 !important;
  border-color: #fa7e00 !important;
}

hr {
  border: 0 !important;
  height: 1px !important;
  background-image: -webkit-linear-gradient(
    left,
    #f0f0f0,
    #8c8b8b,
    #f0f0f0
  ) !important;
  background-image: -moz-linear-gradient(
    left,
    #f0f0f0,
    #8c8b8b,
    #f0f0f0
  ) !important;
  background-image: -ms-linear-gradient(
    left,
    #f0f0f0,
    #8c8b8b,
    #f0f0f0
  ) !important;
  background-image: -o-linear-gradient(
    left,
    #f0f0f0,
    #8c8b8b,
    #f0f0f0
  ) !important;
}

@media screen and (max-width: 1000px) {
  iframe {
    padding: 10px !important;
    box-shadow: gray 5px 5px 5px;
  }
  .video {
    width: 100% !important;
    height: 100% !important;
  }
  .site-content {
    margin: 0 !important;
  }
  .site-description {
    margin: 0 !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
  }
  .search-bar {
    width: 100% !important;
  }
  body {
    font-size: 16px !important;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1700px) {
  iframe {
    padding: 20px !important;
    box-shadow: gray 5px 5px 5px;
  }
  .video {
    max-width: 75%;
    max-height: 75%;
  }
  body {
    font-size: 20px !important;
  }
}
@media screen and (min-width: 1701px) and (max-width: 2000px) {
  iframe {
    padding: 20px !important;
    box-shadow: gray 5px 5px 5px;
  }
  .video {
    max-width: 60%;
    max-height: 60%;
  }
  body {
    font-size: 24px !important;
  }
}
@media screen and (min-width: 2001px) {
  iframe {
    padding: 20px !important;
    box-shadow: gray 5px 5px 5px;
  }
  .video {
    max-width: 50%;
    max-height: 50%;
  }
  body {
    font-size: 28px !important;
  }
}

@media screen and (max-width: 767px) {
  .hide_on_scroll {
    display: none !important;
  }
}
