/*body {
  b

.class1 {
  color: orange;
}

#id1 {
  font-style: italic;
  margin: 10px 20px 30px 40px;
  border: 4px solid purple;
  border-radius: 30px;
  padding: 10px;
  text-align: center;
}

.class1#id1 {
  font-size: 40px;
}*/

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa !important;
}

.nav-link {
  color: #fa7e00;
}
.nav-link:hover {
  color: #a15100;
}
h1 {
  text-align: center !important;
  color: #007bff;
  font-weight: bold;
  font-style: italic;
  text-shadow: gray 2px 1px 2px;
}

#menu-nav {
  border-right: gray solid 2px;
}

/*.video {
  margin: 0 auto;
  border: solid 2px darkgray;
  border-radius: 20px;
  padding: 20px !important;
  box-shadow: gray 5px 5px 5px;
}*/

@media screen and (max-width: 1000px) {
  iframe {
    max-width: 90;
    max-height: 90%;
    margin: 0 auto;
    border: solid 2px darkgray;
    border-radius: 20px;
    padding: 10px !important;
    box-shadow: gray 5px 5px 5px;
  }
}
@media screen and (min-width: 1001px) and (max-width: 2000px) {
  iframe {
    max-width: 75%;
    max-height: 75%;
    margin: 0 auto;
    border: solid 2px darkgray;
    border-radius: 20px;
    padding: 20px !important;
    box-shadow: gray 5px 5px 5px;
  }
}
@media screen and (min-width: 2001px) {
  iframe {
    max-width: 50%;
    max-height: 50%;
    margin: 0 auto;
    border: solid 2px darkgray;
    border-radius: 20px;
    padding: 20px !important;
    box-shadow: gray 5px 5px 5px;
  }
}
