
#txtAmount,#txtYear{
    width:50%;
    font-weight:bolder;
}
#txtInterest{
    width:30%; 
    font-weight:bolder; 
}

#slideAmount,#slideYear,#slideInterest{
    width:50%;
}
.dr{
    padding: 2px; 
    border-radius: 9px;
    background-color: rgba(80, 77, 68, 0.301);
    color: rgb(255, 255, 255);
}
.ak{
    background: linear-gradient(to right, rgba(0, 235, 219, 0.5), rgba(189, 113, 236, 0.5));
  
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
    width: 100%;
    height: 100%;
    padding: 30px;
    
    
}
.row{   
    width: 100%;
    margin-left: 5px;
    border: 11px solid rgb(255, 255, 255);
    background: linear-gradient(to right, rgba(106, 133, 182, 0.5), rgba(186, 200, 224, 0.5));
    box-shadow:  3px 3px 8px;
    border-radius: 14px;
}

