body {
  background-color: #1fadbf;
  padding: 0px;
  margin: 0px;
}

#cuerpo {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0.5%;
}

#titulo {
  display: flex;
  justify-content: center;
}

.recuadro {
  margin-top: 0.5%;
  padding: 15px;
  font-family: "Edu QLD Beginner", cursive;
  background-color: #7abf75;
  border-radius: 3%;
  color: #801d33;
  width: 100%;
  box-sizing: border-box;
}

h2 {
  font-family: "Edu QLD Beginner", cursive;
  text-align: center;
  font-size: 2em;
  color: #face00;
  text-decoration: lightpink;
}

#menu {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.cajita {
  margin-right: 20px;
  list-style-type: none;
}

#receta {
  cursor: url(https://cur.cursors-4u.net/food/foo-6/foo523.cur), auto !important;
}

#nover {
  cursor: url(https://ani.cursors-4u.net/games/gam-16/gam1571.ani),
    url(https://ani.cursors-4u.net/games/gam-16/gam1571.png), auto !important;
}
