.heading {
  text-align: center;
  color: white;
  background-color: black;
}

.left {
  text-align: left;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  margin-left: 5%;
  margin-right: 50%;
}
.image {
  width: 600px;
  display: block;
  border-radius: 5%;
  margin-left: 50%;
  margin-right: 0%;
  margin-top: -23%;
}
.by {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-left: 15%;
  margin-right: 50%;
  font-weight: bold;
}
.date {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-left: 15%;
  margin-right: 50%;
  font-weight: bold;
}
.p {
  text-align: center;
  font-style: italic;
}
.para {
  text-align: left;
  margin-left: 15%;
  margin-right: 30%;
  font-style: Georgia;
  font-size: 18px;
}
.para2 {
  text-align: left;
  margin-left: 15%;
  margin-right: 30%;
  font-style: Georgia;
  font-size: 18px;
}
.para3 {
  text-align: left;
  margin-left: 15%;
  margin-right: 30%;
  font-style: Georgia;
  font-size: 18px;
}
