@media (min-width: 201px) and (max-width: 500px) {
  body {
    max-width: 100vw;
    margin: auto;
  }
  .navbar {
    background-color: #252525;
    width: 100vw;
    height: 69px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .Logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 45vw;
  }
  .navbar div img {
    width: 35px;
    height: 35px;
    margin: 0.5vw;
  }
  .navbar div p {
    color: #ffffff;
    font-family: Roboto Serif;
    font: normal normal bold;
    letter-spacing: 0.32px;
    opacity: 1;
  }
  .navbar nav {
    width: 45vw;
    position: absolute;
    right: 0px;
  }
  .navbar nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navbar nav ul li {
    list-style-type: none;
    width: 30px;
    margin: 0.5vw;
  }
  .navbar nav ul li a img {
    width: 25px;
    height: 25px;
  }
  .Page1 {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .background1 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    z-index: -1;
  }
  .Page1 p {
    width: 240px;
    height: 75px;
    color: #ffffff;
    font-size: 25px;
    font-family: Roboto Serif;
    text-align: center;
    margin-bottom: 1vh;
    margin-top: 25vh;
  }
  .logopage1 {
    width: 60px;
    height: 60px;
  }
  .Page2 {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Page2 img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  .Page2 article {
    width: 50vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
  }
  .Page2 h1 {
    font-family: Roboto Serif;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .Page2 p {
    width: 40vw;
    margin-top: 5px;
    font-family: Roboto Serif;
    font-weight: normal;
    font-size: 10px;
    line-height: 25px;
  }
  .Page2 button {
    background: #3a342f 0% 0% no-repeat padding-box;
    border-radius: 44px;
    padding: 15px 1px;
    width: 100px;
    color: white;
    font-size: 10px;
    font-family: Roboto Serif;
    font-weight: bold;
    margin-top: 2vh;
  }
  .Page3 {
    width: 100vw;
    height: 100vh;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Page3 img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
  }
  .Page3 article {
    width: 50vw;
    position: absolute;
    right: 0;
  }
  .Page3 h1 {
    width: 25vw;
    color: white;
    font-family: Roboto Serif;
    font-weight: bold;
    font-size: 20px;
  }
  .Page3 p {
    width: 40vw;
    color: white;
    font-family: Roboto Serif;
    font-weight: normal;
    font-size: 15px;
  }
  .Page3 button {
    background: #ffffff 0% 0% no-repeat padding-box;
    padding: 15px 1px;
    width: 100px;
    color: black;
    font-size: 10px;
    font-family: Roboto Serif;
    border-radius: 44px;
    border: none;
    font-weight: bold;
  }
  .Apoio {
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  .Apoio p {
    color: #fd6a9a;
    font-family: Roboto Serif;
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
  }
  .Apoio img {
    height: 3vh;
    width: 30vw;
  }
  footer {
    height: 50vh;
    width: 100vw;
    background-color: #eb4a7b;
    display: flex;
    flex-direction: row;
  }
  footer ul {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
  }
  footer ul li {
    list-style-type: none;
  }
  footer ul li h5 {
    color: white;
    font-family: Roboto Serif;
    font-weight: bold;
    font-size: 12px;
  }
  footer ul li p {
    color: white;
    font-size: 12px;
  }
}
