.container {
  background-color: brown;
}
header {
  font-size: 5vw;
  font-family: Arial, Helvetica, sans-serif;
  background-color: coral;
}

header h1 {
  font-size: 6vw;
}

footer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 5vw;
  background-color: tan;
  text-align: center;
  color: red;
}

article {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3vw;
  text-align: justify;
  color: whitesmoke;
  padding: 1%;
  margin: 1%;
  overflow: visible;
}

@media screen and (max-width: 700px) {
  article {
    background-color: darkslateblue !important;
    overflow: visible;
    color: white;
  }
  footer {
    color: red;
    background-color: saddlebrown;
  }
}

@media screen and (max-width: 500px) {
  article {
    background-color: yellow !important;
    overflow: visible;
    color: black;
  }
  footer {
    color: white;
    background-color: darkgray;
  }
}
