@charset "utf-8";

body {
	margin: 0;

	background-color: #fff;
  	padding:50px;
  	font: 11px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  	color:#727272;
  	font-weight:400;
}
.back {
	position: fixed;
	bottom: 10px;
	right: 10px;
}
td {
	border: #999 1px solid;
	padding: 10px;
}
th {
	border: double 1px #aaaaaa;
}
table {
    border-collapse: collapse;
    margin: 10px auto;
    text-align: center;
    width: 90%;
}
