#linkcolor {
  color: #000;
  text-decoration: none;
}
span {
  cursor: pointer;
}
span:hover {
  opacity: 0.5;
}
.block__cat {
  width: 300px;
  height: 300px;
  border: 1px solid;
  background: red;
  box-shadow: 10px 10px 15px -10px;
}
p {
  display: inline;
  padding-bottom: 8px;
  border-bottom: 2px dotted #0e6edf;
}
textarea::placeholder,
input::placeholder {
  color: red;
}
div {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #036edf;
}
p {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cat-red {
  color: red;
}
#catBlue {
  color: blue;
}
input[name="green"]::placeholder {
  color: pink;
}
ul