*{
    margin :0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    background-color: #0fc53c;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 179px;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding:8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: beige;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li ::after {
    content: '';
    width: 0%;
    height:2px;
    background: #0fc53c;
    display:block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li :hover::after{
    width: 100%;
}
.text-box{
    width:90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{ 
   font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #25d41f;
    background: #3ccf55;
    transition: 1s;
}
nav .fa{ 
    display: none;

}
@media(max-width:700px){
    .text-box h1{ 
        font-size: 20px;
     }
     .nav-links ul li {
        display: block;
     }
     .nav-links {
       position :absolute;
       background:#45b86b;
       height: 100vh;
       width:200px;
       top:0;
       right:-200px;
       text-align: left; 
       z-index: 2;  
       transition:1s ; 
     }
     nav.fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
     }
     .nav-links ul {
       padding: 30px; 
     }
}



   
 
            .register .nav-tabs .nav-link:hover{
                border: none;
            }
            .text-align{
                margin-top: -3%;
                margin-bottom: -9%;

                padding: 10%;
                margin-left: 30%;
            }
            .form-new{
                margin-right: 22%;
                margin-left: 20%;
            }
            .register-heading{
                margin-left: 21%;
                margin-bottom: 10%;
                color: #e9ecef;
            }
            .register-heading h1{
                margin-left: 21%;
                margin-bottom: 10%;
                color: #e9ecef;
            }
            .register{
               
                margin-top: 3%;
                padding: 3%;
                border-radius: 2.5rem;
            }
            .btnSubmit
            {
                width: 50%;
                border-radius: 1rem;
                padding: 1.5%;
                color: #fff;
                background-color: #03612e;
                border: none;
                cursor: pointer;
                margin-right: 6%;
                color: rgb(246, 246, 252);
                margin-top: 4%;
            }
            h99{
                color: #000;
                font-weight:1000;
                font-size: 30px;
            }


.txt{
    align-items: center;
    display: flex;
}  

.txt img{
    border-radius: 50%;
    padding: 20px;
}
.txt2{
    padding-right: 111px;
}
@media (max-width:700px){
    .txt{
        align-items: center;
        display: contents;
    }  
    
    .txt img{
        display: none;

    }
    .txt2{
        padding-right: 0;
    }
}



#sizh{
    font-size: 50px;
}
#sizp{
    font-size: 23px;
}

.txtcn{
    text-align: center;
    padding: 52px 48px;
    color: #fff;
    background-color: #09154b;
}
.txtcn3 button{
    color: #d9f7de;
    background-color: #09ff01;
    height: max-content;
    width: max-content;
    padding: 20px;
    margin-top: 41px;
    border-radius: 50px;
    font-size: 50px;
    text-align: center;
    
}
@media (max-width:700px){
    .txtcn3 button{
        color: #d9f7de;
        background-color: #09ff01;
        height: max-content;
        width: max-content;
        padding: 2px;
        margin-top: 41px;
        border-radius: 50px;
        font-size: 20px;
        text-align: center;
        
    }
}
.txtcn3{
    background: -webkit-linear-gradient(left, #34f15d, #00c6ff);
    text-align: center;
    padding: 52px 48px;
}
 h2{
    border: 4.5px solid #09ff01;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-bottom: 10px;
    margin-bottom: 24px;
}
.txtcn1{
    
    text-align: center;
    padding: 52px 48px;
}
.txtcn1 h2{
   color:#03612e;
}

.grd{
 display: flex;
 background-color: rgb(253, 246, 246); 
 padding-left: 13%;
  
}
.grdin{
    padding: 1px;
    background-color: #fff;
    text-align: center;
    width: 260.422;
}
.grdin button{
    color:#fff;
    font-size: 20px;
    background: -webkit-linear-gradient(left, #8c65e9, #110391);
    padding: 10px;
    border-radius: 10px;
}
@media (max-width:700px){
    .grd{
        display: contents;
        background-color: rgb(253, 246, 246); 
         
       }
       .grdin{
           padding: 10px;
           background-color: #fff;
           text-align: center;
           width: 260.422;
       }
}


/*footer css*/


footer{
width: 100%;
bottom: 0;
background: linear-gradient(to right,#00093c,#2d0b00);
color: #fff;
padding: 100px 0 30;
border-top-left-radius: 125px;
font-size: 13px;
line-height: 20px;
}
.roww{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

}
.colu{
    margin-top: 90px;
    flex-basis: 25%;
    padding: 10px;

}
.colu:nth-child(2),.colu:nth-child(3){
    flex-basis: 15%;
}
.colu h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;

}
form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.social-icons img{
    width: 20px;
    height: 20px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    margin:3px;
    padding: 0;
}
hr{
    width:90%;
    border: 0;
    border-bottom: 1px  solid #ccc;
    margin: 20px  auto;

}
.copyright{
    text-align: center;

}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;

}
@keyframes moving {
    0%{
        left: -20px;

    }
    100%{
        left: 100%;
        
    }
}
@media (max-width:700px){
    footer{
bottom: unset;
    }
    colu{
        margin-top: 90px;
        flex-basis: 100%;
        padding: 10px;
    
    }
    .colu:nth-child(2),.colu:nth-child(3){
        flex-basis: 100%;
    }
}




.ptxt{
    background-image: url("https://source.unsplash.com/2000x700/?nature");
    z-index: 3;
    color: #f7f0f5;
    padding: 70px;
    padding-top: 40px;
    display: flex;
    
}
.ptxt1 h1{
    font-size: 90px;
    font-weight:600;
}
.ptxt4{
    text-decoration: noun;
    display: inline-block;
    font-size:100%;
    font-weight:500;
    border: 1px solid rgb(255, 255, 255);
    color:#f8eef6;
    padding: 10px 15px;
    border-radius: 7px;
    margin: 3% 0 1%;
    transform: padding 0.5s;
    z-index: 3;
}

.ptxt4:hover{
    padding: 15px 20px;
    
} 
.ptxt5{
    z-index: 3;
    text-decoration: noun;
    display: inline-block;
    font-size:100%;
    font-weight:500;
    background:#fff;
    color:#080107;
    padding: 10px 15px;
    border-radius: 7px;
    margin: 3% 0 1%;
    transition: padding 0.5s;
}
.ptxt2{
    margin-left: 230px;
    z-index: 3;
}
.ptxt5:hover{
    padding: 15px 20px;
}

@media (max-width:700px){
    .ptxt{
        color: #f7f0f5;
        padding: 20px;
        padding-top: 60px;
        display: flex;
        
    }
    .ptxt1 h1{
        font-size: 40px;
        font-weight:600;
    }
    .ptxt4{
        text-decoration: noun;
        display: inline-block;
        font-size:100%;
        font-weight:500;
        border: 1px solid rgb(255, 255, 255);
        color:#f8eef6;
        padding: 10px 15px;
        border-radius: 7px;
        margin: 3% 0 1%;
        transform: padding 0.5s;
        z-index: 3;
    }
    
    .ptxt4:hover{
        padding: 15px 20px;
        
    } 
    .ptxt5{
        z-index: 3;
        text-decoration: noun;
        display: inline-block;
        font-size:100%;
        font-weight:500;
        background:#fff;
        color:#080107;
        padding: 10px 15px;
        border-radius: 7px;
        margin: 3% 0 1%;
        transition: padding 0.5s;
    }
    .ptxt2{
        display: none;
    }
    .ptxt5:hover{
        padding: 15px 20px;
    }
    
}