#menu-principal {
  text-align: left;
  background-color: rgb(214, 52, 52);
  font-family: "Roboto Slab" serif;
  height: 5vh;
  font-size: 18px;
  min-height: 40px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: -3px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

#menu-principal > a {
  margin: 10px;
  text-decoration: none;
}
.nomes {
  display: flex;
  justify-content: center;

  padding: 15px;
}

audio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.tabela {
  margin: 10px;
}
.Placa-Mãe img {
  height: 40vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Hard-disk img {
  height: 40vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.processador img {
  height: 40vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Placa-de-vídeo img {
  height: 40vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.RAM img {
  height: 40vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menu-item {
  background-color: rgb(250, 210, 217);
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  transition: background-color 1s;
  border-radius: 0px 0px 3px 3px;
}

html {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  text-decoration: none;
}
a {
  color: black;
  text-decoration: none;
}
.busca {
  background-color: rgb(255, 160, 122, 0.7);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  margin: 0px;
  background-color: rgb(red, green, blue);
}
article {
  display: block;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 10vh;
  margin-right: 10vh;
}

h1 {
  font-family: lora;
  text-align: center;
  margin-bottom: 2vh;
}
h3 {
  text-align: center;
  margin-bottom: 2vh;
}
#tópicos {
  /* ESSE É O MENU */
  min-height: 100vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.banner-principal a {
  text-align: center;
  display: block;
  text-decoration: none;
  color: red;
}
.banner-principal {
  background-color: rgb(250, 239, 239);
}
.banner-principal img {
  width: 60vh;
}

.conteudo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
}

.item-conteudo {
  width: 100vh;
  box-sizing: border-box;
  background-color: rgb(255, 160, 122, 0.7);
  margin: 10px;
}
.conteudo a {
  margin: auto;
}

.item-conteudo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.item-conteudo a img {
  border-radius: 16px;
  clip-path: circle(90% at center);
}

.rodape {
  text-align: left;
  background-color: rgb(214, 52, 52);

  margin-bottom: 0;
  font-family: "Roboto Slab" serif;
  width: 100%;
  height: 4vh;
  font-size: 18px;
  min-height: 30px;
  margin-bottom: 0px;
  outline: none;
}
.rodape a {
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
