h1 {
    font-family: Ink Free;
    background-color: lightgreen;
    color: darkcyan;
  }
  
h3 {
    font-family: Courier New;
    font-size: 20px;
}
  
p {
    font-family: Franklin Gothic Medium;
    color: darkslateblue;
}
  
body {
  background-color: lightsalmon;
  background-image: url(https://fondosmil.com/fondo/17021.jpg);
  background-size: 1920px 1080px;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
} 

#preferido {
    color: rgba(112, 3, 3, 0.726);
}

.cartelEntrada {
  background-color: white;
  padding: 0px;
  width:100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ordenado {
  display: flex;
  flex-direction: row;
  align-content: flex-start; 
}

.cajita {
  margin-right: 20px;
  list-style-type: none;
}

.visible {
  display: none;
} 
  
#receta{
  cursor: url(https://cur.cursors-4u.net/food/foo-6/foo523.cur), auto !important;
}

#nover {
  cursor: url(https://ani.cursors-4u.net/games/gam-16/gam1571.ani), url(https://ani.cursors-4u.net/games/gam-16/gam1571.png), auto !important;
}

.rompeTODO{
  background-color: black;
  color: red;
}

  /*4 titulos h2 con colores de a pares
  4 parrafos uno de ellos va a tener un fondo distinto color
  body una imagen de fondo.*/
  