.mainpic {
  overflow: hidden;
}

.mainimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.maintext {
  display: flex;
  justify-content: center;
  font-family: "Inconsolata";
  font-size: 22px;
  font-size: 5vw;
}

.maintext a {
  text-decoration: none;
  color: rgb(42, 152, 202);
}
