body {
  font-family: Encode Sans;
  margin: 0;
  /*width: 1600px;*/
  height: 1080px;
}

/*---------------------------------------*/
/*CABEÇALHO*/
.logotype_globo {
  background: lightblue;

  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 80px;
}

.globoLogo {
  width: 171px;
  height: 36px;
}
/*---------------------------------------*/

/*---------------------------------------*/
/*MENU*/
.menu {
  height: 40px;

  display: flex;
  justify-content: space-between;
  text-decoration: none;

  margin-right: 195px;
  margin-left: 140px;
}
/*Impede que todos os membros herdeiros da div menuSuperior mude de cor ao ser clicado*/
.menu a {
  text-decoration: none;
  color: inherit;
}

.g1 {
  width: 40px;
  height: 40px;
  left: 140px;
  top: 81px;

  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #c3170c;
}

.oGlobo {
  width: 89px;
  height: 40px;
  left: 231px;
  top: 81px;

  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #1e4b9b;
}

.valor {
  width: 70px;
  height: 40px;
  left: 375px;
  top: 81px;

  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #006766;
}

.ge {
  width: 45px;
  height: 40px;
  left: 501px;
  top: 81px;

  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #07aa47;
}

.cartola {
  width: 86px;
  height: 40px;
  left: 603px;
  top: 80px;

  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #e3662b;
}

.globoplay {
  width: 113px;
  height: 40px;
  left: 733px;
  top: 80px;

  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #fb0735;
}

.dropz {
  width: 75px;
  height: 40px;
  left: 902px;
  top: 80px;

  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #ff75bb;
}

.gshow {
  width: 84px;
  height: 40px;
  left: 1033px;
  top: 80px;

  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #ec7d00;
}

.quem {
  width: 74px;
  height: 40px;
  left: 1176px;
  top: 80px;

  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #323333;
}

.receitas {
  width: 93px;
  height: 40px;
  left: 1312px;
  top: 80px;

  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #a81d83;
}
/*---------------------------------------*/

/*---------------------------------------*/
/*NOTICIAS*/
.noticias {
  width: 1250px;
  height: 845px;
  background: orange;

  /*margin-left: 3cm;*/
  display: flex;
  justify-content: center; /*Alinha o texto na horizontal*/
  align-items: center; /*Alinha o texto na vertical*/
}

/*Impede que todos os membros herdeiros da div menuSuperior mude de cor ao ser clicado*/
.noticias a {
  text-decoration: none;
  color: inherit;
}

/*<*******NOTICIAS DA PARTE 01***********>*/
/*Onde ficará a maior coluna a dá direita. Subdividido em 3 partes: A, B e C*/
.noticiasParte01 {
  background: green;
  width: 663px;
  height: 845px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.noticiaPrincipalA {
  display: flex;
  flex-direction: column;
  height: 312px;
}

/*A notícia maior do site. Primeira coluna*/
.noticiaPrincipalA1 {
  width: 624px;
  height: 201px;
  background: hotpink;

  display: flex;

  text-align: justify;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 67px;

  color: #c4160c;

  margin-bottom: 29px;
}

/*As duas notícias abaixo da maior notícia do site. Primeira coluna*/
.noticiaPrincipalA2 {
  width: 622px;
  height: 25px;
  background: red;

  display: flex;

  text-align: justify;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;

  color: #303134;

  margin-bottom: 7px;
}

.noticiaPrincipalA3 {
  width: 622px;
  height: 25px;
  background: red;

  display: flex;

  text-align: justify;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;

  color: #303134;

  /*margin-bottom: 25px*/
}

/*Onde ficarão as notícias abaixo da notícia principal*/
.noticiaPrincipalB {
  background: greenyellow;
  width: 624px;
  height: 338px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-right: 35px;
}

.noticiaB {
  width: 193px;
  height: 277px;

  background: pink;
}

.noticiaPrincipalC {
  width: 624px;
  height: 179px;
  left: 154.5px;
  top: 811px;

  margin-right: 819px;
  margin-bottom: 87px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: brown;
}

.noticiaC {
  width: 191px;
  height: 179px;
  background: cyan;

  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  justify-items: space-between;
  align-items: center;
  /*align-content: center;*/
}
/*<*******NOTICIAS DA PARTE 02***********>*/
.noticiasParte02 {
  /*width: 357px;*/
  height: 845px;

  /*margin-right: 36px;
  margin-bottom: 35px;
  margin-left: 36px;*/

  background: grey;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
/*---------------------------------------*/
/*<*******NOTICIAS DA PARTE 03***********>*/
.noticiasParte03 {
  /* width: 357px;*/
  height: 845px;

  background: yellow;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
/*---------------------------------------*/

/*---------------------------------------*/
/*BORDAS*/
.bordaMenu {
  background: lightgray;

  border-top-style: solid;
  border-top-color: #f5f6f7;
  border-top-width: 1px;

  border-bottom-style: solid;
  border-bottom-color: #f5f6f7;
  border-bottom-width: 1px;
  /*margin-bottom: 34px;*/
}

.bordaNoticiaHorizontal {
  width: 624px;
  border-top-style: solid;
  border-top-color: #ebedef;

  border-top-width: 1px;
  margin-top: 25px;

  margin-bottom: 25px;
}

.bordaNoticiaVertical01 {
  width: 1px;
  height: 845px;

  border-left-style: solid;
  border-left-color: #ebedef;
  /*border-top-color: black;*/
  border-left-width: 1px;

  margin-top: 0px;
  margin-bottom: 0px;
  /*margin-left: 35px;*/
  margin-right: 35px;
}

.bordaNoticiaVertical02 {
  width: 1px;
  height: 845px;

  border-left-style: solid;
  border-left-color: #ebedef;
  /*border-top-color: black;*/
  border-left-width: 1px;

  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 35px;
  margin-right: 35px;
}

/*---------------------------------------*/

/*---------------------------------------*/
/*IMAGENS*/
.imagem-noticiaPrincipalB {
  width: 193px;
  height: 110px;
  border-radius: 12px;
}

.imagem-noticiasParte02e03 {
  width: 240px;
  height: 128px;
  border-radius: 12px;
}

.imagem-noticiasParte02e03n1 {
  width: 240px;
  height: 128px;
  border-radius: 12px;
  margin-top: -14px;
}
/*---------------------------------------*/

/*---------------------------------------*/
/*TEXTO DAS NOTÍCIAS*/
/*Parte comum à todas as legendas*/
.legenda {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;

  color: #c4170c;
}
.manchete {
  font-family: "Encode Sans";
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.045em;

  color: #2f3134;
}
.subManchete {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #2f3134;
}

/*partes estilizadas das legendas*/
/*Da pate 01, zonas A, B e C*/
.legABC {
  width: 192px;
  height: 19px;

  color: #c4170c;

  margin-top: 7px;
  margin-bottom: 6px;
}
.mctABC {
  width: 192px;
  height: 84px;

  color: #2f3134;

  margin-top: 0px;
  margin-bottom: 4.5px;
}
.smctABC {
  width: 174px;
  height: 42.5px;

  color: #2f3134;

  margin-top: 0px;
  margin-bottom: 0px;
}
/*Da pate 02 - 1ª notícia*/
.leg02 {
  width: 240px;
  height: 19px;

  color: #16ae54;

  margin-top: 7px;
  margin-bottom: 6px;
}
.mct02 {
  width: 240px;
  height: 84px;

  color: #2f3134;

  margin-top: 0px;
  margin-bottom: 4px;
}
.smct02 {
  width: 217px;
  height: 43px;

  color: #2f3134;

  margin-top: 0px;
  margin-bottom: 46px;
}
/*Da pate 02 - noticias específicas*/
.smct02n1 {
  width: 217px;
  height: 43px;

  color: #2f3134;

  margin-top: 0px;
  margin-bottom: 25px;
}

.mct02n2 {
  width: 240px;
  height: 84px;

  color: #2f3134;

  margin-top: 0px;
  margin-bottom: 25px;
}

/*Da pate 03*/
.leg03 {
  width: 240px;
  height: 19px;

  color: #ec8006;

  margin-top: 7px;
  margin-bottom: 6px;
}
.mct03 {
  width: 240px;
  height: 84px;

  color: #2f3134;

  margin-top: 0px;
  margin-bottom: 4px;
}
.smct03 {
  width: 217px;
  height: 21px;
  color: #2f3134;
  margin-top: 0px;
  /*margin-bottom: 50px;*/
}

/*Da pate 03 - noticias específicas*/
.mct03_n2 {
  width: 240px;
  height: 60px;

  color: #2f3134;

  margin-top: 0px;
  margin-bottom: 8px;
}

.smct03n2_1 {
  width: 217px;
  height: 21px;
  color: #2f3134;
  margin-top: 0px;
  margin-bottom: 8px;
}
.smct03n2_2 {
  width: 217px;
  height: 21px;
  color: #2f3134;
  margin-top: 0px;
  margin-bottom: 50px;
}

.mct03n3 {
  width: 240px;
  height: 26px;

  color: #2f3134;

  margin-top: 0px;
  margin-bottom: 8px;
}

.smct03n3 {
  width: 217px;
  height: 21px;
  color: #2f3134;
  margin-top: 0px;
  /*margin-bottom: 50px;*/
}

/*---------------------------------------*/
