.button1 {
  background-color: brown;
  padding: 15px;
  display: block;
}

.button2 {
  background-color: coral;
  padding: 15px;
  display: inline;
}

.button3 {
  background-color: crimson;
  padding: 15px;
  display: inline-block;
}
