.aaa {
  font-style: italic;
}

#bbb {
  text-align: center;
}

[title] {
  font-weight: bold;
}

h1#bbb {
  color: darkslategrey;
}

p.aaa {
  font-size: 18px;
  text-decoration: green wavy underline;
}

p[title] {
  font-size: 17px;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
