.bbb {
  background-color: greenyellow;
  width: 5cm;
  height: 5cm;
  box-shadow: 5px 10px 15px rgb(4, 205, 255), -3px -5px 15px red inset;
}

.ccc {
  width: 300px;
  height: 300px;
  margin: 20px;
  border-radius: 25px;
  background-color: green;
  background-image: url("images/background-bubble.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.zindex {
  width: 100px;
  height: 100px;
  position: absolute;
}
