body {
  color: black;
  text-align: center;
  font-family: "Goudy Bookletter 1911", serif;
}
.topnav {
  background-color: rgb(160, 140, 110);
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 20px;
  border-bottom: 3px solid transparent;
}
.topnav a:hover {
  border-bottom: 3px solid black;
}
.jumbotron {
  background-image: url("img/jumbo2.jpg");
  color: black;
  background-size: cover;
  height: 500px;
}
td {
  padding-top: 100px;
  padding-right: 30px;
  padding-left: 30px;
}
.carousel-item #top {
  height: 500px;
  background-size: cover;
}
.sections {
  height: 400px;
}
#colored {
  background-color: rgb(160, 140, 110);
}
#triple {
  height: 230px;
  width: 230px;
  border-radius: 200px;
}
.btn-outline-dark:hover {
  background-color: rgb(120, 100, 70);
}
.service {
  height: 150px;
  width: 150px;
}
#footer1 {
  text-align: left;
}
#footer2 {
  text-align: right;
}
.socials {
  height: 35px;
  width: 35px;
}
#socials {
  background-color: rgb(160, 140, 110);
  border-radius: 100px;
  height: 60px;
  width: 60px;
}
button#socials:hover {
  cursor: not-allowed;
}
