@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Raleway:wght@300&display=swap");

@import 'header';
@import 'about';
@import 'gallery';
@import 'contact';

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  position: relative;
  background: white;
  color: #474747;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: #212121;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

p {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.05em;
    text-align: justify;

}

h2 {
    color: #212121;
    text-transform: capitalize;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    text-decoration-color: #AF8738;
}

h2,h3 {
  margin-bottom: 40px !important;
}

h3 {
  font-size: 80px;
  font-family: "Abhaya Libre";
  font-weight: normal;
}

.selected {
    &::before{
        transform: scaleX(1) !important;
        background-color: #AF8738 !important;
    }

    &:hover::before {
        opacity: 0;
    }
}

ul {
    list-style-type: none;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #323232;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: opacity .4s ease-in-out, transform .4s ease;
}
.nav-link:hover::before {
  transform-origin: 0 0;
  transform: scaleX(100%);
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.button {
  padding: 8px 16px !important;
  outline: 2px solid #212121;
  color: #212121;
}

#scroll-back {
  display: none;
  padding: 20px;
  border-radius: 100rem;
  height: 3em;
  width: 3em;

  position: fixed;
  bottom: 3vh;
  right: 3vh;

  background-color: #fefefe;
  border: none;
  box-shadow: 3px 3px 12px #ccc;
  font-size: 24px;
  z-index: 5;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);

  &:hover {
    cursor: pointer;
    transform: scale(1.12);
  }
}

#menu-btn{
  display: none;
  background-color: transparent;
  outline: none;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 50px 30px!important;

  img{
    width: 30px;
  }
}

#menu-btn {
  display: none;
}

// Mobile version
@media only screen and (max-width: 1900px) {
  body {
    overflow-x: hidden !important;
  }


  .row {
    flex-direction: column;
  }

  #scroll-back {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }

  * {
    padding: 0 !important;
    margin: 0 !important;
  }

  #menu-btn {
    display: block;
    z-index: 9999 !important;
  }

  h2 {
    margin-top: 40px !important;
    text-align: center;
  }
}

@media only screen and (min-width: 1900px) {
  #about{
    img{
      object-fit: cover !important;
    }
  }
  p{
    width: auto !important;
  }
}