body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.box {
  width: 600px;
  height: 600px;
  box-shadow: rgb(222, 222, 222) 1px 40px 40px 40px;
  border-radius: 10px;
  padding: 15px;
  overflow: scroll;
}

.user {
  min-height: 100px;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pfp {
  width: 60px;
  height: 60px;
  margin: 20px;
  border-radius: 50%;
  background: #eee;
  background-size: cover;
  background-position: center;
  background-image: url(https://github.com/LibanAlasow/my-basement/blob/main/newpfp.jpg?raw=true);
}

.username {
  margin: 6px;
  font-size: 17px;
}

.caption {
  margin: 6px;
  font-size: 15px;
  color: gray;
}

.section2 {
  height: 100px;
  margin-top: 20px;
  padding: 20px;
  border-top: rgb(218, 218, 218) solid 1px;
}

.small-title {
  margin-top: 5px;
  font-size: 14px;
  color: rgb(87, 87, 87);
  font-weight: bold;
}

.medium-title {
  margin-top: 2px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.hub {
  min-height: 60px;
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: rgba(10, 7, 27, 0.15) 0px 48px 100px 0px;
  background: white;
}

.icon {
  margin-right: 7.5px;
}

.bar {
  height: 15px;
  width: 100%;
  margin: 10px;
  background: rgb(210, 210, 210);
  border-radius: 7px;
  overflow: hidden;
}

.bar-inner {
  background: rgb(102, 71, 255);
  height: 100%;
  width: 82%;
  border-radius: 7px;
}

.social-banner {
  width: 100%;
  height: 60px;
  background-image: linear-gradient(
    to right,
    rgb(93, 93, 255),
    rgb(61, 61, 255)
  );
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 15px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .box {
    border-radius: 0;
    box-shadow: none;
  }
  body {
    align-items: flex-start;
  }

  .username {
    font-size: 15px;
  }
  .caption {
    font-size: 14px;
  }
}
