* {
  box-sizing: border-box;
}

:root {
  --main-red-color: #e06262;
}

.main-red-color {
  color: var(--main-red-color);
}

html {
  font-size: 10px;
}
body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  background-color: #2d2d2d;
  height: 100vh;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: 600px;
  height: 600px;
  background-color: #f2eecb;
  border-radius: 4px;

  padding: 32px;
}

.frame {
  border: 1px solid #484848;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: flex-start;
}

.header-title {
  flex: 1;
  text-align: center;
  font-size: 3.6rem;
  font-family: "Homemade Apple", sans-serif;
  text-transform: lowercase;
}
.header-btn {
  font-size: 1.8rem;
  font-family: "Bungee", sans-serif;

  padding: 24px;

  background: unset;
  border: unset;
  outline: unset;
}
