.example-parent {
  border: 2px solid #dfa612;
  color: black;
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
  height: 100%;
}

.example-origin {
  flex-basis: 30%;
  flex-grow: 1;
  padding: 10px;
}

.example-draggable {
  background-color: #4aae9b;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.example-dropzone {
  background-color: #6db65b;
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
}
