/* variables:  */

:root {
  --our_yellow: #fed136; /* used for: navbar, buttons, icons, portfolio layout, footer a-tags */
  --our_light_grey: #f9f9f9; /* used for: navbar portfolio background, team background,  */
  --our_text_color: rgb(33, 37, 41); /* used for: primary text */
  --our_text_color_light: rgb(108, 117, 125); /* used for: secondary text */
}


/* we need to add any cool font family */



