body {
  background: #ffffff;
  font-family: "proxima-nova", sans-serif;
  padding: 0;
  margin: 0;
}

.btns {
  margin: 0 2px;
  width: 38%;
  max-width: 320px;
  min-width: 256px;
  justify-content: space-around;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.btns .btn {
  text-decoration: none;
  background: #4f1e39;
  width: 26%;
  min-width: 70px;
  max-width: 100px;
  color: #ffffff;
  padding: 4px 0px;
  margin: 4px 0;
}
.btns .btn:hover,
.btns .current {
  text-decoration: none;
  background: #ffffff;
  width: 26%;
  min-width: 70px;
  max-width: 100px;
  color: #4f1e39;
  padding: 4px 0px;
  margin: 4px 0;
  font-weight: bold;
}

.centerstuff {
  width: auto;
  background-color: #4fc5d6;
  display: flex;
  flex-wrap: wrap;
}

.nav_elmnt a:hover {
  background-color: #fff;
}
.pagetitle {
  display: block;
}
.pagetitle h1 {
  padding: 0px;
  margin: 0px;
  color: white;
  font-weight: 700;
  display: block;
  font-size: 2rem;
}

.minilogobox {
  height: 35px;
}
.minilogobox img {
  max-width: 100%;
  max-height: 100%;
  padding: 1px 4px;
}
.thatbox .worksc {
  width: 100%;
}
