body {
  overflow: hidden;
}

.headline {
  color: white;
  background-color: blue;
  font-size: 3vh;
  font-family: sans-serif;
  padding: 0.4vh 1vh;
  border-radius: 1vh;
}

.footerline {
  color: white;
  background-color: gray;
  font-size: 2vh;
  font-family: sans-serif;
  padding: 0.2vh 1vh;
  border-radius: 0.5vh;
}

img.emoji {
  height: 1em;
  width: 1em;
}
