* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(214, 214, 214);
  margin: 0;
  padding: 0;
}

/*HEADER */

header {
  background-color: rgb(11, 0, 160);
  font-size: 20px;
  top: 0;
  position: fixed;
  width: 100%;
}

header#head h1 {
  color: rgb(255, 255, 255);
  padding: 15px 20px;
  width: 100%;
}

/* FOOTER*/
footer section {
  background-color: rgb(0, 9, 94);
  position: fixed;
  bottom: 0;
  text-align: center;
  margin-top: 10px;
  padding: 15px 0px;
  width: 100%;
}

footer#foot h1 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-transform: uppercase;
}

footer#foot p {
  color: rgb(255, 255, 255);
  padding: 2px;
}

/* SIDEBAR */
aside {
  float: right;
  background: rgb(0, 73, 156);
  margin-top: 90px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 530px;
  padding: auto;
  width: 21%;
}

section#navi ul li {
  display: inline;
  position: relative;
}

section#navi ul li a {
  color: rgb(255, 255, 255);
  display: block;
  font-size: 20px;
  padding-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

/*MAINCONTENT*/

article {
  background: rgb(0, 82, 177);
  margin-top: 90px;
  margin-left: 10px;
  padding: 15px;
  height: 500px;
  width: 75%;
}

article#content {
  color: #fff;
  float: left;
}
