* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #000;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.disclaimer {
  display: none;
  max-width: 540px;
  color: #f2f2f2;
  margin: auto;
}

.disclaimer p {
  margin-bottom: 0.25rem;
}

.wrapper {
  align-self: center;
  margin: 0 auto;
  position: relative;
}

header {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 4;
  display: flex;
  justify-content: space-between;
}

header > * {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
}

#volume {
  max-width: 100%;
}

#mobAudio {
  display: block;
}

#menu {
  position: absolute;
  z-index: 3;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background: linear-gradient(
    167.96deg,
    rgba(75, 28, 31, 0.85) 0%,
    rgba(63, 33, 34, 0.85) 100%
  );
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.logo {
  max-width: 65%;
  margin: 0px auto;
}

#menu .logo {
  margin: 2rem 33%;
}

.bar1,
.bar2,
.bar3 {
  width: 2rem;
  height: 5px;
  background-color: black;
  margin: 5px 0;
  padding-right: 1em;
  transition: 0.7s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -6px);
}

img {
  max-width: 100%;
}

.scroll-center:first-of-type {
  color: #66071b;
}

.logo ~ h4 {
  font: 400 1.125rem "Oswald", sans-serif;
  text-align: center;
  margin-bottom: 3rem;
}

#linkCont {
  margin: 0px 2rem;
  color: #d7c1c4;
  list-style-type: none;
}

#linkCont li {
  position: relative;
  margin: 0px;
  padding-bottom: 1em;
  padding-left: 20px;
}

#linkCont li:before {
  background-color: #c00;
  width: 2px;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 5px;
}

#linkCont li:first-child:before {
  top: 1rem;
}

#linkCont li:last-child:before {
  height: 1rem;
}

.bullet {
  width: 1rem;
  margin-top: 0.75rem;
  margin-left: -1.4rem;
  fill: #c00;
  float: left;
}

.bullet.big {
  width: 1.5rem;
  margin-top: 0.5rem;
  margin-left: -1.65rem;
  fill: #d7c1c4;
}

h3 {
  font: 800 1.5rem "Oswald", sans-serif;
}

#linkCont h3 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 1rem;
}

#linkCont p {
  font: 400 1.125rem "Oswald", sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 1rem;
}

.boldAnc {
  color: #ffffff;
}

.scroll-container {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroll-center {
  height: 100%;
  scroll-snap-align: center;
}

.parallax {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 2;

  /* transform: translate3d(700px, 0, -800px) rotateY(30deg);*/
}

.z1 {
  z-index: 1;
}

.z0 {
  z-index: 0;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*transform-origin-x: 100%;*/
}

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
}

.parallax__layer--far {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
}

.parallax__layer--deep {
  -webkit-transform: translateZ(-900px) scale(4);
  transform: translateZ(-900px) scale(4);
}

.txtDark {
  color: #38453d;
}

.txtLight {
  color: #f2f2f2;
}

.content {
  height: 100%;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  font: 3rem "Oswald", sans-serif;
  margin-bottom: 1rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  font: 700 2rem "Oswald", sans-serif;
  margin-bottom: 1rem;
  z-index: 2;
}

p {
  margin-bottom: 1rem;
  z-index: 1;
}

footer {
  position: fixed;
  bottom: 4rem;
}

.boxLight {
  padding: 0.5rem;
  margin: 0px -0.5rem 1rem -0.5rem;
  background: rgba(243, 216, 199, 0.44);
  backdrop-filter: blur(20px);
  border-radius: 10px;
}

.boxMid {
  padding: 0.5rem;
  margin: 0px -0.5rem 1rem -0.5rem;
  background: rgba(136, 168, 143, 0.44);
  /* box-shadow: -13px -13px 36px #8fae9b, 13px 13px 36px #38453d; */
  box-shadow: -13px -13px 36px rgba(143, 174, 155, 0.5),
    13px 13px 36px rgba(56, 69, 61, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 10px;
}

.boxDark {
  padding: 0.5rem;
  margin: 0px -0.5rem 1rem -0.5rem;
  background: rgba(78, 34, 43, 0.8);
  box-shadow: -13px -13px 36px #411b1e, 13px 13px 36px #1f0e11;
  backdrop-filter: blur(20px);
  border-radius: 10px;
}

.GHGcons {
  list-style-type: none;
}

.GHGcons li {
  font: 700 1.5rem "Oswald", sans-serif;
  margin: 1rem 0;
}

.flex-img {
  max-width: 20%;
  margin: 2rem 0px;
}

.img-cont {
  margin: 2rem 25%;
}

.bodyBold {
  font-weight: 700;
}

.highlight {
  font: 700 4.5rem "Ubuntu", sans-serif;
}

.marginClear {
  margin-bottom: 0px;
}

.waterRise {
  justify-content: flex-end;
  width: 100%;
  margin: 0px;
}

.box1 {
  height: 46%;
  /* background: rgba(0, 0, 0, 0.5); */
  /* background: rgba(9, 30, 82, 0.5); */
  background: rgba(11, 51, 71, 0.5);
  /* background: rgba(13, 65, 62, 0.5); */
}

.box2 {
  height: 22%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgb(11, 51, 71)),
    repeating-linear-gradient(
      -55deg,
      #28525f,
      #28525f 10px,
      #86afbd 10px,
      #86afbd 20px
    );
}

.waterRise h2,
.box1 > *,
.box2 > * {
  margin-left: 2rem;
  margin-right: 2rem;
}

.box1 .bodyBold,
.box2 .bodyBold {
  padding-top: 1rem;
}

#dataVis {
  width: 100%;
  margin-bottom: 1rem;
}

#nxtStep {
  display: none;
}

/* #nxtStep {
  visibility: hidden;
} */

.popups {
  text-decoration: underline;
}

.backbuild {
  transform: translateY(0);
}

.bg-img {
  margin: 0 -1.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.bg-img img {
  max-width: 200%;
}

button {
  max-width: 10rem;
  z-index: 2;
}

.bg-vid {
  margin: 0 -2rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: -1;
  /* overflow: hidden; */
}

.bg-vid video {
  min-height: 200%;
  min-width: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  #menu .logo {
    margin: 2rem 40%;
  }

  .content {
    margin: 0 6rem;
  }

  .bg-vid {
    margin: 0 -6rem;
  }

  .waterRise {
    margin: 0px;
  }

  .waterRise h2,
  .box1 > *,
  .box2 > * {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

@media (width: 800px) and (height: 1200px) {
  .bg-vid video {
    max-height: 200%;
  }
}

@media (min-width: 801px) {
  .disclaimer {
    display: block;
    flex-shrink: 1;
  }

  .wrapper {
    outline: solid red;
    flex-shrink: 0;
  }

  .wrapper,
  header,
  #menu {
    width: 540px;
  }
  .wrapper,
  #menu,
  .scroll-container {
    height: 920px;
  }

  #mobAudio {
    display: none;
  }
}
