* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #35b5fd;
}

.mainbox {
  position: absolute;
  width: 1287px;
  height: 696px;
  left: 84px;
  right: 84px;
  top: 163px;
  bottom: 163px;
  background: white;
  box-shadow: 6px 4px 6px 2px rgba(0, 0, 0, 0.25);
}

.lbox {
  position: absolute;
  width: 276px;
  height: 698px;
  background: #24244e;
  color: #ffffff;
}

.ltopbox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 276px;
  height: 107px;
  border-bottom: 1px solid white;
  cursor: pointer;
  transition-duration: 0.6s;
}

.ltopbox:hover {
  color: #dbfafa;
  text-shadow: 0 0 5px #968c8c;
}

.lbottombox {
  position: absolute;
  width: 276px;
  height: 597px;
  top: 185px;
}

.rbox {
  position: absolute;
  width: 997px;
  height: 698px;
  left: 276px;
}

.rtopbox {
  position: absolute;
  width: 1012px;
  height: 107px;
  border-bottom: 1px solid #848484;
}

.rbottombox {
  position: absolute;
  top: 131px;
  left: 75px;
  width: 995px;
  height: 597px;
}

.iconsbox {
  display: flex;
  align-items: center;
  position: absolute;
  width: 259px;
  height: 55px;
  left: 765px;
  top: 25px;
}

.userbox {
  display: flex;
  align-items: center;
}

.tablebox {
  position: absolute;
  top: 130px;
}

.rectangle1 {
  width: 57px;
  height: 56px;
  font-size: 56px;
}

.rectangle2 {
  width: 48px;
  height: 48px;
  font-size: 40px;
  top: 10px;
  left: 43px;
  margin-left: 43px;
  margin-right: 16px;
}

.circle {
  width: 45px;
  height: 45px;
  left: 43px;
  float: left;
  margin-right: 16px;
  border-radius: 100%;
}

.empresa {
  font-family: "Comfortaa", cursive;
  font-size: 20px;
}

.lmenu {
  display: flex;
  align-items: center;
  width: 276px;
  height: 69px;
  font-size: 19px;
  color: white;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition-duration: 0.5s;
}

.lmenu:hover {
  background: #4c70cb;
  text-shadow: 0 0 4px #8fbdc4;
}

.topicons {
  padding-right: 20px;
  color: #9b9b9b;
  cursor: pointer;
  transition-duration: 0.4s;
}

.topicons:hover {
  color: #2828aa;
}

.giro:hover {
  transform: rotateX(-180deg);
}

.topuserimg {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-image: url(./profileimage/user1.jpeg);
  background-size: cover;
  transition-duration: 0.4s;
}

.topuserimg:hover {
  filter: grayscale(70%);
  transform: scale(1.2) rotate(-1deg);
}

.usertext {
  padding-left: 10px;
  padding-right: 5px;
  color: #9b9b9b;
  cursor: pointer;
  transition-duration: 0.6s;
}

.usertext:hover {
  color: #2828aa;
}

.title {
  position: absolute;
  top: 17px;
  font-size: 13px;
  line-height: 15px;
  color: #808080;
}

.greenrectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: 55px;
  width: 74px;
  height: 29px;
  top: 20px;
  background: #67f244;
  border-radius: 6px;
  font-weight: 900;
  color: white;
}

.subtitle {
  position: absolute;
  top: 75px;
  color: #808080;
  font-size: 13px;
  font-weight: normal;
}

table {
  width: 870px;
  border-collapse: collapse;
}

th,
td {
  height: 55px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tabletitle {
  font-size: 13px;
  font-weight: bold;
  color: #1e1e1e;
}

.tablecontent {
  font-size: 13px;
  font-weight: normal;
}

.namestable {
  display: flex;
  margin-top: 15px;
}

.iconstable {
  padding-right: 20px;
  cursor: pointer;
}

.user1 {
  background-image: url(./profileimage/user1.jpeg);
  background-size: cover;
  cursor: pointer;
  transition-duration: 0.4s;
}

.user1:hover {
  filter: saturate(190%);
  transform: scale(1.1) rotate(-1deg);
}

.user2 {
  background-image: url(./profileimage/user2.jpg);
  background-size: cover;
  cursor: pointer;
  transition-duration: 0.6s;
}

.user2:hover {
  filter: saturate(190%);
  transform: scale(1.1) rotate(-1deg);
}

.user3 {
  background-image: url(./profileimage/user3.JPG);
  background-size: cover;
  cursor: pointer;
  transition-duration: 0.6s;
}

.user3:hover {
  filter: saturate(190%);
  transform: scale(1.1) rotate(-1deg);
}

.user4 {
  background-image: url(./profileimage/user4.jpg);
  background-size: cover;
  cursor: pointer;
  transition-duration: 0.6s;
}

.user4:hover {
  filter: saturate(190%);
  transform: scale(1.1) rotate(-1deg);
}

.user5 {
  background-image: url(./profileimage/user5.jpg);
  background-position-y: -10px;
  background-size: cover;
  cursor: pointer;
  transition-duration: 0.6s;
}

.user5:hover {
  filter: saturate(190transform: scale(1.1) rotate(-1deg) ;%);
}

.refreshicon {
  color: #35b5fd;
  transition-duration: 0.6s;
}

.refreshicon:hover {
  color: #06eeff;
}

.banicon {
  color: #b61b1b;
  transition-duration: 0.6s;
}

.banicon:hover {
  color: #ff1f1f;
}

.trashicon {
  color: #5f0f7e;
  transition-duration: 0.6s;
}

.trashicon:hover {
  color: #d606ff;
}
