@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
a {
  text-decoration: none;
  font-family: "Comfortaa", cursive;
  font-size: 40px;
  margin-left: 37%;
  /*position: relative;
  max-width: 500px;
  margin: 36%;*/
}
a:hover {
  text-decoration: underline;
  text-decoration-color: blue;
}
a::selection {
  color: rbg(0, 0, 255);
}
i {
  font-size: 50px;
  margin-left: 42%;
}
button {
  background-color: darkgrey;
  border: none;
  color: black;
  padding: 8px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 2px;
  cursor: pointer;
  font-family: "Comfortaa", cursive;
}
.slider {
  size: 500px;
}
.range-value {
  font-family: "Comfortaa", cursive;
}
