@media screen and (min-width: 750px) {
  .h11 {
    font-size: 80px;
  }
  .cccenter {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 700px) {
  h2 {
    font-size: 32px;
  }
  p {
    font-size: 28px;
  }
  .cuts {
    transform: scale(0.75);
  }
}
@media screen and (min-width: 1000px) {
  .cuts {
    transform: scale(0.6) translateY(-30px);
  }
}
@media screen and (max-width: 1310px) {
  #fbox1 {
    border-right: none;
  }
  #fbox2 {
    border-right: none;
  }
  #fbox3 {
    border-right: none;
  }
}
