.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 30px;
}
.text-center {
  text-align: center;
}
.text-center h1 {
  text-transform: uppercase;
}
.services i {
  font-size: 50px;
  background: #fed136;
  color: white;
  border-radius: 50%;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .services,
  .responsive-design,
  .web-security {
    display: block;
    width: 95%;
    justify-content: center;
  }
}
