/*onglet de navigation */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.logo img {
  width: 340px;
  height: 119px;
  float: left;
}

.nav-list {
  padding: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: solid;
}
.nav-item {
  margin-right: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-item a {
  color: #000;
  letter-spacing: 1.2px;
}

.nav-item: first-child {
  margin-right: auto;
  margin-left: 2rem;
}

body {
}

/* Tableua pour famille royale */

table {
  border-collapse: collapse;
}
td {
  border: 1px solid black;
  padding: 5px;
}

.paire {
  background-color: #f9eac3;
  font-weight: 112.5px;
}
.impaire {
  background-color: #e2fcfb;
  font-weight: 112.5px;
}
.hauttab {
  background-color: #c8ad7f;
  font-weight: 112.5px;
}

.titre-accueil {
  float: center;
}

/* POsition des images de la page Famille Royale */

* {
}
.orgaI {
  width: 600 px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}
.push {
}

.fig1 {
  position: absolute;
  top: 50%;
  left: 10%;
}

.fig2 {
  position: absolute;
  top: 50%;
  left: 30%;
}

.fig3 {
  position: absolute;
  top: 50%;
  left: 50%;
}
.fig4 {
  position: absolute;
  top: 50%;
  left: 70%;
}

/* Titre de la famille royale*/
* {
}
.h1FaRo {
  color: red;
}
* {
}
.orgah2FaRo {
  width: 600 px;
  margin: 0 auto;
  background-color: whitesmoke;
  min-height: 100%;
  position: relative;
}
.h2FaRo {
  color: blue;
  margin-left: 10%;
}

/* Titre des atouts royaux */

* {
}
.h1AR {
  color: #c8ad7f;
  width: 600 px;
  margin: 0 auto;
  background-color: black;
  min-height: 100%;
}
.h1C {
  color: #79a9ee;
  width: 600 px;
  margin: 0 auto;
  background-color: black;
  min-height: 100%;
}
* {
}
.TableauAR {
  margin: 0 auto;
  min-height: 100%;
}

* {
}
.PageAR {
  background-color: #c8ad7f;
}
.PageFaRo {
  background-color: whitesmoke;
}
.pageC {
  background-color: #79a9ee;
}
* {
}
.pFRimage {
  color: red;
  font-weight: bold;
}
.pFR {
  margin-left: 10%;
  margin-right: 10%;
}

* {
}
.pA {
  margin-left: 340px;
  margin-right: 10%;
}
* {
}
.float {
  float: left;
}
.orgaaccueil {
  margin-left: 30%;
  margin-right: 30%;
}

.h3accueil {
  margin-left: 30%;
}
