* {
  max-width: 1220px;
  margin: auto;
}
body {
  box-sizing: border-box;
  padding: 30px;
}
Body {
  background-color: lightgrey;
}
body {
  font-family: "Zen Maru Gothic", sans-serif;
}
p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin-bottom: 40px;
  margin: 3px;
}
h1 {
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}
h2 {
  font-weight: 500;
}
#description {
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

iframe {
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 20px;
}
.right {
  float: right;
  margin-left: 10px;
}
.left {
  float: left;
  margin-right: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
#about {
  background-color: darkgray;
  padding: 15px;
  border-radius: 12px;
  padding-top: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#abstract {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 1.5em;
  margin-top: 10px;
  border-radius: 10px;
  background-color: darkgray;
}

.right {
  border-radius: 8px;
  margin-right: 10px;
  margin-top: 10px;
}

#BApic {
  border-radius: 10px;
  padding-right: 5px;
  size: auto;
}
