.Textfont {
  overflow: hidden;
  font-style: oblique;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.Textfont1 {
  font-size: large;
  font-family: "Courier New", Courier, monospace, sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(145, 188, 231);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: rgb(223, 130, 128);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(114, 175, 236);
  color: rgb(223, 130, 128);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(145, 188, 231);
  color: rgb(228, 78, 76);
}
