body {
  margin: auto;
  padding: 40px 50px;
  width: 500px;
}
.end {
  margin: auto;
  border: 35px 52px;
  padding: 25px 25px 25px 25px;
  width: 500px;
}
h1 {
  font-family: Arial, sans-serif;
  width: 500px;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

p {
  font-size: 14px;
  line-height: 1.5;
  text-indent: 40px;
  font-family: Arial;
  text-align: justify;
  width: 500px;
}

.cv {
  border: 3px dashed rgb(211, 167, 34);
  border-radius: 20px;
  width: 500px;
  height: 970px;
  text-align: center;
}
.zagl {
  background-color: blanchedalmond;
  width: 500px;
  font-family: Arial, Helvetica, sans-serif;
}
.spis {
  font-size: 14px;
  line-height: 1.5;
  text-indent: 10px;
  font-family: Arial;
  text-align: left;
  width: 450px;
}
.spis1 {
  font-size: 14px;
  line-height: 1.5;
  text-indent: 8px;
  font-family: Arial;
  text-align: left;
  width: 450px;
}
.spis2 {
  font-size: 14px;
  line-height: 1.5;
  text-indent: 5px;
  font-family: Arial;
  text-align: justify;
  width: 450px;
}

ul {
  list-style-type: circle;
}
.text-decor {
  text-decoration: underline;
  font-style: italic;
}

button {
  background: rgba(246, 201, 65, 0.858); /* Красный фон */
  color: #fff; /* Белый цвет текста */
  border: none; /* Убираем рамку */
  padding: 0.7rem 2rem; /* Поля вокруг текста */
  box-shadow: 3px 3px 0 #000; /* Параметры тени */
  position: relative; /* Относительное позиционирование */
  left: -35px; /* Положение слева */
  top: 0; /* Положение сверху */
}

.pos {
  position: relative;
  padding: 25px 25px 20px;
  margin: 0;
}

a:link {
  color: #000000;
}
a:visited {
  color: #000000;
}
a:hover {
  color: #000000;
}
a:active {
  color: #000000;
}

a {
  font-size: 15px;
  font-weight: 400;
}

.end {
  display: flex;
  flex-direction: row;
}
