#pic1{
    width: 50px;
    height: 50px;
}

#pic2{
    width: 50px;
    height: 50px;
}

body{
    background-color: lightblue;
    background-image: url("/Images/background4.jpg");
}

#buttonOne{
    background-color: red;
    min-height: 50px;
    min-width: 100px;
}

#buttonTwo{
    background-color: green;
    min-height: 50px;
    min-width: 100px;
}