body {
  background: #fff;
  color: #000;
  padding: none;
  font-family: sans-serif;
  justify-content: center;
  scroll-behavior: smooth;
}
p {
  font-family: Timesnewroman;
  font-size: 4.9vw;
}
h3 {
  font-family: Timesnewroman;
}
.ccenter {
  width: 100%;
  display: flex;
  justify-content: center;
}
.centerLogo {
  display: flex;
  justify-content: center;
  border: solid;
  border-width: 7px;
  margin: 30px;
  border-color: red;
  max-width: 400px;
  text-align: center;
}
.centerLogo1 {
  width: 80%;
  margin: 10px;
}
.logoType {
  display: flex;
  justify-content: center;
  border-bottom: solid;
  border-width: 5px;
  font-style: italic;
}
.h11 {
  font-weight: 300;
  font-family: Timesnewroman;
  color: red;
  font-size: 8vw;
  text-align: center;
}
.h21 {
  font-family: Timesnewroman;
  font-weight: 300;
  display: flex;
  font-size: 3vw;
  justify-content: space-evenly;
}
h2 {
  font-weight: 300;
  display: flex;
  justify-content: space-around;
}
.pd {
  margin: 2vw;
  display: flex;
  justify-content: space-evenly;
}
.pd:hover {
  color: red;
  cursor: pointer;
}
.picEx {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.picEx1 {
  display: flex;
  justify-content: center;
  width: 80vw;
  background: black;
  height: 40vw;
}
.review {
  margin-left: 10vw;
  margin-right: 10vw;
}
.cuts {
  height: auto;
  display: block;
  margin: 5vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background: ;
  justify-content: center;
}
.cutsg {
  display: ;

  background: white;
  height: 10vw;
  width: 100%;
  margin: 1.5vw;
  justify-content: center;
  border: solid;
  border-width: 3px;
  border-color: black;
}
.cutsg:hover {
  cursor: pointer;
}
.name {
  position: relative;
  left: 1vw;
  bottom: 1.5vw;
  font-size: 4vw;
}
.arrow {
  position: relative;
  transform: translateY(-12vw);
}
.arl {
  width: 0.8vw;
  height: 5vw;
  background: black;
  position: absolute;
  right: 13vw;
  transform: rotate(-45deg);
}
.arr {
  width: 0.8vw;
  height: 5vw;
  background: black;
  position: absolute;
  right: 10vw;
  transform: rotate(45deg);
}
footer {
  width: 100%;
  height: 100px;
  border-top: solid;
  border-color: black;
  border-width: 5px;
}
.prices {
  width: 100%;
  height: 500px;
  display: none;
  background: black;
  transform: translateX(1.5vw);
}
