@media only screen and (max-width: 500px) {
  nav {
    background-color: green;
  }
  header nav ul {
    display: none;
  }
  header > nav {
    justify-content: space-between;
  }
  #slidbar_icon {
    display: block;
  }
}
