.header {
  margin-top: -50px;
  margin-bottom: -50px;
}
.header img {
  float: left;
  padding-left: 6px;
  /* width: 190px;
  height: 92px; */
  background-color: #bf2032;
}
.header h1 {
  position: relative;
  /* left: 190px; */
  font-size: 80px;
  color: #ffffff;
  text-align: right;
  background-color: #bf2032;
}
.nav ul {
  list-style-type: none;
  display: flex;
  margin-top: 8%;
  font-size: 25px;
}
.nav ul li {
  margin-left: 15%;
}

.gtes {
  background-image: url("confetti.jpg");
}
.row {
  max-width: 100%;
  display: flex;
  margin: 5%;
}
.column1 {
  display: inline;
  margin-right: 5%;
}
.column1 img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}
.column1 h3 {
  text-align: center;
}
.column2 {
  display: inline;
  margin-right: 5%;
}
.column2 img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}
.column2 h3 {
  text-align: center;
}
.column3 {
  display: inline;
  margin-right: 5%;
}
.column3 img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}
.column3 h3 {
  text-align: center;
}
.column4 {
  display: inline;
  margin-right: 5%;
}
.column4 img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}
.column4 h3 {
  text-align: center;
}
.column5 {
  display: inline;
  margin-right: 5%;
}
.column5 img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}
.column5 h3 {
  text-align: center;
}
.row2 {
  max-width: 100%;
  display: flex;
  margin: 5%;
}
.column6 {
  display: inline;
  margin-right: 5%;
}
.column6 img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}
.column6 h3 {
  text-align: center;
}
.column7 {
  display: inline;
  margin-right: 5%;
}
.column7 img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}
.column7 h3 {
  text-align: center;
}
.column8 {
  display: inline;
  margin-right: 5%;
}
.column8 img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}
.column8 h3 {
  text-align: center;
}
.column9 {
  display: inline;
  margin-right: 5%;
}
.column9 img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}
.column9 h3 {
  text-align: center;
}
.column10 {
  display: inline;
  margin-right: 5%;
}
.column10 img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}
.column10 h3 {
  text-align: center;
}
.row3 {
  max-width: 60%;
  display: flex;
  margin: 5%;
}
.column11 {
  display: inline;
  margin-right: 5%;
}
.column11 img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}
.column11 h3 {
  text-align: center;
}
.column12 {
  display: inline;
  margin-right: 5%;
}
.column12 img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}
.column12 h3 {
  text-align: center;
  list-style: none;
}
.column13 {
  display: inline;
  margin-right: 5%;
}
.column13 img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}
.column13 h3 {
  text-align: center;
  list-style-type: none;
}
/*
.techs{
background-color: #CAE7DF;
}*/

.events {
  background-color: #D7D9D5​;
}

.holidays {
  background-color: #e1f2f7;
}

.events {
  display: flex;
}

.box {
  flex-basis: 30%;
  margin: 15px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 300px;
  border-radius: 10px;
  box-sizing: border box;
  box-shadow: 10px 10px 10px #c1c1c1;
}

.box h2 {
}

#eve1 {
  background: #87c5e7;
  color: #50555c;
}

#eve2 {
  background: #87c5e7;
  color: #50555c;
}

#eve3 {
  background: #87c5e7;
  color: #50555c;
}

#eve4 {
  background: #87c5e7;
  color: #50555c;
}

#eve5 {
  background: #87c5e7;
  color: #50555c;
}

.collapsible {
  background-color: #bf2032;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 45%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #87c5e7;
}

.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  width: 42%;
}

.techs_col2 {
  margin-top: -285px;
}

.techs_col3 {
  margin-top: 15px;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hol1 {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

/.btn:hover {
  opacity: 1;
}
/ .flip-card {
  background-color: transparent;
  width: 300px;
  height: 100px;
  perspective: 1000px;
  margin-right: 30px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #96182e;
  color: white;
  text-align: center;
}

.flip-card-back {
  background-color: #50555c;
  color: white;
  transform: rotateY(180deg);
  text-align: center;
}
.r {
  display: flex;
  margin-left: 12%;
}
.r2 {
  display: flex;
  margin-left: 12%;
}
.holidays h2 {
  text-align: center;
}
