#div {
  width: 200px;
  height: 200px;
  padding: 30px;
  border-radius: 25%;
  border-bottom: 4px solid purple;
  background: url(images/background.png);
  background-size: cover;

  position: absolute;
  top: 15%;
  right: 25%;
}
