/****** STORY 1 ******/
body {
  background: rgb(187, 199, 214);
  background-image: url("fondo1.gif");
  background-repeat: no-repeat;
  background-position: Bottom Right;
  background-attachment: scroll;
  background-size: 20ex 5.2cm;
}

h1 {
  background-image: linear-gradient(red, yellow, green);
  color: rgb(5, 30, 66);
  margin-left: 1px;
}

p {
  color: rgb(0, 27, 63);
}

tr {
  background: rgb(59, 165, 59);
}

h2 {
  background: rgb(128, 125, 125);
}

h3 {
  background: rgb(173, 171, 171);
}

/****** STORY 2 ******/

/* Clase general Titulos h1, h2 */
h1,
h2 {
  font-family: Verdana, Holtwood One SC, Alfa Slab One, sans-serif;
  text-align: left;
  margin: 0.1em;
}

/* Clase específica h1 */
h1 {
  font-size: 220%;
  text-decoration: underline;
  text-transform: uppercase;
  padding: 0.1em;
  margin-top: 1.5em;
}

/* Clase específica h2 */
h2 {
  font-size: 150%;
  font-style: italic;
  text-shadow: 4px 4px 2px rgb(150, 146, 146);
  padding: 0.2em;
}

/* Clase h4 */
h4.nav {
  margin-top: 4em;
}

/* Clase general body */
body {
  font-family: Helvetica, Alegreya Sans, sans-serif;
  font-size: 95%;
  text-align: left;
  margin: 0em;
}

/* Clase general imágenes */
img.equipo {
  width: 30em;
  height: 22em;
  margin: 0.5em;
}

/* Iconos */
.icon1 {
  font-size: 1.5em;
  padding-left: 0.5em;
  color: dodgerblue;
}

.icon2 {
  font-size: 1.3em;
  padding-left: 0.5em;
  color: dodgerblue;
}

.icon3 {
  font-size: 1.4em;
  padding-left: 0.5em;
  color: dodgerblue;
}

/* Ajustes tamaño mapa */
.mapa {
  width: 35em;
  height: 25em;
  border: 0em;
}

/* Clase general párrafos */
p {
  letter-spacing: 0.02em;
  line-height: 1em;
  margin: 0.5em;
}

/* Indexación */
.indentation {
  text-indent: 2em;
}

/* Texto negrita */
.bold {
  font-weight: bold;
}

/* Sombra texto */
.sombra {
  box-shadow: 5px 5px 10px rgb(49, 117, 185);
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

/* Links */
/* Apartado "O" */
a {
  color: dodgerblue;
  text-decoration: none;
  font-weight: bold;
}

/* Apartado "P" */
a:link {
  color: dodgerblue;
}

a:visited {
  color: rgb(0, 0, 200);
}

a:hover {
  color: rgb(255, 72, 0);
  text-decoration: underline;
}

/****
/* Nav Bar General 
ul.topnav {
  list-style-type: none;
  margin: 0em;
  padding: 0em;
  overflow: hidden;
  background-color: rgb(65, 65, 65);
  position: fixed;
  top: 0em;
  width: 100%;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  color: rgb(55, 155, 255);
  background-color: rgb(85, 85, 85);
}

ul.topnav li a.active {
  background-color: dodgerblue;
}

ul.topnav li.right {
  float: right;
}

/* Nav Bar Mobile 
@media screen and (max-width: 600px) {
  ul.topnav,
  li.right,
  ul.topnav li {
    float: none;
  }

  ul.mobile {
    list-style-type: none;
    margin: 0em;
    padding: 0em;
    overflow: hidden;
    background-color: rgb(65, 65, 65);
    position: absolute;
    top: 0em;
    width: 100%;
  }

  h1.nav {
    margin-top: 7.5em;
  }

  h4.nav {
    margin-top: 16em;
  }
}
***/

/* Clase Tachada */
p.tachado {
  text-decoration: line-through;
}

/* Clase Overline */
p.overline {
  text-decoration: overline;
}

/****** STORY 3 ******/

ul {
  margin: auto;
}

table {
  margin-top: 13px;
}

tr {
  margin-top: 13px;
}

td {
  margin-top: 13px;
}

th {
  margin-top: 13px;
}

p {
  margin-top: 10px;
  margin-bottom: 20px;
}

h3 {
  margin-top: 5px;
}

h2 {
  margin-top: 10px;
}

caption {
  margin-bottom: 5px;
}

iframe {
  margin-bottom: 5x;
  margin-top: 10px;
}

img {
  margin-bottom: 5px;
  margin-top: 10px;
}

/****** STORY 4 ******/

/* diseño de imagenes */

img.general {
  -webkit-box-reflect: right 0px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(139, 11, 11, 0.4));
  margin-left: 20px;
  border: 1px solid #ddd;
  border-radius: 40px;
  padding: 5px;
  width: 30%;
  height: 25%;
}

div.polaroid {
  width: 30%;
  height: 15%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-left: 8ex;
  padding: 1%;
}

img.servicio {
  width: 40%;
  height: 40%;
  margin-left: 5ex;
}

div.container {
  text-align: left;
  padding: 1px 2px;
}

img.icono {
  width: 2em;
  height: 2em;
}
img.logo {
  width: 15%;
  height: 15%;
  opacity: 0.7;
  border-radius: 200px;
}

/****** STORY 5 ******/

/* Parámetros de tdoos los elementos de la tabla */
table,
th,
td {
  border-radius: 1px;
  border-collapse: collapse;
  border: 1px solid black;
}

/* Parámetros de toda la tabla */
table {
  width: 100%;
  empty-cells: hide;
}

/* Parámetros de la cabecera */
th {
  background-color: lightgray;
}

/* Parámetros de la cabecera y el texto */
th,
td {
  text-align: center;
  padding: 8px;
}

/* Parámetros de la leyenda */
caption {
  caption-side: top;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 14px;
}

/* Colores de la tabla */
#horario tr:nth-child(2) {
  background-color: deepskyblue;
}

#horario tr:nth-child(3) {
  background-color: cornflowerBlue;
}

#horario tr:hover {
  background-color: lightblue;
}

/****** STORY 6 ******/

input[type="text"] {
  width: 50%;
  padding: 5px 5px;
  margin: 4px 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

/*estilos del menu desplegable*/
select {
  width: 80%;
  padding: 5%;
  border: none;
  border-radius: 4px;
  background-color: #f5f5dc;
}

/*estilo responsive*/

textarea {
  height: 150px;
  background-color: #f8f8f8;
  resize: none;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

input.nombre {
  border-color: #28a745;
  padding: 10px 0;
  border: 3px solid green;
  background-image: url("https://cdn-icons.flaticon.com/png/512/5616/premium/5616887.png?token=exp=1637053507~hmac=c165eaff235a8a2ca96b3efe3c705d32");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right center;
}

input.telefono {
  border-color: green;
  padding: 10px 0;
  border: 3px solid green;
  background-image: url("https://furtaev.ru/preview/handset_2.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right center;
}

input.email {
  border-color: green;
  padding: 10px 0;
  border: 3px solid green;
  background-image: url("https://furtaev.ru/preview/mail_2.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right center;
}

input.apellidos {
  border-color: green;
  padding: 10px 0;
  border: 3px solid green;
  background-image: url("https://cdn-icons.flaticon.com/png/512/4992/premium/4992540.png?token=exp=1637053507~hmac=8708bb2f9b37d8a670d019bbaa6bd5a0");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right center;
}
