body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1 {
  color: white;
  font-family: Helvetica;
}

p {
  color: white;
  font-family: Helvetica;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a: hover:not(.active) {
  background-color: yellow;
}

.active {
  background-color: green;
  color: aliceblue;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
}
