/*color: #469391*/

body {
  margin: 0;
  font-size: 16px;
  color: #4a5454;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
p {
  font-family: Arial;
}

/* HEADER */
/* navigation */
header {
  font-size: 85%;
  position: sticky;
  top: 0;
  z-index: 99;
}

.activeNav {
  border-bottom: 3px solid #4a5454;
  padding-bottom: 1px;
}

#mainNav a:hover {
  border-bottom: 3px solid #4a5454;
}
/* .logo a:hover {
  transform: scale(1.5, 1.5);
} */

header {
  display: flex;
  width: 100%;
  max-height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  width: 100%;
}

header img {
  width: 9%;
  position: absolute;
}

.logoHover img:hover {
  transition: 0.6s;
  transform: scale(1.1);
}

a {
  text-decoration: none;
}

nav li {
  list-style: none;
  padding: 0.8em 0 0.8em 1.5em;
  margin: 1em 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}

header ul {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  padding: 0;
  padding-right: 5%;
  margin-top: 0;
  margin-bottom: auto;
}

/* FOOTER */

footer {
  position: absolute;
  width: 100%;
  height: 7.5em;
  background-color: #1c4645;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  max-height: 600px;
}

footer p {
  color: white;
  width: 50%;
  font-size: 20px;
  margin-right: 100px;
  text-align: center;
}

footer img {
  /* border-radius: 50%; */
  padding-right: 30px;
}

footer div {
  text-align: center;
  width: 100%;
}
p a {
  color: white;
}

.social {
  padding: 1.5em;
}

.social a:hover {
  border-bottom: none;
}

.social img:hover {
  transition: 0.6s ease;
  transform: scale(1.2, 1.2);
}

/* HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME */

#bgBanner {
  /* background-image: url("./imgs/header2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  height: 20em;
  max-height: 20em;
  width: 100%;
}

#bgBanner img {
  height: 20em;
  max-height: 20em;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#title {
  position: relative;
  top: 0%;
  width: 100%;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1.5%;
  /* background-color: #80c9c779; */
  color: #1c4645;
}

#title h2 {
  padding: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  /* text-shadow: 3px 1px 5px black; */
  font-size: 55px;
}

#title p {
  margin-top: 0%;
  margin-bottom: 0%;
  /* text-shadow: 3px 1px 5px black; */
  font-size: 35px;
}

/* MAIN home */

.theBias {
  padding-bottom: 2%;
  display: flex;
  width: 100%;
}

.theBias figure {
  width: 50%;
  margin: 0%;
  margin-left: 5%;
}

.theBias article {
  width: 70%;
}

.theBias p {
  padding-top: 0%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  width: 100%;
}

.thieBias img {
  width: 100%;
  max-height: 100%;
  height: auto;
}
#bgColor img {
  width: 50%;
}

#bgColor {
  display: flex;
  flex-direction: column;
  margin: 1em 15%;
  background-color: #cde8e9;
  padding-left: 2%;
  padding-right: 2%;
}

/* video */
.videoPlayer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 5%;
}
.videoHolder {
  width: 100%;

  align-self: center;
}

/* boven footer */
.bovenFooter img {
  width: 50%;
}

.bovenFooter {
  margin-left: 0%;
  padding: 2% 0%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.iconEnText {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iconEnText img {
  width: 100px;
  height: 100px;
  margin: 10px;
}
.iconEnText p {
  display: flex;
}

.divImgBovenFooter {
  padding-right: 3%;
}
.divImgBovenFooter a:hover {
  border-bottom: none;
}

.divImgBovenFooter img:hover {
  transition: 0.6s ease;
  transform: scale(1.3, 1.3);
}

/* BIAS BIAS BIAS BIAS BIAS BIAS BIAS BIAS BIAS BIAS BIAS BIAS BIAS BIAS BIAS BIAS BIAS BIAS BIAS*/

/* Boven */

.mainBias {
  margin: 0;
}

.mainBias ul {
  display: flex;
  margin-top: 2em;
  margin-right: 5em;
  text-decoration: none;
}
.mainBias li {
  list-style: none;
  margin: none;
  cursor: text;
  padding-right: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 25px;
  margin-bottom: 30px;
}

.textEnImg {
  display: flex;
}
.section-bias {
  display: block;
}

.section-bias:target {
  display: block;
}

.Bias {
  border-bottom: solid #4a5454;
}
.introBias {
  display: flex;
  flex-direction: column;
}

.mainBias {
  display: flex;
  margin: 0%;
  align-items: flex-end;
  flex-direction: column;
}
.mainText div {
  margin-right: 3%;
  margin-bottom: 5%;
  padding-right: 5%;
}
.mainText {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
  margin: auto;
  padding-left: 7%;
}
.mainText2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
  margin: auto;
  padding-left: 0%;
  padding-right: 5%;
}

.mainImg {
  display: none;
  width: auto;
  height: 100%;
  padding-right: 3%;
}

.watUnc {
  margin-left: 0%;
  padding-top: 5%;
}
.watUnc2 {
  margin-left: 0%;
  padding-top: 0%;
}

/* Midden */

.get1 {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
}

.get1 p::before {
  content: '"';
  color: white;
  font-size: 35px;
  font-family: Arial, sans-serif;
}

.get1 p + p::before {
  content: "";
}

.get1 p + p {
  color: white;
}

.getuigenissen {
  display: flex;
  flex-direction: row;
}

#bias1 {
  margin: 0%, 5%;
}
#bias2 {
  padding-top: 5%;
  margin: 0%;
  background-color: #80c9c7;
  /* padding-left: 5%; */
}

.textRight {
  text-align: right;
}

#egirl img {
  /* transform: scale(0.7); */
  max-width: 300px;
  transform: scale(0.5);
}

#egirl {
  /* width: 25%; */
}

#egirlTekst p {
  width: 75%;
}

#blackManTekst {
  width: 60%;
  padding: 0;
}

#blackboi {
  margin: 0;
  padding-right: 0%;
  margin-bottom: 10%;
  width: 40%;
}

#blackboi img {
  max-width: 300px;
  /* transform: scale(0.8); */
  object-fit: contain;
  transform: scale(0.5);
}

/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT */
/* Body */

/* OverOnsText */

#Wie,
#Wat,
#Waar {
  margin: 0 18% 0 18%;
  padding-bottom: 3.5%;
}
#Waar {
  align-content: center;
  position: relative;
  padding-bottom: 0%;
}
.googleMap {
  justify-content: center;
}
.googleMap iframe {
  transform: scale(0.8);
  padding-bottom: 0%;
  width: 100%;
}
#secudairyNav a:hover {
  border-bottom: 3px solid #4a5454;
}
#secudairyNav {
  padding-top: 1%;
}

#secudairyNav ul {
  padding: 0%;
  display: flex;
  text-align: center;
  justify-content: center;
}

#secudairyNav nav {
  width: 100%;
}

/* #secudairyNav a:hover {
 /* transition:0.6s;
   font-size: 130%; */

/* } */

.show-hidden {
  /* width: 100%; */
  padding: 0 36%;
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 650px;
  position: relative;
  margin: auto;
}
.pics {
  padding: 5%;
}
.pics img {
  margin-bottom: 2em;
}
.color {
  background-color: #80c9c7;
}
.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  /* position: absolute; */
  width: auto;
  /* margin-top: -22px; */
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  /* border-radius: 0 3px 3px 0; */
  user-select: none;
}
.next {
  right: 0;
  /* border-radius: 3px 0 0 3px; */
}
.prev:hover,
.next:hover {
  background-color: #bddad765;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Witte balk */
.witteBalk {
  background-color: white;
}
.witteBalk ul {
  display: flex;
  margin: 0;
  justify-content: center;
  list-style-type: none;
}
.witteBalk li {
  padding: 0;
  width: 25%;
  margin: 0;
}
.witteBalk img {
  width: 70%;
  padding: 0;
  transform: scale(0.6);
}
.witteBalk a:hover {
  border-bottom: none;
}
.witteBalk img:hover {
  transition: 0.6s ease;
  transform: scale(0.7, 0.7);
}
#arrows {
  text-align: center;
}
/* Main */

/* CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT */
.imgContact {
  display: none;
}

.headerContact {
  border-bottom: solid #4a5454;
}
.bodyContact {
  background-color: #80c9c7;
}

.bodyContact header {
  background-color: white;
}

a {
  color: #4a5454;
}

.contact article {
  /* padding-top: 5%; */
  width: 100%;
  background-color: #80c9c7;
  color: white;
}
form h1 {
  text-align: center;
  font-size: 150%;
}
.contact form {
  margin-left: 15%;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}
.contact section {
  display: flex;
  margin: 0%;
}

.contactSection {
  width: 100%;
}
.formArticle {
  width: 100%;
}
#blue {
  width: 0%;
}
#blue img {
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #80c9c7;
  background-color: #bddad765;
  /* border radius: 5px;
  -webkit-border-radius: 5px; */
}

#message {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  border: 2px solid #80c9c7;
  background-color: #bddad765;
  /* 9ce0d9 */

  resize: none;
}
input[type="text"] ::placeholder {
  color: white;
}
.contact p {
  width: 75%;
  text-align: right;
}

form {
  size: 24px;
}

::placeholder {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

input[type="submit"] {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 2px solid #80c9c7;
  align-self: flex-end;
  margin-top: 20px;
  text-transform: uppercase;
  color: white;
  /* border-radius: 5px;
  -webkit-border-radius: 5px; */
  padding: 10px 15px;
  background-color: #bddad765;
  cursor: pointer;
}

input[type="submit"]:hover {
  transition: 0.6s ease;
  transform: scale(1.2);
}

.align-right {
  margin-left: 15%;
  width: 100%;
  text-align: right;
}
#tel {
  border-bottom: none;
}
#mail {
  border-bottom: none;
}

/* RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE */

@media only screen and (min-width: 768px) {
  body {
    /* background-color: yellow; */
  }
  .witteBalk li {
    padding: 0;
    width: 15%;
    margin: 0;
  }
  /* HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME   */
  #bgColor {
    flex-direction: row;
  }

  #bgBanner img {
    max-width: 100vw;
    max-height: auto;
  }
  .videoPlayer {
    margin-bottom: 5%;
    margin-top: 0%;
  }
  .iconEnText {
    flex-direction: row;
  }
  /* BIAS BIAS BIAS BIAS BIAS BIAS BIAS BIAS BIAS BIAS BIAS BIAS */
  .theBias p {
    padding: 5%;
    width: 100%;
  }
  .mainText {
    /* flex-direction: column;
    margin-top: 0%;
    padding-right: 0%; */
  }
  #egirl img {
    /* transform: scale(0.7); */
    max-width: 300px;
    transform: scale(0.8);
  }
  #egirlTekst p {
    width: 100%;
  }
  #blackboi img {
    max-width: 300px;
    /* transform: scale(0.8); */
    object-fit: contain;
    transform: scale(0.9);
  }
  #blackManTekst {
    width: 50%;
  }
  #blackboi {
    margin: 0;
    padding-right: 0%;
    margin-bottom: 10%;
    width: 50%;
  }
  /* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT */
  #Wie,
  #Wat,
  #Waar {
    margin: 0 30% 0 30%;
  }
  #Waar {
    align-content: center;
    position: relative;
    padding-bottom: 0%;
  }
  /* CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT */
  .imgContact {
    display: none;
  }
  .contactSection {
    width: 100%;
  }
  .formArticle {
    width: 100%;
  }
  #blue {
    width: 0%;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    /* background-color: green; */
  }
  .witteBalk li {
    padding: 0;
    width: 10%;
    margin: 0;
  }
  /* HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME */
  #bgColor {
    flex-direction: row;
  }
  .videoPlayer {
    margin-bottom: 5%;
    margin-top: 0%;
  }
  .iconEnText {
    flex-direction: row;
  }

  /* BIAS BIAS BIAS BIAS BIAS BIAS BIAS BIAS BIAS BIAS BIAS BIAS */
  .theBias p {
    padding: 5%;
    width: 95%;
  }
  .mainText {
    flex-direction: row;
    margin-top: 0%;
    padding-right: 5%;
  }
  .mainImg {
    display: block;
  }
  .watUnc {
    margin-left: 0%;
    padding-top: 20%;
  }
  .watUnc2 {
    margin-left: 0%;
    padding-top: 20%;
  }
  #egirl img {
    /* transform: scale(0.7); */
    max-width: 300px;
    transform: scale(0.8);
  }
  #egirlTekst p {
    width: 100%;
  }
  #blackboi img {
    max-width: 300px;
    /* transform: scale(0.8); */
    object-fit: contain;
    transform: scale(0.9);
  }
  #blackManTekst {
    width: 50%;
  }
  #blackManTekst {
    width: 60%;
    padding-right: 5%;
  }

  #blackboi {
    margin: 0;
    padding-right: 0%;
    margin-bottom: 10%;
    width: 50%;
  }

  /* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT */
  #Wie,
  #Wat,
  #Waar {
    margin: 0 30% 0 30%;
  }
  #Waar {
    align-content: center;
    position: relative;
    padding-bottom: 2%;
  }
  /* CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT */
  .imgContact {
    display: block;
  }
  .contactSection {
    width: 100%;
  }
  .formArticle {
    width: 30%;
  }
  #blue {
    width: 70%;
  }
}
