body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 944px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.site-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: #f07f2e;
  text-decoration: none;
}

.page-nav {
  display: flex;
  gap: 40px;
}

.page-nav__link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #2c2c2c;
  text-decoration: none;
}

.page-nav__link:hover {
  color: #f07f2e;
}

.hero {
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 52px 28px;
  background-image: url("./img/hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.greetings {
  padding: 24px;
  width: 432px;
  /* height: 192px; */
  border-radius: 16px;
  background: #0f3f3c;
}

.greetings-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  align-items: center;
  letter-spacing: 1.25px;
  color: #ffffff;
}

.greetings-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.section {
  margin-top: 60px;
}

.section-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: #2c2c2c;
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #2c2c2c;
}
.cat-list {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.cat-list__item {
  border-radius: 16px;
  overflow: hidden;
}

.cat-list__item:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

.cat-content__wrapper {
  padding: 16px 8px;
}

.cat-content__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #2c2c2c;
}

.cat-content__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #2c2c2c;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 40px;
}

.gallery-item {
  flex-basis: calc((100% - 5 * 16px) / 6);
  border-radius: 16px;
  overflow: hidden;
}

.gallery-item:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

.page-footer {
  padding: 48px 0;
  background-color: #0f3f3c;
}

.footer-container {
  padding-left: 16px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slogan-wrapper {
  /* reserved for adaptive styles */
}

.footer-text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.social-text {
  padding-right: 8px;
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.social-links {
  display: flex;
  gap: 16px;
}

.social-links__item {
  /* reserved for adaptive styles */
}

.social-links__link {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #ffffff;
  background-color: none;
}

.social-links__img {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.social-links__link:hover {
  color: #f07f2e;
  background-color: #ffffff;
}
