* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: justify;
}

li, a, button {

    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    width: 35px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.5s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9
}

button {
    padding: 9px 25px;
    /* sirve para redondear las esquinas de los bordes */
    border-radius: 50px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(111, 167, 182, 0.8);
}

header, ul, li, a, img {
    background-color: grey;
}

#hero {
    margin-left: 20px;
    margin-right: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 60% auto;
}

#primero, #segundo {
    display: flex;
    justify-content: center;
}

#ale {
    width: 150px;
    min-width: 150px;
    min-height: 150px;
    border-radius: 50%;
    border: 3px outset grey;
    animation: square-to-circle 1s .83s infinite cubic-bezier(1, .015, .295, 1.225) alternate;
}

.cuadrado-circulo {
    margin: 30px;
    width: 150px;
    height: 150px;
    border: 10px outset cyan;
    animation: square-to-circle 1s .83s infinite cubic-bezier(1, .015, .295, 1.225) alternate;
}

@keyframes square-to-circle {
    0% {
        border-radius: 0 0 0 0;
        background: rgb(211, 97, 97);
        transform: rotate(0deg);
    }
    25% {
        border-radius: 25% 25% 25% 25%;
        background: rgb(167, 58, 58);
        transform: rotate(45deg);
    }
    50% {
        border-radius: 50% 50% 50% 50%;
        background: rgb(124, 118, 67);
        transform: rotate(90deg);
    }
    75% {
        border-radius: 75% 75% 75% 75%;
        background: rgb(125, 173, 85);
        transform: rotate(180deg);
    }
    100% {
        border-radius: 100% 100% 100% 100%;
        background: rgb(48, 221, 126);
        transform: rotate(360deg);
    }


}

#inicio {
    transition: all 0.9s ease 0.3s;
}

#inicio:hover{
    color: rgb(239, 182, 77);
}