a:link {
  color: #060A24; 
}
a:visited {
  color: #060A24;
}
a:hover {
  color:#00f3bb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contenedor {
  width: 100%;
  margin: 0 auto;
}
.menucompleto {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_menu ul li {
  list-style: none;
  margin-left: 100px;
  cursor: pointer;/*Esto es nuevo*/
  margin-left: 48px;/*Esto es nuevo*/
  font-family: "IBM Plex mono";/*Esto es nuevo*/
}
.nav_menu ul li:hover {
  text-decoration: line-through;
}
.nav_menu ul {
  display: flex;
  justify-content: space-around;
  margin-right: 100px;
}
.logo {
  margin-left: 100px;
  display: flex;
  align-items: center;
}
/*hamburguesa movil*/
.nav_menu {
  font-family: "IBM Plex mono";
  color: #060a24;
  height: 64px;
  font-size: 16px;
  margin-left: 100%;
  display: flex;
  align-items: center;/*Esto es nuevo*/
  padding-left: 10px;
  color: white;
  cursor: pointer;
  margin-top: 0px;
}
.nav_menu ul li:hover {
  text-decoration: line-through;
  
}
/*cliked*/

.nav-menu-movil {
  /*display: none;*/
  transform: translateX(100%);
  transition: all 0.5s ease;
  position: absolute;/*Esto es nuevo*/
  width: 400px;/*Esto es nuevo*/
  }

  .nav-menu-movil div a/*Esto es nuevo*/{
    color: #ffffff;
    font-family: "IBM Plex Mono", monospace;
    text-decoration: none;
    line-height: 28px;
  }
  #hamburguesa/*Esto es nuevo*/{
    display: none;
    width:100%;
  }

.mobile-menu {
  display: none;
}

header h1 {
  font-family: "IBM Plex Sans";
  color: #060a24;
  font-size: 64px;
  margin-left: 200px;
  margin-top: 200px;
}

.tachado {
  text-decoration: line-through;
}
.punto {
  color: #0000ec;
}
.h1_mobile{
  display: none;
}
header p {
  font-family: "IBM Plex mono";
  color: #060a24;
  font-size: 16px;
  line-height: 24px;
  width: 628px;
  margin-left: 200px;
}
button {
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  color: #060a24;
  text-align: center;
  width: 226px;
  height: 56px;
  text-transform: uppercase;
  background: #00f3bb;
  border-width: 0px;
  margin-left: 200px;
  margin-top: 56px;
}
button:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
  color: white;
}


/*--------------------------------------*/
.nav-menu-movil div {
  font-family: "IBM Plex Mono", monospace;
  height: 26px;
  display: flex;
  align-items: flex-end;
  padding-left: 10px;
  color: white;
  background-color: blue;
  cursor: pointer;
  margin-top: 0px;
}
.nav-menu-movil {
  /*display: none;*/
  transform: translateX(100%);
  transition: all 0.5s ease;
 
  }

#episodios {
  width: 100%;
  height: 1042.6px;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-family: "IBM Plex sans";
  font-size: 48px;
  color: #ffffff;
  margin-left: 200px;
  align-items: center;
}

.episodios_contenedor {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 26px;
}
.episodios_contenedor iframe {
  padding: 
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.episodios_contenedormobile {
  display: none;
}
/*-------------------------------------------------*/

#nosotros{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  position: relative;
  
  
}
.nosotros_imagen {
  width: 458px;
  position: absolute;
  top: -150px;
  left: 0px;
}
.nosotros_articulo {
  width: 46%;
  height: 400px;
  
}
.nosotros_articulo h3 {
  font-family: "IBM Plex sans";
  font-size: 48px;
  color: #060a24;
  width: 399px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#parrafo {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #060a24;
  margin-top: 24px;
  width: 464px;
  line-height: 24px;
  
}

/*-------------------------------------------------*/
h4 {
  font-family: "IBM Plex sans";
  font-size: 48px;
  color: #060a24;
  margin-left: 200px;
  margin-top:240px;
  display: flex;
  text-decoration: none;
}
.invitadas_contenedor {
  width: 100%;
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
}
.invitadas_contenedor img {
  max-width: 33.3%;
}
/*-------------ALGUNOS DE NUESTROS TEMAS------------------------------------*/
h5 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  margin-top: 64px;
  margin-bottom: -17px;
  margin-left: 200px;
  width: 586px;
}
/*SUBTITULOS TEMAS */
h6 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  color: #060A24;
  letter-spacing: 0;
  width: 220px;
  height: 32px;
  text-align: center;
    }
.temas_contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.temas_contenedor .cada_uno{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 49px
}
.temas_contenedor img{
  width: 104px;
  display: flex;
  
  
}



/*------------------------------------------------*/
#novedades {
  width: 100%;
  height: 518px;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
  margin-top: 34px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;

}

h7 {
  font-family: "IBM Plex sans";
  font-size: 48px;
  color: white;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}
.segundo_boton {
  width: 345px;
  height: 56px;
  font-family: "IBM Plex Mono";
  text-decoration: none;
  font-weight: 227px;
  font-size: 18px;
  color: #060a24;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  background-color: #00f3bb;
  display: flex;
  justify-content: center;
}

.segundo_boton:hover{
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
  color: white;
}
/*-------------------------------------------------*/

.container_footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 31px;
  padding-left: 100px;
}
.año {
  font-family: "IBM Plex Mono";
  text-decoration: none;
  font-size: 16px;
  color: #060a24;
  line-height: 28px;
}
.redes ul {
  height: 16px;
  display: flex;
  margin-right: 100px;
}
.redes ul li{
  list-style: none;  
}
.redes ul li i{
  color: #060A24;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.redes i:hover{
  color: #00f3bb;
}


/*----------M E D I A   Q U E R I E S--------------------*/

@media only screen and (max-width: 400px) {
  .contenedor {
    width: 100%;
  }
  .logo {
    margin-left: 16px;
  }
  .mobile-menu/*ESTO ES NUEVO*/{
    position: relative;
    width: 28px;
    height: 24px;
    display: block;
    margin-right: 10px;
  }
  .mobile-menu label span/*ESTO ES NUEVO*/{
    border-radius: 5px;
    background: black;
    display: block;
    width: 20px;
    margin: 5px auto;
    height: 2px;
    transition: all 0.6s ease;  
  }
  .mobile-menu input:checked + label span:nth-child(1)/*ESTO ES NUEVO*/{
    transform: translateY(7px) rotate(45deg);
  }
  .mobile-menu input:checked + label span:nth-child(2)/*ESTO ES NUEVO*/{
    opacity: 0%;
  }
  .mobile-menu input:checked + label span:nth-child(3)/*ESTO ES NUEVO*/{
    transform: translateY(-7px) rotate(-45deg);
  }

  /*haburguesa movil*/
  .nav_menu {
    display: none;
  }
  .nav_menu {
    display: none;
  }
  .navegacion-movil {
    position: relative;
    right: 15px;
    overflow: hidden;
    display: block;
    
  }
  #hamburguesa:checked ~ .nav-menu-movil {
    margin-top: 16px;
    display: block;
    transform: translateX(-87%);
  }
 

header h1{
  display: inline;
  margin-left: 16px;
  margin-top: 73px;
} 
h1 {
    font-family: "IBM Plex Sans";
    color: #060a24;
    line-height: 42px;
    font-size: 36px;
    
  }

header p {
    font-family: "IBM Plex Sans";
    color: #060a24;
    font-size: 14px;
    width: 300px;
    margin-left: 16px;
  }
  button {
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    color: #060a24;
    text-align: center;
    width: 90%;
    height: 56px;
    text-transform: uppercase;
    background: #00f3bb;
    border-width: 0px;
    margin-left: 16px;
    margin-top: 36px;
  }

  #episodios {
    width: 100%;
    height: 1210px;
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
    margin-top: 24px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }
  h2 {
    font-family: "IBM Plex sans";
    font-size: 36px;
    color: #ffffff;
    margin-left: 16px;
    margin-top: 10px;
    justify-content: left;
  }
  .episodios_contenedor {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin-top: 11px;
   
  }
.episodios_contenedor iframe{
        width: 93%;
        margin: 11px;
}
/*-------DE DONDE VENIMOS MOBILE-------------------------*/
#nosotros_articulo {
    width: 90%;
    position: relative;
    flex-direction: column;
    }

.nosotros_imagen {
  max-width: 340px;
  max-height: 519px;
  position: absolute;
  top: -60px;
  left: calc(50% - 170px);
  
}
.nosotros_articulo{
  width: 288px;
  height: auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-content: center;
  margin: 450px 16px 54px;
}
.nosotros_articulo h3 {
  font-family: "IBM Plex sans";
  font-size: 36px;
  color: #060a24; 
  width: 90%;  
  margin-top: 27px;
}
.nosotros_articulo #parrafo {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060a24;
  width: 288px;
  margin-top: 8px;
  
 
  }
/*----------INVITADAS MOBILE----------------------*/
h4 {
  font-family: "IBM Plex sans";
  font-size: 36px;
  color: #060a24;
  margin-left: 16px;
  width: 288px;
  margin-top: 45px;
 
}
.invitadas_contenedor {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-wrap: wrap;
}
.invitadas_contenedor img {
  max-width: 100%;
 
}
h5 {
  font-family: "IBM Plex sans";
  font-size: 36px;
  color: #060a24;
  margin-left: 16px;
  display: flex;
  justify-content: center;
  margin-top: 48px;
  width: 288px;
}

/*--------------------------------*/
h6 {
  
  font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    width: 220px;
    text-align: center;
    margin-top: 16px;
}
.temas_contenedor {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.temas_contenedor h6{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: row;
}
/*--------------------------------*/
#novedades {
  width: 100%;
  height: 341px;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
  margin-top: 42px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

h7 {
  font-family: "IBM Plex sans";
  font-size: 36px;
  color: white;
  display: block;
  justify-content: center;
  width: 288px;
}
.segundo_boton {
  width: 288px;
  height: 48px;
  font-family: "IBM Plex Mono";
  text-decoration: none;
  font-weight: 227px;
  font-size: 16px;
  color: #060a24;
  padding-top: 13px;
  padding-bottom: 16px;
  margin-top: 36px;
  background-color: #00f3bb;
  display: flex;
  align-content: center;
}

.segundo_boton:hover{
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
  color: white;
}

/*-----------------------------------*/
.container_footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 31px;
}
.año {
  font-family: "IBM Plex Mono";
  text-decoration: none;
  font-size: 14px;
  color: #060a24;
  line-height: 22px;
  display: flex;
  align-content: center;
  margin-left:-77px;
}
.redes {
  display: flex;
  justify-content: space-between;
}
.redes ul {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  margin-right: 100px;
  margin-top: 16px;
}
.redes ul li{
  list-style: none;  
}
.redes ul li i{
  color: #060A24;
}
.redes i:hover{
  color: #00f3bb;
}
/*-------------------------------------------------*/
}