body {
  background: #4fc5d6;
  font-family: "proxima-nova", sans-serif;
}
.logoblock {
  width: 20%;
  min-width: 193px;
  margin: 108px auto 20px auto;
}
.logo-luisdjt {
  width: 100%;
  min-width: 193px;
}
.prof {
  font-size: 2rem;
  text-align: center;
  line-height: 1;
  color: #4f1e39;
}

.btns .btn {
  text-decoration: none;
  background: #4f1e39;
  width: 26%;
  min-width: 80px;
  max-width: 100px;
  color: #ffffff;
  padding: 5px 0px;
  margin-top: 5%;
}
.btns {
  margin: 50px auto;
  width: 38%;
  max-width: 700px;
  min-width: 60px;
  justify-content: space-around;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  /*   border: solid 2px black; */
}

.btns .btn:hover {
  background: #ffffff;
  color: #4f1e39;
  font-weight: bold;
}

.copyr {
  height: 120px;
  text-align: center;
  margin-bottom: 0;
}
