a.button {
  appearance: button;

  text-decoration: none;
  color: initial;
}
img {
  width: 86%;
  height: 225px;
  margin: 25px;
}

p2 {
  color: lightblue;
  background-color: darkgrey;
  margin-top: 20px;
  text-indent: 10px;
  margin-left: 100px;
}

p {
  color:lightblue
  background-color: darkgray;
  margin-top:25px;
  margin-left:25px;
  

}
h1{
  color: lightblue;
  background-color: darkgrey
  
}
