a {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background-color: whitesmoke;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 2px 8px black;
  width: 460px;
  height: 600px;
  text-align: center;
  font-family: cursive;
}

h1 {
  margin: 12px 0;
}

.add-element {
  margin: 12px 0;
}

input {
  padding: 6px 4px;
  width: 70%;
  border-color: teal;
  border-radius: 4px;
}

button {
  padding: 7px 34px;
  background-color: teal;
  border: none;
  border-radius: 4px;
  color: whitesmoke;
}

.element-list {
  height: 550px;
  overflow-y: auto;
}

ul {
  padding: 15px;
}

li {
  list-style: none;
  padding: 10px 5px;
  background-color: teal;
  margin: 12px 0;
  box-shadow: 0 2px 8px black;
  border-radius: 3px;
  transition: 0.4s;
  color: white;
}

button:hover {
  background-color: rgb(46, 163, 151);
  box-shadow: 0 2px 8px black;
}

li:hover {
  background-color: rgb(46, 163, 151);
}

.checked {
  text-decoration: line-through;
  background-color: teal;
}
