[title] {
  color: darkcyan;
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline red dashed;
}
p {
  font-style: italic;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
}

.box {
  width: 30%;
  float: left;
  border-radius: 35px;
  padding: 10px;
  height: 800px;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-image: url("images/background.png");
  background-size: cover;
}

.button {
  background-color: #4caf60;
  color: white;
  /* border: 1px solid black; */
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 16px;
  margin: 0 auto;
  font-family: cursive;
  /* display: block;
  display: inline; */
  display: inline-block;
  /* display: none;
  display: flex;
  display: grid; */
}
.button:hover {
  background-color: #4caf50;
  text-decoration: underline;
}
