header {
  background: rgb(65, 240, 240);
  color: rgb(12, 1, 1);
  text-align: center;
  padding: 10px;
  text-shadow: 1px 1px 1px rgb(162, 245, 238);
}
nav {
  background-color: rgb(155, 245, 237);
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin: 18px;
  font-size: 22px;
}
nav a {
  text-shadow: none;
  color: rgb(12, 0, 0);
}
main {
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  min-height: 400px;
}
h1,
h2 {
  font-family: helvetica, sans-serif;
}
.highlight {
  background-color: rgb(253, 253, 250);
}
footer {
  text-align: center;
  background: rgb(246, 247, 247);
  padding: 10px;
}
