.success-container{
height: 200px;
display: flex;

}
.success-deceiption{
  margin: 0px;
  font-size: 22px;
  text-align: center;
  padding:50px;
}
.success-heading{
  
  background-color: whitesmoke;
  font-size: 30px;
  font-weight: bolder;
  margin: 0px;
  text-align: center;
  padding: 25px;
  
}

.success-topper{

  background-color: whitesmoke;
display: flex;
justify-content: space-evenly;
padding: 40px;
}

.success-card{

  height: 250px;
  width: 30%;
  margin: 10px;
  padding: 20px;
background-color: whitesmoke;
border-radius: 15px;
box-shadow: 2px 2px 2px 5px rgba(117, 116, 116, 0.986);
display: flex;
flex-direction: column;

}

.success-para{

font-size: 18px;
padding: 0px;
}
.img-class{
  margin: -5px 250px 0px;
}

.success-stories{
  background-image: url(https://cdn1.byjus.com/byjusweb/img/successpage/stories_bg.png);
    /* height: 800px; */
    padding-bottom: 60px;
}
.story-heading{
 
  font-size: 48px;
font-weight:bolder;
padding: 15px;
text-align: center;
margin: 0px;

}
.success-img{
  padding: 20px;
  margin: 0px;
  margin-top: -25px;
}
.success-content-heading{
font-size: 27px;
margin: 0px;


}

.success-content-para{
  font-size: 18px;
  margin: 0px;
 
}
.footer{
background-color: #ddd;
height: 90px;

}