body {
  font-family: "Spectral", serif;
  background-color: #6600ff;
  color: white;
}

h1,
h2 {
  font-size: 24px;
  font-style: italic;
}

h1 {
  font-size: 48px;
}

h2 {
  margin-bottom: 60px;
}

#container {
  background-color: #4700b3;
  margin: 0px auto;
  width: 40%;
  padding: 30px;
  border-radius: 15px;
}

#title {
  text-align: center;
}

input[type="text"],
[type="email"],
[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin: 15px auto;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

#number,
#email {
  width: 100%;
}

.comments {
  min-height: 150px;
  width: 100%;
}

#description {
  font-weight: bold;
}
