body {
  background-color: blanchedalmond;

  justify-items: center;
  text-align: center;
  justify-content: center;
}
#game-container {
  justify-items: center;
  text-align: center;
  justify-content: center;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: slategray;
}
.hide {
  display: none;
}
.row {
  display: flex;
  flex-direction: row;

  justify-items: center;
  text-align: center;
  justify-content: center;

  color: turquoise;
}
