#div2 {
  font-size: 24px;
  text-align: center;
  color: red;
}

#div3 {
  font-size: 24px;
  text-align: right;
  color: rgb(0, 255, 242);
}

.paulo {
}

.cor {
  background-color: purple;
}
