body {
  background-color: turquoise;
  font-family: "Barlow Condensed", sans-serif;
}

.header {
  font-family: "DynaPuff", cursive;
  font-size: 32px;
  text-align: center;
  padding: 15px;
  border-radius: 0.1px;
  border: 5px solid grey;
}

.input {
  padding: 10px;
}

.btn {
  padding: 10;
}

.show-tasks {
  border: 1px solid black;
  background-color: azure;
  position: relative;
}
