#name {
  height: 0;
  width: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #555;
}
#name:hover {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #a39a12;
}
#name::before {
  contain: "dsfs";
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #a39a12;
}
#name::before {
  content: url(chrome://branding/content/about-logo.png);
  width: 15px;
  height: 15px;
}
