#container-div {
  font-family: Arial, sans-sarif;
}
span {
  background-color: #98fb98;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}
#vertical {
  background-color: blue;
  color: #ffffff;
}
#horizontal {
  background-color: yellow;
}
.button.stuff {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
