h1 {
  font-size: 26px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
/*** commonから移植 ***/
section {
  width: 60%;
  min-width: 800px;
  margin: 0 auto 70px;
}

section > h3 {
  border-bottom: solid 3px #ccc;
  padding: 0px 4px;
  display: inline-block;
}
section > p,
section > div {
  margin: 0px 0 20px 20px;
}

underline {
  text-decoration: underline;
}
/*** /commonから移植 ***/

section > h1 {
  background-color: #eee;
  border-top: thick solid #50c8fa;
  margin-top: 50px;
  padding: 10px;
}
section > h2 {
  border-left: solid 8px #fa8c00;
  margin-top: 30px;
  padding: 10px;
}

.supplement {
  background-color: #fff7db;
  border: 1px solid #333;
  margin: 20px 10px;
  padding: 0 20px 20px;
}

pre {
  margin: 1em 0;
  padding: 2em 2em 0;
  border-radius: 5px;
  background: #25292f;
  color: #fff;
  overflow-x: auto; /* ⭐ */
  -webkit-overflow-scrolling: touch; /* ⭐ */
  width: 90%;
}

code {
  display: inline-block;
  padding: 0.1em 0.5em;
  color: #444;
  background-color: #e7edf3;
  border-radius: 3px;
  border: solid 1px #d6dde4;
}

span.comment {
  color: #adff30;
}

.list dt {
  font-weight: bold;
}

table,
tr,
th,
td {
  border: 1px solid #000;
}
