.cabeza {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Cambiar el color mientras pasamos por los botones */
li a:hover {
  background-color: #111;
}

#boton1 {
  margin: 20px 10px 10px 10px;
  width: 180px;
  font-size: 38px;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
#boton1:hover {
  background: gray;
  color: wheat;
}
