* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.section-center {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* start of side bar */
/* .sidebar {
  z-index: 1000;
  position: fixed;
  background-color: #f2f2f2;
  width: 100%;
  min-height: 100%;
  transform: translateX(-100%);
  padding: 5vw;
}
.close-btn {
  width: 100%;
  display: grid;
  justify-items: flex-end;
  border: none;
}
.showcontent {
  transform: translateX(0%);
  transition: 1s;
  transition-timing-function: ease-in-out;
}
.sidebar li {
  margin: 20px;
  font-size: 25px;
}
.pagelist li a {
  text-decoration: none;
  color: #222;
}
.pagelist {
  list-style: none;
  text-align: center;
  margin-top: 100px;
}
.sidebar-socials-list {
  margin-top: 50px;
}
.sidebar-socials-list li {
  display: inline-block;
  margin-left: 8%;
}

.sidebar-socials-list a {
  color: #f2f2f2;
  background: #222;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-radius: 50%;
  padding: 5px;
}

.sidebar-socials-list {
  list-style: none;
} */
/* end of side bar */

/* Start of Navbar Styling */

.navbar {
  padding: 1rem 2.5rem;
  border-bottom: 5px solid #e8b949;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 500;
}

.navbar-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.logo span {
  color: #e8b949;
}

.nav-btn {
  justify-self: flex-end;
  color: #e8b949;
  cursor: pointer;
}

/* End of Navbar Styling */

/* Start of Hero Styling */

.hero {
  background: #fffaea;
  height: calc(100vh - 5rem);
}

.hero-container {
  width: 95vw;
  height: calc(100vh - 5rem);
}

.hero-content {
  position: relative;
  top: 40%;
  left: 10%;
}

.hero-content h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.hero-content h1 span {
  border-top: 2px solid #e8b949;
  padding-top: 5px;
}

.hero-content p {
  font-weight: bold;
  color: gray;
  margin-bottom: 0.9rem;
  letter-spacing: 1px;
}

.link-btn {
  text-decoration: none;
  color: #222;
  display: inline-block;
  background: #f9da8a;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  margin-bottom: 0.9rem;
  letter-spacing: 2px;
}

.socials-list {
  list-style: none; /* ul  or ol*/
}

.socials-list li {
  display: inline-block;
  margin-right: 0.5rem;
}

.socials-list a {
  color: #f2f2f2;
  background: #222;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-radius: 50%;
  padding: 5px;
}

.hero-image {
  display: none;
}

/* End of Hero Styling */

/* Start of Skills Styling */

.skills {
  padding: 3rem;
  text-align: center;
  background: #f2f2f2;
}

.skills-container {
  margin-top: 1rem;
}

.skill-card {
  padding: 2rem 3rem;
  border-radius: 20px;
  background: #fff;
  margin-bottom: 2rem;
}

.skill-card img {
  width: 2rem;
}

.skill-name {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.skill-text {
  font-size: 0.9rem;
}

/* End of Skills Styling */

/* Start of Timeline Section */

.timeline {
  background: #fffaea;
  padding: 3rem;
}

.section-heading {
  text-align: center;
  font-size: 2rem;
}

.underline {
  width: 5rem;
  height: 0.3rem;
  background: #e8b949;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.time {
  color: #222;
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

.time-text {
  color: gray;
  font-size: 0.9rem;
}

.timeline-cards {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.timeline-card {
  padding: 2rem;
  border-top: 2px dotted #e8b949;
  position: relative;
}

.time-right-border {
  border-right: 2px dotted #e8b949;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  padding-left: 0rem;
  margin-left: 2rem;
}

.time-left-border {
  border-left: 2px dotted #e8b949;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  padding-right: 0rem;
  margin-right: 2rem;
}
.remove-top-border {
  border-top: 0px;
}

.card-number {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  text-align: center;
  background: #e8b949;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
}

.card-number-right {
  right: 0;
  transform: translate(50%, -50%);
}

.card-number-left {
  left: 0;
  transform: translate(-50%, -50%);
}

/* End of Timeline Section */

/* Start of Footer Section */
.footer {
  padding: 2rem 3rem;
  background: #222;
  color: #fffaea;
  text-align: center;
}

.footer ul {
  list-style: none;
  margin-bottom: 1.5rem;
}

.footer ul li {
  display: inline-block;
  margin-right: 1.5rem;
}

.footer ul a {
  color: #e8b949;
  font-size: 1.5rem;
}

/* End of Footer Section */

/* Media Queries */

@media screen and (max-width: 876px) {
  .expand-container {
    display: none;
  }
}
@media screen and (min-width: 876px) {
  .hero-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .hero-image {
    display: block;
    align-self: center;
    justify-self: flex-start;
    /* width: 20%; */
  }

  .hero-image img {
    width: 250px;
    border-radius: 12px;
  }

  .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
  .nav-btn {
    display: none;
  }
  .expand-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: flex-end;
    gap: 20px;
    font-weight: bold;
  }
  .expand-container a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
  }
}
