@font-face {
  src: url("/fonts/285B7A_5_0.woff");
  font-family: Flexo-Bold;
}
@font-face {
  src: url("/fonts/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKsOdC_.woff2");
  font-family: Flexo-Medium;
}
body {
  background: url(https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png);
  font-family: Flexo-Bold;
}
.container {
  max-width: 1250px;
  margin: 0 auto;
  background: #fff
    url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png);
  overflow: hidden;
  height: 100%;
  position: relative;
  display: block;
}
.row {
  background: #fff;
  max-width: 1170px;
  margin: 0 auto;
}
.nav {
  height: 100px;
  border-bottom: solid 2px #dedede;
  background-color: #f5f5f5;
}
.nav_image {
  background: url(https://pokemon.gamespress.com/Content/Themes/Pokemon/img/pokemon-masthead.png);
  width: 457px;
  height: 88px;
  left: 2%;
  top: 2%;
  position: absolute;
}
* {
  box-sizing: border-box;
}
[class*="col-"] {
  float: left;
  padding-left: 15px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.filter {
  width: 292px;
  background: white;
}
.filter_header {
  border-radius: 5px 5px 0 0;
  font-size: 150%;
  color: black;
  border: solid black;
  line-height: 200%;
  padding-left: 5%;
}
.filter_sub {
  color: black;
  font-size: 120%;
  border-left: solid black;
  border-right: solid black;
  border-bottom: solid black;
  line-height: 150%;
  padding-left: 5%;
}
.filter_list {
  color: black;
  font-size: 100%;
  border-left: solid black;
  border-right: solid black;
  border-bottom: solid black;
  line-height: 120%;
  padding-left: 5%;
}
.news {
  margin-top: 0;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  color: #1b53ba;
}
.news_img_figure {
  width: 156px;
}
.news_img {
  width: 100%;
}
.media-body {
  transform: translate(170px, -95px);
}
.date {
  font-family: "Roboto", arial, sans-serif;
  font-size: 11px;
  color: #999;
}
.headline {
  font-size: 24px;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 4px;
  transform: translate(0px, -20px);
  white-space: initial;
  width: 90%;
}
.features {
  transform: translate(0px, -20px);
  white-space: initial;
  width: 90%;
}
.news:hover {
  color: #30a7d7;
}
.last {
  border-radius: 0 0 5px 5px;
}
.pressreleaseContentInner {
  box-sizing: border-box;
}
.press_img {
  width: 240px;
  max-width: 240px;
  margin: 0 auto;
  height: auto;
}
.press_img_sel {
  width: 100%;
  max-width: 100%;
}
.text {
  font-family: Flexo-Medium;
}
.article {
  color: #999;
}
.sidebox-right {
  margin-top: 0;
  border-left: 1px solid #dbdbdb;
}
