/* Pages */

.page {
  opacity: 1;
  transition: 0.5s;
}

@media (pointer: fine) {
  .page {
    opacity: 0;
  }
}

/* @media (pointer: none) {
  .page {
    transition: 0s;
  }
} */

.page-content {
  width: 100%;
  text-align: center;
}
