div.main-image {
  width: 100%;
  height: 420px;
  background-image: url(../resources/sample/main-image.jpg);
  background-position: center 36%;
  background-size: 88%;
}
div.main-image section {
  height: 100%;
}
div.main-image section h1 {
  color: #fff;
  display: block;
  font-size: 32px;
  height: inherit;
  padding-top: 200px;
  text-align: center;
  text-shadow: 1px 2px 3px #808080;
}
@media only screen and (max-device-width: 730px) {
  div.main-image {
    width: 100%;
    height: 300px;
    background-size: 120%;
  }
  div.main-image section h1 {
    font-size: 22px;
    height: inherit;
    padding-top: 150px;
  }
}

/*** セクション ***/
section {
  width: 70%;
  min-width: 840px;
  margin: 0 auto;
}
section h1 {
  text-align: center;
  font-size: 36px;
  height: 50px;
}
body > section > h1 {
  text-decoration: underline;
  margin: 100px auto 50px;
  text-decoration-color: #fa8d00;
}
h2 {
  text-align: center;
  font-size: 28px;
}

@media only screen and (max-device-width: 730px) {
  section {
    width: 92%;
    min-width: auto;
  }
  section h1 {
    font-size: 26px;
  }
  body > section > h1 {
    margin: 70px auto 20px;
  }
  h2 {
    font-size: 20px;
  }
  section h2 {
    font-size: 24px;
  }
}

section.about .summary {
  display: flex;
  justify-content: center;
  margin: 100px 0 0;
}
section.about .summary img {
  width: 42%;
}
section.about .summary.left-image {
  flex-direction: row;
}
section.about .summary.right-image {
  flex-direction: row-reverse;
}
img.shadow-orange {
  width: 500px;
  box-shadow: 15px 15px 0 #fa8d00;
  margin: 0 40px 10px 0;
}
img.shadow-blue {
  width: 500px;
  box-shadow: 15px 15px 0 #50c8fa;
  margin: 0 40px 10px 0;
}
@media only screen and (max-device-width: 730px) {
  section.about .summary {
    margin: 30px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section.about .summary img {
    width: 90%;
    margin: 10px auto 30px;
  }
  section.about .summary.left-image,
  section.about .summary.right-image {
    flex-direction: column;
  }
}

/*** ITeens Lab はどんなところ？ ***/
section.about .character {
  border: 8px dotted #fa8d00;
  color: #333;
  padding: 10px 0px 40px;
  margin: 120px auto 0;
  width: 80%;
}
section.about .character h2 {
  background: linear-gradient(transparent 50%, #f7fa50 65%);
  width: 50%;
  margin: 10px auto 20px;
  text-align: center;
  height: 50px;
}
section.about .character ul {
  width: 80%;
  margin: 0 auto;
}
section.about .character ul * {
  font-size: 24px;
  font-weight: bold;
}
.font-red {
  color: #e53e3e;
}
.font-big {
  font-size: 30px;
}
.underline {
  border-bottom: 4px dashed #50c8fa;
}
@media only screen and (max-device-width: 730px) {
  section.about .character {
    border: 6px dotted #fa8d00;
    margin: 50px auto 0;
    width: 95%;
  }
  section.about .character h2 {
    width: 80%;
  }
  section.about .character ul {
    width: 90%;
  }
  section.about .character ul * {
    font-size: 17px;
  }
  section.about .character ul li .font-big {
    font-size: 25px;
  }

}


/*** ゼミについて ***/
section.seminar {
  margin-bottom: 50px;
}
section.seminar div.seminar-list {
  display: flex;
  flex-wrap: wrap;
}
section.seminar div.seminar-list > div {
  display: inline-flex;
  width: 25%;
  min-width: 260px;
}
section.seminar div.seminar-list > div img {
  width: 100%;
}

@media only screen and (max-device-width: 730px) {
  section.seminar div.seminar-list > div {
    width: 50%;
    min-width: auto;
  }
}

/*** アクセス・埋め込み動画 ***/
section.access p {
  text-align: center;
}

section.access div,
section.movie div {
  text-align: center;
  margin: 0 auto;
}

section.access iframe {
  width: 100%;

}
section.movie iframe {
  width: 540px;
}

@media only screen and (max-device-width: 730px) {
  section.movie iframe {
    width: 100%;
  }
}_

