@charset "utf-8";
/* CSS Document */

body {
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times,
    "Times New Roman", "serif";
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #0f0f0f;
}
#top {
  background-color: #555555;
  padding: 10px 0px;
}

#top .offer {
  color: #ffffff;
}
#top .offer .btn {
  text-transform: uppercase;
}
#top a {
  color: #ffffff;
  font-size: 12px;
}
#top ul.menu {
  padding-top: 5px;
  margin: 0;
  text-align: center;
  text-align: right;
  font-size: 12px;
  list-style: none;
}
#top ul.menu > li a {
  color: #eeeeee;
}
#top ul.menu > li {
  display: inline-block;
}

#top ul.menu > li + li:before {
  content: "|\00a0";
  padding: 0px 5px;
  color: #f7f7f7;
}

@media (max-width: 990px) {
  #top {
    font-size: 12px;
    text-align: center;
  }
  #top .offer {
    margin-bottom: 10px;
  }
  #top ul.menu {
    text-align: center;
  }
}
