/* start of side bar */
.sidebar {
  z-index: 1000;
  position: fixed;
  top: 0;
  background-color: #f2f2f2;
  width: 100%;
  min-height: 100%;
  /* opacity: 0; */
  transform: translateX(-100%);
  padding: 5vw;
}
.close-btn {
  width: 100%;
  display: grid;
  justify-items: flex-end;
  border: none;
}
.showcontent {
  transform: translateX(0%);
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.sidebar li {
  margin: 20px;
  font-size: 25px;
}
.pagelist li a {
  text-decoration: none;
  color: #222;
}
.pagelist {
  list-style: none;
  text-align: center;
  margin-top: 100px;
}
.sidebar-socials-list {
  margin-top: 50px;
}
.sidebar-socials-list li {
  display: inline-block;
  margin-left: 8%;
}

.sidebar-socials-list a {
  color: #f2f2f2;
  background: #222;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-radius: 50%;
  padding: 5px;
}

.sidebar-socials-list {
  list-style: none;
}
/* end of side bar */
