body {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 100;
  background-color: #e2e2e2;
  /* #E2E2E2 */
}
:root {
  --primary-color: #6cd5e1;
  --off-white: #f4f1f1;
  --dark-gray: black;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
}
#name {
  color: black;
}

hr {
  margin: 2rem 0rem;
}

/** spaces **/

.margin-md {
  margin: 2rem;
}

/** container **/
.contain {
  padding: 1rem 5rem;
}

.center-container {
  max-width: 600px;
  margin: auto;
  max-width: 600px;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

/** links **/

.links {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.primary-links {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
  display: block;
  font-weight: 600;
  max-width: 140px;
  margin: 1rem 1rem 1rem 0rem;
}

.secondary-links {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
  font-weight: 600;
  display: block;
  max-width: 140px;
  margin: 1rem 1rem 1rem 0rem;
}

.non-bullet-item {
  list-style: none;
  padding-inline-start: 0px;
}

.inline-items {
  display: inline;
  padding: 0rem 0.5rem;
}

/** navigation **/

.navpart {
  background-color: var(--primary-color);
  color: white;
  font-size: 25px;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.navpart .nav-branding {
  font-weight: bold;
  margin: auto;
}

.nav-branding a {
  text-decoration: none;
  color: inherit;
}

.navpart .nav-click {
  text-align: center;
}

.navpart .links {
  color: white;
}

.navpart .link-active {
  font-weight: bold;
}

/** header **/
#h1 {
  color: black;
}
.svg {
  padding: 2rem;
  padding-top: 5rem;
}
#svg-img {
  padding-left: 10rem;
  max-width: 50vw;
  display: block;
  margin: auto;
}

.svg .svg-img {
  max-width: 80%;
  width: 30vw;
  display: block;
  margin: auto;
}

.svg .svg-heading {
  text-align: center;
  padding-top: 1rem;
  color: var(--dark-gray);
}

.svg .svg-heading .invert-heading {
  color: var(--primary-color);
}

/** sections **/

#tech {
  padding: 1rem;
}
p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
}

.section h1 {
  text-align: center;
}

.on {
  background-color: var(--off-white);
}
#p-1 {
  font-size: 400;
}

/** footers **/

.footer {
  background-color: var(--primary-color);
  padding: 1rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  margin-top: 2rem;
}

.footer .links {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
}

.footer .footer-heading {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 2rem;
}

.footer ul {
  padding-inline-start: 0px;
}
#social {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}

/** projects **/
.project-list {
  padding: 2rem;
}

/** blogs **/
.showcase-blog {
  padding-bottom: 6rem;
}
#logo {
  font-size: 2rem;
}
