*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
/*Para la declaracion de Variables*/
root{
  --negro:#2D2927;
  --gris:#59545B;
  --marron:#543C30;
  --marfil:#C4B6A7;
  --cafe:#AF7755;
}
body{
  font-family: 'Karla', sans-serif;

}