h1 {
  color: teal;
}
.book,
#date,
#instructions {
  justify-content: center;
  text-align: center;
  text-decoration: underline;
}
.background-color {
  color: snow;
}
article {
  background-color: honeydew;
}
p {
  color: gray;
}
h2,
h3 {
  color: cadetblue;
}
#author {
  color: blueviolet;
}
.link-item:hover {
  color: cadetblue;
}
