* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.top {
  color: #fff;
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.top-title {
  font-size: 40px;
}

.photo-item {
  display: inline-block;
  width: 33%;
}

img {
  width: 100%;
}

.img-1 {
  width: 0 auto;
}

