* {
  margin: 0;
  padding: 0;

  background-color: black;
}
.fcd {
  height: 20px;
  width: 300%;
  max-width: 300px;
  background-color: white;
  transform: translate(-50%, -50%);
  top: 10%;
  left: 50%;
  position: absolute;
  text-align: center;
}
form input[type="text"] {
  width: 280px;
  padding: 15px;
  margin-top: 10px;
  outline: 0;
  color: white;
}
form input[type="submit"] {
  width: 200px;
  padding: 5px;
  margin-top: 20px;
  outline: 0;
  cursor: pointer;
  color: orangered;
}

.fcd h2 {
  color: whitesmoke;
}
.fcd img {
  width: 250px;
}

a {
  width: 200px;
  padding: 5px;
  margin-top: 50px;
  outline: 0;
  cursor: pointer;
  color: orange;
}
