/* FONTS */
/* Roboto Mono */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

/* ELEMENTS */
p {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}
iframe + p {
  padding: 10px;
}

p + sub {
  font-family: "Roboto Mono", monospace;
  clear: both;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}

.special-sub {
  font-family: "Roboto Mono", monospace;
  clear: both;
  display: block !important;
  position: static !important;
  margin: 10px;
}

sub {
  font-family: "Roboto Mono", monospace;
  clear: both;
  display: block;
  position: static;
  margin: 10px;
}

body {
  background-color: #161515;
  color: #32a846;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}



h1 {
  font-size: 50px;
}

/* hyperlink styling */
a:link {
  color: #1b5e27;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:visited {
  color: #32a846;
}

a:hover {
  color: #1b5e27;
  text-decoration: none;
}

a:active {
  color: #32a846;
}

/* navbar*/
nav {
  margin-top: 4.3vmin;
  font-size: 23px;
  text-align: center;
}

/* IDS */
/* censorship count */
/* #count {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    padding: 10px;
    font-weight: bold;
} */

/* search */
#searchbar {
  width: 20%;
  background-color: #0000;
  border: #1b5e27 inset 2px;
  color: white;
}
#search-items {
  margin: 0 auto;
  width: 5%;
}

/* CLASSES */
/* navbar */
.nav-container {
  background-color: #0f0f0f;
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 0px;
  width: 100%;
  height: 28vh;
  box-sizing: border-box;
}
.nav-item:link {
  text-align: center;
  text-decoration: none;
  padding: 3.5vmin;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav-item:hover {
  color: #32a846;
}
.nav-item:visited {
  color: #32a846;
}
.logo {
  padding-top: 20px;
  height: 30%;
  text-align: center;
}

/* search */
.search-item {
  font-size: 3vw;
  margin: 0px;
}
}
}
.search-img {
  height: 11vw;
  width: 11vw;
  clip-path: border-box;
  margin: 0 auto;
}
img + a {
  display: block;
}