* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto Slab", serif;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-image: linear-gradient(135deg, #f1ca74 10%, #a64db6 100%);
}
#footer {
  color: white;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title {
  margin-left: 5%;
  font-size: 35px;
}

.dot {
  color: rgb(255, 0, 0);
}

.page-dec {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.quiz-left {
  display: flex;
  justify-content: space-around;
  width: 30%;
  height: 100%;
  margin-left: 4%;
  flex-direction: column;
}

.moto {
  font-size: 30px;
  width: 30%;
}

.quiz-dec {
  font-weight: bold;
  width: 100%;
}

.page-img {
  width: 60%;
  height: 100%;
}

.quiz-select {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(135deg, #f1ca74 10%, #a64db6 100%);
}

.link {
  width: 100%;
  height: 80%;
  text-decoration: none;
  color: black;
}

.box {
  width: 80%;
  height: 100%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 5%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: 0.8s;
}

.img-container {
  width: 60%;
  height: 60%;
}

.dec {
  text-align: justify;
  height: 38%;
  margin: 4%;
}

.box:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 600px) {
  .title {
    font-size: 15px;
  }
  .moto {
    font-size: 15px;
  }
  .quiz-dec {
    margin: 0px;
    width: 100%;
    font-size: 10px;
  }

  .quiz-select {
    flex-direction: column;
    height: 100%;
  }
  .link {
    width: 100%;
    margin: 5%;
  }
}
