.grid-container {
  /* Grid properties below this line */
  display: grid;
  grid-template-rows: repeat(4, 8rem);
  grid-template-columns: repeat(3, 33.33%);
  /* Grid properties above this line */
}

#item-1 {
  background-color: #ef5350;
}

#item-2 {
  background-color: #ab47bc;
}

#item-3 {
  background-color: #ff8a65;
}

#item-4 {
  background-color: #ffd54f;
}

#item-5 {
  background-color: #7cb342;
}

#item-6 {
  background-color: #00897b;
}
#item-7 {
  background-color: #86dd7e;
}
#item-8 {
  background-color: #6351ca;
}
#item-9 {
  background-color: #89006b;
}
#item-10 {
  background-color: #bdcf16;
}
#item-11 {
  background-color: #da3a25;
}
#item-12 {
  background-color: #4b4d4c;
}
