.grid-container {
  /* Grid properties below this line */
  display: grid;
  grid-template-rows: repeat(4, 8rem);
  grid-template-columns: repeat(3, 33.33%);
  /* Grid properties above this line */
}

#item-1 {
  background-color: #ef5350;
  /* Grid properties below this line */
  grid-column-start: 1;
  grid-column-end: 3;
  /* Grid properties above this line */
}

#item-2 {
  background-color: #ab47bc;
  /* Grid properties below this line */
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  /* Grid properties above this line */
}

#item-3 {
  background-color: #ff8a65;
  /* Grid properties below this line */
  grid-row-start: 2;
  grid-row-end: 5;
  /* Grid properties above this line */
}

#item-4 {
  background-color: #ffd54f;
  /* Grid properties below this line */
  grid-column-start: 2;
  /* Grid properties above this line */
}

#item-5 {
  background-color: #7cb342;
  /* Grid properties below this line */
  grid-column-start: 2;
  /* Grid properties above this line */
}

#item-6 {
  background-color: #00897b;
  /* Grid properties below this line */
  grid-column-start: 2;
  grid-column-end: 4;
  /* Grid properties above this line */
}
