#parent {
  background-color: #212121;
  margin: auto;
  width: 256px;
  height: 256px;
  /* Position properties below this line */
  position: static;
  /* Position properties above this line */
}

#child-1 {
  width: 2rem;
  height: 2rem;
  background-color: #ff8a80;
  /* Position properties below this line */
  position: absolute;
  right: 50vw;
  /* Position properties above this line */
}

#child-2 {
  width: 2rem;
  height: 2rem;
  background-color: #69f0ae;
  /* Position properties below this line */
  position: absolute;
  left: 50vw;
  /* Position properties above this line */
}

#child-3 {
  width: 2rem;
  height: 2rem;
  background-color: #ffee58;
  /* Position properties below this line */
  position: static;
  /* Position properties above this line */
}
