<style>
  .result_remark_item {
    line-height: 0.32rem;
    margin: 0 0.32rem;
    padding: 0.12rem 0.32rem;
    background: #f2f2f2;
    justify-content: space-between;
    display: flex;
  }
  .amtInfoDivTwo {
    padding-bottom: 0.32rem;
    line-height: 0.68rem;
  }
</style>
<div class="container textSelectNone" style="background-color: #f3f4f5;">
  <!-- <div class="container textSelectNone" style="height: 100%; background-color: #efeff4;"> -->
  <div>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 0px solid #f3f4f5;
      "
    >
      <span id="chaolianjie" style="display: none;">
        <img
          id="imgGuangGao"
          style="width: 100%; max-height: 1.6rem;"
          src="./static/images/mobile/onecode/mer/GIF.gif"
        />
      </span>
    </div>
  </div>
  <div
    class="merInfoCost"
    style="
      text-align: center;
      justify-content: center;
      display: flex;
      align-items: center;
    "
  >
    <div style="margin-top: 0.3rem;">
      <ui style="list-style-type: none;">
        <li>
          <font color="black" style="font-size: 0.36rem; color: #333;"
            >支付成功</font
          >
        </li>
        <li style="margin-top: 0.2rem;">
          <span style="font-size: 0.6rem;">¥ </span
          ><font
            id="payAmt"
            style="font-weight: bold; font-size: 0.8rem;"
            color="black"
          ></font>
        </li>
      </ui>
    </div>
  </div>

  <div class="clear"></div>

  <div class="amtInfoCost">
    <div class="amtInfoDiv">
      <div id="payOrder" class="costStyleTwo">
        <span style="font-size: 0.26rem; color: #666;">订单金额</span>
        <span id="di1" style="font-size: 0.26rem; color: #333;"></span>
      </div>
      <div id="actDiv" class="costStyleTwo" style="display: none;">
        <span style="font-size: 0.26rem; color: #666;" id="actName"
          >活动名称</span
        >
        <span id="actAmt" style="font-size: 0.26rem; color: #333;"></span>
      </div>
      <div
        id="paymanjian"
        class="costStyleTwo enoughRemove"
        style="display: none;"
      >
        <span style="font-size: 0.26rem; color: #666;">积分抵扣</span>
        <span id="di2" style="font-size: 0.26rem;"></span>
      </div>
      <div id="relAmtDiv" class="costStyleTwo" style="display: none;">
        <span style="font-size: 0.26rem; color: #666;">实付金额</span>
        <span id="relAmt" style="font-size: 0.26rem; color: #333;"></span>
      </div>

      <!--<div id="paybankmanjian" class="costStyleTwo enoughRemove">
				<span style='font-size: 0.26rem;color: #666;'>泰隆银行减免金额</span> <span
					id="diTaiLong" style='color: #FE6B1C;font-size: 0.26rem;'>-¥2.00</span>
			</div> -->
    </div>

    <!-- <div class="amtInfoCostCopy"></div> -->

    <div class="amtInfoDivTwo">
      <div class="costStyleTwo">
        <span style="font-size: 0.26rem; color: #666;">商户名称</span>
        <span id="di3" style="font-size: 0.26rem; color: #333;"></span>
      </div>

      <div class="costStyleTwo">
        <span style="font-size: 0.26rem; color: #666;">交易时间</span>
        <span id="di4" style="font-size: 0.26rem; color: #333;"> </span>
      </div>

      <div class="costStyleTwo">
        <span style="font-size: 0.26rem; color: #666;">商户订单号</span>
        <span id="di5" style="font-size: 0.26rem; color: #333;"></span>
      </div>

      <div id="payTradeNo" class="costStyleTwo">
        <span id="payResp" style="font-size: 0.26rem; color: #666;"
          >支付宝商户单号</span
        >
        <span id="di6" style="font-size: 0.26rem; color: #333;"></span>
      </div>

      <div class="costStyleTwo">
        <span style="font-size: 0.26rem; color: #666;">交易类型</span>
        <span id="di7" style="font-size: 0.26rem; color: #333;"></span>
      </div>

      {{if descList.length === 0}}
      <div class="costStyleTwo">
        <span style="font-size: 0.26rem; color: #666; width: 2rem;">备注</span>
        <span
          id="di8"
          style="text-align: right; flex: 1; font-size: 0.26rem; color: #333;"
          >--</span
        >
      </div>
      {{/if}} {{if descList.length > 0}}
      <div class="costStyleTwo">
        <span style="font-size: 0.26rem; color: #666;">备注信息</span>
        <span
          style="font-size: 0.26rem; color: #333;"
          onclick="toggleRemarkBt(event)"
          ><img
            src="./static/images/mobile/onecode/mer/down arrow@2x.png"
            style="width: 0.26rem; padding-left: 0.24rem;"
            alt=""
            srcset=""
        /></span>
      </div>
      {{/if}}
      <div style="display: none;" class="remarkList_box">
        {{each descList as desc index}}
        <div class="result_remark_item">
          <span style="font-size: 0.26rem; color: #666; width: 2rem;"
            >{{desc.descInfo}}</span
          ><span
            style="text-align: right; flex: 1; font-size: 0.26rem; color: #333;"
            >{{desc.descDetail}}</span
          >
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <!-- <div>
		<div style="display: flex;justify-content: space-between; align-items: center;border-top: 24px solid #f3f4f5;">
		    
		   <span id="chaolianjie" >
		    <img id="imgGuangGao" style="width: 100%;max-height: 1.76rem;" src="./static/images/mobile/onecode/mer/GIF.gif" />
		   </span>
		</div>
  	</div> -->

  <div style="height: 80px; width: 100%; text-align: center;">
    <div
      id="finish"
      style="margin-top: 23px; text-align: center;"
      class="buttonTwo"
    >
      <font color="white" size="3">完成</font>
    </div>
  </div>

  <div
    class="maskbigbox"
    style="
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      display: none;
    "
  >
    <div
      class="contbox"
      style="
        width: 100%;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
      "
    >
      <div
        class="conttitle"
        style="
          height: 0.92rem;
          text-align: center;
          position: relative;
          color: #030303;
          font-size: 0.36rem;
          line-height: 0.92rem;
          border-bottom: 0.02rem solid #f3f4f5;
        "
      >
        评价
        <img
          src="./static/images/mobile/onecode/mer/close.png"
          style="
            width: 0.32rem;
            height: 0.32rem;
            position: absolute;
            left: 0.15rem;
            top: 0;
            bottom: 0;
            margin: auto;
          "
          class="closebtn"
        />
      </div>
      <div style="height: 0.6rem;"></div>
      <div
        id="evaluateTitle"
        style="
          text-align: center;
          font-size: 0.28rem;
          color: #999;
          letter-spacing: 1.3px;
        "
      >
        期待您对我们的服务进行评价
      </div>
      <div style="height: 0.32rem;"></div>
      <div
        style="
          width: 4.4rem;
          margin: 0 auto;
          height: 0.48rem;
          display: flex;
          justify-content: space-between;
        "
      >
        <img
          src="./static/images/mobile/onecode/mer/xing@2x.png"
          style="width: 0.48rem; height: 0.48rem;"
          class="imgbox"
        />
        <img
          src="./static/images/mobile/onecode/mer/xing@2x.png"
          style="width: 0.48rem; height: 0.48rem;"
          class="imgbox"
        />
        <img
          src="./static/images/mobile/onecode/mer/xing@2x.png"
          style="width: 0.48rem; height: 0.48rem;"
          class="imgbox"
        />
        <img
          src="./static/images/mobile/onecode/mer/xing@2x.png"
          style="width: 0.48rem; height: 0.48rem;"
          class="imgbox"
        />
        <img
          src="./static/images/mobile/onecode/mer/xing@2x.png"
          style="width: 0.48rem; height: 0.48rem;"
          class="imgbox"
        />
      </div>
      <div
        style="
          font-size: 0.28rem;
          text-align: center;
          color: #a30030;
          line-height: 1.04rem;
          min-height: 0.6rem;
        "
        class="manyi"
      ></div>
      <div
        style="
          width: 6.9rem;
          height: 0.88rem;
          background: #a30030;
          margin: 0 auto;
          border-radius: 0.1rem;
          text-align: center;
          font-size: 0.36rem;
          line-height: 0.88rem;
          color: #fff;
          display: none;
        "
        class="btn"
      >
        确认提交
      </div>
      <div
        class="successcont"
        style="
          width: 4.15rem;
          margin: 0 auto;
          font-size: 0.28rem;
          color: #666;
          display: none;
          overflow: hidden;
          line-height: 0.46rem;
        "
      >
        <img
          src="./static/images/mobile/onecode/mer/ss.bmp"
          style="width: 0.44rem; height: 0.44rem; float: left;"
        /><span style="float: right;">您已评价成功，感谢您的支持</span>
      </div>
      <div
        style="
          width: 3.2rem;
          height: 0.66rem;
          margin: 0.1rem auto;
          margin-top: 0.4rem;
          display: flex;
          justify-content: center;
          align-item: center;
        "
      >
        <img
          src="./static/images/mobile/onecode/mer/icon@2x.png"
          style="width: 0.52rem; height: 0.66rem; padding-right: 0.2rem;"
        />
        <div
          style="
            font-size: 0.12rem;
            color: #666;
            display: flex;
            flex-direction: column;
            line-height: 0.33rem;
            min-width: 1rem;
            text-align: right;
          "
        >
          <div>XXX市场监督管理局</div>
          <div>X X 银 行 X X 分 行</div>
        </div>
      </div>
    </div>
  </div>

  <div class="tanKuangAd" id="tankuang" style="display: none;"></div>
  <!-- style="display: none;" -->
  <div class="ad2" id="ad2" style="display: none;">
    <div class="ad">
      <img
        src="./static/images/mobile/onecode/mer/jjb_qc.bmp"
        alt=""
        id="tuanKuangImg"
      />
    </div>
    <div style="text-align: center; margin-top: 0.5rem;">
      <img
        id="cloaeAd"
        src="./static/images/mobile/onecode/mer/clean@1x.png"
        alt=""
        style="width: 0.57rem;"
      />
    </div>
  </div>
</div>
