body {
  background-color: #0891b2;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .post {
  display: flex;
} */
.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 10rem;
  justify-content: space-between;
  color: white;
}
nav .list li:hover {
  color: #0f172a;
  cursor: pointer;
  font-weight: bolder;
}
.hero {
  height: 16rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cc {
  background: yellow;
  width: 4rem;
  height: 4rem;
}
