body {
    /* width: 100%; */
    /* height: 1000px; */
    background-color: rgb(123, 209, 99);
}

h1 {
    color:rgb(22, 52, 201)
}


.container-months {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1 1;
    justify-content: center;
    align-items: center;
}

.container-only-month {
    text-align: center;
    width: 350px;
    padding: 10px;
}


li {
    text-align: right;
    border: 1px solid rgb(128, 116, 199);
}


.day-name {
    background-color: #1d1b1b;
    font-weight: bold;
    color: antiquewhite;
    text-align: center;
}


.january {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
}


.first-day-january {
    grid-column-start: 7;
}


.february {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
}


.first-day-february {
    grid-column-start: 3;
}


.march {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
}


.first-day-march {
    grid-column-start: 3;
}


.april {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
}


.first-day-april {
    grid-column-start: 6;
}


.may {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
}


.first-day-may {
    grid-column-start: 1;
}


.june {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
}


.first-day-june {
    grid-column-start: 4;
}


.july {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
}


.first-day-july {
    grid-column-start: 6;
}



.august {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
}


.first-day-august {
    grid-column-start: 2;
}


.september {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
}


.first-day-september {
    grid-column-start: 5;
}


.october {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
}


.first-day-october {
    grid-column-start: 7;
}


.november {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
}


.first-day-november {
    grid-column-start: 3;
}


.december {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
}


.first-day-december {
    grid-column-start: 1;
}


