.subscribe-button {
  background-color: rgb(205, 12, 12);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: top;
}
.subscribe-button:hover {
  opacity: 0.7;
}
.subscribe-button:active {
  opacity: 0.5;
}
.join-button {
  background-color: white;
  color: #065fd4;
  border-color: #065fd4;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  cursor: pointer;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 8px;
  transition: background-color 0.15s, color 0.15s;
}
.join-button:hover {
  background-color: #065fd4;
  color: white;
}
.join-button:active {
  opacity: 0.7;
}
.tweet-button {
  background-color: #1d9bf0;
  color: white;
  border: none;
  border-radius: 50px;
  border-color: #1d9bf0;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: box-shadow 0.15s;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: top;
}
.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.linkedin-button {
  background-color: rgb(10, 102, 194);
  color: white;
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 8px;
}
.save-button {
  background-color: white;
  color: rgb(10, 102, 194);
  border-color: rgb(10, 102, 194);
  border-width: 2px;
  border-style: solid;
  width: 85px;
  height: 40px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
