p {
  font-family: Arial;
}
.video-title {
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;
}
.video-stats {
  font-family: Arial;
  font-size: 14px;
  color: #606060;
  margin-top: 0;
  margin-bottom: 15px;
}
.video-author {
  color: #606060;
  font-size: 14px;
  margin-top: 0;
}
.video-desc {
  width: 280px;
  font-size: 14px;
  color: #606060;
  margin-top: 20px;
  margin-bottom: 100px;
  line-height: 22px;
}
.apple-text {
  background-color: #e34140;
  color: white;
  font-size: 14px;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.shop-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
