body
	font-family: "Inter", sans-serif
	background-color: $body
	color: $text

	.container		
		display: flex
		flex-direction: column
		justify-content: space-between
		max-width: 560px
		height: 794px
		margin: 50px auto 0
		background-color: $bodyCard
		border: 1px solid $borderCard
		border-radius: 8px
		box-shadow: 10px 22px 24px rgba(0, 0, 0, 0.5)
