header
	position: relative
	.header-image
		position: absolute
		top: -1px
		right: -1px
		background: url(../images/header.png)
		background-size: cover
		background-position: center
		width: 560px
		height: 180px
		border-radius: 8px
	.header-title
		position: absolute
		top: 23px
		left: 31px
		width: 220px
		height: 99px
		h1
			font-size: 23px
			color: #fff
			font-weight: 400