.sectionLeft {
  float: left;
  width: 60%;
}
.sectionMiner {
  float: right;
  width: 20%;
  overflow-y: scroll;
  overflow: scroll;
}
.sectionUpgrades {
  float: left;
  width: 20%;
  overflow-y: scroll;
  overflow: scroll;
}
.skullContainer {
  background-color: rgb(238, 238, 238);
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
}
.clickerContainer img {
  position: relative;
  transition: all 0.2s ease-in-out;
}
.clickerContainer img:hover {
  transform: scale(1.1);
}
.clickerContainer img:active {
  transform: scale(0.99);
}
.Shop {
  background-color: #b5b5b5;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  width: 100%;
  margin: 10px 0px 10px 0px;
}
.Shop:hover {
  background-color: #c7c7c7;
  transition: 0.2s ease-in-out;
}
.Shop #image {
  width: 25%;
}
.Shop img {
  height: 64px;
  width: 64px;
}
.Shop #upgradeAndCost p {
  margin: 0px;
  width: 60%;
}
.Shop #amount {
  font-size: 48px;
  color: #595959;
  font-family: roboto;
}
.sectionFooter {
  margin-top: 30%;
}
.unselectable {
  user-select: none;
}
body {
  background-image: url("/assets/global/backgrounds/bg1.jpg");
  background-size: cover;
}
