body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: lightblue;
  }
  
  header {
    background-color: #00008b;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }

  nav a:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
  
  main {
    padding: 200px;
    text-align: center;
  }
  
  button {
    background-color: #00008b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  