@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #ffff;
}
.container {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
}

.container nav {
  width: 100%;
}

.container nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  justify-content: end;
  flex-direction: row;
}

.container nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.container .hero {
  margin: 30px 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.container .hero .arrow {
  position: absolute;
  top: 0px;
  left: 60px;
}
.container .hero .detel {
  margin-top: 150px;
  position: relative;
}
.container .hero .detel h1 {
  font-size: 96px;
  font-weight: 300;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  padding: 0;
}
.container .hero .detel h2 {
  margin: 0;
  padding: 0;
  letter-spacing: 0.5em;
  text-align: left;
}
.container .hero .detel h2 span {
  font-size: 50px;
  margin: 0;
  letter-spacing: 0em;
}

.container .hero .detel p {
  margin-left: 100px;
  font-size: 20px;
}
.container .hero hr {
  position: absolute;
  width: 70%;
  height: 0px;
  top: -15px;
  border: 2px solid #006d77;
}
.container .hero .social-icon {
  display: flex;
  position: relative;
  justify-content: end;
  gap: 20px;
}

.container .hero .social-icon div {
}

.container .hero .social-icon img {
  margin-top: 20px;
  width: 34px;
}

.container .skills {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.container .skills .left h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 200px;
  line-height: 352px;
  color: #edf6f9;
  margin: 0;
}

.container .skills .right {
  display: flex;

  /* flex-wrap: wrap; */
  justify-content: space-between;
}
.container .skills .right .ul1 {
  text-align: right;
}
.container .skills .right .ul2 {
  text-align: left;
}

.container .skills .right ul li .img {
  width: 53px;
  border-radius: 0px;
}
.container .skills .right ul li {
  list-style-type: none;
  font-style: normal;
  font-weight: 300;
  margin-top: 10px;
  color: #000000;
}

.container .Work {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.container .Work .right h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 200px;
  line-height: 352px;
  color: #edf6f9;
  margin: 0;
}

.container .Work .right img {
  width: 50%;
  height: 330px;
}

.container .Work .left {
  display: flex;
  min-width: 50%;
  flex-direction: column;
  position: relative;
}

.container .Work .left .top-box {
  font-family: "Permanent Marker", cursive;
  font-style: normal;
  position: absolute;
  font-weight: 400;
  right: 0;
  font-size: 24px;
  width: 296px;
  height: 149px;
  justify-self: end;
  align-items: end;
  color: #000000;
}
.container .Work .left .img-1 {
  margin-top: 100px;
  /* position: absolute; */
}
.container .Work .left .btn-box {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}
.container .Work .left .btn-box a {
  padding: 10px 20px;
  left: 75px;
  top: 1737px;
  background: #83c5be;
  color: white;
  border-radius: 16px;
}

.container .Work .left .btn-box a:hover {
  background: #419d93;
}

.container .Work .left .bottom-box {
  font-family: "Permanent Marker", cursive;
  font-style: normal;
  /* position: absolute; */

  font-weight: 400;
  bottom: 0;
  font-size: 24px;
  width: 296px;
  height: 149px;
  justify-self: end;
  align-items: end;
  color: #000000;
}

.container .about {
  display: flex;
  margin-top: 90px;
}

.container .about .left h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 200px;
  line-height: 352px;
  color: #edf6f9;
  margin: 0;
}

.container .about .left p {
  font-style: normal;
  font-weight: 300;
  line-height: 42px;
}
.container .about .right {
  max-height: 100px;
}

.container .contact h1 {
  font-style: normal;
  text-align: end;
  font-weight: 900;
  font-size: 200px;
  line-height: 352px;
  color: #edf6f9;
  margin: 0;
}

.container .contact .content {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}
.container .contact .email {
  display: flex;
}
.container .contact .email img {
  width: 34px;
}
.container .contact .email a {
  color: black;
}
.container .contact .social-icon {
  display: flex;
  position: relative;
  justify-content: end;
  column-gap: 20px;
}
.container .contact .social-icon img {
  width: 34px;
}
