/*h1 {
  color: white;
  text-align: center;
}*/

/*p {
  color: red;
  text-align: center;
}*/

.prueba {
  background-color: yellow;
}
.grande {
  font-size: 2cm;
}
#azul {
  color: aqua;
}
.rojo {
  font-style: oblique;
}
.naranja {
  color: orange;
}
#grisaceo {
  color: gray;
}

div p.prueba {
  background-color: limegreen;
}
div p.grande {
  font-size: 1.5cm;
}

div + p {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  display: flex;
  flex-direction: row-reverse;
  color: gold;
}
h2:lang(es-MX) {
  display: initial;
  color: firebrick;
}

h2:lang(es-ES) {
  border: 2px solid blue;
  background-color: lightblue;
  padding: 10px;
}
h2 + [title~="otro"] {
  visibility: hidden;
}
[title~="cabecera"] {
  display: none;
}
