/*General*/
* {
  max-width: 1220px;
  margin: auto;
}
body {
  box-sizing: border-box;
  padding: 1em;
  background-color: lightgrey;
  font-family: "Zen Maru Gothic", sans-serif;
}
p {
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin-bottom: 40px;
  padding-bottom: 5px;
  margin: 3px;
}
h1 {
  font-weight: 400;
  text-align: center;
}
h2 {
  font-weight: 500;
}
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
iframe {
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 20px;
}

/*Classes*/
.right {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.bottomh4 {
  margin-bottom: 5px;
}
.engagementtext {
  text-align: center;
}

/*IDs*/
#description {
  text-align: center;
  margin: 0.5em;
}
#about {
  background-color: darkgray;
  padding: 15px;
  padding-top: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}
#abstract {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5em;
  margin-top: 10px;
  background-color: darkgray;
}

#BApic {
  padding-right: 5px;
  size: auto;
}
#menutitle {
  margin: 0.5em;
  margin-left: 1em;
}
