/*Kontakt-Icons*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-instagram {
  background: #ce1f1f;
  color: white;
}
.fa-linkedin {
  background: #776ff3;
  color: white;
}
.fa-envelope {
  background: #0b7e31;
  color: white;
}
.fa-phone {
  background: #6f7a05;
  color: white;
}
