/* edit button for displaying popup windows */
.edit_button {
	float: right;
}

.inputButton {
	padding: 5px 0 5px 5px;
}

.inputTableButton {
	padding: 0 0 0 0;
}

a.button {
	background: transparent url('../img/btn_left.png') no-repeat scroll top
	right;
	/*	display: block;*/
	float: left; /* required to specify one or another to wrap nicely */
	/*	position: relative;*/
	font-size: 12px;
	text-decoration: none;
	height: 25px;
	padding-right: 15px; /* sliding doors padding */
	margin: 0px 5px 5px 0px;
	vertical-align: bottom;
	white-space: nowrap;
}

a.button span {
	background: transparent url('../img/btn_right.png') no-repeat;
	display: block;
	line-height: 15px;
	padding: 5px 0 5px 15px;
}

a.button:hover {
	background-position: bottom right;
	text-decoration: none;
	outline: none; /* hide dotted outline in Firefox */
}

a.button:hover span {
	background-position: bottom left;
}

input.button{
	background: url("../img/btn_right.png") no-repeat scroll 0 0 transparent;
	line-height: 15px;
	padding: 4px 5px 3px 15px;
}
