/* list of errors displayed by the h:messages component */
.error_list {
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 15px;
	/*color: red;*/
	font-weight: bold;
}

/* error message colors by maximum severity level */
.severity_2,.severity_3 {
	color: red;
}

.severity_1 {
	color: orange;
}

.severity_0 {
	color: green;
}

/* list for displaying error messages in popups */
.popup_message {
	position: relative;
	left: 10px;
}
