/*
 * Style elements for form fields and layout
 */
input,select {
	color: #01433c;
	font: 12px Arial, Verdana, sans-serif;
}

/* form field designs */
.textbox {
	border: 1px solid #83b4b4;
}

/* form field designs */
.textbox_large {
	width: 300px;
	height: 100px;
	border: 1px solid #83b4b4;
}

/*	font: 12px Arial, Verdana, sans-serif;  */
.longtextbox {
	border: 1px solid #83b4b4;
	width: 300px;
}

.midtextbox {
	border: 1px solid #83b4b4;
	width: 160px;
}

.shorttextbox {
	border: 1px solid #83b4b4;
	width: 40px;
}

.flextextbox {
	border: 1px solid #83b4b4;
	width: 100%;
}
.textbox120{
	border: 1px solid #83b4b4;
	width: 100%;
	height: 120px;
}

.largetextbox{
	border: 1px solid #83b4b4;
	width: 100%;
	height: 150px;
}
.extralargetextbox{
	border: 1px solid #83b4b4;
	width: 100%;
	height: 300px;
}

.datebox {
	border: 1px solid #83b4b4;
	width: 83px;
}

/* used for marking the input fields in generated table row that must be surrounded with jQuery datapicker components */
.itemdatebox {
	border: 1px solid #83b4b4;
	width: 83px;
}

.numberbox {
	border: 1px solid #83b4b4;
	width: 42px;
}

/* required field */
.required_field {
	color: red;
	float: right;
}

/* required field */
.required_textarea {
	color: red;
	float: left;
}

.form_table {
	margin: 6px 0;
	font-size: 12px;
}

.form_table td {
	padding: 3px 5px 3px 0px;
}

.form_table_inner {
	border-collapse:collapse;
	margin: 0;
}

.form_table_inner td {
	padding: 0;
}

/* radio buttons in data tables */
table.radio td {
	border: none;
	padding: 0px;
	padding-right: 5px;
	margin: 0px;
}

td.dataChanged {
	background-color: yellow;
}

td.dataNeedsAttention {
	background-color: #ffe5e5;
}

.placeholder
{
	color: #aaa;
}
