.frontpage_table {
	border-collapse: collapse;
	width: 100%;
	font-family: Verdana, Arial, sans-serif;
	margin: 15px 0 0 5px;
	padding: 0;
	border-bottom: 1px solid #679e93;
}

.frontpage_table th {
	background: url('../img/tabs_left_a.gif') no-repeat;
	padding: 0 0 0 7px;
	margin: 0;
}

.frontpage_table th span, .frontpage_table th a {
	background: url('../img/tabs_right_a.gif') no-repeat top right;
	display: block;
	margin: 0px;
	padding: 3px 0 3px 0;
	height: 27px;
}

.frontpage_table td {
	background: url('../img/border_px.gif') repeat-y;
	border-right: 1px solid #679e93;
	padding: 3px;
}

.frontpage_table td a {
	text-decoration: none;
	display: block;
}
