/* help popup */
#help {
	text-align: left;
	background: white url('../img/help_bg.gif') repeat-y;
}

/* help wrapper */
#help_wrap {

}

/* help header */
#help_header {
	height: 65px;
	background: white;
	border-bottom: 1px solid #8a6a6b;
	padding: 10px 10px 0 10px;
}

/* help language selection */
#help_lang {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: right;
	text-align: left;
}

/* help search form */
#help_searchbox {
	height: 40px;
	background: white;
	border-bottom: 1px solid #8a6a6b;
	padding: 10px 10px 0 20px;
}

/* help left directory structure */
#help_left {
	vertical-align: top;
	width: 241px;
	float: left;
	overflow: auto;
}

/* help content */
#help_right {
	padding: 20px 20px 20px 20px;
	float: left;
}
