/* Style definitions for the side navigation menu  */

/* menu div */
.navmenu {
	margin: 0 3px 0 0px;
	padding: 2px 0 10px 5px;
	width: 160px;
	float: left;
	text-align: center;
}

/* menuitem */
.navmenu a {
	display: block;
	font-size: 13px;
	font-weight: bold;
	/*background: url('../img/bg_navmenu_a.gif') no-repeat;*/
	line-height: 31px;
	width: 160px;
	text-decoration: none;
	margin-top: 5px;
	padding: 0px;
}

/* menuitem with mouseover */
.navmenu a:hover,.navmenu a.active {
	/*background: url('../img/bg_navmenu_a_hov.gif') no-repeat;*/
	background-color: #cccccc;
}

/* menu item for the currently active module */
.navmenu .selected {
	/*background: url('../img/bg_navmenu_a_hov.gif') no-repeat;*/
	background-color: #cccccc;
}
