/* Put this inside a @media qualifier so Netscape 4 ignores it */
@media screen, print {

	ul.mktree  li {
		list-style: none;
	}

	ul.mktree, ul.mktree ul , ul.mktree li {
		margin-left:10px;
		padding:0px;
	}


	ul.mktree li .bullet {
		padding-left: 15px;
	}


	ul.mktree li.liOpen .bullet {
		cursor: pointer;
		background: url('../img/minus.gif') center left no-repeat;
	}

	ul.mktree li.liClosed .bullet {
		cursor: pointer;
		background: url('../img/plus.gif') center left no-repeat;
	}

	ul.mktree li.liBullet .bullet {
		cursor: default;
		background: url('../img/bullet.gif') center left no-repeat;
	}

	ul.mktree li.liOpen ul {
		display: block;
	}

	ul.mktree li.liClosed ul {
		display: none;
	}


}
