/* navigation trail style */
.navigation {
	clear: both;
	height: 25px;
	list-style-type: none;
	margin: 0 0 0 5px;
	padding: 0;
	/*background: url('../img/bg_navigation.gif') repeat-x;*/
	border-bottom: 1px solid #8a6a6b;
}

.navigation li {
	float: left;
	line-height: 25px;
	padding: 0 5px 0 5px;
	margin: 0 -3px 0 0;
	/*background: url('../img/bg_navigation_li.gif') repeat-x;*/
}

.navigation li a {
	letter-spacing: 1.3px;
	line-height: 25px;
	text-decoration: none;
	font-size: 11px;
}

.navigation li a:hover {
	text-decoration: underline;
}
