/*
*** from general.css ***
*/
body {
	font: 12px/ 14px Verdana, Verdana, sans-serif;
}

.marginbox {
	margin: 4px 8px 5px 8px;
}

#wrap {
	padding: 4px 0;
}

.container_inner {
}

.content {
	width: 820px;
	border-left:1px solid #8A6A6B;
}

#header {
	height: 58px;
	/*background: url('../img/bg_header_small.gif') no-repeat top left;*/
}

.header_message {
	left: 150px;
	width:550px; /** Max width, before overlaps logout button */
}

.identdata {
	font-size: 13px;
}

.layout_table td {
	padding-right: 4px;
}

/*
*** from menu.css ***
*/
.navmenu {
	margin: 0 2px 0 0px;
	padding: 0px 1px 4px 2px;
	width: 130px;
}

.navmenu a {
	display: block;
	font-size: 11px;
	/*background: url('../img/bg_navmenu_a_small.gif') no-repeat;*/
	line-height: 25px;
	width: 130px;
	margin-top: 8px;
}

.navmenu a:hover,.navmenu a.active {
	/*background: url('../img/bg_navmenu_a_hov_small.gif') no-repeat;*/
	background-color: #cccccc;
}

.navmenu .selected {
	/*background: url('../img/bg_navmenu_a_hov_small.gif') no-repeat;*/
	background-color: #cccccc;
}

/*
*** from navigation.css ***
*/
.navigation {
	height: 20px;
}

.navigation li {
	line-height: 20px;
}

.navigation li a {
	line-height: 20px;
	font-size: 11px;
}

/*
*** from forms.css ***
*/
input,select {
	font-size: 11px;
}

.form_table {
	font-size: 11px;
}

/*
*** from tables.css ***
*/
.color_table {
	margin-top: 10px;
}

.color_table {
	margin-top: 10px;
}

.footer_table {
	margin-top: 0px;
}

.color_table td,.color_table th {
	padding: 3px;
}

.container_table {
	margin-top: 5px;
}

.container_table td {
	padding: 3px;
}

table.step td {
	height: 25px;
	width: 25px;
	font-size: 15px;
}

/*
*** from buttons.css ***
*/
.inputButton {
	padding: 2px 0 2px 2px;
}

a.button {
	background: transparent url('../img/btn_left.png') no-repeat scroll top
	right;
	font-size: 11px;
	height: 25px;
	padding-right: 15px; /* sliding doors padding */
	margin: 0px 2px 2px 0px;
}

a.button span {
	background: transparent url('../img/btn_right.png') no-repeat;
	display: block;
	line-height: 15px;
	padding: 5px 0 5px 15px;
}

a.button:hover {
	background-position: bottom right;
	text-decoration: none;
	outline: none; /* hide dotted outline in Firefox */
}

a.button:hover span {
	background-position: bottom left;
}

/*
*** from tabs.css ***
*/

#tabbox_inner {
	width: 815px;
}
