* {
  padding: 0px;
  margin: 0px;
  font-family: "Courier New", Courier, cursive;
  color: #00cc00;
}

body {
  height: 100vh;
}

label {
  margin-left: 10px;
  transition: ease-in 0.3s;
}

label:hover {
  border-bottom: solid 0.2rem;
  cursor: pointer;
}

h2 {
  padding: 0.5rem;
}

section {
  background-color: whitesmoke;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100vh auto 4rem;
}

#hm,
#svce {
  /* display: none; */
}

article {
  margin: 1rem;
  padding: 1rem;
  box-shadow: #555 0px 3px 7px 0.1px;
}

header {
  background-image: url("../resources/kids_party.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  box-shadow: #555 0px 3px 7px 0.1px;
  display: flex;
  flex-direction: column;
}

.heading {
  box-shadow: #555 0px 3px 7px 0.1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  backdrop-filter: blur(5px);
}

.heading h1 {
  font-size: 2rem;
  font-weight: 900;
}

.heading nav {
  display: flex;
  align-content: flex-end;
  font-size: 2rem;
  font-weight: lighter;
}

.name {
  backdrop-filter: blur(5px);
  box-shadow: #555 0px 3px 7px 0.1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 90%;
  height: 10rem;
  margin: 20% auto;
  font-size: 4rem;
  text-align: center;
  font-weight: bolder;
}

#services {
  display: none;
}

footer {
  margin-top: 1rem;
  padding: 0.5rem;
  box-shadow: #555 0px 3px 7px 0.1px;
  display: flex;
  justify-content: space-between;
}
