/* Style definitions for displaying links as tab's */
#tabContentDiv {
	margin: 0;
	padding: 0;
}

#tabs {
	padding: 0 0 0 0;
	margin-top: 5px;
}

#tabRowNr1 {
	position: relative;
}

#tabRowNr2 {
	position: relative;
}

#tabRowNr3 {
	position: relative;
}

#tabs ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
	z-index: 1;
}

#tabs li {
	margin: 5px 1px 0 0;
	display: block;
	float: left;
	padding: 0 0 0 7px;
	background: url('../img/tabs_left.gif') no-repeat;
	position: relative;
}

#tabs li.active {
	margin-top: 1px;
	background: url('../img/tabs_left_a.gif') no-repeat;
}

#tabs li.active a {
	background: url('../img/tabs_right_a.gif') no-repeat top right;
	line-height: 29px;
	font-weight: bold;
}

#tabs li a {
	display: block;
	line-height: 25px;
	font-size: 12px;
	padding: 0 7px 0 0;
	text-decoration: none;
	font-family: Arial, Verdana, sans-serif;
	background: url('../img/tabs_right.gif') no-repeat top right;
}

#greenTab li {
	border: 1.5px solid red;
	moz-border-radius: 3px;
	-webkit-border-radius: 3px;

}

#tabs li a.alert {
	color: red;
}

#tabbox_inner {
	width: 786px;
	padding: 5px 5px;
	border: 1px solid #8a6a6b;
	margin-top: -1px;
	display: block;
}
