p {
  font-size: 20px;
}

h1,
h4 {
  text-transform: uppercase;
}

.bd-red {
  border: 3px dashed red;
}

.bd-yellow {
  border: 3px dashed yellow;
}

.bd-yellow {
  border: 3px dashed yellow;
}

.bd-cyan {
  border: 3px dashed cyan;
}

.bd-pink {
  border: 3px dashed rgb(228, 109, 173);
}

.bd-pink-top {
  border: 3px dashed rgb(228, 109, 173);
  border-bottom: 0px;
}
