/*CONTENT*/
.content {
	width: 1100px;
	height: 100%;
	border: solid 3px green;
}

h1 {
	text-align: center;
}

h1 span {
	background-color: lightgray;
	color: darkslategray;
	text-align: center;
}

.box {
	width: 20%;
	background-color: #9bdaef;
	padding: 20px;
	font-size: 13px;
	margin: 0 0 15px 0;
	display: inline-block;
	border: solid 1px black;
}
.box h4{
	text-align: center;
}
.service-left {
	float: left;
}
.service-right {
	float: right;	
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
/*---------------------------------------*/
