CSS * {
  box-sizing: border-box;
}
body {
  background-color: snow;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

h3 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
}
.main-heading {
  color: indigo;
  font-size: 2.5rem;
}
.main-subtitle {
  color: gray;
  font-size: 1.25rem;
}
.team-member {
  width: 20rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.team-member:hover {
  border: 4px solid transparent;
}
.profile-img {
  margin: 0.5rem;
  margin-bottom: none;
}
.team-member p {
  opacity: 0.8;
}
#anna {
  background-color: darkcyan;
  color: beige;
}
#anna h2,
#anna h3 {
  color: honeydew;
}
#harry {
  background-color: cornsilk;
}
#harry h2,
#harry h3 {
  color: darkslategray;
}
#sofia {
  background-color: dodgerblue;
  color: lightcyan;
}
#sofia h2,
#sofia h3 {
  color: navy;
}
h3 {
  font-style: courier-new;
}
