body {
  background-color: snow;
  font-family: "Segoe UI", sans-serif;
}

h3 {
  font-family: "Courier New", monospace;
}
.main-heading {
  color: indigo;
}
.main-subtitle {
  color: gray;
}
.team-member {
  width: 256px;
}
.team-member p {
  opacity: 0.8;
}
#anna {
  background-color: darkcyan;
  color: beige;
}
#anna h2,
#anna h3 {
  color: honeydew;
}
#harry {
  background-color: cornsilk;
}
#harry h2,
#harry h3 {
  color: darkslategray;
}
#sofia {
  background-color: dodgerblue;
  color: lightcyan;
}
#sofia h2,
#sofia h3 {
  color: navy;
}
h3 {
  font-style: courier-new;
}
