<div
  id="carousel"
  class="carousel carousel-dark slide"
  data-bs-ride="carousel"
  data-bs-interval="2000"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="img/john_duetone.jpg"
        class="d-block w-100"
        alt="John Waters con un flamenco de utileria"
      />
    </div>
    <div class="carousel-item">
      <img
        src="img/carlotta_duetone.jpg"
        class="d-block w-100"
        alt="John Waters con un flamenco de utileria"
      />
    </div>
  </div>
</div>
