<div class="card mb-3 film-card" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-auto">
        <img src="img/loading.png" class="img-fluid movieImg" alt="">
      </div>
      <div class="col">
        <div class="card-header">
          <h5 class="card-title movieTitle">title</h5>
        </div>
        <div class="card-body card-block px-2">
            <p class="card-text"><small class="text-muted movieYear">year</small></p>
            <p class="card-text"><small class="movieDesc">desc</small>
            </small></p>
        </div>
      </div>
    </div>
    <div class="card-footer w-100 text-muted text-center">
      <a href="#" class="btn btn-primary movieLink" target="_blank">link</a>
    </div>
  </div>