<nav class="navbar fixed-top navbar-expand-lg" id="navbar">
  <div class="container">
    <a class="navbar-brand" href="inicio">John Waters AR</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"><i class="bi bi-list"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="biografia">Biografia </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="filmografia">Filmografia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="fotografia">Fotografia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="docencia">Docencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="nosotrxs">Nosotrxs</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="diagonal"></div>
