body {
  background-color: black;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://holidify.com/images/bgImages/NEW-ZEALAND.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}
.hero-subheading {
  font-size: 24px;
  font-weight: 100;
}
.hero-input {
  width: 80%;
  height: 50px;
  padding: 16px;
  border: none;
  border-radius: 16px;
}
@media (max-width: 600px) {
  .hero-input {
    margin-top: 120px;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .hero-input {
    margin-top: 200px;
  }
}
@media (min-width: 1000px) {
  .hero-input {
    padding: 16px;
  }
}
.feature:hover {
  transform: scale(1.1);
  filter: brightness(50%);
  transition: all 0.2s;
}
.price:hover {
  transform: scale(1.1);
  filter: brightness(50%);
  transition: all 0.2s;
}
#contact {
  background-color: aliceblue;
}
#click {
  transform: scale(1.1);
  filter: grayscale(23);
  transition: all 0.2s;
}

/* explore */
.cardhead {
  height: 120px;
}
.adventure-card:hover {
  transform: scale(1.1);
  background-color: rgb(75, 144, 201);
  transition: all 0.2s;
}
