<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" type="text/css" href="../static/globalcss.css" />
            <link rel="icon" href="../static/warning-icon.png" />
            <title>Merci d'utiliser l'application</title>
            <meta charset="utf-8" />
        </head>
        <body>
            <h1>CLUB INFO</h1>
            <form action="" method="post" class="border">
                <div>
                    <br/>
                    <label for="name">Nom :</label>
                    <input type="text" name="name" id="name" />
                    <br/>
                    <label for="firstname">Prénom :</label>
                    <input type="text" name="firstname" id="firstname" />
                    <br/>
                    <br/>
                    <label for="password">Mot de passe :</label>
                    <input type="password" name="password" id="password" />
                </div>
                <div>
                    <input type="submit" value="Entrer" />
                </div>
                <br/>
            </form>
            <h2>Ent Python <img src="../static/python.png" height="50" width="50"/></h2>
        </body>
    </html>
<!-- FIN -->

