<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>Merci d'utiliser l'application</title>
            <link rel="stylesheet" type="text/css" href="../static/globalcss.css" />
            <link rel="icon" href="../static/warning-icon.png" />
        </head>
        <body>
            <table class="border">
                <tr>
                    <td><img src="../static/docs-icon.png" width="75" height="75"></td>
                    <td><img src="../static/message-icon-veceezy.jpg" width="75" height="75"></td>
                </tr>
                <tr>
                    <td><button onclick="window.location.href='docs.html'">Cours</button></td>
                    <td><button onclick="window.location.href='messages.html'">Messages</button> <!--Script inspiré de https://www.11zon.com--> </td>
                </tr>
            </table>
        </body>
    </html>