<!DOCTYPE html>
 <html>
  <head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width" />
   <title>Python ENT - S'inscrire</title>
   <link rel="icon" href="/static/python.png" />
   <link rel="stylesheet" href="/static/signup.css" />
  </head>
  <body>
   <h1>CLUB INFO</h1>
   <form action="" method="post">
    <div id="login-div">
     <div>
      <div>
       <label for="name">Nom :</label>
       <input type="text" name="name" id="name" />
      </div>
      <div>
       <label for="firstname">Prénom :</label>
       <input type="text" name="firstname" id="firstname" />
      </div>
     </div>
     <div>
      <label for="password">Mot de passe :</label>
      <input type="password" name="password" id="password" />
     </div>
    </div>
    <div id="enter-div">
     <input type="submit" value="S'inscrire" id="submit" />
    </div>
   </form>
   <h2>Ent Python <img src="/static/python.png" /></h2>
  </body>
 </html>
<!-- FIN -->
