.page
{
    background: url(/Myaccountrelated/—Pngtree—mountains\ and\ steep\ mountains_4407478.png) no-repeat;
    background-size: cover;
    margin: 100px;
    padding: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 400px;
}
p{
    float: left;
    margin-right: 600px;
}
a{
    margin: 10px;
    color: inherit;
    font-weight: bolder;
}
.input-field{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40%;
}
.item3{
    grid-column-start: 1;
    grid-column-end: 3;
}
.item4{
    grid-column-start: 1;
    grid-column-end: 3;
}

input{
    margin: 10px;
    height: 30px;
    border-radius: 5px;
    border: 0;
}
button{
    width: 20%;
    height: 6%;
    outline: none;
    border: 0;
    background: lightblue;
    border-radius: 15px;
    cursor: pointer;
}
