html, body {
	margin: 0;
}
h1 {
	height: 150px;
	font-size: 100px;
	padding: 25px 0;
	font-weight: bold;
}
body {
	margin-bottom: 70px;
}
form {
	height: 40%;
}
h2 {
	font-size: 62px;
	position: fixed;
	bottom: 0px;
	text-align: center;
	left: 1px;
	right: 1px;
}
h1, form, h2 {
	margin: 0;
}
h2 img {
	height: 50px;
}
h1, h2 {
	text-align: center;
}
form {
	display: flex;
	width: 100%;
	height: min-content;
}
form #login-div {
	width: 70%;
	padding: 5px;
}
form #enter-div {
	width: 30%;
	padding: 5px;
}
#login-div div {
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
label {
	padding-right: 5px;
}
input {
	flex-grow: 2;
}
#submit {
	width: 100%;
	height: 100%;
}
