.player.dark {
  background-color: black;
}
.player.dark ~ .switch {
  background-color: #555;
}
.player.dark .dashboard {
  background-color: black;
  border-bottom: 4px solid #333;
}
.player.dark .dashboard h2 {
  color: #ccc;
}
.player.dark .song-list {
  background-color: #333;
}
.player.dark .song-item,
.player.dark ~ .switch::before {
  background-color: black;
}
.player.dark .song-info {
  color: #ccc;
}
.player.dark .volumeSlider,
.player.dark .timeSlider {
  background-color: #333;
}
.player.dark .timeSliderCurrenth {
  background-color: #999;
}

.player.dark .play-icon,
.player.dark .pause-icon {
  color: black;
}
