body {
  margin: 0;
  font-family: "Nunito";
}

header {
  display: inline-block;
  position: fixed;
  z-index: 10;
  width: 4%;
  height: 100%;
  background: var(--colorPrinc);
}
header:hover .menu {
  left: 4%;
  opacity: 1;
}

    header .leftBarre svg {
      display: block;
      position: initial;
      margin-top: 15%;
      margin-left: auto; margin-right: auto;
      font-size: 25px;
      color: #fff;
    }

  header .menu {
    display: block;
    position: fixed;
    z-index: 9;
    box-shadow: 5px 0 10px rgba(0,0,0,.3);
    top: 0;
    left: -14%;
    padding-top: 1%;
    padding-left: 0;
    width: 14%;
    height: 100%;
    opacity: 0;
    transition: opacity .3s .5s;
    background: var(--colorSecond);
  }

    header ul {
      padding-left: 0;  
    }

    header ul li {
      padding: 5%;
      list-style: none;
      height: 20px;
      font-size: 18px;
      opacity: .8;
      transition: .3s;
      overflow: hidden;
    }
    header ul li:hover {
      text-decoration: underline;
      background: var(--colorPrinc);
      opacity: 1;
    }
    header ul .list:hover {
      text-decoration: none;
      height: auto;
    }
    header ul .list ul {
      opacity: .4;
      transition: opacity .4s;
    }
    header ul .list:hover ul {
      opacity: 1;
    }

      header ul a, header ul li {
        color: #fff;
        text-decoration: none;
      }

    header ul ul {
      padding-left: 0;
      overflow: hidden;
      opacity: .7;
    }

      header ul ul li {
        height: auto;
      }
      header ul ul li:hover {
        text-decoration: underline;
        opacity: 1;
      }