body {
  margin: 0;
  font-family: "Nunito";
}

header {
  display: inline-block;
  position: fixed;
  z-index: 10;
  width: 70px;
  height: 100%;
  background: var(--colorPrinc);
}

    header .leftBarre svg {
      display: block;
      position: initial;
      margin-top: 15%;
      margin-left: auto; margin-right: auto;
      font-size: 25px;
      color: #fff;
    }
    header .leftBarre svg:hover { cursor: pointer; opacity: .7; }

  header .menu {
    display: block;
    position: fixed;
    z-index: 9;
    box-shadow: 5px 0 10px rgba(0,0,0,.3);
    top: 0;
    left: 70px;
    padding-top: 1%;
    padding-left: 0;
    width: 0;
    height: 100%;
    transition: opacity .3s .5s;
    background: var(--colorSecond);
  }

    header ul {
      padding-left: 0;  
    }

    header ul li {
      padding: 20px;
      padding-right: 0;
      list-style: none;
      font-size: 18px;
      color: #fff;

      padding-left: 0;
      opacity: 0;

      transition: .3s;
      animation: menu_li .75s;
    }
    @keyframes menu_li {
      from { padding-left: 0; }
    }
    header ul a {
      text-decoration: none;
    }

    header ul li:hover {
      text-decoration: underline;
      background: var(--colorPrinc);
      opacity: 1;
    }
    header ul .list:hover {
      text-decoration: none;
      height: auto;
      overflow: auto;
    }
    header ul .list ul {
      display: none;
      position: absolute;
      padding: 5px;
      padding-left: 0%;
      padding-right: 0%;
      margin-top: -45px;
      margin-left: 230px;
      width: 100%;
      opacity: 1;
      transition: opacity .4s;
      background: var(--colorPrinc);
    }
    header ul .list:hover ul {
      display: block;
    }

      header ul .list a {
        color: #fff;
        text-decoration: none;
      }
      header ul .list ul a:nth-child(2n) li {
        background: rgba(255,255,255,.1);
      }

    header ul ul {
      padding-left: 0;
      overflow: hidden;
      opacity: .7;
    }

      header ul ul li {
        height: auto;
      }
      header ul ul li:hover {
        text-decoration: underline;
        opacity: 1;
      }

.body {
  position: absolute;
  margin-left: 7%;
  width: 100-7%;
}