body {
  background-color: #33444e;
  color: white;
}

.navbar-brand span {
  color: #2596be;
}

.navbar-expand-sm .navbar-collapse {
  justify-content: center;
}

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
    left: 50%;
  }
}

.me-auto {
  margin-right: 0px !important;
}

#about h2,
#skills h2,
#projects h2 {
  color: #2596be;
  padding-left: 5px;
  border-left: 2px solid #2596be;
}

#about h2 span,
#skills h2 span,
#projects h2 span {
  color: white;
}

#infotext {
  display: flex;
  flex-direction: column;
  margin: 16px;
  border-left: 2px solid #2596be;
  padding: 5px;
}

#infotext_text-1 {
  color: #2596be;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: dotted;
}

#quote {
  text-align: center;
  margin: 16px;
}

#quote span {
  font-weight: 700;
}

#skills .bg-primary {
  background-color: #2596be !important;
}

#back_to_top {
  display: flex;
  justify-content: center;
}

.skill_progress {
  display: flex;
  flex-direction: row;
}

#bars {
  display: flex;
  flex-direction: column;
}

#skills .flex-fill {
  text-align: center;
}

.skills p {
  font-size: 1.3rem;
  margin: 5px;
}
#inner_about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#inner_about p {
  margin: 5px;
}
#inner_about > div {
  margin: 15px;
  padding: 10px;
  border: 1px solid #2596be;
  border-radius: 10px;
}
.bold {
  font-weight: 500;
  font-size: 1.01rem;
}
#back_to_top a {
  background-color: #2596be !important;
  border-color: #2596be;
}
#buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#buttons > div {
  margin: 10px;
}
