body {
  margin: 0;
  font-family: "Nunito";
  background: var(--colorSecond);
}
.body .list_img {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
}
.body .list_img div {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: flex-start;
  width: 98%;
  position: relative;
}
.body .body .list_img div .img {
  display: grid;
  height: auto;
  width: 23vmax;
  height: 33vmin;
}

.body .list_img div .img img {
  align-self: center;
  justify-self: center;
  max-height: 98%;
  max-width: 98%;
  margin: 1%;
}

.body .list_img .img .clicked {
  display: none;
}
