@media screen and (min-width: 724px) {
  .player {
    display: flex;
    align-items: center;
  }
  .dashboard {
    position: relative;
    flex: 1;
    border-bottom: unset !important;
  }
  .playlist {
    flex: 1;
    padding-top: 0;
    height: 100vh;
    overflow: auto;
  }
  .duration {
    height: 13px;
  }
}
@media screen and (max-width: 723px) {
  .volumeSlider {
    /* display: none; */
  }
}
@media screen and (min-width: 724px) {
  /* .player {
    max-width: 60%;
    max-height: 70%;
    margin: auto auto;
  } */
}
