@charset "utf-8";

@media only screen and (min-width: 1920px) {
  body {
    background-image: url("/assets/images/half-background-1300-912.png");
    background-size: cover;
    width: 100%;
    height: 1080px;
  }
  .head {
    margin-top: 350px;
    margin-left: 180px;
    margin-right: 780px;
    font-size: 30px;
    line-height: 80px;
  }
  .button {
    top: 250px;
    left: 340px;
  }
  #mybtn {
    width: 280px;
    height: 70px;
    font-size: 35px;
  }
  #mybtn i {
    font-size: 35px;
    top: 6px;
  }
}

@media only screen and (min-width: 1800px) and (max-width: 1919px) {
  body {
    background-image: url("/assets/images/half-background-1300-912.png");
    background-size: cover;
    width: 100%;
    height: 960px;
  }
  .head {
    margin-top: 300px;
    margin-left: 90px;
    margin-right: 620px;
    font-size: 30px;
    line-height: 80px;
  }
  .button {
    top: 250px;
    left: 295px;
  }
  #mybtn {
    width: 280px;
    height: 70px;
    font-size: 35px;
  }
  #mybtn i {
    font-size: 35px;
    top: 6px;
  }
}

@media only screen and (min-width: 1435px) and (max-width: 1799px) {
  body {
    background-image: url("/assets/images/half-background-1300-912.png");
    background-size: cover;
    width: 100%;
    height: 960px;
  }
  .head {
    margin-top: 250px;
    margin-left: 90px;
    margin-right: 480px;
    font-size: 30px;
    line-height: 80px;
  }
  .button {
    top: 280px;
    left: 340px;
  }
  #mybtn {
    width: 280px;
    height: 70px;
    font-size: 35px;
  }
  #mybtn i {
    font-size: 35px;
    top: 6px;
  }
}

@media only screen and (min-width: 1368px) and (max-width: 1434px) {
  body {
    background-image: url("/assets/images/half-background-1300-912.png");
    background-size: cover;
    width: 100%;
    height: 960px;
  }
  .head {
    margin-top: 250px;
    margin-left: 90px;
    margin-right: 480px;
    font-size: 30px;
    line-height: 80px;
  }
  .button {
    top: 300px;
    left: 340px;
  }
  #mybtn {
    width: 280px;
    height: 70px;
    font-size: 35px;
  }
  #mybtn i {
    font-size: 35px;
    top: 6px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1367px) {
  body {
    background-image: url("/assets/images/half-background-1200-800.png");
    background-size: cover;
    width: 100%;
    height: 800px;
  }
  .head {
    margin-top: 220px;
    margin-left: 90px;
    margin-right: 400px;
    font-size: 30px;
    line-height: 80px;
  }
  .button {
    top: 300px;
    left: 340px;
  }
  #mybtn {
    width: 280px;
    height: 70px;
    font-size: 35px;
  }
  #mybtn i {
    font-size: 35px;
    top: 6px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  body {
    background-image: url("/assets/images/half-background-768-1024.png");
    background-size: cover;
    width: 100%;
    height: 1366px;
  }
  .head {
    margin-top: 400px;
    margin-left: 90px;
    margin-right: 280px;
    font-size: 30px;
    line-height: 80px;
  }
  .button {
    top: 330px;
    left: 200px;
  }
  #mybtn {
    width: 280px;
    height: 70px;
    font-size: 35px;
  }
  #mybtn i {
    font-size: 35px;
    top: 6px;
  }
}

@media only screen and (min-width: 833px) and (max-width: 991px) {
  body {
    background-image: url("/assets/images/half-background-768-1024.png");
    background-size: cover;
    width: 100%;
    height: 1112px;
  }
  .head {
    margin-top: 400px;
    margin-left: 90px;
    margin-right: 280px;
    font-size: 30px;
    line-height: 80px;
  }
  .button {
    top: 330px;
    left: 200px;
  }
  #mybtn {
    width: 280px;
    height: 70px;
    font-size: 35px;
  }
  #mybtn i {
    font-size: 35px;
    top: 6px;
  }
}

/*

@media only screen and (min-width: 1200px) {
  body {
    background-image: url("/assets/images/half-background-1200-800.png");
    background-size: cover;
    width: 100%;
    height: 600px;
  }
  .head {
    margin-top: 200px;
    margin-left: 80px;
    margin-right: 450px;
    font-size: 21px;
    line-height: 45px;
  }
  .button {
    top: 180px;
    left: 180px;
  }
  #mybtn {
    width: 280px;
    height: 70px;
    font-size: 35px;
  }
  #mybtn i {
    font-size: 35px;
    top: 6px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  body {
    background-image: url("/assets/images/half-background-1200-800.png");
    background-size: cover;
    width: 100%;
    height: 600px;
  }
  .head {
    margin-top: 160px;
    margin-left: 80px;
    margin-right: 400px;
    font-size: 20px;
    line-height: 45px;
  }
  .button {
    top: 180px;
    left: 140px;
  }
  #mybtn {
    width: 280px;
    height: 70px;
    font-size: 35px;
  }
  #mybtn i {
    font-size: 35px;
    top: 6px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    background-image: url("/assets/images/half-background-768-1024.png");
    background-size: cover;
    width: 100%;
    height: 500px;
  }
  .head {
    margin-top: 250px;
    margin-left: 70px;
    margin-right: 200px;
    font-size: 20px;
    line-height: 45px;
  }
}

*/
