.body {
  overflow: hidden;
}

.body .sections {
  display: flex;
  flex-direction: column;
}

.body .sections div {
  position: initial;
  padding: 1vw;
  min-width: 47%;
  color: #000;
}

.body .sections div div {
  display: flex;
  flex-wrap: wrap;
}

.body .sections div div h2 {
  margin: 0.5vw;
  margin-left: 5.5vw;
  font-size: 42px;
}

.body .sections div div .event {
  display: inline-flex;
  padding: 0;
  border-radius: 0.25vw;
  margin: 10px;
  background: rgba(0, 0, 0, 0.05);
  transition: 0.2s 0.1s;
  background: linear-gradient(
    -90deg,
    rgba(255, 255, 255, 0.75) 50%,
    rgba(255, 255, 255, 0.5) 50%
  );
}
.body .sections div div .event:hover {
  background: linear-gradient(
    -90deg,
    rgba(255, 255, 255, 0.65) 50%,
    rgba(255, 255, 255, 0.35) 50%
  );
  transition-delay: 0s;
}

.body .sections div div .event div {
  min-width: 45%;
}

.body .sections div div .event div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 5vw;
}
.body .sections div div .event div:nth-child(1) img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.25vw;
  width: 100%;
  overflow: hidden;
}

.body .sections div div .event div:nth-child(2) h4 {
  margin: 0;
  font-size: 35px;
}

.body .sections div div .event div:nth-child(2) .date {
  margin-top: -0.5vw;
  font-size: 15px;
}

.body .sections div div .event div:nth-child(2) p:nth-child(3) {
  margin: 0;
}
