@charset "utf-8";

body {
  font-family: "Source Code Pro", monospace;
  margin: 0;
  padding: 0;
}

.head {
  position: absolute;
  color: #36a73a;
  z-index: 5;
}

.button {
  z-index: 5;
  position: absolute;
}

#mybtn {
  background-color: #2d2b4a;
  color: #36a73a;
  box-shadow: 1px 1px 2px #36a73a;
  font-family: "Source Code Pro", monospace;
}

#mybtn i {
  position: relative;
}
