@-ms-viewport {
  width: device-width;
}
.banner img {
  width: 100%;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.banner-content h1 {
  font-weight: 400;
  font-size: 76px;
}

.section-one {
  padding: 60px 0;
}

.sec-qpn {
  padding: 20px;
  box-shadow: 10px 20px 42px -25px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 10px 20px 42px -25px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 10px 20px 42px -25px rgba(0, 0, 0, 0.8);
}

.sec-qpn h1 {
  font-size: 32px;
  font-weight: 400;
}

.textibg {
  position: relative;
}

.field-img img {
  border: 20px solid rgba(254, 55, 55, 0.75);
  border-radius: 100%;
}

.field-arrow {
  position: absolute;
  right: 60px;
  top: 20px;
  font-size: 48px;
}

.register {
  padding: 120px 0;
}

.reg-bg {
  background: #e6e6e6;
  padding: 100px !important;
  border-radius: 75px;
}

.reg-now input:focus {
  border: 1px solid #e85c55;
  box-shadow: none;
}

.btn-reg {
  color: #fff;
  background: #fe3737;
  border: none;
  padding: 20px 60px;
  margin-top: 60px;
  border-bottom-right-radius: 25px;
}

.reg-now label {
  margin: 0;
}

.user-details {
  margin-bottom: 30px;
}

.user-details label {
  font-size: 14px;
  padding: 0 10px;
  font-weight: 600;
}

.user-details input {
  padding: 10px;
}

.stay-connected {
  padding: 40px 0;
  background-color: #222222;
  color: white;
}
.stay-connected p {
  padding-top: 10px;
}
.cell {
  padding-top: 30px;
}

.social-share li a {
  color: #fff;
  font-size: 22px;
  min-width: 50px;
  background: #e1261c;
  border-radius: 4px;
  padding: 8px;
}

.textibg {
  background: #ec1c24;
  color: #fef1f2;
  padding: 60px !important;
  border-radius: 25px;
}
.textibg p {
  padding-top: 30px;
}
.textibg h1 {
  font-size: 30px;
  margin: 0;
}
.textibg span {
  font-size: 12px;
}

.time-share li:first-child {
  padding: 0 20px 0 0;
}

.time-icon {
  padding: 4px 20px;
}

.copyright {
  background: #000000;
  padding: 40px 0;
}
.copyright p {
  color: #fff;
  padding-bottom: 20px;
}
.copyright a {
  color: #fff;
  text-decoration: none;
}

.copyright a:hover {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 767.98px) {
  .textibg {
    padding: 40px !important;
  }

  .field-img img {
    width: 50%;
  }

  .field-arrow {
    top: 20px;
    right: 40px;
    font-size: 36px;
  }

  .reg-bg {
    background: #e6e6e6;
    padding: 50px !important;
    border-radius: 60px;
  }

  .register {
    padding: 60px 0;
  }

  .time-share li {
    display: block;
    width: 100%;
    text-align: center;
  }

  .time-share li:first-child {
    padding: 4px 20px;
  }

  .copyright p {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .field-arrow {
    top: 36px;
    font-size: 36px;
  }
}
