.Slider {
  height: 9px;
  width: 95%;
  margin-top: 15px;
  position: relative;
  background-color: #e1e1e1;
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
}
.volumeSliderCurrent,
.timeSliderCurrent {
  cursor: pointer;
  position: absolute;
  background-color: #999;
  border-radius: 5px;

  height: 100%;
}
.volumeSliderHolder,
.timeSliderHolder {
  cursor: pointer;
  position: absolute;
  color: rgb(243, 88, 88);
  font-size: 2rem;
  left: -10px;
  top: -5px;
}
.volumeSliderCurrent {
  width: 100%;
}
.volumeSliderHolder {
  left: calc(100% - 12px);
}
