.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.bg-red {
  background-color: red;
}
.bg-blue {
  background-color: blue;
}
.bg-green {
  background-color: green;
}
.grey {
  color: grey;
}
.bold {
  font-weight: bold;
}
.img-100 {
  width: 100px;
  height: auto;
}

.img-150 {
  width: 150px;
  height: auto;
}
.d-flex {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}
body {
  margin: 50px;
}
