body {
  /* font-family:4; */
  margin-left: 20px;
  /* font-size: larger; */
}
.dot {
  background-color: #424242;
  width: 0rem;
  border: 8px solid#424242;
  margin-bottom: 4px;
  border-radius: 50px;
}
.dot:hover {
  background-color: rgba(68, 240, 76, 0.4);
  border: 8px solid rgba(68, 240, 76, 0.4);
}
.square {
  background: #424242;
  width: 1rem;
  height: 1rem;
  margin-bottom: 4px;
}
.square:hover {
  background: rgba(68, 240, 76, 0.4);
}

.rect {
  background: #424242;
  width: 2.5rem;
  height: 0.5rem;
  margin-bottom: 4px;
}
.rect:hover {
  background: rgba(68, 240, 76, 0.4);
}
/* #p8 {
  background: #424242;
  height: 100vh;
} */
/* .square {
  background-color: #424242;
  width: 1rem;
  height: 1rem;
  border: 3px solid#424242;
  margin-bottom: 4px;
  border-radius: 0px;
}*/
/* .rect {
  background-color: #424242;
  width: 2.5rem;
  height: 0.5rem;
  border: 1px solid#424242;
  margin-bottom: 4px;
  border-radius: 0px;
} */

/* article :first-child:hover {
  background-color: rgba(68, 240, 76, 0.4);
  width: 0rem;
  border: 4px solid rgba(68, 240, 76, 0.4);
  margin-bottom: 4px;
  border-radius: 50px;
} */
