.menu {
  margin: 1rem;
  padding: 4px;
}

.dot {
  background-color: #424242;
  width: 1rem;
  height: 1rem;
  margin-bottom: 4px;
  border-radius: 16px;
}

.square {
  width: 1rem;
  height: 1rem;
  background-color: #424242;
  margin-bottom: 4px;
}
.rect {
  width: 2.5rem;
  height: 0.5rem;
  background-color: #424242;
  margin-bottom: 4px;
}
.dot:hover {
  background-color: rgba(68, 240, 76, 0.4);
  cursor: pointer;
}
.square:hover {
  background-color: rgba(68, 240, 76, 0.4);
  cursor: pointer;
}

.rect:hover {
  background-color: rgba(68, 240, 76, 0.4);
  cursor: pointer;
}

.menu:last-child {
  margin-bottom: none;
}
