* {
  box-sizing: border-box;
}

body {
  background: #80ee02;
  color: #f30e81;
}
#myname {
  color: rgb(0, 4, 255);
  font-size: 20pt;
}

#mysis {
  font-size: 20pt;
  color: red;
}
#mysis3 {
  font-size: 20pt;
  color: #bf02ee;
}
#bro {
  color: blue;
  font-size: 20pt;
}
#mydad {
  color: #085207;
  font-size: 20pt;
}
#mypic1 {
  border-style: solid;
  border-color: green;
  border-width: 10px;
}
#mypic2 {
  border-style: solid;
  border-color: aqua;
  border-width: 10px;
}
