* {
  box-sizing: border-box;
}

body {
  background: #d1f7a3;
}
#mydad {
  color: ;
  font-size: 24pt;
  font-weight: bold;
}
#mymom {
  color: #9c0cda;
  font-size: 24pt;
  font-weight: bold;
}
#me {
  color: #ee46df;

  font-size: 24pt;
  font-weight: bold;
}
#mysister {
  color: #9c0cda;
  font-size: 24pt;
  font-weight: bold;
}
#secondsis {
  color: blue;
  font-size: 24pt;
  font-weight: bold;
}
#mybrother {
  color: #fb0202;
  font-size: 24pt;
  font-weight: bold;
}
#mypic1 {
  border-style: solid;
  border-width: 9px;
  border-color: #40e0d0;
}
#mypic2 {
  border-style: solid;
  border-width: 9px;
  border-color: #fb0202;
}
