body {
  background-color: rgb(187, 218, 166);
  font-family: "Cambria";
}
header {
  color: rgb(42, 71, 71);
  font-size: 20px;
  font-weight: bolder;
}
section {
  font-size: 20px;
  background-color: rgba(102, 188, 190, 0.6);
  border-radius: 10px;
  padding: 10px;
}
/* kyuki section ek block element */
section:hover {
  background-color: rgba(102, 188, 190, 1);
}
#id2 {
  font-size: 20px;
  background-color: rgba(100, 149, 237, 0.6);
}
#id2:hover {
  background-color: rgba(100, 149, 237, 10);
}
a {
  color: #52525b;
  text-decoration: none;
}
a:hover {
  color: white;
}
li {
  list-style-type: none;
  /* margin-left:; */
  margin-bottom: 2%;
}
