body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header h1 {
  display: flex;
  justify-content: center;
  color: #4a148c;
  letter-spacing: -1px;
}

footer {
  display: flex;
  justify-content: center;
  color: snow;
  background-color: #4a148c;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer p {
  font-size: 0.8rem;
  opacity: 0.8;
}
