body {
  background-color: rgb(255, 228, 196);
  font-family: sans-serif;
}
.blog-card {
  max-width: 16rem;
  min-width: 8rem;
  min-height: 8rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(255, 250, 250);
}
.card-img img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  background-size: center;
  background-position: center;
}
.card-content {
  padding: 0rem 1rem 1rem 1rem;
}
.card-body h2 {
  opacity: 50%;
  font-size: 0.75rem;
}
.card-body h1 {
  font-size: 1.3125rem;
  margin-bottom: 1.5rem;
}
.card-body p {
  opacity: 60%;
  font-size: 0.9rem;
}
.card-footer a {
  text-decoration: none;
}
.card-footer a:visited {
  color: rgb(109, 109, 235);
}
.card-footer footer {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
