.pointer {
  cursor: pointer;
}
body {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 2px;
}
* {
  margin: 0;
}
nav {
  margin: 10px;
  padding: 20px 20px 0 1rem;
  padding-bottom: 48vh;
  border-radius: 2%;
  border: 2px solid #d4d4d8;
  width: 15vw;
  margin-left: -1rem;
}

div {
  padding-top: 10px;
  padding-bottom: 10px;

  /* margin-top: 15px; */
  /* margin-bottom: 15px; */
  /* margin-left: 0px; */
  padding-left: 12px;
  /* padding-right: 100%; */
  padding-right: 10px;
}
.wrk {
  padding-top: 15px;
  color: #6d28d9;
  font-weight: bolder !important;
  /* margin-left: 15px;
  margin-bottom: 5px; */
}

.gen:hover {
  /* background-color: #e5e7eb; */
  background-color: #f0f0f0;
  width: 99%;
  font-weight: bolder;
  cursor: pointer;
}
