.parent {
  width: 256px;
  height: 256px;
  background-color: #212121;
  margin: auto;
  position: relative;
}

.child5 {
  width: 2rem;
  height: 2rem;
  background-color: saddlebrown;
  position: relative;
  left: 0rem;
  bottom: 6rem;
}
.child1 {
  width: 2rem;
  height: 2rem;
  background-color: #ff8a80;
  position: relative;
  left: 14rem;
}

.child2 {
  width: 2rem;
  height: 2rem;
  background-color: #69f0ae;
  position: relative;
  top: 12rem;
}
.child3 {
  width: 2rem;
  height: 2rem;
  background-color: #ffee58;
  position: relative;
  top: 10rem;
  left: 14rem;
}
body {
  font-family: "Space Grotesk";
}

header h1 {
  display: flex;
  /*search display property*/
  justify-content: center;
  color: #4a148c;
  letter-spacing: 0px;
  font-style: italic;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #4a148c;
  width: 100%;
  display: flex;
  justify-content: center;
  color: snow;
  padding: 0.5rem;
}
#maker {
  font-size: 1rem;
  letter-spacing: 1px;
  opacity: 0.7;
}
.parent1 {
  width: 250px;
  height: 250px;
  background-color: skyblue;
  opacity: 70%;
  margin: auto;
  position: relative;
  margin-top: 5px;
  margin-bottom: px;
}

.child4 {
  width: 5rem;
  height: 5rem;
  background-color: royalblue;
  position: absolute;
  left: 50%;
  top: 50%;
  /* transform: translateX(-50%);
  transform: translateY(-50%); */
  transform: translate(-50%, -50%);
}

.grnd {
  width: 4rem;
  height: 4rem;
  background-color: red;
  border-radius: 50%;
  padding: 1rem;
  position: fixed;
  font-size: larger;
  font-weight: bold;
  font-style: italic;
  color: white;
  letter-spacing: 2px;
}
.sticky {
  width: 4rem;
  height: 4rem;
  background-color: crimson;
  position: sticky;
  margin-left: 24rem;
  top: 0rem;
  /* top: 2rem; */
  font-size: larger;
  font-weight: bold;
  font-style: italic;
  color: white;
  letter-spacing: 2px;
}
