.course_master{
    /* width: 100%; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 2px solid black;
    padding: 5px;
    padding-left: 15px;
    background-color: #378805;
}
.course_master button{
    background-color: transparent;
    border: 0;
}
.course_master button a{
    color: black;
}
.page{
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 50px;
    background: #b7bf96;
}
#mainnav{
    padding: 5px;
    border: 2px solid black;
}
#mainnav button{
    width: 100%;
    background: transparent;
    border: 0;
    padding: 10px;
}
#mainnav button a{
    color: black;
}
#mainnav button:hover{
    background-color: #86dc3d;
}
.main_page{
    border: 2px solid black;
    width: 70%;
    padding: 10px;
}
header img{
    width: 700px;
    margin: 5px;
    height: 400px;
}
header h1{
    text-align: center;
}
#myBtn {
    position: fixed; 
    bottom: 15px; 
    right: 25px; 
    z-index: 99; 
    border: 0; 
    /* background-color: lightgreen; */
    cursor: pointer; 
    color: black; 
    padding: 20px; 
    border-radius: 8px; 
    font-size: 15px; 
  }
  
  #myBtn:hover {
    background-color: #6a515e;
    color: white;
  }
.code{
    padding: 20px;
    margin: 5px;
    background-color: lightcyan;
    border-radius: 10px;
    width: 50%;
}
.next{
    background: transparent;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    position: fixed;
    right: 25%;
    bottom: 3%;
}
.next a{
    color: black;
}
.next:hover{
    background-color: #378805;
}
.next:hover a{
    color: white;
}