body{
    /* background: linear-gradient(#e9832f,#008486); */
    /* background-color: rgb(82, 72, 72);
     */
     background-color: black;
}
.page{
    background: white;
    margin:20px;
    box-shadow: 5px 5px white;
    border-radius: 5px;
}
#mainnav button{
    padding: 5px;
    width: 150px;
    margin: 2px;
    background-color: inherit;
    border: 0px;
}
#mainnav button:hover{
    background-color: gray;
}
#mainnav button::after{
    background-color: blue;
    color: white;
}
#mainnav{
    float: left;
    width: 200px;
    padding: 5px;
    margin-right: 20px;
    background: #737373;
}
#mainnav a{
    color: black;
}
.course_master{
    float: left;
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 1000px;
    padding: 10px;
    background-color: #737373;
    border-radius: 10px;
}
.course_master button{
    background-color: inherit;
    border: 2px;
}
.course_master a{
    color: black;
}
.main_page{
    /* border: 2px solid black; */
    height: 970px;
}
header{
    padding: 10px;
}
header img{
    float: left;
    border-radius: 10px;
}
header h1{
    font-size: 3rem;
}
.next{
    float: right;
}
.next{
    position: fixed;
    bottom: 25px;
    right:30px;
    padding: 15px;
    border: 0px;
    border-radius: 10px;
}
.next:hover{
    background-color: black;
}
.next:hover a{
    color: white;
}