body{
    /* background:linear-gradient(#e9832f,#008486); */
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: initial; */
    /* gap: 50px; */
}
.grid-item1{
    border: 2px solid black;
    background-color: white;
    height: 550px;
    width: 400px;
    margin-top: 50px;
    margin-left: 300px;
    padding: 10px;
}
.grid-item1 img{
    width: 400px;
}
.grid-item2{
    border: 2px solid black;
    background-color: white;
    height: 550px;
    margin-right: 400px;
    width: 400px;
    padding: 10px;
}