header {
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
}
#navigation {
  display: none;
  flex-direction: column;
  font-size: 3rem;
  width: 100%;
}
#navigation a {
  border-bottom: 3px solid;
  display: block;
  width: 100%;
  text-align: end;
}
.navburger {
  margin-right: 5px;
}
.logo {
  width: 100px;
  height: 100px;
  background-color: #f6f6f6;
}
