@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
/* #app-intro {
  margin-top: 50px;
} */

body {
  background-color: #fcfcfc;
  position: relative;
}

section {
  background-color: var(--white);
  padding: 60px 0;
}

#app-intro {
  position: relative;
  margin-top: 80px;
  /* background: linear-gradient(#e66465, #9198e5); */
}

.intro-title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

.app-footer {
  overflow: hidden;
  /* margin-top: 80px; */
  background: #262626;
  color: #627482 !important;
  margin-bottom: 0;
  padding-bottom: 0;
}
