@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  /* font-family: "Poppins", sans-serif; */
  background-color: #fcfcfc;
  position: relative;
}

section {
  background-color: var(--white);
  padding: 60px 0;
}

#app-intro {
  position: relative;
  margin-top: 80px;
  min-height: 480px;
  /* background: #f7f9fb; */
  /* background: linear-gradient(#e66465, #9198e5); */
}

.navbar-brand {
  font-family: "Poppins", sans-serif;
}
.intro-title {
  /* font-family: "Monoton", "Roboto Condensed", sans-serif; */
  font-family: "Poppins", sans-serif;
  /* font-size: 68px; */
  letter-spacing: 0.1em;
  /* color: red; */

  /* font-weight: 700; */
}

.app-footer {
  overflow: hidden;
  /* margin-top: 80px; */
  background: #262626;
  color: #627482 !important;
  margin-bottom: 0;
  padding-bottom: 0;
}
