.background {
  background-image: url("img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

header {
  padding: 0em 0em 3em 0em;
}

.header {
  margin: auto;
  width: 90%;
  padding: auto;
  color: darkslategrey;
  line-height: 5%;
  text-align: center;
}

.url {
  font-size: 0.5rem;
  letter-spacing: 1px;
}

h1.title {
  font-family: "Syncopate", sans-serif;
  font-size: 12vw;
}

p.secondary-title {
  font-family: "Alata", sans-serif;
  font-size: 5vw;
  text-align: left;
}

.circle {
  opacity: 0.5;
  height: 25vw;
  width: 25vw;
  background-color: rgb(30, 126, 126);
  border-radius: 50%;
  display: inline-block;
  color: white;
  text-align: center;
  font-family: "Fugaz One", cursive;
  line-height: 90%;
  font-size: 3vw;
  border-style: dotted;
}

p.number {
  font-size: 6vw;
}

.container {
  margin: 2em 0em 0em 0em;
  width: 30%;
  padding: 3px;
}

.left {
  border: 0px solid darkslategrey;
  border-left-width: thick;
  font-family: "Quicksand", sans-serif;
  line-height: 10%;
}

.right {
  font-family: "Quicksand", sans-serif;
  float: right;
  font-size: 8vw;
}

.right1 {
  font-size: 3vw;
  color: white;
  background-color: olive;
}

.bigger {
  font-size: 7vw;
}

.olive {
  color: olive;
  font-size: 5vw;
}

.content {
  font-size: 3vw;
  line-height: 80%;
  display: block;
}

.footer {
  width: 40%;
  padding: 3px;
  line-height: 30%;
  text-align: right;
  font-family: "Lobster", cursive;
}
