body {
  font-family: "Titillium Web", "Raleway", "Source Sans Pro", "Work Sans",
    "Calibri light";
}

/*body { (Experimental
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvao7CMPrEHJA.woff2) format('woff2');
}*/

h1,
h2,
h3 {
  text-align: center;
}
