body {
  font-family: "Inter", sans-serif;
  background-color: #ffe4c4;
}

.card-content {
  margin-left: 1rem;
  margin-bottom: 16px;
}
.blog-card {
  border: 2px solid #f1f5f9;
  width: 270px;
  height: 370px;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(255, 250, 250);
  background-color: #e0f2fe;
}

.card-img img {
  border-radius: 1rem 1rem 0 0;
}
.card-body h2 {
  text-transform: uppercase;
  font-weight: bold;
  opacity: 60%;
  font-size: 9.2pt;
  margin-bottom: 6.5px;
}
.card-body h1 {
  letter-spacing: 0.5px;
  font-size: 15pt;
  margin-bottom: 15px;
}
.card-body p {
  opacity: 60%;
  font-size: 10.8pt;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: rgb(109, 109, 235);
}
.card-footer {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
}

@media (min-width) {
}
