/* dtail content */

.detail-content {
  width: 100%;
  height: 560px;
  list-style: none;
  border: 1px solid black;
  border-radius: 0 0 30px 30px;
  background-color: white;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

/* header */

.header__user img,
.comments img,
.write__comment img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.detail-content__header {
  margin: 30px 10px;
  display: flex;
  justify-content: space-between;
}
.header__user {
  position: absolute;
  display: flex;
  align-items: center;
  left: 80px;
  top: 20px;
}
.user__info {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.header__icon i {
  font-size: 30px;
}

.header__timestamp {
  font-size: 12px;
  opacity: 0.6;
  margin-top: 5px;
}
/* content */
.detail-content__image img {
  width: 90%;
  height: 400px;
  border-radius: 30px;
}
.detail-content__image {
  margin: 30px 0;
  align-items: center;
}
.detail-content__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  font-size: 20px;
}

/* comment */

.comments {
  width: 100%;
  height: 600px;
  list-style: none;
  border: 1px solid black;
  border-radius: 30px 30px 0 0;
  background-color: white;
  padding: 20px;
}

.user__content,
.header__user {
  display: flex;
  align-items: center;
}
.content__comment {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 10px;
}

.comment__author,
.comment__text {
  margin-bottom: 5px;
}

.comment__author,
.user__name {
  font-weight: bold;
  font-size: 18px;
}
.comment__text {
  font-size: 14px;
  opacity: 0.8;
}
.comment {
  height: 80px;
  width: 100%;
}

.comment__react {
  padding-left: 60px;
}
.comment__react i {
  margin-right: 15px;
  opacity: 0.4;
}
