.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 50px 20px;
}
.logo {
  font-family: "Galada", cursive;
  font-size: 30px;
}
.header__icon {
  width: 100px;
  display: flex;
  justify-content: space-around;
}
.story {
  width: 100%;
  padding: 0 20px;
}
.story__list {
  display: flex;
  justify-content: space-between;
}
.list__item img {
  height: 80px;
  width: 80px;
  border-radius: 80px;
}
.list__item {
  list-style: none;
}
.story__add {
  position: relative;
  right: -50px;
  bottom: 30px;
  height: 28px;
  width: 28px;
  border: 2px solid white;
  border-radius: 28px;
  background-color: rgb(32, 30, 30);
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
