.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 50px 20px;
}
.logo {
  font-family: "Galada", cursive;
  font-size: 30px;
}
.header__icon {
  width: 100px;
  display: flex;
  justify-content: space-around;
}
