/* Global Overrides */

.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h6,
.uk-heading-2xlarge,
.uk-heading-large,
.uk-heading-medium,
.uk-heading-small,
.uk-heading-xlarge,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500 !important;

  color: #253238 !important;
}

.uk-h5 {
  font-weight: 400 !important;
}

.a {
  color: #6979f8 !important;
}

.uk-button,
.uk-button-primary {
  text-decoration: none !important;
  text-transform: none !important;
  background: #6979f8 !important;
  font-weight: 500 !important;
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
  border: 2pt solid #6979f8 !important;
  border-radius: 5px !important;
}

.uk-button-secondary {
  text-decoration: none !important;
  text-transform: none !important;
  background: #fff !important;
  font-weight: 500 !important;
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
  border: 2pt solid #6979f8 !important;
  border-radius: 5px !important;
}

.menu-main-container {
  background: #ffffff !important;
}

.body,
p {
  font-weight: 400 !important;
  color: #607d8b !important;
}

.uk-card {
  font-weight: 400 !important;
  border-radius: 8px !important;
  color: #607d8b !important;
  font-size: 12pt !important;
}

.card-avalisto-dark {
  margin-left: 30px !important;
  margin-right: 30px !important;
  height: 260px !important;
  width: 85% !important;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08),
    0px 8px 16px rgba(50, 50, 71, 0.06) !important;
}

.uk-card-body {
  padding: 12px !important;
  text-align: center !important;
}

.card-img {
  padding-top: 10px !important;
  margin-bottom: 0px !important;
}

.uk-marker {
  background: #223d62 !important;
  padding: 8px !important;
  transform: translateY(0px);
  animation: popup 3s 1.5s ease-in-out infinite;
}

.outline-button {
  background: none;
  padding: 6px 12px !important;
  color: #6979f8 !important;
  border: solid 2px #6979f8 !important;
  border-radius: 8px !important;
  font-weight: 600 !important;
  text-transform: none !important;
  height: 60px !important;
}

.outline-button:hover {
  background: #6979f8 !important;
  color: #fff !important;
  transition: right 0.4s cubic-bezier(0, 0.5, 0, 1);
}

.subtitle {
  color: #607d8b !important;
}

a:hover {
  text-decoration: none !important;
}

/*Slider*/

.cards-shadow::before {
  left: 0;
  background-image: linear-gradient(
    to right,
    #eef2f6,
    rgba(238, 242, 246, 0.9) 20%,
    rgba(238, 242, 246, 0.7) 50%,
    rgba(238, 242, 246, 0) 100%
  ) !important;
}

.cards-shadow::after,
.cards-shadow::before {
  z-index: 2 !important;
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px !important;
}

.cards-shadow::after {
  right: 0;
  background-image: linear-gradient(
    to left,
    #eef2f6,
    rgba(238, 242, 246, 0.9) 20%,
    rgba(238, 242, 246, 0.7) 50%,
    rgba(238, 242, 246, 0) 100%
  ) !important;
}

.cards-shadow-wh::before {
  left: 0;
  background-image: linear-gradient(
    to right,
    #fff,
    rgba(255, 255, 255, 0.9) 20%,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 0) 100%
  ) !important;
}

.cards-shadow-wh::after,
.cards-shadow.wh::before {
  z-index: 2 !important;
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px !important;
}

.cards-shadow-wh::after {
  right: 0;
  background-image: linear-gradient(
    to left,
    #fff,
    rgba(255, 255, 255, 0.9) 20%,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 0) 100%
  ) !important;
}

/* Sub-navbar */

.menu-main-container {
  height: 80px !important;
}

.uk-navbar-nav > li > a {
  display: inline !important;
}

.sub-nav {
  background: #eef2f6 !important;
  color: #607d8b;
}

.sub-nav > a {
  color: #607d8b;
}

.icons,
.lab {
  color: #607d8b;
  font-size: 22px;
  margin: 5px;
}

.icons:hover {
  border-radius: 50px;
  transition: ease-in-out;
}

#sub-nav,
.phone-number {
  color: #607d8b !important;
  font-size: 14px !important;
  padding-left: 5px;
  padding-right: 5px;
}

#sub-nav,
.phone-number:hover {
  font-size: 14px !important;
}

/* Menu container */

#mobile-menu,
.menu-item,
.menu-link {
  color: #253238 !important;
  list-style: none !important;
  text-align: center !important;
  text-transform: none !important;
  font-weight: 400;
}

.mobile-menu-list {
  padding-inline-start: 0px !important;
}

.menu-container {
  background: #fff !important;
}

.menu-item:hover {
  text-decoration: none;
  color: #6979f8 !important;
}

.menu-item {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: #607d8b !important;
  margin-left: 8px;
  margin-right: 8px;
}

.login-item {
  color: #6979f8 !important;
}

.signup-button {
  color: #6979f8;
  background: #fff !important;
  padding: 5px 18px !important;
  border: solid 2pt #6979f8;
  border-radius: 5px;
  text-decoration: none !important;
  font-weight: 500 !important;
}

.menu-item:after {
  border-radius: 1em;
  border-top: 0.15em solid #6979f8;
  content: "";
  position: absolute;
  right: 100%;
  bottom: -10px;
  left: 0;
  transition: right 0.4s cubic-bezier(0, 0.5, 0, 1);
}

.menu-item:hover:after {
  right: 0;
}

.menu-icon {
  color: #253238;
  font-size: 24px;
  padding: 8px;
}

.menu-icon:hover {
  cursor: pointer;
}

.menu-main-container {
  box-shadow: 0px 4px 4px rgba(137, 150, 159, 0.2) !important;
}

.uk-offcanvas-close {
  color: #253238 !important;
}

.mobile-menu-divider {
  margin-top: 80px !important;
}

/* WhatsApp & Demo */

.float-left {
  position: fixed;
  width: 110px;
  height: 60px;
  bottom: 20px !important;
  left: 20px;
  background: linear-gradient(225deg, #3d639d 3.26%, #343d63 100%);
  box-shadow: 0px 8px 16px rgba(50, 50, 71, 0.08),
    0px 16px 32px rgba(50, 50, 71, 0.08);
  color: #fff;
  border-radius: 50px;
  text-align: center;
  z-index: 100;
  font-size: 12pt;
  font-weight: 600;
}

.float-left:hover {
  box-shadow: 0px 24px 32px rgba(50, 50, 71, 0.08),
    0px 16px 16px rgba(50, 50, 71, 0.08);
  color: #fff !important;
  background: #343d63;
}

/* .float-right {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 20px;
  background: linear-gradient(90deg, #55e5bc 0%, #00c48c 100%);
  box-shadow: 0px 8px 16px rgba(50, 50, 71, 0.08),
    0px 16px 32px rgba(50, 50, 71, 0.08);
  color: #fff;
  border-radius: 50px;
  text-align: center;
  z-index: 100;
}

.float-right:hover {
  background: #00c48c;
  box-shadow: 0px 24px 32px rgba(50, 50, 71, 0.08),
    0px 16px 16px rgba(50, 50, 71, 0.08);

.wasp-btn {
  color: #fff !important;
  margin-top: 8px;
  font-size: 30pt;
}  */

.float-demo,
.float-label {
  margin-top: 20px;
}

/* Hero */

#hero .uk-button-primary {
  background: #6979f8 !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
  border-radius: 5px;
  text-transform: none;
  font-weight: 400 !important;
  box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.4),
    6px 6px 12px rgba(184, 197, 208, 0.5) !important;
}

#hero .uk-button-primary:hover {
  background: #5d6ce0 !important;
  box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.25),
    6px 6px 12px rgba(184, 197, 208, 0.4) !important;
  text-decoration: underline !important;
}

#hero .uk-button-primary:focus {
  background: #6979f8;
  box-shadow: inset -6px -6px 12px rgba(156, 167, 255, 0.7),
    inset 6px 6px 20px rgba(82, 95, 196, 0.7) !important;
  border: none !important;
}

.hero-section {
  background: #fff !important;
}

.hero-list {
  list-style: none;
  margin-top: 40px;
  margin-bottom: 40px;
}

.hero-list-text {
  font-size: 1.3rem;
  font-weight: 400;
  color: #607d8b;
}

.hero-img {
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.text {
  margin-top: 20px !important;
  color: #607d8b;
}

.account-btn {
  color: #6979f8 !important;
  border-radius: 5px !important;
  text-transform: none !important;
  border: 2pt solid #6979f8 !important;
}

.account-btn:hover {
  background: #ffffff !important;
  box-shadow: 0px 8px 16px rgba(50, 50, 71, 0.08),
    0px 16px 32px rgba(50, 50, 71, 0.08) !important;
}

.btn-emoji {
  margin: 5px;
}

.video-icon {
  background: #ff268b !important;
  margin: 5px;
  position: relative;
  display: flex;
  top: 0px;
  color: #fff !important;
  padding: 8px !important;
  border-radius: 500px !important;
  box-shadow: 0px 2px 6px rgba(217, 26, 115, 0.25) !important;
}

.hero-card-img-container {
  max-width: 560px;
  height: 420px;
  box-shadow: 0px 12px 12px rgba(50, 50, 71, 0.08),
    0px 16px 24px rgba(50, 50, 71, 0.08);
  border-radius: 10px;
  text-align: center;
}

/* Background Shapes */

.background-shapes {
  width: 100vw !important;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
}

/* about-us-section*/

.helper {
  text-align: center;
  color: #607d8b;
}

.about-us-section {
  background-color: #eef2f6 !important;
  padding-top: 120px !important;
  padding-bottom: 120px !important;
  justify-content: center !important;
}

@media only screen and (max-width: 600px) {
  .about-us-section {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
}

.light-header {
  color: #253238 !important;
}

.text-light {
  color: #607d8b !important;
}

.cards-container {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.label-avalisto {
  background: #9ba6fa !important;
  border-radius: 5px !important;
  padding: 8px !important;
}

.enphasis {
  text-decoration: underline;
}

.slider-arrow {
  background: #eef2f6 !important;
  border-radius: 80px !important;
  box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.4),
    6px 6px 12px rgba(184, 197, 208, 0.5) !important;
  z-index: 5 !important;
}

.hand-helper {
  text-align: center !important;

  display: block !important;

  font-size: 24px;

  animation: helper 1s ease infinite;

  transform-origin: bottom;

  transform-box: fill-box;
}

.benefits-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-bottom: 80px !important;
}

.benefit {
  padding: 5px !important;
}

.benefit-caption {
  margin-top: 10px;

  margin-bottom: 10px;
}

.pill-avalisto {
  font-weight: 400 !important;

  text-transform: none !important;

  color: #89969f !important;

  border: #89969f !important;

  border-radius: 25px !important;
}

.uk-subnav-pill > .uk-active > a {
  background: none !important;

  color: #6979f8 !important;

  font-weight: 600 !important;

  border-radius: 0px !important;

  border-bottom: solid 2px #6979f8 !important;
}

.switcher {
  margin-left: 20px !important;
}

.benefit-icon {
  width: 38px;
  height: 38px;
  padding: 10px;
  border-radius: 80px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 28px;
}

.inmobiliaria {
  background: #cdd2fd;
  color: #6979f8;
}

.propietarios {
  background: #ff98a8;
  color: #ff647c;
}

.inquilinos {
  background: #4eaeff;
  color: #0084f4;
}

.ventajas-section {
  background: #fff;
}

.svg-container {
  text-align: center;
  padding: 15px;
  margin-bottom: 40px;
}

.results-container {
  margin-top: 20px !important;
  margin-bottom: 60px !important;
}

/* Service section */
.servicio-section {
  background: #eef2f6 !important;
}

.showcase-clientes-container {
  width: 100% !important;
  scrollbar-width: none;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.showcase-clientes-container::after {
  right: 0 !important;
  background-image: linear-gradient(
    to left,
    #fff,
    rgba(255, 255, 255, 0.9) 20%,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 0) 100%
  ) !important;
}

.subtitle-center-purple {
  text-align: center !important;

  color: #6979f8 !important;
}

.mockup-avalisto {
  text-align: center !important;
}

/*Off canvas coberturas */

.insurance-covers-list {
  color: #607d8b !important;
  list-style: none;
}

.insurance-title {
  list-style: none !important;

  color: #253238 !important;

  font-weight: 500 !important;

  line-height: 1.3 !important;

  margin-top: 10px;

  margin-bottom: 15px;
}

/*steps*/

.step-card {
  margin-bottom: 20px !important;
  margin-left: 8px !important;
  margin-right: 8px !important;
  padding: 25px !important;
  box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.08),
    0px 24px 32px rgba(50, 50, 71, 0.08) !important;
  height: 240px !important;
  align-items: center !important;
  justify-content: center !important;
}

.step-card-top {
  margin-bottom: 10px;
}

.step-wrapper {
  height: 48px !important;
  width: 48px;
  border-radius: 32px !important;
  background: linear-gradient(225deg, #cdd2fd 3.26%, #6979f8 100%) !important;
  font-size: 22pt;
  font-weight: 500;
  color: #fff;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/*Hablan de nosotros */

.blog-text {
  font-size: 1.5em !important;
  color: #253238 !important;
}

/*support-card */

.support-card-container {
  background: #d4e1f4 !important;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #607d8b;
}

.support-card-icon-wp {
  width: 40px !important;
  height: 40px !important;
  background: #ffffff !important;
  border: 2px solid #6979f8;
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08) 0px 12px 16px
    rgba(50, 50, 71, 0.08) !important;
  border-radius: 40px;
  margin-right: 5px;
}

.support-card-img {
  position: relative;
  top: 5px;
}

/* Modal cotizador */

.calc-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uk-input {
  background: #fafafa !important;
  border-radius: 5px !important;
}

.uk-input:hover {
  filter: drop-shadow(0px 8px 8px rgba(50, 50, 71, 0.08)),
    drop-shadow(0px 8px 16px rgba(50, 50, 71, 0.06)) !important;
}

.uk-legend {
  font-weight: 400 !important;
}

.form-container {
  box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.08),
    0px 24px 32px rgba(50, 50, 71, 0.08);
  border-radius: 10px;
  padding-left: 10px;
  padding-bottom: 40px;
  align-items: center;
  justify-content: center;
}

/* Footer */

.footer {
  margin-top: 80px;
  padding-top: 40px;
}

.footer,
.copyright {
  background: #eef2f6 !important;
  padding-bottom: 20px;
}

.footer-link {
  color: #607d8b !important;
  font-weight: 400;
}

.footer-link:hover {
  text-decoration: underline !important;
}

.footer-column-title {
  color: #253238 !important;
  font-size: 14pt !important;
  font-weight: 500;
}

.copyright {
  background: #eef2f6;
  padding-top: 20px !important;
  text-align: center !important;
  color: #607d8b;
}

/* Cookies */

.cookie-card-top {
  text-align: right !important;
  background: #fff !important;
  border: none !important;
  margin-top: 5px !important;
}

.close-button {
  background: #fff !important;
  border: none !important;
}

.close-button:hover {
  cursor: pointer !important;
}

.cookie-container {
  text-align: center !important;
  box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.08),
    0px 24px 32px rgba(50, 50, 71, 0.08) !important;
  border-radius: 5px;
  background: #fff !important;
  color: #253238;
  padding: 10px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  font-size: 12pt !important;
  z-index: 120 !important;
}

.cookies-link {
  color: #6979f8 !important;
  text-decoration: underline !important;
  font-size: 12pt !important;
}

.aceptar-cookies {
  font-size: 12pt !important;
  border-radius: 5px !important;
  text-transform: unset !important;
  background: linear-gradient(90deg, #6979f8 0%, #5b69d9 100%) !important;
}

/* Animations */

@keyframes popup {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes helper {
  0% {
    transform: rotateZ(20deg);
  }

  50% {
    transform: rotateZ(-20deg);
  }

  100% {
    transform: rotateZ(20deg);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
