body {
}

#header {
  //background-color: red;
  background-image: url("../assets/Layer7.png");
  background-size: 100% 100%;
}

.header_style {
  margin: 0px auto;
  width: 200vh;
  height: 100vh;
}

.generation_style,
.about_style {
  background-color: #f7f7f7;
  margin: 0px auto;
  width: 200vh;
  height: 50vh;
  padding-top: 100px;
  text-align: center;
  vertical-align: middle;
}

p {
  margin: 0px auto;
  width: 150vh;
}

#bikes {
  background-image: url("../assets/bikes.jpg");
  background-size: 100% 100%;
}

.bikes_style {
  margin: 0px auto;
  width: 200vh;
  height: 225vh;
}

#shop {
  background-image: url("../assets/shop.jpg");
  background-size: 100% 100%;
}

.shop_style {
  margin: 0px auto;
  width: 200vh;
  height: 91vh;
}

#newsletter {
  background-image: url("../assets/newsletter.jpg");
  background-size: 100% 100%;
}

.newsletter_style {
  margin: 0px auto;
  width: 200vh;
  height: 59vh;
}

#contact {
  background-image: url("../assets/contact.jpg");
  background-size: 100% 100%;
}

.contact_style {
  margin: 0px auto;
  width: 200vh;
  height: 31vh;
}

#link1 {
  position: absolute;
  width: 200px;
  left: 63vh;
  top: 9vh;
}

#link2 {
  position: absolute;
  width: 100px;
  left: 82vh;
  top: 9vh;
}

#link3 {
  position: absolute;
  width: 100px;
  left: 117vh;
  top: 9vh;
}

#link4 {
  position: absolute;
  width: 100px;
  left: 131vh;
  top: 9vh;
}

span {
  text-decoration: underline;
}

span:hover,
#arrow_up:hover {
  background-color: #c7c5cc;
  cursor: pointer;
}

#arrow_up {
  position: fixed;
  left: 3vh;
  top: 83vh;
}
#arrow_up img {
  width: 40px;
  height: 40px;
}
