.sub-action-drop-zone {
  display: block;
  padding: 10px;
  background-color: #d8e7e7;
  border: 1px dashed #c7d9d0;
}

h2 {
  color: #a7a3a4;
  margin-left: 80px;
}

.drop-area {
  height: 400px;
  width: 200px;
  margin: 25px;
  background-color: gainsboro;
  float: left;
}
.drag-enter {
  border: 2px dashed #000 !important;
}
.box {
  width: 100px;
  height: 100px;
  float: left;
}
.box:nth-child(3) {
  clear: both;
}
.navy {
  background-color: navy;
}
.red {
  background-color: firebrick;
}
.green {
  background-color: darkgreen;
}
.orange {
  background-color: orange;
}

.color_table {
  border-collapse: collapse;
  width: 100%;
  font-family: Verdana, Arial, sans-serif;
  margin-top: 15px;
  border: 1px solid #c7d9d0;
}

/* font-size: 13px; */
.color_table td,
.color_table th {
  border: 1px solid #c7d9d0;
  padding: 7px 5px 10px 5px;
  vertical-align: top;
  user-select: text;
  -moz-user-select: text;
}

.color_table td.handle-container {
  user-select: all;
  -moz-user-select: all;
}

/*	font-size: 14px; */
.color_table th,
.header_table td {
  font-family: Verdana, Arial, sans-serif;
  text-align: left;
  background: #d8e7e7;
  font-weight: normal;
}

/*	font-size: 14px; */
.one_row_header td {
  font-family: Verdana, Arial, sans-serif;
  text-align: left;
  background: #d8e7e7;
  font-weight: normal;
}

.data_text {
  font-weight: bold;
}

.header_table {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* footer tables are attached to other tables */
.footer_table {
  margin-top: 0;
  padding-top: 0;
}

.without_borders td {
  border: none;
}
.without_padding {
  border-collapse: collapse;
  border-spacing: 0;
}
.without_padding tbody td {
  border: none;
  padding: 0;
}

/*	font-size: 13px; */
.footer_table th {
  text-align: left;
  background: #eff5f5;
  font-weight: normal;
}

/* predefined column widths */
.col_width_255 {
  width: 255px;
}

.col_width_200 {
  width: 200px;
}

/* table that contains datatables (customer custody info) */
.container_table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px;
  border: 1px solid #c7d9d0;
}

.container_table td {
  border-bottom: 1px solid #c7d9d0;
  padding: 7px;
  vertical-align: top;
}

.odd_row {
  background-color: #ffffff;
}

.even_row {
  background-color: #eff5f5;
}

/* used in household lists to identify household heads */
.important_row {
  background-color: #98fb98;
}

tr[class^="forwarded_row"] {
  background-color: #fbffe4;
}

.color_table td a {
  text-decoration: none;
}
.color_table th {
  font-weight: bold;
}

/*
*** from tables.css ***
*/
.color_table {
  margin-top: 10px;
}

.color_table {
  margin-top: 10px;
}

.footer_table {
  margin-top: 0;
}

.color_table td,
.color_table th {
  padding: 3px;
}

.container_table {
  margin-top: 5px;
}

.container_table td {
  padding: 3px;
}

table.step td {
  height: 25px;
  width: 25px;
  font-size: 15px;
}
