body {
  margin: 0;
}

div#flexbox {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  background-color: lightblue;
  padding: 20px;
}

div#child {
  background-color: rgb(55, 41, 119);
  flex-basis: 100px;
  flex-grow: 1;
  height: 100px;
  border-radius: 10px;
}

div#mainChild {
  background-color: rgb(116, 41, 119);
  flex-basis: 1000px;
  flex-grow: 1;
  height: 100px;
  border-radius: 10px;
  text-align: center;
}
