body {
  background-color: snow;
}
.main-heading {
  color: indigo;
}
.main-subtitle {
  color: grey;
}
.team-member {
  widows: 256px;
}
#siddharth h2,
#siddharth h3 {
  color: maroon;
}

p.team-member {
  opacity: 0.8;
}
#siddharth {
  background-color: darkcyan;
  color: beige;
}
#siddharth:hover {
  color: black;
}
#anna {
  background-color: cornsilk;
  color: lightcoral;
}
#anna h2,
#anna h3 {
  color: darkslategray;
}
#sofia {
  background-color: lightblue;
  color: brown;
}
#sofia h2,
#sofia h3 {
  color: navy;
}
