h1 {
  color: indigo;
}
body {
  background-color: snow;
}
.main-subtitle {
  color: grey;
}
img {
  width: 100px;
  height: 100px;
}
#vivek {
  width: 256px;
  opacity: 0.8;
  background-color: darkcyan;
  color: beige;
}
#vivek-name,
#vivek-role {
  color: honeydew;
}
#harry {
  width: 256px;
  opacity: 0.8;
  background-color: cornsilk;
  color: darkslategray;
}
/* #harry-name,
#harry-role {
  color: darkslategray;
} */
#sofia {
  width: 256px;
  opacity: 0.8;
  background-color: dodgerblue;
  color: lightcyan;
}
#sofia-name,
#sofia-role {
  color: navy;
}
