body {
  background-color: snow;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  /* linked and imported poppins from google fonts.see html. */
}
header {
  font-size: 38px;
  color: indigo;
  /* font-style: Italic; */
  /* font-family: "Times New Roman"; */
}
div {
  color: gray;
  font-size: 16px;
}
h3 {
  font-family: "IBM Plex Mono", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  /* font-family: "Courier New" !important; */
  /* by using !important overwriting anna h3 fonts. */
}
.img {
  margin: 0;
  padding: 0.5rem;
  padding-bottom: 0rem;
}
section {
  padding-left: 1rem;
  width: 30vw;
  /* padding-bottom: 0.2rem; */
  margin-bottom: 1rem;
}
section:hover {
  /* color: ; */
  border: 10px solid#414141;
}
#anna {
  /* width: 30vw; */
  /* padding-top: 8px;
  padding-left: 1rem; */
  background-color: darkcyan;
  color: beige;
}
#anna h2,
#anna h3 {
  color: honeydew;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#harry {
  background-color: cornsilk;
}
#harry h2,
#harry h3 {
  color: darkslategray;
}

#sofia {
  background-color: dodgerblue;
  color: lightcyan;
}
#sofia h2,
#sofia h3 {
  color: navy;
}
