body {
  background-color: snow;
}
.mainheading {
  color: indigo;
}
.subhead {
  color: gray;
}
.team-member {
  width: 256px;
}
.team-member p {
  opacity: 0.8;
}
#vikram h2,
#vikram h3 {
  color: honeydew;
}

#vikram {
  background-color: darkcyan;
  color: beige;
}

.team-member img {
  width: 100px;
}
#teja h2,
#teja h3 {
  color: darkslategrey;
}

#teja {
  background-color: cornsilk;
}

#rohit h2,
#rohit h3 {
  color: navy;
}

#rohit {
  background-color: dodgerblue;
  color: cyan;
}
