div {
  min-height: 100px;
  min-width: 100px;
  padding: 30px;
  border: 1px solid black;
}

.grandParent {
  background-color: aqua;
}

.parent {
  background-color: lightgreen;
}

.child {
  background-color: lightpink;
}
