#users-cards-area {
  padding: 20px 0 0 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#users-cards-area .card {
  width: 260px;
  border: 2px solid #2c89eb;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
  margin-right: 20px;
}
