* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cont {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  height: 510px;
  width: 25%;
  box-shadow: 0 0 7px #111;
  margin: 0 30px;
}

.container .card {
  height: 200px;
  width: 100%;
  margin-bottom: 170px;
}

.card img {
  margin: auto;
  display: block;
}

.flor img {
  height: 330px;
  width: 330px;
}

.container .flor {
  background-color: #111;
}

.container .castellers {
  background-color: #111;
}

.container .castellers img {
  height: 330px;
  width: 330px;
}

.container .hearts img {
  height: 330px;
  width: 330px;
}

.container .mash img {
  height: 330px;
  width: 330px;
}

.container .paloma img {
  height: 330px;
  width: 330px;
}

.info {
  height: 80px;
  width: 100%;
}

.info h1 {
  font-family: "sans-serif";
  font-style: 1.2em;
  text-align: center;
}
