* {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

body {
  box-sizing: border-box;
  color: white;
}

/* NACVIGATION */

nav {
  background-color: rgb(34, 34, 34);
  position: absolute;
  top: 0;
  left: 50%;
  width: 30rem;
  height: 4.2rem;
  border-radius: 0 0 28px 28px;
  transform: translateX(-50%);
}

nav ul {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  list-style: none;
  padding-block: 0;
  display: flex;
  gap: 3rem;
  padding: 0;
  margin: 0;
}

nav li a {
  display: flex;
  flex-direction: row;
  height: 4rem;
  align-items: center;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 200ms;
  color: white;
  margin: 0;
}

nav li a:hover {
  font-size: 1.3rem;
}

.contacts-nest {
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 10rem;
  margin-top: 13rem;
  align-items: center;
}

.left-side {
  background: transparent;
  display: flex;
  width: 35rem;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 2rem;
  padding-top: 2rem;
}

.left-side-content h1 {
  font-size: 4rem;
  margin: 0;
}

.left-side p {
  margin: 0;
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.phoneContacts h1,
.emailContacts h1 {
  border-bottom: solid 0.2rem white;
  margin-bottom: 1rem;
}

.phoneContacts p,
.emailContacts p {
  font-size: 1.3rem;
}

/* CONTACTS BODY */

.container {
  display: flex;
  flex-direction: column;
}

.container h1 {
  margin-bottom: 3rem;
  font-size: 4rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container form input {
  background-color: transparent;
  height: 3rem;
  width: 30rem;
  border: solid 0.15rem white;
  padding: 0.3rem;
  font-size: 1.2rem;
  transition: 500ms;
  color: white;
}

.container form textarea {
  background-color: transparent;
  width: 30rem;
  height: 10rem;
  border: solid 0.15rem white;
  padding: 0.3rem;
  font-size: 1.2rem;
  transition: 500ms;
  color: white;
}

.container form input:focus {
  height: 4rem;
}

.container form textarea:focus,
.container form input:focus {
  border: solid 0.15rem #00d4ff;
  outline: none;
}

.form-row button {
  background-color: transparent;
  border: solid 0.15rem white;
  color: white;
  width: 10rem;
  height: 3rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 400ms;
}

.form-row button:hover {
  background-color: white;
  color: black;
  border-radius: 100px;
  font-weight: bold;
}
/* RESPONSIVE */

@media screen and (max-width: 1300px) {
  /*NAVIGATION */

  nav {
    height: 10rem;
    width: 50rem;
  }

  nav li a {
    height: 10rem;
    font-size: 2.3rem;
  }

  nav li a:hover {
    font-size: 2.3rem;
  }

  /* CONTACTS */

  .contacts-nest {
    flex-direction: column;
    gap: 10rem;
    align-items: center;
  }

  .left-side {
    align-items: center;
    text-align: center;
  }

  .container form input {
    height: 10rem;
    width: 45rem;
    font-size: 4.5rem;
    text-align: center;
  }

  .container form textarea {
    height: 15rem;
    width: 45rem;
    font-size: 4.5rem;
    text-align: center;
  }
}
