* {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: white;
}

nav {
  background-color: rgb(34, 34, 34);
  position: absolute;
  top: 0;
  left: 50%;
  width: 30rem;
  height: 4.2rem;
  border-radius: 0 0 28px 28px;
  transform: translateX(-50%);
}

nav ul {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  list-style: none;
  padding-block: 0;
  display: flex;
  gap: 3rem;
  padding: 0;
}

nav li a {
  display: flex;
  flex-direction: row;
  height: 4rem;
  align-items: center;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 200ms;
  color: white;
  margin: 0;
}

nav li a:hover {
  font-size: 1.3rem;
}
