.find {
    margin-top: 50px;
}

.find .find__header-list {
    display: flex;
    justify-content: space-around;
}

.find .find__header-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find .find__header-btn .header-btn__icon {
    font-size: .75rem;
}

.find .find__header-btn .header-btn__title {
    display: block;
    margin-top: 20px;
    font-size: .8rem;
}

