.friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend___column {
    display: flex;
    align-items: center;
}

.friend___column .friend__avatar {
    margin-right: 15px;
}

.friend___column .friend__now-listening {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid #2ed573;
    font-size: .8rem;
    max-width: 160px;
}

.friend___column .friend__now-listening i {
    color: #2ed573;
    padding-left: 5px;
    font-size: .75rem;
}

.friend___column .friend__now-listening span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    opacity: .8;
}

.friend___column .friend__add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.friend__content {
    display: block;
}

.friend__content .friend__name {
    display: block;
    margin-bottom: 5px;
}

.friend .chat__timestamp {
    opacity: .6;
    font-size: .9rem;
}

.friend__content .friend__status,
.friend__content .friend__bottom-text {
    opacity: .6;
}

.friend__content .friend__status {
    font-size: .75rem;
}

.friend__content .friend__bottom-text {
    font-size: .9rem;
}
