.g-avatar {
    width: 70px;
    height: 70px;
    border-radius: 38%;
    border: 1px solid #f1f2f6;
}

.g-avatar--m {
    width: 50px;
    height: 50px;
}

.g-friends {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #dfe4ea;
}

.g-friends .g-friends__title {
    font-size: .9rem;
    opacity: .6;
    margin-bottom: 10px;
}
