.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header .header__header-column {
    display: flex;
    align-items: center;
}

.header .header__back-btn {
    font-size: 1.5rem;
    margin-right: 20px;
}

.header .header__title {
    font-size: 1.5rem;
    font-weight: 600;
}

.header .header__icon {
    font-size: 1.3rem;
    margin-left: 20px;
}