* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #ffffff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

/*------------------------------------*\
# Section header
\*------------------------------------*/
.header {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
}

/*------------------------------------*\
#Header Navigation article
\*------------------------------------*/
.nav {
  position: relative;
  display: flex;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.0075em;
  color: #aab0b3;
}

.nav-logo {
  margin: 12px 70px;
  width: 85px;
  height: 76px;
}

.nav-search {
  display: flex;
  margin-top: 30px;
}

.nav-box-location {
  display: flex;
  width: 152px;
  height: 44px;
  left: 225px;
  top: 30px;
  background: #fcfcfc;
  border: 1px solid #4c84c3;
  border-radius: 10px 0px 0px 10px;
}

.nav-location-icon {
  width: 11px;
  height: 16px;
  margin: 14px 12px;
}

.nav-location-text {
  margin: 14px 12px;
}

.nav-box-search {
  display: flex;
  box-sizing: border-box;
  width: 428px;
  height: 44px;
  left: 376px;
  top: 30px;
  background: #fcfcfc;
  border: 1px solid #4c84c3;
  border-radius: 0px 10px 10px 0px;
}

.nav-long-icon {
  margin: 14px 12px;
  width: 17px;
  height: 17px;
}

.nav-long-text {
  margin: 14px 12px;
}

.nav-element {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin: 41px 43px;
}

.nav-box-login {
  box-sizing: border-box;
  width: 152px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #4c84c3;
  border-radius: 10px;
  margin: 35px 43px 0 0;
}

.nav-login-text {
  margin: 7px 33px;
  color: #4c84c3;
}

/*------------------------------------*\
#Section Intro
\*------------------------------------*/

.intro {
  width: 100%;
  margin-top: 100px;
  height: 545px;
  background: url(../images/bgr1.png), url(../images/bgr2.png);
  background-position: top left, top right;
  background-repeat: no-repeat;
  background-size: 70%, 30%;
  position: relative;
}

.intro-text {
  position: absolute;
  width: 468px;
  height: 123px;
  left: 824px;
  top: 170px;
  color: #4c84c3;
  font-size: 40px;
  line-height: 54px;
}

.intro-box {
  position: absolute;
  width: 223px;
  height: 37px;
  left: 923px;
  top: 330px;
  background: #4c84c3;
  border: 1px solid #4c84c3;
  border-radius: 10px;
}

.intro-box-text {
  text-align: center;
  padding-top: 8px;
  color: #ffffff;
}

.slider-badge-box {
  position: absolute;
  left: 1163px;
  display: flex;
  justify-content: space-between;
  top: 520px;
  background-color: transparent;
  width: 200px;
}

.slider-badge {
  width: 53px;
  background: #c4c4c4;
  border-radius: 5px;
  height: 8px;
}

.slider-badge.active {
  background: #4c84c3;
}

/*------------------------------------*\
#Section Select   
\*------------------------------------*/

.select {
  width: 1143px;
  margin-left: 250px;
  height: 782px;
}

.select-text {
  text-align: center;
  padding-top: 86px;
}

.select-text-sub {
  margin-top: 5px;
}

.select-item {
  float: left;
  width: 25%;
}

.select-item-img {
  width: 240px;
  height: 218px;
  padding-top: 84px;
}

.select-item-text {
  width: 240px;
  padding-top: 11px;
  text-align: center;
}

.select-box {
  position: absolute;
  width: 113px;
  height: 32px;
  left: 736px;
  top: 1280px;
  border: 1px solid #4c84c3;
  border-radius: 10px;
}

.select-box-text {
  text-align: center;
  padding-top: 5px;
  font-size: 13px;
  line-height: 18px;
  color: #4c84c3;
}

/*------------------------------------*\
#Section Description   
\*------------------------------------*/

.description {
  margin-top: 113px;
  width: 100%;
  position: relative;
}

.description-why {
  text-align: center;
}

.description-reason {
  display: flex;
  justify-content: space-between;
  width: 1190px;
}

.description-reason-img {
  width: 194px;
  height: 414px;
  margin-top: 78px;
  margin-left: 234px;
}

.description-reason-heading {
  margin-top: 130px;
  color: #4c84c3;
}

.description-reason-sub {
  margin-top: 15px;
  width: 538px;
  height: 224px;
  font-size: 16px;
  line-height: 35px;
}

/*------------------------------------*\
#Section Footer  
\*------------------------------------*/

.footer {
  position: relative;
  margin-top: 30px;
  width: 100%;
}

.footer-content {
  height: 300px;
  background: #1b71a1;
}

.footer-packet {
  width: 1200px;
  padding-top: 80px;
  margin-left: 180px;
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  color: #ffffff;
}

.footer-list a {
  color: #b2dded;
}

.footer-list h2,
strong {
  color: #ffffff;
}

.footer-logo {
  width: 123px;
  height: 110px;
}

.footer-list {
  width: 180px;
}

.footer-list a {
  text-decoration: none;
}
.footer-line {
  background-color: #283779;
  width: 100%;
  height: 60px;
  bottom: 0%;
}

.footer-sign {
  padding-top: 20px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-left: 180px;
  color: #e0dede;
}
