.row {
  display: flex;
  justify-content: start;
}

.column-300px {
  width: 300px;
}

.column-100percent-300px {
  width: calc (100% - 300px);
}

.column {
  padding: 10px 10px 0 10px;
}

.grid-area-40-60 {
  display: grid;
  grid-template-columns: 40% 60%;
}

#submit-new-user-form {
  margin-top: 20px;
}

.search-area {
  padding-left: 30px;
}
