.more .more__btn-list,
.more .more__suggestions-list {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.more__btn-list .more__btn,
.more .suggestion {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.more__btn .more__btn-title,
.more__suggestion .suggestion__title {
    font-size: 11px;
    margin-top: 15px;
}

.more .more__suggestions {
    /*margin: 30px 0;*/
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #dfe4ea;
}

.more .more__title {
    font-size: .9rem;
    opacity: .6;
    margin-bottom: 20px;
}

.suggestion .suggestion__icon {
    background-color: #fce006;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.suggestion__icon i {
    font-size: 28px;
    color: #ffffff;
}

