.nav {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px 50px;
  background-color: #f1f2f6;
  border-top: 1px solid #a4b0be;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav .nav__list-item {
  font-size: 1.5rem;
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  position: absolute;
  width: 18px;
  height: 18px;
  right: -10px;
  top: 0;
  border-radius: 50%;
  background-color: #ff3838;
  color: #fff;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
