* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    padding: 10px 20px;
    color: #020202;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

input:focus {
    outline: none;
}