.settings .settings__sections {
    border-top: 1px solid #dfe4ea;;
    padding: 30px 0;
}

.settings  .settings__setting {
    margin-bottom: 30px;
}

.settings  .settings__setting:last-child {
    margin-bottom: 0;
}

.settings__setting .setting__icon {
    font-size: 20px;
    margin-right: 20px;
}

.settings__setting .setting__title {
    font-size: 22px;
    font-weight: 300;
    cursor: pointer;
}
