.items {
  border-style: solid;
  margin: 10px;
  padding: 50px;
}

#container {
  display: grid;
  grid-template-rows: 400px 300px;
  grid-template-columns: 300px 300px;
}

#items-needed {
  font-weight: bold;
}

#headline {
  text-align: center;
}

h1 {
  font-family: Arial, sans-serif;
}

.italic-text {
  font-style: italic;
}

.green {
  color: green;
}

.highlighted-text {
  font-weight: bold;
  font-size: 20px;
}

#red-text {
  color: red;
}

.centered {
  display: block;
  margin: auto;
}

/* 
/
p {
  color: green;
  font-style: italic;
  font-size: 20px;
}

li {
  color: orangered;
  font-weight: bold;
}

*/
