.status-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    color: #485460;
}

.status-bar i {
    font-size: .85rem;
}

.status-bar .status-bar__battery-level {
    margin-left: 5px;
}