/*Body Page*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body {
    display: flex;
    background-color: darkgrey;
    margin: 0 auto;
    justify-content: center;
}

/*Body Content*/

main {
    width: 773px;
    height: 800px;
    background-color: white;
    padding: 20px;
    
    
}

article {
    display: flex;
    flex-direction: column;
    width: 647px;
    height: 700px;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 40px;
}

.header_1{
    display: flex;
    width: 594px;
    height: 96px;
    margin-left: 20px;
    
    
}

.header_1 img {
    width: 125px;
    border-radius: 50%;
}

.name {
    margin: auto 0px;
    text-align: center;
    margin-left: 20px;
    line-height: 25px;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color:#19304F;
}
.name h4 {
    font-size: 18px;
}

.profile {
    width: 594px;
    height: 96px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: justify;
    line-height: 25px;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
}
.profile h3 {
    font-size: 20px;
    line-height: 23px;
    color:#19304F;
}
.profile p {
    color: #222222;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}

.profile ul{
    padding-left: 20px;
}

.profile {
     color: #222222;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}

aside {
    background-color: #19304F;
    width: 323px;
    display: flex;
    flex-direction: column;
}

.lado {
    margin: 0 auto;
    color:#ffffff;
    margin-top: 150px;
}

.contato {
    width: 189px;
    height: 110px;
    margin-bottom: 14px; 
    line-height: 20px;
}
.contato h3 {
    margin-bottom: 10px;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    
}
.contato p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size:16px;
    color: #FFFFFF;
}

.icon {
    width: 110px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.rede a {
    color: white;
    font-size: 25px;
}
.conhecimento {
    margin-top: 90px;
    line-height: 20px;
}
.conhecimento h3{
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
} 
.conhecimento ul {
    padding: 0px;
}

.conhecimento ul li {
    border-bottom: 3px solid #ffffff;
    list-style-type: none;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size:16px;
    color: #FFFFFF;
    
}





