p {
  width: 600px;
  margin: auto;
  background-color: sandybrown;
  padding: 0 80px 0px 80px rgb(71, 5, 46);
  text-align: center;
  border: 5px solid black;
  text-shadow: 3px 3px 1px rgb(71, 5, 46);
}

h1 {
  margin: 0%;
  font-size: 60px;
  text-align: center;
  text-shadow: 1cm;
  background-color: rgb(47, 142, 214);
}

html {
  /* px 表示 “像素（pixels）”: 基础字号为 10 像素 */
  font-size: 20px;
  /* Google fonts 输出的 CSS */
  /* font-family: 'Hanalei Fill', cursive; */
  /* background-color:sienna; */
}

img {
  width: 300px;
  margin: 0 auto;
  display: block;
}

body {
  width: 600px;
  margin: 0 autos;
  background-color: #f8f6f4;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}