body {
  background-color: #e5e5e5;
}
.formulario {
  margin-top: 10vh;
}

.formulario,
.convertidor {
  display: grid;
  place-items: center;
}

.buttons {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
