// Colors
$body: #663399
$primary: #2F3676
$text: #071723
$success: #00C57C
$textIcon: #F2F2F2

$bgInput: #DDE3E9

$disable: #C5CFD6
$disableBorder: #555555

$hover: #191847
$hoverBorder: #2F3676

$error: #F59393
$errorBorder: #F33232

$bodyCard: #F2F2F2
$borderCard: #979797

//Fonts
@import url("https://rsms.me/inter/inter.css");
