<!DOCTYPE html>
<html>
  <head>
    <!-- Meta Data goes here -->
    <title>FE_01 - Session 01</title>
  </head>

  <body>
    <footer>
      <h2>
        Go To :
        <a href="../../../index.html">Index,</a>
        <a href="./Session01.html">Home,</a>

        <a href="./component/page01.html">1,</a>
        <a href="./component/page02.html">2,</a>
        <a href="./component/page03.html">3,</a>
        <a href="./component/page04.html">4</a>
      </h2>
    </footer>
  </body>
</html>
