<!DOCTYPE html>
<html>
  <head></head>

  <body>
    <h1>Attribute</h1>

    <h3></h3>
    <!-- Conventional unordered List -->
    <ul>
      <li>Number One</li>
      <li>Number Two</li>
      <li>Number Three</li>
      <li>Number Four</li>
      <li>Number Five</li>
    </ul>

    <ul type="square">
      <li>Number One</li>
      <li>Number Two</li>
      <li>Number Three</li>
      <li>Number Four</li>
      <li>Number Five</li>
    </ul>

    <!-- Conventional Ordered List -->
    <ol>
      <li>Number One</li>
      <li>Number Two</li>
      <li>Number Three</li>
      <li>Number Four</li>
      <li>Number Five</li>
    </ol>

    <!-- For Roman Numarals -->
    <ol type="I">
      <li>Number One</li>
      <li>Number Two</li>
      <li>Number Three</li>
      <li>Number Four</li>
      <li>Number Five</li>
    </ol>

    <!-- For Alphabets -->
    <ol type="a">
      <li>Number One</li>
      <li>Number Two</li>
      <li>Number Three</li>
      <li>Number Four</li>
      <li>Number Five</li>
    </ol>

    <!-- For Roman Numarals -->
    <ol type="A">
      <li>Number One</li>
      <li>Number Two</li>
      <li>Number Three</li>
      <li>Number Four</li>
      <li>Number Five</li>
    </ol>

    <footer>
      <h2>
        Go To :
        <a href="../../../index.html">Index,</a>
        <a href="./Session01.html">Home,</a>

        <a href="./component/page01.html">1,</a>
        <a href="./component/page02.html">2,</a>
        <a href="./component/page03.html">3,</a>
        <a href="./component/page04.html">4</a>
      </h2>
    </footer>
  </body>
</html>
