#preload {
  width: 100vw;
  height: 100vh;
  background-color: rgb(21, 21, 21);
  cursor: none;
  position: fixed;
  z-index: 9;
  visibility: hidden;
}
#preload.show {
  visibility: visible;
}
.ball {
  display: block;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
}

@keyframes floatOne {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    background: transparent;
  }
  100% {
    opacity: 0;
    transform: translate3D(0, -20px, 0) scale(0.2);
  }
}
@keyframes floatTwo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    background: transparent;
  }
  100% {
    opacity: 0;
    transform: translate3D(0, -35px, 0) scale(0.1);
  }
}
@keyframes floatThree {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    background: transparent;
  }
  100% {
    opacity: 0;
    transform: translate3D(0, -50px, 0) scale(0.3);
  }
}
@keyframes floatFour {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    background: transparent;
  }
  100% {
    opacity: 0;
    transform: translate3D(0, -65px, 0) scale(0.1);
  }
}
@keyframes floatFive {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    background: transparent;
  }
  100% {
    opacity: 0;
    transform: translate3D(0, -80px, 0) scale(0.2);
  }
}
