.works {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

.works figure {
  width: 90vw;
  padding: 1rem;
}
.works figure img {
  max-width: 100%;
}
