.works {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

.works article {
  width: 90vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works figure {
  width: 100%;
  padding: 1rem;
}
.works figure img {
  max-width: 100%;
}
