header section:nth-of-type(2) h2.title {
  color: rgba(255, 209, 102, 1);
}

.catalog-two {
  border-bottom: 4px solid rgba(6, 214, 160, 1);
}

main .book-in-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-in-display section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
.book-in-display section h3 {
  margin: 0;
  font-size: 2rem;
}
.book-in-display section .category {
  text-transform: uppercase;
  color: rgba(17, 138, 178, 1);
  font-weight: 600;
}

.list-of-books {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-of-books div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.list-of-books h3 {
  text-align: center;
  margin: 0;
}
.list-of-books .catalog {
  border-bottom: 4px solid rgba(239, 71, 111, 1);
}
.list-of-books div article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 26rem;
  margin: 0 1rem;
  margin-bottom: 2rem;
  text-align: center;
}
